[2022-01-31 10:32] SeanMcCarren commented on #1009
Oh I did not think of this problem, but this seems like a great solution! I'll be sure to cross-reference the example code and test code then as well.

[2022-01-31 17:40] adrinjalali commented on #1009
Yes. A test which basically runs the same code as the one used in the docs, to make sure it doesn't go out of date, and only run in that TF or pytorch CI.

[2022-01-31 18:55] LeJit opened #1016 "DOC Update "Fairness in AI Systems" section of User Guide"
#### Describe the issue linked to the documentation

We want to update sections *1.1* and *1.2* of the User Guide to be more comprehensive, based on the [Overview of Fairness](https://github.com/fairlearn/talks/blob/main/2021_scipy_tutorial/overview.pdf) given at SciPy 2021.

#### Suggest a potential alternative/fix

Update this section of the user guide to be more aligned with the contents of *Ov

[2022-02-03 00:08] Harsha-Nori commented on #999
Hi @hildeweerts, @riedgar-ms, @MiroDudik, and everybody,

Following up on Miro's comment:

I have an open question about the calculation of uncertainty intervals for `.difference()` and `.ratio()`. I currently generate all bootstrap versions of each frame at `__init__()` time, log the requested user statistics (e.g. the 95% intervals for each metric/group), and discard the intermediary bootstrap s

[2022-02-03 16:04] MiroDudik opened #1018 "Recruiting and aiding first-time users"
Right now the first-time contributors do not have a clear path to help them get involved.

Here are some suggested steps we could take (following suggestions from [Open Source Diversity - Basics](https://opensourcediversity.org/#basics)):

- [ ] update our [Contributor Guide](https://fairlearn.org/main/contributor_guide/index.html) to directly engage with first-time contributors. Perhaps we can ha

[2022-02-03 16:18] adrinjalali commented on #1018
Dask does it this way: https://docs.dask.org/en/latest/develop.html#separate-code-repositories

Some videos: https://www.youtube.com/playlist?list=PLBKcU7Ik-ir-b1fwjNabO3b8ebs9ez5ga
which are linked in sprints run by data-umbrella: https://github.com/data-umbrella/data-umbrella-scikit-learn-sprint

[2022-02-03 16:43] hildeweerts opened #1019 "DOC "Documentation page not present""
#### Describe the issue linked to the documentation

If a page did not exist in the documentation of a previous release, there is message "Documentation not present", which looks a bit weird on the website. At the moment, this happens on almost every page of our website due to documentation missing for v0.4.6.

<img width="1386" alt="image" src="https://user-images.githubusercontent.com/24417440/1

[2022-02-03 22:25] MiroDudik commented on #999
### @hildeweerts :

I think I meant the latter. The logic is this:
* **difference** is a statistic that corresponds to the difference between the slice with the largest and the smallest metric value. And we would return a confidence interval for this statistic. In each bootstrap replicate the identity of a slice with the largest and smallest statistic might be different, but the statistic is alway

[2022-02-05 02:43] Harsha-Nori commented on #999
Thank you for the detailed reply @MiroDudik!

I think pre-calculating at __init__ time sounds pretty reasonable, especially if there aren't plans to expand the currently available options significantly. It might be worth considering moving the current/standard `difference`, `ratio`, and `group_{min,max}` calculations into the init call as well, instead of duplicating the logic between confidence i

[2022-02-07 10:52] rensoostenbach commented on #894
I noticed that only the metrics module has code examples in the API docs right now (as merged in https://github.com/fairlearn/fairlearn/pull/946), and I was wondering if the other modules would also benefit from some code examples. If so, I would like to work on that as a first issue!

[2022-02-07 11:04] rensoostenbach commented on #768
Regarding the first TODO, could a question be added to the [FAQ](https://fairlearn.org/v0.7.0/faq.html), or is the FAQ meant for more general questions? The answer is basically written down at https://fairlearn.org/main/user_guide/assessment.html#fairlearn-dashboard.

Regarding the second TODO, I don't see any newly created plotting documentation in [Remove FairlearnDashboard and replace it with m

[2022-02-07 23:01] romanlutz commented on #768
This could certainly go into the FAQ section as we've received that question many times. We can even move the text that's currently at https://fairlearn.org/main/user_guide/assessment.html#fairlearn-dashboard into the FAQ for that purpose.

@rensoostenbach this is the newly created documentation: https://fairlearn.org/main/user_guide/assessment.html#plotting-grouped-metrics

[2022-02-07 23:04] romanlutz commented on #894
They certainly would, @rensoostenbach ! If you want to try doing this perhaps start small and focus on just 1 class method/function, send it as a PR and see what people think. That way you can get feedback fast and iterate 🙂

[2022-02-09 08:57] charlenemariscal commented on #484
![image](https://user-images.githubusercontent.com/64768332/153160320-4ba86a96-01d1-4b54-a68d-96813ea103fc.png)
Hi, I want to ask that in my module, I don't have the 'widget" even though I tried to re-install the fairlearn several times

[2022-02-09 23:13] romanlutz commented on #484
@charlenemariscal which version of Fairlearn are you using? As you can see [on our website](https://fairlearn.org/v0.6.2/user_guide/assessment.html#fairlearn-dashboard) the dashboard has been removed from the `fairlearn` package. If you're using a particular version of Fairlearn (say 0.7.0) please use a notebook that was built for that version (like the one on the [corresponding release branch](ht

[2022-02-10 01:14] romanlutz commented on #1019
FWIW the string change is super easy! It's hard-coded in our repo in this file: `docs/_templates/version-sidebar.html`
What would be a better string? Some perhaps not so great ideas:
- "Page added in later version"
- "Page did not yet exist"

Having a warning about not being on latest stable release is nice! Perhaps that could be solved in a separate PR, though.

I think dropping v0.4.6 may also b

[2022-02-10 16:35] riedgar-ms commented on #1015
Now that I look at it, this issue might block #981

[2022-02-10 17:16] alliesaizan commented on #977
Hi @romanlutz @MiroDudik, I'd like to help out with some of the documentation tasks. This one seems pretty straightforward and appears to be unassigned. Please let me know if there are any other documentation tasks that are more pressing, otherwise I can start working on this!

[2022-02-11 04:12] romanlutz commented on #1015
Let me see whether I understand this right: xgboost is not working with latest pandas, so you propose waiting for xgboost to fix itself. To me this seems backwards as we can't wait for every ML package to finally work as expected. After all, we don't depend on xgboost in any way. We have some tests that could be temporarily disabled until they fix xgboost, of course.

That said, I don't know if th

[2022-02-11 08:10] hildeweerts commented on #977
That would be really useful - I have assigned the issue to you, @alliesaizan! Let us know if anything is unclear.

[2022-02-14 14:49] rensoostenbach commented on #990
I will take this issue! Is there some sort of structure we would like to have in the user guide? E.g. when I look at [the current user guide for mitigation](https://fairlearn.org/main/user_guide/mitigation.html), most classes start with a textual/mathematical explanation what it is about, followed by a code example. I assume the textual/mathematical explanation can be partially taken from the [API

[2022-02-15 10:46] hildeweerts opened #1022 "ENH Add preprocessing algorithm "Certifying and removing disparate impact" by Feldman et al."
The paper [Certifying and removing disparate impact](https://arxiv.org/abs/1412.3756) by Feldman et al. introduces a simple pre-processing procedure (section 5 of the paper). The goal of this task is to implement this procedure to Fairlearn.

The main intuition of this algorithm is to map the distribution of Y of each sensitive group to the median distribution of Y. In this way, the new percentile

[2022-02-15 11:09] hildeweerts opened #1023 "ENH Add post-processing algorithm from "On Fairness and Calibration" by Pleiss and Raghavan et al."
The paper [On Fairness and Calibration](https://arxiv.org/pdf/1709.02012.pdf) by Pleiss and Raghavan et al. introduces a post-processing algorithm to (attempt to) achieve equalized odds as well as calibration. The goal of this task is to implement this procedure to Fairlearn.

The algorithm is also part of AIF360 where it is known as [`CalibratedEqOddsPostprocessing`](https://aif360.readthedocs.io

[2022-02-15 11:20] hildeweerts opened #1024 "ENH Add post-processing algorithm "Discrimination Aware Decision Tree Learning" by Kamiran et al."
The paper [Discrimination Aware Decision Tree Learning](https://www.win.tue.nl/~mpechen/publications/pubs/KamiranICDM2010.pdf) by Kamiran et al. introduces several approaches for learning a decision tree that satisfies demographic parity. Given that the relabeling procedure clearly outperforms the other approaches, the goal of this task is to implement the **relabeling** procedure to Fairlearn suc

[2022-02-15 11:51] hildeweerts opened #1025 "ENH add mitigation algorithm "Mechanisms for Fair Classification" by Zafar et al."
The paper [Fairness Constraints: Mechanisms for Fair Classification](http://proceedings.mlr.press/v54/zafar17a/zafar17a.pdf) by Zafar et al. introduces a constrained learning algorithm for demographic parity. The goal of this task is to implement the **logistic regression** algorithm described in this paper in Fairlearn.

* An existing Python implementation of the authors can be found [here](https

[2022-02-15 12:36] hildeweerts opened #1026 "ENH Add pre-processing algorithm "Learning Fair Representations" by Zemel et al."
The paper [Learning Fair Representations](http://proceedings.mlr.press/v28/zemel13.html) by Zemel et al. introduces a pre-processing algorithm for demographic parity. The goal of the task is to implement the algorithm in Fairlearn.

The algorithm is already implemented in AIF360 where it is known as [`LFR`](https://aif360.readthedocs.io/en/stable/modules/generated/aif360.algorithms.preprocessing.L

[2022-02-15 12:42] hildeweerts opened #1027 "ENH Add mitigation algorithm from "Fairness-Aware Classifier with Prejudice Remover Regularizer" by Kamishima et al"
The paper [Fairness-Aware Classifier with Prejudice Remover Regularizer](https://link.springer.com/chapter/10.1007/978-3-642-33486-3_3) by Kamishima et al. introduces a constrained learning algorithm for demographic parity. The goal of this task is to add the **logistic regression** algorithm described in this paper to Fairlearn.

I would suggest to design the API similar to [`sklearn.linear_model

[2022-02-15 12:49] hildeweerts opened #1028 "ENH Add mitigation algorithm from "Optimized Pre-Processing for Discrimination Prevention" by Calmon et al."
The paper [Optimized Pre-Processing for Discrimination Prevention](https://papers.nips.cc/paper/2017/file/9a49a25d845a483fae4be7e341368e36-Paper.pdf) by Calmon et al. introduces a preprocessing algorithm for demographic parity while limiting the number of individual distortions. The goal of this task is to add the algorithm described in this paper to Fairlearn.

* The original implementation by th

[2022-02-17 16:05] rensoostenbach commented on #1025
I will start on this issue next week :). While working on this, should I in some way keep in mind that this is closely related to #1027, or is it just meant as extra information?

[2022-02-17 16:11] hildeweerts commented on #1025
Awesome @rensoostenbach!  In case somebody else starts working on #1027 it would be good to coordinate, but for now it is just additional info.

[2022-02-23 02:34] kurianbenoy commented on #730
Please do unassign me from this issue @hildeweerts

[2022-02-23 08:05] hildeweerts commented on #730
Thank you for the heads up, @kurianbenoy!

[2022-02-23 12:48] rensoostenbach commented on #1025
My plan to approach this is as follows:
I will create a `FairLogisticRegression` class in `fairlearn.linear_model._fair_logistic.py`. This class inherits from the sklearn `LogisticRegression` and will be changed in the places where adaptations need to be made.
These adaptations are as follows:

- Adding a `constraints` parameter to the `optimize.minimize` function ([here in sklearn](https://github

[2022-02-24 16:21] adrinjalali commented on #1025
sklearn has a new GLM framework with a few models implemented under it, and it'd be nice to see if you could extend those instead of implementing from scratch. An example is `TweedieRegressor`: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.TweedieRegressor.html

[2022-02-24 16:25] rensoostenbach commented on #1025
This seems to be relatively doable! From the [source code](https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/linear_model/_glm/glm.py#L310-L322), the same `optimize.minimize` function is used, and the `TweedieRegressor` only uses the `lbfgs` solver, making it quite easy to extend it to.

[2022-02-24 20:05] alliesaizan commented on #953
Hi @hildeweerts, I can work on this one. I propose adding this as a file under the `contributor_guide` folder - should be straightforward to transfer this information to the website.

[2022-02-25 11:57] hildeweerts commented on #953
Amazing, thanks @alliesaizan! That sounds like a good idea. With the current setup of the contributor guide, I think these instructions would be most suitable as either (10 part of the existing [Development Process](https://fairlearn.org/main/contributor_guide/development_process.html) page or (2) a new page with a title like "Creating a Pull Request" or something like that. What would you conside

[2022-02-26 01:47] alliesaizan commented on #953
I think adding it under the Development Process page makes the most sense! I will just add another section about contributing a PR right before the "Investigating automated test failures" section.

[2022-03-03 14:50] alliesaizan opened #1037 "Add Discord icon to the top of the website"
Right now, the menu on the top of the website only includes a link to the fairlearn GitHub repo.
![image](https://user-images.githubusercontent.com/15962391/156587818-96f357a1-9125-481a-b207-8a801098bb5d.png)

Discord is where the fairlearn community mostly communicates, so we should add the [Discord icon](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.svgrepo.com%2Fsvg%2F353655%2Fdiscord-i

[2022-03-03 18:17] iofall commented on #1037
I can help.

Would something like this work?
![image](https://user-images.githubusercontent.com/50991099/156625850-aada4d69-3a05-4170-a290-f55b1a517a36.png)

[2022-03-04 01:51] alliesaizan commented on #1037
@romanlutz, thoughts? I think this is fine

[2022-03-04 08:04] romanlutz commented on #1037
Would be nice if it was similar in style to the GitHub button next to it. You can probably borrow the code from that(?)

I also see that we have the button already in our generated pages. It's only the landing page that's missing it.

[2022-03-04 19:26] iofall commented on #1037
I added it. However, I had to decrease the nav-item font-size to make it look properly spaced.
![image](https://user-images.githubusercontent.com/50991099/156828530-3ca024b0-3fd0-48dc-9ae7-39c531d3143d.png)

[2022-03-05 09:05] romanlutz commented on #1024
@Hadyark do you mean for Fairlearn? @hildeweerts tagged it as help wanted so you should feel free to draft a PR. I would recommend publishing it early on to get feedback rather than spending a lot of time and then having to revise later on, but that's just me...
Please upvote if you want to get started and we can assign it go you! 🙂

[2022-03-05 09:08] romanlutz commented on #1037
Do you have a PR for this @iofall ? I don't quite know which font size you're referring to. We may not want to change the font sizes of other items, but if it's just that particular one it's perhaps fine (?).

[2022-03-05 21:07] Hadyark commented on #1024
@romanlutz Yes, for Fairlearn but do I have to relabel a decision tree from Sklearn? Or maybe I misunderstood and you have your own implementation of a decision tree.

Because right now I can relabel a decision tree from our implementation but I have to adapt my code to relabel a decision tree from Sklearn (because the structure of the tree is different, see [here](https://scikit-learn.org/stable/

[2022-03-06 08:15] romanlutz commented on #1024
No, we don't have a custom implementation. What you wrote matches my expectations, just wanted to clarify to make sure we are thinking of the same thing. 🙂

[2022-03-08 09:20] romanlutz commented on #936
I believe the PR addressed only one file, not the entire documentation, so I'm reopening it. Please close if I'm wrong.

[2022-03-08 16:29] iofall commented on #936
Yes @romanlutz, we only worked on one file and added the dependencies for the bibtex extension. I was thinking about opening issues for the other files - these issues are simple enough for beginners, they just have to go through the `.rst` files, look for citations, add them to the `refs.bib` file and use the `footcite` command with the keys.

If we are planning to have a sprint sometime in the ne

[2022-03-09 18:29] romanlutz commented on #936
I could see it work out well that way, too. I always like things being consistent but then that's a very perfectionist attitude that's not always feasible. At least we should have a list of all the cases (either in this issue or a new issue per file. And we should have a short documentation section explaining how to cite perhaps?

If you're interested I'd say go for it and replace the others. If y

[2022-03-09 20:06] Hadyark commented on #1024
I have a problem. It seems that it is not possible to relabel a leaf in a tree made by Sklearn. I tried to modify the clf.tree_ variable but it doesn't change the predictions. So I think this is something that is used in Cython and I think it is not possible to influence this part

[2022-03-11 17:16] smrnvdhy opened #1041 "Sklearn pipeline not working with mitigation"
#### Describe the bug
sklearn pipeline not working with mitigation technique.

#### Steps/Code to Reproduce
I'm following the example given in [Passing pipelines to mitigation techniques](https://fairlearn.org/main/auto_examples/plot_mitigation_pipeline.html)

#### Expected Results
No error (works fine when pipeline is broken down. suspecting issue is with preprocessing)
![image](https://user-imag

[2022-03-15 11:32] Hrittik20 commented on #1019
Hi @romanlutz, I would like to help fix this error. I think just writing "Later Version" would be short and simple.

[2022-03-16 02:04] jiajiexiao commented on #65
Hi all, I have a similar question and found super interesting discussions here. Compared to the class than the predicted label, I'd be more interested in the probability of classifying a sample and hope `ExponentiatedGradient` can return the full uncertainty estimation.

What @harvineet said above [[link](https://github.com/fairlearn/fairlearn/issues/65#issuecomment-579967910)] seems to me a reaso

[2022-03-16 11:03] hildeweerts commented on #1019
What would be a better string? Some perhaps not so great ideas:

If I remember correctly, the main issue that was raised during the call was the length of the message. We could consider simply not having any message at all, but that might be confusing as well...

Thank you for the suggestion @Hrittik20! I'm not sure whether "Later Version" captures the message fully... but others might disagree.

[2022-03-16 14:33] romanlutz commented on #1019
How about just "N/A"?

I agree on creating separate issues for the removal of versions. That allows me to argue that 0.5.0 is too recent to remove, for example, without making this thread go off the rails 😄

[2022-03-16 15:59] hildeweerts commented on #1019
I like it! Let's do it :)

[2022-03-16 16:58] iofall commented on #936
Sorry for the late reply. Okay, I could help with more files.

Yes that is definitely a good idea. Which section would be right for this addition? (I think we could add it to [Contributing Documentation](https://fairlearn.org/v0.7.0/contributor_guide/contributing_documentation.html) section)

[2022-03-17 02:36] romanlutz commented on #936
That's the perfect location for adding the documentation! Thanks @iofall .

[2022-03-17 21:14] Hadyark commented on #1024
I know how to relabel a leaf but I need to modify the "clf.tree_.value". This is an array that contains the number of samples for each class and is used for prediction. For example, if I have for a leaf the array [10., 5.]. I have 10 elements for class 0 and 5 for class 1. and the leaf will predict the class 0 (the majority class). So for relabel, I reverse the elements and I get [5., 10.].

 I do

[2022-03-18 15:49] adrinjalali opened #1048 "BibTex reference styles"
We have had significant conversations on how to references single articles on https://github.com/fairlearn/fairlearn/pull/1032 and https://github.com/fairlearn/fairlearn/pull/1044, and I'm not happy about how much effort has been going into how the reference and their IDs should look like.

I personally think we should allow contributors to copy/paste from wherever they want. As long as a referenc

[2022-03-18 16:25] romanlutz commented on #1048
I agree on not wasting much time on this. That said, I feel like there's no particular point in adding lots of information with the reference that isn't actually rendered. The entire abstract, for example, seems like a bit much for my taste. This isn't a hill I'm willing to die on, though, which is why I'll (hopefully?) just watch the rest of this thread and upvote others' messages.

[2022-03-18 16:28] adrinjalali commented on #1048
I had a ton of those abstracts in my PhD thesis, because I didn't want to bother removing them. I don't want contributors to have to think about what fields to include and what not. The whole point of having a bibtex is to think about references less, not more.

[2022-03-18 16:38] romanlutz commented on #1048
[Now I'm already breaking my promise not to respond.... 😄 ]
PhD thesis != website
Most importantly, it's just one person working on it. In this case, I'd argue the other way round: if I'm a new contributor and I see that other references have abstracts and mine (from wherever I copied it) doesn't have the abstract I might even feel like I have to now go and copy this manually from a paper. Deletin

[2022-03-18 18:03] MiroDudik commented on #1048
When it comes to bibtex entries, the only point that I actually feel strongly about is a naming convention for bibtex ids. I'm  strongly in favor of sticking with the format `<4digit-year><author-last-name><keyword>` where in the vast majority of cases, keyword is the first word of the title that is not an article or a conjunction.

I have some opinions about the rest of the bibtex entry--but thos

[2022-03-21 21:16] hildeweerts commented on #1048
For me the bibtex ids are the only important part, because it makes writing texts and reviewing PRs easier and could possibly avoid some duplicates.

Other than that I do agree with @MiroDudik's 3 recommendations, but those are of lower priority to me and I'm happy either way.

[2022-03-28 08:25] #1037 closed

[2022-03-28 16:30] romanlutz commented on #1019
I'm a bit confused. I just checked the website and I don't see the N/A there.... Still shows the old string:
![image](https://user-images.githubusercontent.com/10245648/160444296-f904e03f-11de-4aa7-96ea-97645c3abb03.png)

The [website repo](https://github.com/fairlearn/fairlearn.github.io) looks like there have been no updates for 12 days. Perhaps something is broken in the website build. Let me l

[2022-03-28 16:32] romanlutz commented on #1019
Update: CircleCI's deploy step failed. Rerunning right now to see if that fixes it:
https://app.circleci.com/pipelines/github/fairlearn/fairlearn/2658/workflows/b148e4aa-653b-4a6c-b6d8-29fc7a5f7888/jobs/5080

[2022-03-28 16:37] romanlutz commented on #1019
It started with #1046

[2022-03-28 16:53] romanlutz commented on #1024
I don't see a problem with that, but I also haven't worked with the internals of sklearn's decision trees before. Tagging @fairlearn/fairlearn-maintainers to chime in if they have thoughts.

[2022-03-28 17:01] romanlutz commented on #847
Bumping this as it came up in a PR (mentioned by @adrinjalali).

I did the setup/connection to codecov. Now all that's required is to generate the coverage report (.xml) and add upload commands to our pipelines.

Linux:
[code]

Mac:
[code]

Windows:
[code]

[2022-03-29 03:24] romanlutz opened #1050 "MNT Add a pull request template"
This is pretty simple to do, e.g., [this one in another repo](https://github.com/microsoft/responsible-ai-toolbox/blob/main/.github/PULL_REQUEST_TEMPLATE.md). That said, the experience we've had with the template there were that it's way too complicated, too much work, and should just be a lot simpler. Things I'd like to include:

[code]

This list may not be comprehensive (or even too detailed!)

[2022-03-29 03:32] romanlutz commented on #1041
Thanks for reporting this issue!

@smrnvdhy could you provide information on your `X_train_processed`? It looks like one of the features, `Self-emp-not-inc`, is a string rather than a numeric value. That may be the reason this isn't working, but it hard to say without knowing more.

[2022-03-29 03:41] romanlutz commented on #1018
@MiroDudik we are already on up-for-grabs! I added us there a long time ago: https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_data/projects/Fairlearn.yml

[2022-03-29 04:25] smrnvdhy commented on #1041
@romanlutz Oh, I'm sorry I was unclear. The error is thrown when the code example in step-to-reproduce section is followed verbatim: `X_train_processed` is not involved in this error.

I included the object `X_train_processed`, which comes from applying preprocessing to `X_train`, to show that the mitigation algorithm works fine when preprocessing and model fittings are done separately (not in pip

[2022-03-29 04:34] romanlutz commented on #1041
Oh sorry, I missed the link. This is from our website and therefore actually executed to generate that page. It definitely works, otherwise you'd see an error on the webpage. That said, it may still fail locally for you, of course, because your environment is not identical.

What's your Fairlearn version? You might notice that this page was added only on "main", i.e., it's not present in all relea

[2022-03-29 06:38] smrnvdhy commented on #1041
I completely missed main vs latest version. My version is indeed 0.7.0. I'll wait for the release!

On a side note, do you have any recommendation for multiclass/multilabel classification? I understand fairness criteria isn't as well defined as in binary classification. I like the idea presented in [adversarial debiasing (#785)](https://github.com/fairlearn/fairlearn/issues/785) which seems to gen

[2022-03-29 07:01] romanlutz commented on #1041
Sounds good.

Search for "multiclass" on this page to find the FAQ section for it: https://fairlearn.org/main/faq.html

There's an open issue for the paper you referenced, and I believe someone is actively working on it. Just search the paper title in our issues and you should find it. In the interest of keeping issues clear I suggest you open an new one if you have a new feature request on that t

[2022-03-29 11:37] riedgar-ms commented on #1019
Ahhh.... I see. The regular build pipelines are showing green, but the deployment pipeline (which only runs _after_ a merge isn't). And that's a spectacularly useless error:
![image](https://user-images.githubusercontent.com/28632930/160602817-78fd0914-9aed-4905-b659-c82ff3b60da9.png)

[2022-03-29 11:56] hildeweerts commented on #1050
What is the purpose of the checkboxes under "Tests" and "Documentation"? Aren't those obvious from the PR itself? Or is this more as a tool to remind prospective contributors that tests and documentation are important?

I'm definitely in favor of adding "description" and "screenshots" to the template!
Nitpick: maybe add PRs to possible references under description (in addition to issues)?

[2022-03-29 12:18] hildeweerts commented on #1024
Hi, @Hadyark! Relabeling by swapping elements seems reasonable to me. A possible caveat is that the meaning of the proportions in the leafs is lost after swapping, so we might want to disable `predict_proba()` and `predict_log_proba()` (i.e., only keep `predict()`).

On a related note, `sklearn.tree.DecisionTreeClassifier` is much more flexible than the algorithm proposed in the paper by Kamiran e

[2022-03-29 13:27] adrinjalali commented on #1050
I find PR templates to be great for first time contributors. And others can simply ignore it. I'd be in favor of having something there.

[2022-03-29 13:37] adrinjalali commented on #1024
Note that if this implementation requires changing the `clf.tree_` code, it means vendoring and changing Cython code and adding Cython as a dependency and add it to the build process. The wheel build process would be significantly more complicated and we'd need to release wheels for every single platform and compile for them separately.

But if we can use a `DecisionTree*` and just modify the valu

[2022-03-29 14:11] romanlutz commented on #1050
@hildeweerts it's the same reason checklists make sense anywhere else 🙂 If you check our PRs we're discussing all of these with every contributor (can you add a user guide? Can you update the example? Etc) whereas this prompts people to think about it themselves before anyone even has to write anything.

FWIW I use these for myself, too! No better way to check yourself than by holding yourself to

[2022-03-29 14:14] romanlutz commented on #1019
I'm guessing something is missing in that image that was there in the previous one resulting in the failure of npm install (?)

We could copy some of the steps from deploy to build so that they are run in a PR. Except for the actual deployment, of course.

[2022-03-29 14:18] romanlutz commented on #236
Certainly! I would strongly suggest trying to prototype this based on the notebook first and to share a draft PR based on that before going into documentation so that people can comment on the API and see whether this matches their mental model. Might save you some time, too.
I'll assign it to you @Thomasq99 .

[2022-03-29 14:46] alliesaizan commented on #953
This issue was addressed with approved PR #1036.

[2022-03-30 01:32] Hadyark commented on #1024
I only handled the case of a binary tree because it was similar to my work. If it is necessary to adapt it for multiclass classification, it will be necessary to think about which class it is better to relabel a leaf and how is calculated the discrimination.

I just modify the values in `tree_`

[2022-03-30 01:47] wcheung-code commented on #1023
Having successfully replicated the results of another paper detailed in #772, I was able to replicate Pleiss's post-processing step to achieve both the conditions of equalized odds and calibration for counterfactual analysis. All of my work is detailed in the `EqualizedOddsPostProcesser` class defined in my [Colab notebook](https://colab.research.google.com/drive/14jy2UfXUO9vKu9KGNphmJPkEoSmxg_iL?

[2022-03-30 09:55] hildeweerts commented on #1024
I'm sorry for the confusion - what I meant is that sklearn's decision tree by default accepts multiclass classification problems, whereas the leaf relabeling algorithm as proposed in the paper only works for binary classification. So we should ensure that our implementation (even though it relies on the sklearn decision tree) *only* accepts binary classification problems and throws an error if you

[2022-03-30 11:28] hildeweerts commented on #1050
Makes sense, @romanlutz! Let's go for it :)

[2022-03-30 12:52] riedgar-ms commented on #804
Responding to a ping....  since we already have `ErrorRate` I'd be happy with going with option (1), and just adding an optional `costs=` argument to the constructor.

To @hildeweerts 's concern, I think that a multiclass extension could be a separate moment - you'd have to specify a full matrix of costs. Although our docs would naturally point out the equivalent matrix to the `ErrorRate` case. In

[2022-03-30 13:31] #804 closed

[2022-03-30 14:02] MiroDudik commented on #1048
@fairlearn/fairlearn-maintainers: it seems that @hildeweerts and I are in agreement that we should enforce some naming convention re. bibtex ids, and maybe provide some recommendations re. the rest, but neither of us feel too strongly about those recommendations. what do you think?

There's one issue that I'm seeing in #1044--the bibliography is rendered with multiple URLs per item shown? I person

[2022-03-30 22:55] romanlutz commented on #772
Thanks for the comprehensive update @wcheung-code !

I see a few challenges here that we need to think about:
- Will this be integrated into the website? Assuming the answer is yes, how should this happen? The concrete challenge is the same one we're facing with other packages, i.e., the website build generates notebooks and executes them. To do that with other ML packages we need to install them

[2022-03-31 12:37] riedgar-ms commented on #1048
I think that we should be encouraging people to copy/paste BibTeX entries from ACM Library/arXiv/wherever with minimal edits. That way they know they don't need to add the `abstract` field if it's not already there. And if people didn't already know that these places provide the BibTeX snippets, then we get the warm feeling that we have taught them something useful.

I agree that the entries shoul

[2022-03-31 13:58] MiroDudik commented on #1048
@riedgar-ms -- agreed that we should minimize frictions. The issue with bibtex ids is that they impact usability of writing docs and hence I feel more strongly about enforcing a naming convention. Am I reading you correctly that you are fine with that?

[2022-03-31 14:04] MiroDudik commented on #1048
Also -- I'm assuming it's okay if I occasionally clean up the bibtex entries of the "offensive issues" that nobody besides me cares about :-)... Basically, I want to make sure that we don't cargo-cult whatever ACM Library/arXiv/DBLP chose for their bibtex entries (which is often driven by other concerns... like ease of automatic generation of webpages etc.).

[2022-03-31 14:09] riedgar-ms commented on #1048
As I said, ultimately, I don't care about the bike shed.

[2022-03-31 14:10] hildeweerts commented on #1048
I don't know what "cargo-cult" means (Google search was not very helpful), but as long as you don't bug our contributors about it, you have my blessing to alter the bibtex entries as much as you like, @MiroDudik! ;)

[2022-03-31 14:13] MiroDudik commented on #1048
@hildeweerts : https://en.wikipedia.org/wiki/Cargo_cult

[2022-03-31 15:32] SeanMcCarren opened #1053 "CI test_othermlpackages not triggered"
In [this CI run](https://github.com/fairlearn/fairlearn/runs/5658032662) the test_othermlpackages should have been triggered (I think) because that commit changed something in `fairlearn\test_othermlpackages\adversarial_fairness.py`. Any ideas why it did not trigger? Perhaps because I pushed other commits shortly after?

[2022-04-01 00:39] romanlutz commented on #1048
This is a satisfactory resolution for me, too, and I nominate @MiroDudik for Chief BibTex Officer 🤣 It comes with a badge that you have to create in TikZ first.

[2022-04-01 00:48] romanlutz opened #1055 "Nightly requirements-fixed builds are failing"
The title says it all. We need to look into that and get it fixed.

[2022-04-01 03:55] romanlutz commented on #730
That sounds great @alliesaizan ! Go ahead! 🙂👍🏻

[2022-04-01 07:43] hildeweerts opened #1056 "DOC Add explanation for bibtex to contributor guide"
As discussed in #1048, we have agreed that for the BibTex references:
* We encourage people to simply copy the BibTex entry from the original source (e.g., ACM/Arxiv/etc.)
* The only change that needs to be made is that the bibtex id should be in the format `<author-last-name><4digit-year><keyword>`, as this makes it easier to write and review texts compared to more convoluted bibtex id's.

In add

[2022-04-04 08:43] SeanMcCarren commented on #1053
Ohhh. It is in [this PR](https://github.com/fairlearn/fairlearn/pull/973), and [this comment](https://github.com/fairlearn/fairlearn/pull/973/commits/374000348c8a44214421be3c1bdb063d5ac0e05c) should have triggered that CI (I think!)

[2022-04-04 09:50] #1050 closed

[2022-04-04 14:03] alliesaizan opened #1061 "Add examples to API documentation"
Related to issue #730, this issue covers adding links to relevant example notebooks to the API documentation. The fix would be for someone to go through the [notebooks](https://fairlearn.org/v0.7.0/auto_examples/index.html) and add links in the API documentation for the classes/functions used in the example. Tagging @hildeweerts and @romanlutz in case they have additional ideas!

[2022-04-05 14:40] hildeweerts opened #1064 "Upload SciPy tutorial dataset to OpenML"
As discussed during last week's community call, we need to upload the preprocessed dataset that was used for the SciPy tutorial to OpenML, so it can be easily fetched in examples.

- [ ] check licensing
- [ ] write a short description of the pre-processed dataset
- [ ] upload dataset to OpenML

I would be happy to upload the dataset, but I believe @MiroDudik had possible concerns re. licensing. Wo

[2022-04-05 15:41] hildeweerts opened #1066 "ENH Add SciPy tutorial dataset to fairlearn.datasets"
Once we have added the Scipy tutorial dataset to OpenML (#1064) we should add fetch functionality to Fairlearn.

Completing this item requires:
- [x] implement a function `fairlearn.datasets.fetch_...` (we need to come up with a name)
- [x] adjust relevant unit tests in `test.unit.datasets`
- [x] descriptive API reference (directly in the docstring)
- [x] a user guide in `docs.user_guide.datasets`

[2022-04-05 15:42] alliesaizan commented on #507
Suggest closing this due to PR #1000, which added the documentation to _main_.

[2022-04-05 15:43] hildeweerts commented on #507
Thank you for flagging this @alliesaizan, I will close the issue!

[2022-04-05 15:43] #507 closed

[2022-04-05 15:59] #730 closed

[2022-04-05 16:02] romanlutz commented on #1066
I would argue it's a good idea to keep the user guide in the same PR. These tasks have a tendency to not get done if they don't happen in one PR 🙂

[2022-04-06 07:02] mnalk opened #1068 "exposure metric ranking metrics #974"
https://github.com/fairlearn/fairlearn/pull/974/files

Hi! I'm interested in ranking and fairness too. I like the example and scenario for the exposure metric. Unfortunately, I have no experience with how to put these files together from different branches. I have been trying for days, and I keep getting the same errors.
My question specifically is how to make the plot ranking work? If there is so

[2022-04-06 13:41] hildeweerts commented on #1066
Fair enough! I was mostly thinking of prospective contributors who would like to contribute to the user guide section but are less comfortable with the code part (which is arguably very minimal, but can still be intimidating for first-time contributors).

[2022-04-06 15:31] LeJit commented on #1064
I was looking into this last week. When you submit a dataset, there's an **Additional Information** section where we can link to the *Original Data URL*, list *Acknowledgements, contributors*, and *Paper/preprint*.

I think we could credit the original authors in this section.

[2022-04-06 17:05] hildeweerts commented on #1064
Yeah, OpenML gives the opportunity to credit authors!

Depending on the specific license that might not be enough though. The original dataset was from UCI, right? from the UCI website:
"Datasets will be licensed under a Creative Commons Attribution 4.0 International license (CC BY 4.0) which allows for the sharing and adaptation of the datasets for any purpose, provided that the appropriate credi

[2022-04-06 18:17] LeJit commented on #1064
<img width="588" alt="OpenML" src="https://user-images.githubusercontent.com/1124464/162041420-99ebb95d-ee60-48c5-a477-34e429a51e57.png">
<img width="584" alt="OpenML_part2" src="https://user-images.githubusercontent.com/1124464/162041422-6f6d3146-0a8d-4f3b-b409-fd0062f13d70.png">

Here's what I have right now. Do we want to list ourselves as the *authors*, or should we put the original authors in

[2022-04-06 20:18] hildeweerts commented on #1064
I agree with Roman that the credit should go to the original authors. We should definitely add to the description that and how we edited the original dataset though.

In my view the description should describe the contents of the dataset, such that people do not necessarily need to visit other websites to understand what it's about. Perhaps we can swap the two paragraphs in the description: start

[2022-04-07 14:54] alliesaizan opened #1069 "Adding references to ref.bib file"
#### Describe the issue linked to the documentation

Right now, references are scattered around the User Guide as needed for different sections. and not all articles cited are present in the bibtex file. This issue piggybacks on #1048 and #1056.

#### Suggest a potential alternative/fix

Someone should look through the User Guide and aggregate all missing references into the _refs.bib_ file, and t

[2022-04-07 18:28] LeJit commented on #1064
Updated description:

@MiroDudik @hildeweerts What do you think?

[2022-04-07 19:44] MiroDudik commented on #1064
Looks good. I would just:
* add URL (pointing to UCI) of the original data set right after "2014."
* small edit:
  * "was edited by the Fairlearn team" -> "was derived from the original dataset by the Fairlearn team"

[2022-04-08 07:01] hildeweerts commented on #1064
Perfect, @LeJit!

[2022-04-15 21:12] Hadyark commented on #1024
What should I do for the item "a short user guide in [docs.user_guide.mitigation.rst](https://github.com/fairlearn/fairlearn/blob/main/docs/user_guide/mitigation.rst)" ?

Should I just fill in the table? Or add a sub-section in the pre-processing?
If I have to add a sub-section, should I explain what relabelling is or add a mini-tutorial on how to use it?

[2022-04-17 04:55] romanlutz commented on #1068
Hi @mnalk ! To use code from the version you can install from PyPI you'll have to wait a little while because #974 is not merged yet, which means it needs to get merged and then we need to do a release. I can't give you a timeline for either of those since both of these happen when it makes sense rather than "by deadline."

You can, as I mentioned in the PR comment, check out branches locally. Thi

[2022-04-17 04:57] romanlutz commented on #1053
Right now it looks like you have conflicts with `main` so it can't trigger the pipelines. If you resolve those first it should trigger it. Happy to look into it if it doesn't do that.

[2022-04-21 13:44] adrinjalali commented on #1064
Is this done?

[2022-04-21 14:05] hildeweerts commented on #1064
There were some issues on the OpenML side (the data upload seems to be broken on the new website or something). But @LeJit was working on uploading the dataset through the Python API instead (which should still work).

[2022-04-21 14:35] LeJit commented on #1064
I managed to get it to work through the Python API. Here's the URL for the dataset: https://www.openml.org/d/43874

[2022-04-21 14:39] adrinjalali commented on #1064
Nice, then we can close this issue.

[2022-04-27 06:50] omri374 opened #1074 "fairlearn.org is down"
#### Describe the bug
https://fairlearn.org website is down

#### Steps/Code to Reproduce

Go to https://fairlean.org, the GH page is not showing:
![image](https://user-images.githubusercontent.com/3776619/165458445-bfd07569-7a4b-4e4f-b871-af9f0d55b48a.png)

[2022-04-27 20:09] romanlutz commented on #1074
Thanks for reporting!
#1073 fixed this and #1076 is fixing the styling.

[2022-04-27 20:09] #1074 closed

[2022-04-28 16:25] romanlutz opened #1078 "Release pipeline broken"
Since our Azure DevOps tenant is orphaned and we can't seem to get it back we have to consider migrating to another tenant or completely off of ADO towards GitHub Actions. I feel like that's a good thing regardless since everything will be in the same place (GitHub). @adrinjalali is considering taking care of this migration.

Relatedly, the release definition is also on Azure DevOps. Since we orig

[2022-04-29 15:42] SeanMcCarren opened #1081 "DOC ENH More examples of AdversarialFairness"
### Describe the issue linked to the documentation

The description of AdversarialFairness method can be improved by including more examples. Now, users may wonder why someone would ever want to change the loss functions, for instance. Not a necessity though.

### Suggest a potential alternative/fix

I reproduced the example experiments from the [Adversarial Debiasing paper](https://dl.acm.org/doi

[2022-04-29 16:01] SeanMcCarren opened #1082 "ENH refactor Adversarial Debiasing"
Should the following be an issue or a comment in the code?

In the future, we may want to expose the AdversarialFairness base class to allow for arbitrary loss functions and multi-output mix-type targets/sensitive features (although the latter doesn't seem very important). But to do that, some refactoring is required:
- Do not handle/predict all preprocessing, but instead be reactive to the data.

[2022-05-04 07:45] rensoostenbach commented on #1066
I will start on this issue either this week or next week! #1064 is closed, so we're not blocked anymore there.

[2022-05-04 08:12] hildeweerts commented on #1066
Awesome! I've assigned the issue to you @rensoostenbach

[2022-05-09 13:09] #847 closed

[2022-05-13 10:21] Teddyzander opened #1087 "Cannot use estimators that do not require sample_weights with ExponentiatedGradient"
#### Describe the bug
Cannot create an in-learning minimisation problem using ExponentiatedGradient and MLPClassifier.

The problem lies in __lagrangian.py_. The function __call_oracle_ insists on passing sample weights to the .fit function of whichever model is passed to it, but not all learning processes require a sample weights array. This causes some models to throw a type error when trying to

[2022-05-14 00:11] LittleLittleCloud opened #1088 "Confused by how's C_0, C_1 being calculated in paper"
Hi fairlearn team, I am reading this [paper](https://arxiv.org/pdf/1803.02453.pdf) and am confused on how C_0, C_1 is calculated for DP in `signed_weight` function

The generic fomular for C_0 and C_1 is

![image](https://user-images.githubusercontent.com/16876986/168402946-bac5a26a-d1c2-44b2-9590-e5495e4f67e1.png)

but for DP, according to paper, it's
![image](https://user-images.githubuserconten

[2022-05-16 12:18] rensoostenbach opened #1089 "Attributes not rendering properly in documentation"
While working on #1043 and implementing the docstrings, I noticed that attributes are not properly rendered in the documentation. Perhaps related, but I also noticed that no other class has attributes in the API docs.

As can be seen in the below screenshot, there is no separate header for the attributes, while I have included it in the [code](https://github.com/rensoostenbach/fairlearn/blob/90a11

[2022-05-17 00:23] romanlutz commented on #1089
My initial reaction was that attributes are internal and shouldn't really matter to the caller. Of course, that's only half true... sometimes we want to take attributes that were set during `fit` and use them for something further.

I'm guessing it's something like this: https://stackoverflow.com/questions/72220924/sphinx-how-to-show-attributes-as-in-scipy
It would require some more investigation

[2022-05-17 00:30] romanlutz commented on #1088
Adding @MiroDudik who is one of the authors of the paper.

If I remember this correctly, the function `g` just evaluates to `h(X)`, so in the `C_0` case that `0`, and in the `C_1` case that's `1`. Hence, the entire term on the right is `0`.

My personal notes from quite some time ago have this little note (which is not from the paper, but rather my derivation of this result, so take it with a grai

[2022-05-17 07:27] hildeweerts commented on #1089
Good catch @rensoostenbach! In my opinion attributes should absolutely be rendered in the docs. For many machine learning models attributes can give insights into what was learned, think e.g., `coef_` in `sklearn.linear_model.LogisticRegression` (note that scikit-learn API docs also renders these attributes). In Fairlearn an example would be `ThresholdOptimizer`: it would make a lot of sense if th

[2022-05-17 17:47] romanlutz commented on #1087
Hi @Teddyzander, I'm afraid the entire point of `ExponentiatedGradient` is to pass sample weights, otherwise it has no chance to reweight samples which is at the core of what it does to reach the specified conditions (e.g., demographic parity). In essence, you wouldn't really achieve your goal. You may want to look into other mitigation techniques instead.

CC @MiroDudik @riedgar-ms

[2022-05-17 18:10] Teddyzander commented on #1087
Hi @romanlutz, thanks for the response. I did think this might be a problem with scikit learn, not Fairlearn! No worries, thanks for the explanation.

Some other MLP packages use sample weights, so I'll try them out!

Thanks

[2022-05-17 22:57] romanlutz commented on #1087
I definitely agree that that's one way of looking at it 🙂
You may find the discussion in #4 interesting. We considered adding a wrapper for estimators that don't provide `sample_weight`, but it's not really a Fairlearn functionality since it's much more broadly applicable. That workstream is pretty much dormant and waiting for someone to pick it up.

Can we close this issue @Teddyzander or is ther

[2022-05-17 23:49] Teddyzander commented on #1087
@romanlutz all good here, happy for you to close this issue. Thanks again

[2022-05-17 23:51] Teddyzander commented on #1087
Just for completeness though, I'll add [this issue from scikit learn](https://github.com/scikit-learn/scikit-learn/issues/9113)

[2022-05-18 18:35] #1087 closed

[2022-05-19 01:59] LittleLittleCloud opened #1091 "Bring Fairness to ML.Net"
Hi fairlearn team, greeting from [ML.Net](https://github.com/dotnet/machinelearning), which is an open-source machine learning library under Dotnet foundation.

We are reaching out to see if it's possible for us to leverage fairlearn into ml.net so that we can bring ways to evaluate or mitigate unfairness when training a ml.net model.

And also, many thanks to @romanlutz and @riedgar-ms for their

[2022-05-20 15:27] adrinjalali commented on #1089
I agree that they should be rendered. Only the public ones are rendered and private ones are not @romanlutz . But you're right in that there should be a distinction between public and private attributes.

[2022-05-20 18:02] #1089 closed

[2022-05-20 21:38] MiroDudik commented on #1091
Thanks for reaching out. Let us know how you'd envision collaborating. I think that beginning with some form of informal collaboration might be best. And if there's interest for something more formal, we could discuss that. You can get a sense of mission/direction of Fairlearn here: https://fairlearn.org/main/about/index.html

(And follow the links to our governance, the use of the Fairlearn trade

[2022-05-23 19:14] LittleLittleCloud commented on #1091
Thanks @MiroDudik, based on our last discussion, `MetricFrame` and its group metric can be a good place to start, then we can start adding constraints and reducing methods.

So maybe

- MetricFrame
  - Binary/Regression
- Constraints
  - Demographic Parity
  - Equalized odds
  - Bounded group loss
- Reduction
  - Grid search

would be good to consider leveraging into ML.Net for fairness training a

[2022-05-26 15:09] LeJit opened #1094 "ENH Add "Doubly-Corrected" Variance Estimator from "De-biasing 'bias' measurement" by Lum, Zhang, and Bower"
In the paper [De-biasing "bias" measurements](https://arxiv.org/abs/2205.05770), the authors introduce a "corrected" estimator for the between-group variance.  The authors state that commonly used fairness estimators consistently over-estimate the "true level" of between-group differences.  With this feature request, we want to add the "doubly-corrected" variance estimator as an `metric` to _Fairl

[2022-05-26 18:00] mmadaio opened #1095 "DOC Restructure the user guide"
#### Describe the issue linked to the documentation

The current structure of the User Guide has related topics (e.g., fairness metrics) in multiple places, and makes it difficult to add new content due to the sequencing (e.g., in the "Fairness in Machine Learning" section) and redundancy.

#### Suggest a potential alternative/fix

This issue is only to move around existing content and change sect

[2022-05-26 18:02] mmadaio commented on #1095
Based on our discussion in the learning resource working group meeting yesterday, @hildeweerts and @LeJit. Would love thoughts from others! @romanlutz @riedgar-ms @adrinjalali @MiroDudik @alliesaizan

[2022-06-01 10:33] adrinjalali commented on #1095
I'm a bit confused, where do the mitigation stuff go then?

[2022-06-01 14:04] alliesaizan commented on #1095
I am assuming that the Mitigation section of the user guide will remain unchanged? The new outline makes sense to me, and I think the flow of information is clearer than in the current version. Looking at the new outline made me realize that in the Assessment section, there doesn't appear to be documentation on how to calculate the disparity metrics discussed in the previous section using fairlear

[2022-06-01 14:57] mmadaio commented on #1095
Ah, sorry @adrinjalali, I should have specified. @alliesaizan is correct, this is only for the "Fairness in Machine Learning" and "Assessment" portions of the user guide. I'll rename it to be more specific.

Yup, I think you're right. One of the learning objectives for resources we want to create is around creating custom metrics (3.3 in our list [here](https://github.com/orgs/fairlearn/projects/3

[2022-06-01 21:27] LittleLittleCloud commented on #1091
@adrinjalali

`Fairlearn` in ML.Net will have its own implementation and we will have @jordi1215 help us with that. Since we are leveraging the existing algorithm and API from fairlearn, we want to make sure that the fairlearn community is involved and okay with it before moving forward.

@romanlutz thanks for your assistance as well as the rest of the fairlearn members. We'll reach out as questio

[2022-06-02 15:41] luisquintanilla commented on #1091
Thanks @adrinjalali @romanlutz @MiroDudik for your input. We're excited to provide .NET developers with guidance and tools to help them in their model building process.

One question I had though. As @LittleLittleCloud mentioned we'll be leveraging the existing docs, algorithm, and API from fairlearn, is it okay for us to use the fairlearn name in the .NET implementation?

[2022-06-02 15:48] adrinjalali commented on #1091
That's a very good question. You could call it maybe fairlearn.net, but I think that might result in confusion for users and they might expect certain compatibilities between the APIs or what's included in the two projects.

I personally have no idea of you using the term (others might have a different opinion), but I'm not sure if it's the best thing to do in terms of confusing/not confusing the

[2022-06-02 15:54] luisquintanilla commented on #1091
I suspect that may be the case as well.

[2022-06-07 14:56] hildeweerts opened #1098 "DOC Update contributor guide to reflect removal of multiversion"
This issue is just to remind us to update the contributor guide once #1096 and #1097 get merged.

* [Contributing Documentation](https://fairlearn.org/v0.7.0/contributor_guide/contributing_documentation.html): remove mulltiversion
* [Release process](https://fairlearn.org/v0.7.0/contributor_guide/release.html): see [comment](https://github.com/fairlearn/fairlearn/pull/1097#issuecomment-1145942509)

[2022-06-07 15:18] #819 closed

[2022-06-08 10:46] #1053 closed

[2022-06-08 10:48] SeanMcCarren opened #1100 "CI bug in fetch_openml"
The CI checks fail on both #1079 and #947 because of errors during the calls to `fetch_openml`.

[2022-06-08 12:21] adrinjalali commented on #1100
It's not a bug, the SSL certificate of openml.org is expired. A new one is requested and it should be fixed within the day.

[2022-06-08 12:26] adrinjalali commented on #1091
Closing since there seems to be no required action ATM from our side.

I'd like to thank you @LittleLittleCloud and @luisquintanilla for the heads up ❤️

I wish you luck in the implementations, and happy to have you open more issues on specific challenges on this repo as you encounter them 😃

[2022-06-08 12:26] #1091 closed

[2022-06-08 12:36] adrinjalali commented on #1048
So I suppose we can close this one? The resolution seems to be copy/pasting from wherever we find the entries and only changing the IDs, and let @MiroDudik cleanup after the fact (not in the PR reviews) if certain things are there that he doesn't like? :D

[2022-06-08 12:40] adrinjalali commented on #1041
I think this seems to be solved already, so closing the issue.

[2022-06-08 12:43] adrinjalali opened #1101 "RFC remove test_othermlpackages"
We have a folder called `test_othermlpackages` which does some very minimal tests against other frameworks.

The tests don't necessarily seem very meaningful, and it has added quite a bit of overhead to the CI process (nightly runs which we don't necessarily check and their own conda environments which we haven't updated in a while).

I don't recall any issues triggered by failures of these tests.

[2022-06-08 12:56] SeanMcCarren commented on #1101
Parts of adversarial fairness are hard to test without PyTorch or TensorFlow loaded, so the important test cases for adversarial fairness are in test_othermlpackages.

[2022-06-08 12:56] #1100 closed

[2022-06-08 12:58] adrinjalali commented on #1101
In that case, it seems they shouldn't be a cron job, rather run for all PRs?

[2022-06-08 13:14] hildeweerts commented on #1048
Agreed @adrinjalali ! I will close this now, feel free to reopen if you still have issues @fairlearn/fairlearn-maintainers

[2022-06-08 13:14] #1048 closed

[2022-06-08 13:29] adrinjalali commented on #1101
cron jobs are jobs which are run on a pre-defined period rather than on a trigger (like committing to a PR).

So It seems we need them, I'll re-work our CI, probably remove xgboost and lightgbm (not sure if they're adding much), and see where I can get.

[2022-06-08 14:45] hildeweerts opened #1102 "Restate the different metrics for operationalizing fairness (e.g., demographic parity, equalized odds...etc)"

[2022-06-09 11:23] andreaskopp commented on #1041
Is it solved? I have exactly the same issue trying the with Fairlearn version 0.7.0 using the demo notebook https://fairlearn.org/main/auto_examples/plot_mitigation_pipeline.html

Can you share the solution, please?

[2022-06-09 11:30] adrinjalali commented on #1041
Could you please share a minimal reproducing example (something we can copy/paste to reproduce your error) here, and test it against the latest upstream? You can install the latest upstream using

[code]

[2022-06-09 11:56] riedgar-ms commented on #1041
I can repro in an AzureML notebook. Must be something in the environment as compared to the build.

[2022-06-09 11:59] adrinjalali commented on #1041
sklearn version?

[2022-06-09 13:03] adrinjalali commented on #1041
Should it not be?

If you could post an environment file/requirement file + the code reproducing the error it'd be great.

[2022-06-09 13:16] andreaskopp commented on #1041
Yes, categorical should be correct for 'workclass'

Regarding, repro code. It is the original demo notebook: https://fairlearn.org/main/auto_examples/plot_mitigation_pipeline.html

[2022-06-09 13:17] riedgar-ms commented on #1041
The full output of `pip freeze`:

[aml-vm.txt](https://github.com/fairlearn/fairlearn/files/8870668/aml-vm.txt)

[2022-06-09 13:23] riedgar-ms commented on #1041
And `conda list --explicit`:

[conda-explicit.txt](https://github.com/fairlearn/fairlearn/files/8870730/conda-explicit.txt)

[2022-06-09 14:49] riedgar-ms commented on #1041
I can also repro locally with that freeze output. This time `sklearn.show_versions()` is:
[code]

[2022-06-09 15:09] riedgar-ms commented on #1041
Simpler way to repro the 'NaN' error:
[simpler-nan-repro.txt](https://github.com/fairlearn/fairlearn/files/8871596/simpler-nan-repro.txt)

I'm wondering if `check_X_y()` has changed behaviour of late. And whether Fairlearn is being overly eager in its validations.

But also: why haven't our tests caught this?

[2022-06-09 15:14] riedgar-ms commented on #1041
I have Good News, and I have Bad News:

- This was [fixed almost a year ago](https://github.com/fairlearn/fairlearn/commit/a68e74ec90ce99f00446b0b8fe53203f61f640b3)
- We still haven't release v0.8.0

[2022-06-09 15:15] riedgar-ms commented on #1041
@andreaskopp please can you try installing Fairlearn from GitHub:

[code]

That should fix the issue.

[2022-06-09 15:19] adrinjalali commented on #1041
That's why I said to try the latest lol

So the issue should stay closed as fixed, there's no action to be done for this issue.

[2022-06-09 15:23] riedgar-ms commented on #1041
Agreed.

[2022-06-09 15:38] adrinjalali opened #1104 "Fix logo and colors for dark mode on the website"
The new version of the theme used in https://github.com/fairlearn/fairlearn/pull/1103 supports dark mode, but our logo and the colors could use some adjustments.

To fix this issue we need a logo for dark mode, and maybe some settings for colors in that mode.

xref: https://github.com/fairlearn/fairlearn/pull/1103#issuecomment-1151287033

[2022-06-09 15:40] hildeweerts opened #1105 "DOC update colors and logo after theme update #1103"
PR #1103 updates our sphinx theme, which also adjusts our font colors and adds dark mode.

* We should decide whether we would like to adjust the colors back to what we currently have (or some other scheme).
* We need to add another version of the logo for dark mode. I would suggest to use a white version of the current logo:

![fairlearn_white](https://user-images.githubusercontent.com/24417440/1

[2022-06-09 15:41] #1105 closed

[2022-06-09 17:16] andreaskopp commented on #1041
Yes, done and it worked! Thanks for your quick support! Would be important to have this as an official release soon.

[2022-06-10 18:54] MiroDudik opened #1108 "Format of the notebook in PR #1008"
PR #1008 is a major update of the credit loan notebook linked from the Fairlearn landing page, but the updated notebook is in .ipynb format. While we would like to move all of the old notebooks into .py format, after conversation with @LeJit, I don't think that he will be able to do that for the Credit Card Loans notebook (otherwise the PR is almost finished). How do we proceed?

@adrinjalali sugg

[2022-06-11 20:00] romanlutz commented on #1108
The conversion to `.py` is a matter of 5-10 minutes, isn't it? Why don't we get the `.ipynb` file in shape so that we're happy to merge it (content-wise) and then convert it?

If people aren't sure how to do the conversion I'm happy to take care of that... I guess at that point it can be a separate PR 😆

[2022-06-11 20:03] romanlutz commented on #1101
Hmm, I have actually seen these tests catch a few issues that we could avoid since they were triggered on PRs.

I'm not a huge fan of cronjobs for such things. As you may know some of our nightly tests are broken. #1055

[2022-06-15 00:11] yanhong-zhao-ef commented on #1061
would love to have a go at this if it is not covered already

[2022-06-15 00:12] yanhong-zhao-ef commented on #1026
would love to have a go if no one else has taken it up yet

[2022-06-15 20:52] MiroDudik commented on #1108
I think that @LeJit was looking into the conversion into `.py` and it was more annoying than you make it sound.

@LeJit -- do you want to take up @romanlutz on the offer to move your notebook into `.ipynb`?

@adrinjalali -- would you be okay splitting this up into two PRs?

[2022-06-15 21:01] MiroDudik commented on #1091
[pinging @LittleLittleCloud and @luisquintanilla to confirm]

[2022-06-15 21:51] luisquintanilla commented on #1091
@MiroDudik apologies for the delayed response. Thanks for providing the trademark policy which provides clearer guidance and also aligns with the point made by @adrinjalali re: users thinking we're distributing the fairlearn package in .NET.

The following clause basically excludes us from using the name `fairlearn.net`:

With that in mind, we'll consult with the community on what they'd like for

[2022-06-16 16:51] romanlutz commented on #1108
Hmm, the PR does include the `.py` file under `examples` now. I chatted with @LeJit about this a few days ago. Seems like he was able to do it all by himself (yeay!) 🙂

[2022-06-16 17:20] MiroDudik commented on #1108
I guess that works too... :-)

@LeJit : you okay seeing this PR through, including having this notebook in `.py` format?

[2022-06-16 19:22] LeJit commented on #1108
Yes. I should be able to finish the conversion to `.py` format.

I also think it may be worth keeping the `.ipynb` notebook somewhere if we want to make a second tutorial/workshop presentation out of it.

[2022-06-16 21:23] romanlutz commented on #1108
You can download the `.ipynb` from the sphinx-gallery generated page 🙂

[2022-06-19 11:00] adrinjalali commented on #1108
I guess we can close this one now then :)

[2022-06-19 11:00] #1108 closed

[2022-06-30 15:38] Michael-AI-ML commented on #1069
I hope to help out with this documentation. Perhaps I need access to view the _refs.bib_ file to help.

[2022-07-11 16:32] eddiebergman commented on #569
Just for future reference, the culprit function is here, it could be moved to global scope and it should pickle alright!

https://github.com/fairlearn/fairlearn/blob/594f42ba4e30c40ef1a61e739686c2d401a03bfa/fairlearn/reductions/_exponentiated_gradient/_lagrangian.py#L236-L242

[2022-07-12 07:17] hildeweerts commented on #1104
For whoever will work on this, note that text in a `<dt>` element is rendered in dark gray, which I pretty much unreadable in dark mode.

A screenshot of selected text within a `<dt>` element: https://fairlearn.org/main/user_guide/datasets/acs_income.html
![image](https://user-images.githubusercontent.com/24417440/178430525-e4b00633-af9b-45a9-a724-4bce8287d6db.png)

[2022-07-12 07:20] hildeweerts commented on #1061
For whoever will work on this, note @adrinjalali's suggestion in [this comment](https://github.com/fairlearn/fairlearn/pull/1109#pullrequestreview-1011501704):

[2022-07-12 07:28] hildeweerts commented on #1026
Hi @yanhong-zhao-ef - I'm so sorry for the late response! Would you still be willing to pick up this issue? That would be amazing!

Do note that larger issues like this one can require loads of back and forth regarding the API design, user guide etc. So please feel free to ask as many questions as you have and request feedback on your work as you go (e.g., through a PR in draft mode), rather than

[2022-07-14 13:53] hildeweerts opened #1112 "DOC Fairlearn logo does not link to correct home page"
With *main* selected, clicking on the Fairlearn logo on the top left corner of the website directs you to `https://fairlearn.org/main/https%3A//fairlearn.org.html` rather than `https://fairlearn.org`.

[2022-07-16 09:22] trangology commented on #1112
Hi @hildeweerts!

I think I can help with this issue. Can you assign it to me?

[2022-07-27 17:55] riedgar-ms opened #1114 "Generate fairness metric frame output"

[2022-07-28 13:24] riedgar-ms commented on #1114
Having re-read the existing documentation, and also seen the incoming PR #1111  from @alliesaizan , I propose the following...

First, I think that we need two user guide pages. The first would discuss metrics in the context of fairness; essentially the current 'Introduction' plus the discussion being added in @alliesaizan . The main change would be promoting the current subsections to sections. T

[2022-07-28 13:51] hildeweerts commented on #1114
I like the suggested outline! It seems quite comprehensive and I think the order makes a lot of sense.

I am not sure whether I fully understand what you mean with "two pages" though. One thing we discussed in the learning resources group was we would like to integrate technical and less technical ("theory") content as much as possible. As an example, it would be great to integrate code examples/u

[2022-07-28 14:16] riedgar-ms commented on #1114
Ahhh... OK. I was intending creating a separate `.rst` file, I can certainly merge the two together if the conclusion from the LRG discussion was to integrate things as much as possible. I would still lead with the 'theory' content, though. Adding in the specific Fairlearn functions and code to @alliesaizan 's content after it merges is definitely something I could do too. They would still be repe

[2022-07-28 14:22] mmadaio commented on #1114
I like this suggestion a lot! This also makes sense in the context of the larger restructure to the first two user guide sections I proposed in #1095, since we currently have some material about metrics that's confusingly split across the Fairness in ML and Assessment sections

[2022-07-28 15:33] LeJit commented on #1114
Some additional existing resources for you when creating this material:

- [The Speech-to-Text notebook](https://github.com/microsoft/responsible-ai-toolbox/blob/main/notebooks/cognitive-services-examples/speech-to-text/analyze_stt_fairness.ipynb) in the *Responsible AI Toolbox* uses custom metrics to perform **word error rate** calculations. This notebook also has a great use case of the *control

[2022-08-11 15:36] riedgar-ms commented on #827
Looking through old PRs, I noticed #908 ... Pickling is rather fragile; should we be adding save/load to `MetricFrame` ? That is, is this really a feature request, not a doc request?

[2022-09-30 13:50] hildeweerts commented on #1114
We should probably delete the subsection "Fairness assessment and unfairness mitigation" in "Fairness in Machine Learning" or put a more concise version right under "Typers of Harm" and then crosslink to the assessment section. There is quite some overlap with the Assessment section (except that we don't discuss the regression metrics there).

[2022-09-30 15:24] riedgar-ms commented on #1114
I didn't want to tangle *too* much with "Fairness in Machine Learning" but I agree that it needs the same treatment overall.

[2022-10-13 15:15] riedgar-ms opened #1134 "[Doc Bug] Bad link from Fairlearn logo"
#### Describe the bug

Going to the 'main' branch of the documentation, the Fairlearn logo has a bad link

#### Steps/Code to Reproduce

![image](https://user-images.githubusercontent.com/28632930/195636473-39005a77-a097-4e49-804a-78fa9af81ed6.png)

This image has a link target of:

https://fairlearn.org/main/https%3A//fairlearn.org.html

#### Expected Results

#### Actual Results

#### Screenshot

[2022-10-13 15:21] riedgar-ms commented on #1134
I suspect that this is related to the logo link in `html_theme_options` in `conf.py` but I'm not sure _exactly_ what is happening.

[2022-10-27 20:29] iofall commented on #1134
I can help.

If you look at the code for [`navbar-logo.html` ](https://github.com/pydata/pydata-sphinx-theme/blob/v0.9.0/src/pydata_sphinx_theme/theme/pydata_sphinx_theme/components/navbar-logo.html) **v0.9.0**

[code]
The line `{# Logo link is to external URL}` is missing the ending `#` thus making it an invalid comment and we directly jump into the last case, which gives us the wrong URL.

They

[2022-10-28 02:10] riedgar-ms commented on #1134
I wouldn't object to updating to the latest version of the theme. @adrinjalali  do you have any concerns, since you were the last person tangling with the doc build?

[2022-10-28 02:10] riedgar-ms commented on #1134
Thanks for the detective work @iofall !

[2022-10-28 09:35] baraldian opened #1137 "PerformanceWarning: DataFrame is highly fragmented."
https://github.com/fairlearn/fairlearn/blob/bc122366afecf3adacde3ebbf75815c92c2c4081/fairlearn/reductions/_grid_search/grid_search.py#L205
.../fairlearn/reductions/_grid_search/grid_search.py:205: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axi

[2022-10-28 09:42] adrinjalali commented on #1134
It's complicated, we have been doing a branch per release. We can have a PR to that branch for the fix, but hopefully with the coming release it wouldn't be as urgent.

I don't mind having it fixed on that branch though. I just didn't want to push to all those branches.

[2022-10-31 12:55] riedgar-ms commented on #1137
Thank you for reporting this @baraldian ! Are you hitting specific performance issues, or is this just a warning which is appearing when you run? If the former, can you share a repro case which we can look into?

Tagging @MiroDudik  too, since he wrote most of those files. I suspect that any issues being caused by this will be swamped by the estimator retraining time, but if there's an easy fix, w

[2022-11-02 13:59] riedgar-ms opened #1141 "[REPO BUG] Fix file permissions"
#### Describe the bug

A recent changeset accidentally adjusted permissions on the repo from 644 (`rw-r--r--`) to 755 (`rwxr-xr-x`). This should be fixed.

#### Steps/Code to Reproduce

N/A

[code]

#### Expected Results

#### Actual Results

#### Screenshots

#### Versions

[2022-11-07 10:16] #1141 closed

[2022-11-09 15:34] iofall commented on #1134
Now that the release is done, we can fix this by:
1. Fixing it on main
2. And just updating the link manually on the docs repo for v8.0

What do you think?

[2022-11-09 15:58] riedgar-ms commented on #1134
I'd be happy to see this fixed on main. We could even cherry pick to the release branch

[2022-11-09 16:03] iofall commented on #1134
Ok great, working on it.

But I don't think we need it on the release branch, right?

The docs will now remain the same for v8.0, so I was thinking of making a one-off commit to just manually change the link there. Because even if we change it on the release branch, we will still have to manually trigger the doc build for v8.0 (as far as I know).

[2022-11-09 17:11] baraldian opened #1148 "weights contains NaN"
https://github.com/fairlearn/fairlearn/blob/70df6965bbd8661fc9d324f1e857f3255755e667/fairlearn/reductions/_grid_search/grid_search.py#L197

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

_assert_all_finite, validation.py:114
check_array, validation.py:800
_check_sample_weight, validation.py:1553
_fit_liblinear, _base.py:1183
fit, _logistic.py:1528
fit, grid_se

[2022-11-10 11:03] adrinjalali commented on #1134
Any commits to the release branch should automatically trigger a doc build and push.

[2022-11-10 14:05] hildeweerts opened #1150 "[DOC] Bad 'source' links v0.8.0"
#### Describe the issue linked to the documentation

The "source" links in the API reference point to 404 because the `v` before the version is missing. E.g.,:

https://github.com/fairlearn/fairlearn/blob/0.8.0/fairlearn/datasets/_fetch_acs_income.py#L13-L211

instead of

https://github.com/fairlearn/fairlearn/blob/v0.8.0/fairlearn/datasets/_fetch_acs_income.py#L13-L211

I think this happens becau

[2022-11-10 14:13] baraldian commented on #1148
I debugged the weights variable and contained NaNs... Maybe if there is a bug is somewhere else... If you want I can give you more information.

[2022-11-10 14:22] adrinjalali commented on #1148
Then we need a minimal reproducible example which we could then copy/paste and reproduce the issue.

[2022-11-10 17:02] adrinjalali commented on #1150
oh yeah, that's certainly the right direction.

[2022-11-10 17:17] adrinjalali commented on #1148
Thanks for the effort @baraldian .

Could you please instead of having a notebook, paste the bit of code here in the issue, which can in its entirety be copy/pasted to reproduce the issue? Unfortunately we don't have the bandwidth to dig into your notebook to find the issue there :)

Maybe this helps: https://stackoverflow.com/help/minimal-reproducible-example

[2022-11-11 10:17] baraldian commented on #1148
I'm using datasets from folktables
`pip install 'folktables @ git+https://github.com/zykls/folktables'`

This is the data loader I'm using

[code]

This is how to reproduce the error
[code]

[2022-11-11 13:29] #1150 closed

[2022-11-17 16:22] riedgar-ms commented on #1078
Latest release done with GitHub workflows.

[2022-11-17 16:22] #1078 closed

[2022-11-21 03:12] socallaghan opened #1154 "Wording of Equal Opportunity"
Line 300 of the [Common Fairness Metrics](https://github.com/fairlearn/fairlearn/blame/main/docs/user_guide/assessment/common_fairness_metrics.rst
) text describes Equal Opportunity as:

of being hired in the first place.

The statement is a bit unclear. It relies on the term "equal opportunity" to explain what equal opportunity is. It also drops the concepts of groups, which the previous section

[2022-11-21 09:21] hildeweerts commented on #1154
Many thanks for pointing this out @socallaghan and for suggesting an improvement! Would you like to create a PR to add your suggestion to the user guide?

[2022-11-21 23:51] socallaghan commented on #1154
Sure. I can give it a go.

[2022-11-23 13:50] hildeweerts opened #1155 "More informative error message missing values in MetricFrame sensitive_features"
#### Describe the bug
When a sensitive feature of containing strings in a `pd.Series` / `np.array` / `pd.DataFrame` has missing values, `MetricFrame` throws a rather uninformative error.

The same error does not occur when you first convert the data to a list (`list(sf)`), in that case `nan` is just interpreted as a sensitive category.

#### Steps/Code to Reproduce

[code]

#### Expected Results
A

[2022-11-23 15:18] hildeweerts opened #1156 "[CI] TclError"
In #1152, windows build 3.9 [failed](https://github.com/fairlearn/fairlearn/actions/runs/3525473951/jobs/5927445026) on a `TclError`  in `test_plot_equalized_odds_ex3` saying "This probably means that Tcl wasn't installed properly.".

It doesn't look like it should be related to that PR so I did some digging. It seems to be a more common problem and [this issue](https://github.com/microsoft/azure-

[2022-11-23 16:31] adrinjalali commented on #1156
Yep, I think using `agg` backend should fix it.

[2022-11-24 09:49] #1134 closed

[2022-11-24 09:49] #1112 closed

[2022-11-24 16:28] riedgar-ms opened #1160 "[CI/BUG] Upper Bound on flake8"
#### Describe the bug

We' having CI trouble due to a recent flake8 update (to v6). The specific issue appears to be in `flake8-copyright` and I've opened an issue:
https://github.com/savoirfairelinux/flake8-copyright/issues/19

Pending resolution, I have a PR to place an upperbound on `flake8`. This should be removed when the upstream bugs are ironed out.

#### Steps/Code to Reproduce

[code]

##

[2022-11-28 15:36] hildeweerts opened #1161 "[CI] Codecov upload failures"
We sometimes get codecov upload failures that forces us to rerun the CI.

There are a few suggestions in [this issue](https://github.com/codecov/codecov-action/issues/598) we can explore.

[2022-11-29 11:00] #1156 closed

[2022-11-29 12:23] hildeweerts opened #1162 "[CI] PyTorch error"
In [this run](https://github.com/fairlearn/fairlearn/actions/runs/3573431020/jobs/6007487149) the PyTorch tests fail due to a `RuntimeError`.

[code]

[2022-11-29 17:02] adrinjalali commented on #1161
I've seen this for a while, and the only solution I've had has been "rerun the workflow" 😁

[2022-11-30 22:20] MiroDudik commented on #999
I'm adding here this example from @hildeweerts:

[2022-11-30 22:30] romanlutz commented on #1161
The main takeaway I see from the issue you linked @hildeweerts was that it might help to add the token, but the [official docs](https://github.com/codecov/codecov-action#usage) say it's not needed for public repos.

There are GitHub Actions that do retry-on-fail, but you can only wrap a command that way, not another action. At least that's how I understand it.

[2022-11-30 23:32] MiroDudik commented on #999
I think that here are some API choices:

1. **Specifying quantiles:**

   a. **in constructor:** `MetricFrame(..., boot_quantiles=[0.025,0.975], ...)`
      * (+) storage is only needed for each quantile (not for each replicate)
      * (+) all of the functions are coordinated on the same quantile
      * (-) less flexibility

   b. **in methods/properties:** `difference(..., boot_quantiles=[0.025