[2021-05-21 16:51] michaelamoako commented on #758
@kstohr I just tagged you in a comment above related to Cartesian product -though where this process is happening in the MetricFrame is not clear to me

[2021-05-21 16:59] MiroDudik commented on #758
@kstohr : my suggestions:
* you could just start with `plot_roc_curves`
* it would be good to figure out the invocation format on this issue (either at the same time as PR or before PR)
* I wouldn't worry about integrating things internally with MetricFrame yet... I expect that we'll need to re-factor MetricFrame because it's 10x slower than an equivalent pandas code (I'll create an issue on that

[2021-05-21 17:10] #810 closed

[2021-05-21 17:14] kstohr commented on #758
@MiroDudik Yep that's exactly what I had in mind, but I have to pass a third parameter...looks like that's permitted in the docs and it will split on it and extract the groups. Not sure if it will handle the cartesian split. Still getting up to speed on this codebase.

[2021-05-21 17:19] MiroDudik commented on #758
Cartesian split is already handled I believe, you just provide two columns of sensitive features and it'll consider all combinations. See [here](https://fairlearn.org/v0.6.2/auto_examples/plot_new_metrics.html#intersections-of-features).

MetricFrame also supports additional column parameters, e.g.:
[code]

[2021-05-21 17:36] michaelamoako commented on #758
This would be tied to the NaN issue in MetricFrame right @MiroDudik ?

[2021-05-21 17:52] MiroDudik commented on #758
@michaelamoako : I think you're thinking about #800? We don't have to worry about that here, because we're not using mf.difference() or other aggregates (so the above code shouldn't raise any errors).

[2021-05-21 19:09] kstohr commented on #758
@miro Well, there you go. `mf.by_group` should work then. Tks.

On Fri, May 21, 2021 at 10:19 AM MiroDudik ***@***.***> wrote:

--
Kas Stohr
+1 646 554 7671

[2021-05-21 19:10] romanlutz commented on #814
Indeed. I would recommend adding a `code-block` to start with. It wouldn't get run during the doc build, so we'd avoid the issue you mention (which I mentioned in the description as well). As long as it's consistent with the code in the unit tests we can be confident it works.

[2021-05-22 03:21] adidutt commented on #755
Yes @romanlutz I got my answer to this issue.

[2021-05-22 03:21] #755 closed

[2021-05-24 01:11] romanlutz commented on #764
I expect the config values needed will be
[code]

As you can tell the branch changes depending on the version since the documentation is built in multiple versions. I'm hoping the same version parsing will work for us (https://github.com/scikit-learn/scikit-learn/blob/309f135c3284d7db6e23ca81a87948c7066a3949/doc/conf.py#L282 and following), but it's not clear that it will. You may have to try it o

[2021-05-24 01:38] kurianbenoy commented on #764
Thanks @romanlutz for your quick reply. Is the requirements.txt used in `dependencies` pointing to a folder `binder/requirements.txt` in our case?

If you look  at scikit docs, [the requirements.txt](https://github.com/scikit-learn/scikit-learn/blob/309f135c3284d7db6e23ca81a87948c7066a3949/doc/binder/requirements.txt) requirements.txt there is actually nothing. So what should be there in requireme

[2021-05-24 02:27] romanlutz commented on #764
Seems like scikit-learn hs a special setup with a separate repo for this. You can check their binder repo to see what's in the requirements file. Probably just the main dependencies we have in our requirements.txt plus the package itself. I'd just try it out by pointing at an empty file and if it fils try adding dependencies. Binder is free so there's no real cost associated with trying this.

You

[2021-05-24 10:23] shashankc28 opened #818 "How to get the local Explanation of Model as these are not supported by ELI5,LIME,SHAP,etc."

[2021-05-24 15:23] MiroDudik commented on #814
@romanlutz : I'm a bit confused, why should the example be named `plot_tensorflow.py`? If I understand the issue correctly, it's not just about plotting, but possibly other ways of linking the assessment and mitigation with tensorflow?

[2021-05-24 15:24] MiroDudik commented on #813
@romanlutz : I'm a bit confused, why should the example be named `plot_pytorch.py`? If I understand the issue correctly, it's not just about plotting, but possibly other ways of linking the assessment and mitigation with tensorflow?

[tagging @Dref360 since I think he's been using pytorch with fairlearn]

[2021-05-24 15:37] romanlutz commented on #814
All example files need to be named something that starts with plot, it's required by Sphinx gallery.

[2021-05-24 15:38] romanlutz commented on #813
All example files need to be named something that starts with plot, it's required by Sphinx gallery.

[2021-05-24 16:16] riedgar-ms commented on #818
Can you elaborate on your question a bit? Fairlearn doesn't provide explanations - you may want to look at:
https://github.com/interpretml/interpret-community

[2021-05-24 16:32] shashankc28 commented on #818
we are using thresholdoptimizer to mitigate unfairness and we are tring to explain the model which we getting using thressholdoptimzer but this is not supported by lime/shap/eli5....however we tried gridsearch also provided by fairlearn but this is not improving the results.....

[2021-05-24 16:37] riedgar-ms commented on #818
I'm not surprised that `ThresholdOptimizer` doesn't work well with a lot of explainers. Its `fit()` method:

- Requires the sensitive attribute to be passed separately, meaning it doesn't quite match the `Estimator` pattern
- Is non-deterministic, which is likely to confuse any explainer

Can you elaborate what you mean  when you say that `GridSearch` is 'not improving the results' since that coul

[2021-05-24 19:43] romanlutz opened #819 "CircleCI doc build does not use PR branch but main branch"
We set up the CircleCI doc build to build the documentation based on the branch of a Pull Request. However, in the last few weeks it's often (note: not always!) produced the documentation based on the `main` branch rather than the PR branch. This means we can't validate that the new docs will look right. Instead, we have to check out the branch locally and build it which wastes a ton of time.

Ide

[2021-05-24 19:45] romanlutz commented on #818
@shashankc28 can you elaborate on what errors you're facing, and which relevant packages and package versions you have installed?

[2021-05-24 22:42] michaelamoako opened #821 "Errors in Frequency Format"
Rather than Error Rates, it would be helpful to have a generalizable way of showing errors in Frequency format.

#### Is your feature request related to a problem? Please describe.

Mental processing of Fairlearn output.

For example, if FPR is 5E-5, that is hard to understand. If instead it were "Approximately __ errors out of every ___ occurences", that would be more understandable

#### Describ

[2021-05-24 22:44] michaelamoako commented on #821
@riedgar-ms any workarounds?

[2021-05-25 01:57] riedgar-ms commented on #821
This sounds more like a job for the final printout, rather than `MetricFrame`. We could probably write a formatter to do something like this, though. Figuring out a useful set of heuristics for the descriptions might be non-trivial, though.

[2021-05-25 07:35] hildeweerts commented on #821
I agree with @riedgar-ms it might be tricky implement this generally. But it might make sense to do this for our predefined base metrics (e.g., `true_positive_rate`) and predefined fairness metrics (e.g., `equalized_odds_difference`). wdyt @michaelamoako?

[2021-05-25 08:49] shashankc28 commented on #818
I am just sharing the sample implementation.
https://colab.research.google.com/drive/1sEn8pX7jTnf-eR2lxjHVlYgvsu8aYeQN?usp=sharing

if possible, request you to please update the notebook itself on how can we improve results and can get explanations.

[2021-05-25 10:25] riedgar-ms commented on #821
@hildeweerts this isn't really about metrics per se. This is how, given a small number, to render it in a "x times in y" way which preserves some level of accuracy. but there are all sorts of questions to answer. These centre around specifying that accuracy and perception of the numbers. For example, is the distinction between "5 times in 127" and "9 times in 253" meaningful to people? Those are o

[2021-05-25 14:25] Dref360 commented on #813
I only used the metrics for my [project](https://github.com/ElementAI/active-fairness), hence why I started working on streaming metrics.

[2021-05-25 16:04] MiroDudik commented on #804
Ping @romanlutz and @riedgar-ms: `ErrorRate` or `CostSensitiveLoss`? (I started the PR with the former, but it would be easy to tweak to the latter.)

[2021-05-25 17:23] MiroDudik commented on #814
Ouch... that seems like an anti-pattern (but I see it in sklearn too). But we can deal with that another day...

[2021-05-25 17:23] MiroDudik commented on #814
tagging @hannanabdul55

[2021-05-25 17:27] riedgar-ms commented on #814
@MiroDudik It's like test files for `pytest` having to be named `test_<something>.py`. I'm not a huge fan, but know when I'm swimming against the tide.

[2021-05-25 17:42] romanlutz commented on #804
What's wrong with ErrorRate? Indeed I wasn't sure cost sensitive loss is for classification.

[2021-05-25 18:57] romanlutz commented on #814
@riedgar-ms is right, this isn't necessarily an anti-pattern in the way we've adopted it. It's just the naming convention adopted by sphinx-gallery because they store plots/pictures generated from these python files in the gallery and you can subsequently reference them. That's the purpose of sphinx-gallery (unlike the example notebooks that we've been using it for). I don't think they even allow

[2021-05-26 03:25] romanlutz commented on #821
I've encountered the same thing with the chest x-ray classification case study and my workaround was to always calculate:
- metrics of interest
- count (merged in today with #812 but can be manually implemented with 1 line as well)
- # of positives
- % of positives

You can do the same for error rate!
- # of errors
- % of errors / error rate

They should appear next to each other in the `by_group`

[2021-05-26 11:54] hildeweerts commented on #804
Not sure if this is relevant, but in scikit-learn the `class_weight` argument is typically used to define different costs per class, in the form of a dictionary with different weight for each class. If we ever wanted to extend `ExponentiatedGradient` to a multi class classification scenario, the current proposal would be more difficult to extend without breaking existing code.

[2021-05-27 07:37] hildeweerts opened #825 "Make navigation bar consistent across website"
#### Describe the issue linked to the documentation

The navigation bar is currently inconsistent between the homepage and the remainder of the website:

* The order of items differs
* *Contributor guide* on home page refers to #contribute rather than https://fairlearn.org/v0.6.2/contributor_guide/index.html
* *Getting Started* vs *Quickstart*
* *API docs* versus *API Reference*
* *About* vs *Abou

[2021-05-27 08:32] romanlutz opened #826 "Homepage: link to contributor guide directly"
#### Describe the issue linked to the documentation

When clicking on "Contributor guide" on the homepage we are currently moving to the banner shown below. That's not needed.
![image](https://user-images.githubusercontent.com/10245648/119792871-ea43ac80-be8a-11eb-8aa9-c25a0970e2f7.png)

#### Suggest a potential alternative/fix

Instead, we should just directly link to the contributor guide. This

[2021-05-27 09:23] Godwindaniel10 commented on #826
hi @romanlutz
i will like to solve this issue

[2021-05-27 11:05] hildeweerts commented on #826
Awesome, I have assigned the issue to you @Godwindaniel10. Let us know if you have any questions!

[2021-05-27 17:44] Godwindaniel10 commented on #826
ok , on it...
Thanks.

i was trying to clone the repo , but its not cloning.

![cmd error](https://user-images.githubusercontent.com/54848535/119872586-903ef780-bf1b-11eb-8177-c6c558ed30e6.JPG)

[2021-05-27 19:01] romanlutz commented on #826
Looks like a network issue to me. I would delete the potentially created directory and retry.

[2021-05-27 20:31] romanlutz opened #827 "Add user guide section on persisting metrics using pickle"
#### Describe the issue linked to the documentation

Persisting metrics and loading them back into memory is often useful. We don't currently mention this anywhere but `fairlearn.metrics.MetricFrame` can be pickled and then loaded at a later point for further analysis.

#### Suggest a potential alternative/fix

Add a section to the user guide on assessment that shows a short snippet of code for du

[2021-05-28 05:37] vamsidesu5 commented on #800
@hildeweerts Thank you so much for the explanation - getting to work on it!

[2021-05-28 05:51] vamsidesu5 commented on #800
So the solution here is to throw an exception whenever the output from a function run on a MetricFrame such as mf.groupby() whenever the the output does not consist of all floats?

[2021-05-28 06:35] romanlutz commented on #800
That sounds correct to me. A slight correction perhaps: scalar can be `int`, too, and maybe other types. I'd suggest going with something like https://numpy.org/doc/stable/reference/generated/numpy.isscalar.html to check.

@hildeweerts @riedgar-ms you wouldn't expect it to still work for the other metrics and ignore the ones that don't return scalars, right?

[2021-05-28 07:11] romanlutz commented on #737
Closing since @stephenrobic 's PR #812  was merged a week ago.

[2021-05-28 07:11] #737 closed

[2021-05-28 08:07] hildeweerts commented on #800
If I read @riedgar-ms's issue correctly I actually think the idea was to ignore the ones that don't return scalars. Right now there is already a `ValueError` so there's not really a need to throw a new exception, apart from providing the user with a more meaningful message.

I think it would make sense to return the value for the ones that are scalar and `NaN` for those that aren't, potentially wi

[2021-05-28 10:34] riedgar-ms commented on #800
@hildeweerts is correct; the issue is that if one has mixed scalar and non-scalar metrics in a single `MetricFrame`, it is no longer possible to call `difference()` etc. on that `MetricFrame`. That may be a problem for some users (in fact, we already know it is).

I do like @hildeweerts 's suggestion of a `errors` argument (defaulting to `ignore` in this case).

[2021-05-28 19:23] romanlutz commented on #826
Closing since #828 fixes this!

[2021-05-28 19:23] #826 closed

[2021-05-31 13:03] adrinjalali commented on #793
@MiroDudik there are so many packages which depend on numpy's random number generators that whenever they need to create something new, they create a new module/function. The old stuff has always been backward compatible generating the same values.

[2021-06-01 08:10] hildeweerts commented on #800
Assuming the thumbs up from @romanlutz means that he agrees, I think the `errors` argument is the way to go.

@vamsidesu5 is this enough information for you to get started with this issue? Please feel free to ask questions if anything is unclear!

[2021-06-01 18:37] LeJit opened #830 "Benchmark comparison between Fairlearn's Reductions algorithm and FairTorch's Constraint algorithm."
To understand how [FairTorch](https://github.com/wbawakate/fairtorch)'s algorithm compares to FairLearn's Reduction algorithm, we want to create a workflow to compare the two algorithms on the same dataset.

## Process

1.) Choose some publicly available datasets (e.g. Adult, German Credit).
2.) Run both Fairlearn's ExponentiatedGradient model (w/ DemographicParity Moment) and a PyTorch model with

[2021-06-02 03:35] ziqi-ma opened #831 "Fix comment in postprocessing API documentation"
Hello! Line249 of fairlearn/fairlearn/postprocessing/_tradeoff_curve_utilities.py accumulates
`false_positives=count[0]
true_positives=count[1]
`
Shouldn't they be true_negatives=count[0] and false_negatives=count[1]? (since you are accumulating in ascending order how many counts are < threshold, thus yhat= 0 which conflicts with definition on lines244 and 245(P[Y_hat=1 | Y=0], P[Y_hat=1 | Y=1])?

[2021-06-02 07:35] #719 closed

[2021-06-02 08:19] adrinjalali commented on #830
Could you please give some motivation as why we need to run this comparison in particular, as opposed to comparing with other solutions?

[2021-06-02 13:18] riedgar-ms commented on #235
Talking to @alexquach about working on this.

[2021-06-02 13:20] LeJit commented on #830
@romanlutz and I had a conversation with the FairTorch team last week, and we were discussing the possibility of integrating their algorithm into our `Reductions` module.

However, it was not clear how their algorithm compares with Fairlearn's, so we want to run some comparisons to understand the differences between the two methods.

[2021-06-02 13:26] riedgar-ms commented on #235
It would be good if three different formats for the errors:

- +/- number
- + number, - number
- lower bound, upper bound (as @michaelamoako has above)

[2021-06-02 13:56] adrinjalali commented on #830
Right, I understood the issue as adding the comparison to the docs, not as a task. All good :+1:

[2021-06-02 17:51] romanlutz commented on #831
The default is a rule `> threshold`, and `< threshold` is only considered if the `flip` argument is set to `True`. Does that resolve your doubt?

[2021-06-02 17:57] ziqi-ma commented on #831
I think the implementation of flip=True vs. flip=False is reversed? (for my previous comments I'm only talking about the > threshold case, which is the default)

[2021-06-02 18:22] MiroDudik commented on #831
Maybe the issue is that scores are sorted in descending order, so our comment is actually incorrect, but implementation is correct?

[2021-06-02 18:29] ziqi-ma commented on #831
Oops sorry never realized that... Closing this.

[2021-06-02 20:03] MiroDudik commented on #831
@ziqi-ma : no worries--it's actually our fault, we should fix the comments!

[2021-06-02 21:44] romanlutz commented on #831
Then let's reopen to fix the comment! 🙂
@MiroDudik you mean this line, right? https://github.com/fairlearn/fairlearn/blob/fed04c6149ceb7c691fd496ee594cd08c7ba5cc5/fairlearn/postprocessing/_tradeoff_curve_utilities.py#L278

[2021-06-02 21:48] nessamilan opened #833 "[Website Redesign] Global Framework"

[2021-06-02 21:49] nessamilan opened #834 "[Website Redesign] Responsive Grid"

[2021-06-02 21:51] nessamilan commented on #833
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/?node-id=2028%3A1582

- Header
- Navigation
- Footer

[2021-06-02 21:59] nessamilan commented on #834
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2336%3A2430

12 column flex grid and content containers

[2021-06-02 22:01] nessamilan opened #835 "[Website Redesign] Homepage"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A2964

To see grid, turn on layer "grid_12-col_1180px"

[2021-06-02 22:01] nessamilan opened #836 "[Website Redesign] Get Started"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A3126

[2021-06-02 22:02] nessamilan opened #837 "[Website Redesign] Learn landing page"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A3249

[2021-06-02 22:05] nessamilan opened #838 "[Website Redesign] Document page templates"
**Learn Docs**
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A3632

**API Docs**
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2565%3A2687

**Contribute Docs**
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A4478

[2021-06-02 22:06] nessamilan opened #839 "[Website Redesign] User Guide Landing View"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A3632

[2021-06-02 22:07] nessamilan opened #840 "[Website Redesign] API Docs Landing Page"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2565%3A2687

[2021-06-02 22:09] nessamilan opened #841 "[Website Redesign] Contribute Landing Page"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A4478

User lands on overview page.

[2021-06-02 22:11] nessamilan opened #842 "[Website Redesign] Community Landing Page"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A4910

- Gitter module will be "Featured" Gitter conversations. Requires curation
- Twitter is a feed

[2021-06-02 22:12] nessamilan opened #843 "[Website Redesign] FAQ Landing Page"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A5150

Expanded view WIP

[2021-06-02 22:14] nessamilan opened #844 "[Website Redesign] About Landing Page"
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2535%3A5419

Incomplete: Contributor module at bottom

[2021-06-02 22:18] MiroDudik commented on #831
I saw an incorrect comment at two locations at least. Besides the one you mention, also here:
https://github.com/fairlearn/fairlearn/blob/fed04c6149ceb7c691fd496ee594cd08c7ba5cc5/fairlearn/postprocessing/_tradeoff_curve_utilities.py#L224

[2021-06-02 22:25] nessamilan opened #845 "[Website Redesign] Mobile Design"
# Work in Progress

- Not yet reviewed
- Sample pages with navigation example

## Preview
https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2567%3A3011

[2021-06-03 22:17] kstohr commented on #758
y'all this is coming along:

I think the best course of action is to build on MetricFrame as it will create a common language across the Fairlearn API. So you can split by group and use the series index to plot a subset of the sensitive feature subgroups (remember is the cartesian product, so selecting a smaller set to plot will be important.)

TODO:
- Determine how best to instantiate plot figure

[2021-06-04 01:38] riedgar-ms commented on #758
Tagging @alexquach who has started work on #235 . Both of these are generically looking at 'plots for MetricFrame' so we should try to have a common API pattern (even if the details will be different)

[2021-06-04 01:57] kstohr commented on #758
Totally agree. Was going to write a generic method to establish the plot
trace. @alexquach if you have something going, please share.

On Thu, Jun 3, 2021 at 6:38 PM Richard Edgar ***@***.***>
wrote:

[2021-06-04 02:03] nessamilan opened #846 "[Website Redesign] Design Language"
**[Font Ramp](https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2045%3A117)**
_Reconciliation and mobile sizing in Progress_
[TT Commons.zip](https://github.com/fairlearn/fairlearn/files/6595250/TT.Commons.zip)

**[Color palette](https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2046%3A1556)**
Currently being explored si

[2021-06-04 02:55] nessamilan commented on #835
## Bugs

- [ ] Vertical spacing too tight between text in some modules:

- [ ] **Resources module**:
Update font sizes and weights to match lighter weights in design

- [ ] Update footer title in column two to "Fairlearn"

[2021-06-04 03:01] nessamilan commented on #834
## Bugs

- [ ]  Full grid width

- [ ] Navigation runs into logo. Please update so it swaps to mobile hamburger menu when the grid is approx 900px

[2021-06-04 03:16] nessamilan commented on #833
## Bugs

Header

- [ ] On homepage, no navigation is in active state. Currently, "Getting Started" is bolded

<br>

- [ ] Update select font weights to demibold so they are consistent (there was a regression in Figma that had a mix of regular and demibold):
  - [ ] Header navigation and Github button
  - [ ] Button labels throughout the page and footer
  - [ ] Small cap titles
  <br>

[2021-06-04 05:14] vamsidesu5 commented on #800
@hildeweerts Thanks - that helps - I'll keep you guys updated here

[2021-06-04 10:23] adrinjalali opened #847 "Add code coverage test to the CI"
We can add https://about.codecov.io/ to the CI, to make sure the PRs are all tested.

[2021-06-04 12:24] adrinjalali opened #848 "Test for deprecation warnings"
Our CI should test and fail for `DeprecationWarning` and `FutureWarning`. This can be done by passing `-Werror::DeprecationWarning -Werror::FutureWarning` to `pytest`.

We can enable this for at least a few of the tests if not all.

[2021-06-04 12:38] riedgar-ms commented on #847
We do have a code coverage build:
https://dev.azure.com/responsibleai/fairlearn/_build?definitionId=24&_a=summary
Or is that not generally visible? We still haven't quite figured out permissions on that VSO tenant.

[2021-06-04 12:50] riedgar-ms commented on #756
How do we want to handle this discussion going forward? We have the transition to keyword-only arguments in hand, but this was originally about handling other metrics which don't use `y_true` and `y_pred` as arguments. Would it make more sense to start a new thread just about the latter (given the digressions), or would people prefer to keep the discussion going here?

Whichever we pick, I would l

[2021-06-04 13:04] riedgar-ms commented on #847
It only runs on `main` (that can be changed). Why would it fail, though?

[2021-06-04 13:19] adrinjalali commented on #847
Because for instance when #822 adds code which is not tested, we should see that it needs tests to improve the coverage. We shouldn't approve any PRs unless they also add the appropriate tests.

[2021-06-04 14:10] riedgar-ms commented on #847
So you'd like to gate on code coverage%? Would you like to include branch coverage as well?

[2021-06-04 14:33] adrinjalali commented on #847
I don't think branches matter at this point, we can add this for the future. As long as we fail on newly written code, gradually things will get better.

[2021-06-04 14:51] riedgar-ms commented on #847
Just realised that 'branch' is ambiguous in this context. I was meaning in the `if/else` sense.... is that what you meant?

How would you want the threshold set? We're currently at >95%, which is well into "increasing code coverage tells you nothing" territory. I do see that the [codecov service you linked has a 'patch' setting](https://docs.codecov.io/docs/commit-status#patch-status) which requir

[2021-06-04 16:04] riedgar-ms commented on #758
@alexquach only just started this week, so there's still some playing around with 'how to plot this' before we get too far into the API design. I do like your approach of having a separate class, since there's no need to deal with `MetricFrame` internals. For the error bar case, it's more likely to be 'bring the `MetricFrame` precomputed and tell us the mapping of metrics to error bars' though.

W

[2021-06-04 16:35] kstohr commented on #758
What I was thinking was to build a standard plot that is “styled” the
Fairlearn way, whatever that is...and then call that and instantiate it if
the user does not pass their own fig, ax. I was going to do it as part of
the class.

If it’s in the class and then somebody looks at the code, It should be
clear to them how they can change the defaults to suit their needs by
either passing their own fig

[2021-06-04 17:26] romanlutz commented on #758
Styling shouldn't be done in this code I think. That's why people can provide their own `ax`. That's something @adrinjalali pointed out in the past with other plots, too.

Although, now I'm not sure you actually meant "styling" (as in https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html) or just axis labels, legend, etc.. Regardless, it shouldn't be preconfigured and peop

[2021-06-04 18:53] kstohr commented on #758
@romanlutz Here's how scikit learn handles it.

[RocCurveDisplay](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.RocCurveDisplay.html#sklearn.metrics.RocCurveDisplay)

What they have done is offered the full convenience of a labeled plot. However, those who want to provide their own fig, ax, or overwrite the defaults can. They use the default figure size, font, etc. Notice how t

[2021-06-07 09:38] adrinjalali opened #850 "TST find and fix slow tests"
Some of our tests are really slow. This is issue is to find those tests (with `--duration=N` passed to `pytest`), and to find alternatives so that the run faster.

[2021-06-07 09:40] adrinjalali commented on #847
Yes, I think we should set it to 100% for patch, and 98% overall as threshold for PRs.

[2021-06-07 11:46] adrinjalali commented on #850
top 5 on my machine:

[code]

[2021-06-07 12:31] adrinjalali opened #852 "DOC fix warnings in documentation build"
There are warnings during doc build which need to be taken care of:

<details>

[code]

</details>

[2021-06-07 12:36] adrinjalali opened #853 "RFC Mention the author(s) and the PR and/issue in changelog."
Our changelog right now doesn't credit the author nor does it mention the PR or the issue corresponding to an entry. Having those makes it easier to track the change, example: https://scikit-learn.org/stable/whats_new/v0.24.html

[2021-06-07 12:41] riedgar-ms commented on #847
That's very high. I don't want us to slide from what we have, but as I said there comes a point where you have diminishing returns and there are better places to focus effort. After all,100% code coverage doesn't tell you that you've missed a complete scenario.

[2021-06-07 12:44] hildeweerts commented on #853
Would this be something we add to the merge commit message in one way or another or would you suggest to add them manually when we create the changelog?

(I'm happy with anything as long as it's clear what's expected from me :D)

[2021-06-07 12:46] adrinjalali commented on #847
It doesn't, but anything less than 100% on patch, tells you that there's new untested code in the PR. It's really not hat hard to make sure the code is run at least once in at least one of the tests. Also, we can always merge ignoring the coverage if we think a test is not needed for a particular line of code. But in my experience, you definitely want tests for everything you write, at least one c

[2021-06-07 12:48] adrinjalali commented on #853
We write the changelog manually, so it's something we need to make sure to do when we add an item there. Example: https://github.com/scikit-learn/scikit-learn/pull/20165/files#diff-c6c2db6c2fe3fd4325496252937b7a3c08ebdffc7c0546bce69e4508f2ba3a6bR126-R128

[2021-06-07 12:51] hildeweerts commented on #853
Ah, I see! So basically you add a new item to the changelog each time new code is merged?

[2021-06-07 13:00] riedgar-ms commented on #756
In the absence of other comments, I'll keep going here for now :-)

I have spoken with @michaelamoako a little about this and he gave the example of word error rates being pre-computed, and that his scenario needed the mean (or some other statistic) rate for each subgroup identified by the sensitive features.

With the current `MetricFrame` you have to do something like this:
[code]
Obviously, thi

[2021-06-07 13:06] romanlutz commented on #791
Closing since it's merged 🙂  Thanks again @trangology

[2021-06-07 13:06] #791 closed

[2021-06-07 13:09] romanlutz commented on #853
Looks like it. I like it, but we'll all need to be quite disciplined to get this done.

I think I also remember @adrinjalali saying that there's one file for ALL changes and another for just the "highlights" (as in bigger changes that will provide new features or breaking changes perhaps). Is that accurate?

Also, this is related to #738 in that our current CHANGES.md is just a markdown file in th

[2021-06-07 13:14] adrinjalali commented on #853
Yep, there's the changelog, and then there's the highlights. For now we don't have much stuff in each release for it to need the highlights. But I think the changelog should be on the website.

[2021-06-07 13:38] riedgar-ms commented on #756
There is also an alternative to @MiroDudik 's example of sneaking extra arguments in through `sample_params` above: use `DataFrame.to_dict(orient='records')` and `DataFrame.from_records()` to pack and unpack the data. Something like:
[code]
This might feel more natural for some parameters, rather than smuggling them in through `sample_params`.

[2021-06-07 14:17] adrinjalali commented on #850
@MiroDudik anything you could add before we open this for contributions?

[2021-06-07 14:49] riedgar-ms commented on #848
Is there any way to restrict this to our direct dependencies? For example, [in a recent build](https://dev.azure.com/responsibleai/fairlearn/_build/results?buildId=12007&view=logs&j=aa2fd561-a338-5537-45ee-49ae22aea958&t=7d222596-41fc-5765-4dd3-df02a80934d4&l=163) there's a deprecation warning on `ansiwrap` but that's being brought in by some other package.

[2021-06-07 15:00] adrinjalali commented on #848
I think you can ignore certain warnings:

https://github.com/scikit-learn/scikit-learn/blob/main/setup.cfg#L20

[2021-06-07 18:24] romanlutz opened #855 "Add versionadded and versionchanged to API reference"
Add `.. versionadded` and `.. versionchanged` to all methods (and classes if possible)

[code]

_Originally posted by @romanlutz in https://github.com/fairlearn/fairlearn/pull/854#r646574960_

[2021-06-08 16:41] nessamilan opened #858 "[Website Redesign] Replace Logo"
New logotype for word "Fairlearn" in progress

[2021-06-08 18:14] MiroDudik commented on #756
@riedgar-ms , @michaelamoako : I was thinking about the use case that you're talking about--when the metric is provided on a per example basis, and the task is to just evaluate averages over different slices. For that setting, one natural API would be something like

[code]

Your example with `to_dict` and `from_records` looks a bit too cryptic for my liking, but as a workaround it's okay. I think

[2021-06-08 19:44] romanlutz commented on #756
@MiroDudik I like this, but rather than adding lots and lots of possible arguments to `MetricFrame` that only really work for some precomputed use cases, I would suggest having a function, let's call it `from_frame` where you specify the columns
[code]
As a user I certainly would be confused about which args to provide if we keep on adding more and more. It's already quite a few that our average u

[2021-06-09 01:12] vishals2911 commented on #818
@romanlutz , @hildeweerts , @riedgar-ms Thanks team for your prompt responses...am also facing some kind of similar issues....please suggest how can we use XAI libraries with the model produced by Fairlearn threshold optimizer.

[2021-06-09 02:12] romanlutz commented on #842
Just a quick note: we may actually use Discord more actively now.

I recall worries about showing posts that go unfiltered (since anyone can really go on Gitter and post things) since showing them on the website looks like an endorsement. I would still vote against having this at all.

[2021-06-09 02:14] romanlutz commented on #839
Quick note: as of quite recently we now have the social links in a uniform color, but when you hover over them they turn into the color of the platform, e.g., light blue for Twitter, black for GitHub, etc.
The positioning is still according to pydata-sphinx-theme, of course.

[2021-06-09 02:44] romanlutz commented on #818
As @hildeweerts explained above there's no way around providing sensitive features for `ThresholdOptimizer`. I would go a step further and say that you shouldn't use it for any real-world application since it's mostly just a benchmark of how much you have to give up in terms of performance to reach parity in terms of a chosen metric across groups. That comes with a few quirks such as applying rand

[2021-06-09 07:39] hildeweerts commented on #795
@mmadaio did you manage to get some pointers on this from the folks at Microsoft?

Update from my side: It looks like I will be able to chat with the authors of the CRM in fairness paper somewhere in July!

[2021-06-09 07:53] hildeweerts commented on #842
@romanlutz to be clear, are you specifically voting against featuring Gitter conversations, or also the other items (Github issues, stackoverflow questions, twitter feed).

[2021-06-09 09:18] hildeweerts commented on #853
I agree we should add the changelog on the website! I'm not sure what would be the best place for it given the navbar items in the current design: Get started, Learn, API docs, Contribute, Community, About us

Some examples of other projects:
* pandas has a specific navbar item called *Release notes* in their documentation: https://pandas.pydata.org/docs/whatsnew/index.html (I only just now realiz

[2021-06-09 09:46] hildeweerts commented on #756
I agree with @romanlutz and I like the suggestion of a `from_frame` function - though we might need to find a way to make it very clear that this considers precomputed scores.

TBH, as a data scientist, I probably wouldn't even think to use Fairlearn in this case, because it's so easy to do it with pandas' `groupby`. But I do see the added value of being able to use the same data structure for the

[2021-06-09 12:36] riedgar-ms commented on #756
We've got two things going on here:

- Where we have a precomputed metric where we just need to slice it up by the sensitive features
- Where there are multiple 'columns' in `y_pred` and/or `y_true`

I definitely agree that not adding more arguments to the constructor is preferable - the static `from_frame()` approach @romanlutz  suggests would be better if there's a precomputed metric to be slice

[2021-06-09 13:15] MiroDudik commented on #756
**Re. static initializer** `from_frame()`: That works for me. I like it. However, some comments:
* What do we do about the [streaming API](https://github.com/fairlearn/fairlearn/issues/655) here? I think that this is actually a very nice use case for streaming metrics, because aggregation is super easy, but it would lead to a more complicated `add_data()`. This makes me think that rather than a st

[2021-06-09 14:14] nessamilan commented on #842
@romanlutz @hildeweerts

I think if we are moving away from Gitter to Discord, we should consider de-emphasizing Gitter throughout our experience or even replacing. Another option on the community page is to have the two chat platforms in a 2-column layout side by side instead of stacked so users can compare conversations, making a possible engagement decision easier.

For Gitter I recall us not b

[2021-06-09 14:16] romanlutz commented on #842
I'm against unvetted posts being featured, which pretty much leaves only Twitter.

We're not moving away from Gitter for the time being.

[2021-06-09 14:19] nessamilan commented on #842
Gotcha, that makes sense.

IMHO having just Twitter is okay, this allows us to elevate some portion of social. We could even include a lead in paragraph that highlights meetings and events announced through the Twitter account. Alternatively this could be it’s own module.

From: Roman Lutz ***@***.***>
Date: Wednesday, June 9, 2021 at 7:16 AM
To: fairlearn/fairlearn ***@***.***>
Cc: Vanessa Milan

[2021-06-09 14:29] hildeweerts commented on #842
I'd be happy with just Twitter as well!

[2021-06-09 16:11] romanlutz commented on #853
Thanks for the overview of what other projects do! Looks like it's not very standardized 🤣
Just one thing I want to add: right now we have the "version migration" guide as part of the user guide: https://fairlearn.org/main/user_guide/migrating_versions/index.html
I'm not opposed to moving it elsewhere, though, but I feel like it might make sense to have it in the same place as the changelog.
[Back

[2021-06-09 17:01] nessamilan commented on #846
See examples of Umbuntu and Open Sans applied:
[Homepage](https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2644%3A623)
[API Docs detail page](https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2644%3A368)

[2021-06-09 17:43] stephenrobic commented on #785
I will begin working on this issue, as I have some spare time and this seems like a doable step up from #812.

[2021-06-10 14:36] riedgar-ms commented on #756
Having a subclass `MetricFrameFromValues` feels odd - you'd be subclassing to close off functionality rather than adding it. We would also be adding quite a bit of code to handle a case which is very easy to handle with a simple wrapper function. Indeed, rather than making a new class, I'd rather provide a function factory which could do what `selection_rate()` does now (indeed, `selection_rate()`

[2021-06-10 18:50] romanlutz commented on #784
@galuhsahid I just wanted to check in how it's going. There's no particular time pressure, but if you need help let us know. Also, if you're not planning to continue we can make this available to someone else. We're also starting to do pair programming sometimes, so if that's interesting to you please don't hesitate to ask.

[2021-06-11 14:06] MiroDudik commented on #825
This issue is generating a lot of confusion. It's definitely not a good first issue. The solution is to:
* Make the navbar in the documentation pages look just like the navbar on the landing page. The landing page is the one that has been vetted.

[2021-06-11 14:23] romanlutz commented on #825
Reordering the items and renaming them in some cases seems like a very good first issue if you ask me. The only confusion arose from which part should be made consistent with which other part. Now it's just a fix in a single rst file.

[2021-06-11 15:41] MiroDudik commented on #825
Ok--I've updated my comment above. Besides reordering, some section titles may need to be updated.

[2021-06-12 17:07] galuhsahid commented on #784
@romanlutz Hello! Sorry for the delay, I'm currently working on the implementation plan and will reach out to ask for feedback before going ahead with the code.

[2021-06-12 19:32] romanlutz commented on #784
No problem at all! Reach out if you want to discuss anything :-)

[2021-06-15 06:06] kurianbenoy commented on #764
@romanlutz, was a bit busy the past few weeks. I couldn't work on it for a few weeks now, but I would definitely like to continue doing this if there is no time pressure.

[2021-06-15 06:59] romanlutz commented on #764
@kurianbenoy there is no pressure at all! Good to know, and let us know if there's any way we can help.

[2021-06-15 14:42] riedgar-ms opened #866 "Combining Metrics with Errors"
As we start thinking about computing errors on metrics, we need to consider the computation of quantities based on metrics whch have errors applied. The most obvious places for this are the `difference()` and `ratio()` methods of `MetricFrame`.

If we have nice, normally distributed errors, then we can simply add errors in quadrature (absolute or relative errors as appropriate). If the errors are

[2021-06-15 14:43] riedgar-ms commented on #866
Tagging @alexquach  and @michaelamoako too.

[2021-06-16 09:29] adrinjalali commented on #866
It's a good point. It also depends on how we calculate those bars, we could do bootstrap on the end result of a metric, which would be a bit computationally intensive, but gives us somewhat reliable results.

[2021-06-16 13:48] riedgar-ms commented on #756
Ping @hildeweerts @MiroDudik @michaelamoako

[2021-06-17 09:42] hildeweerts commented on #756
Re. `MetricFrameFromValues`: from a user perspective I think I would prefer a `from_frame` (or maybe `from_precomputed`?) function over a subclass, because it seems more natural considering the familiar `pandas` API that has 'normal' initialization and `from_csv()` etc.  I think the `add_data()` problem should be pretty easy to solve by adding an attribute `precomputed_` (or whatever you'd like to

[2021-06-17 09:55] #802 closed

[2021-06-17 12:43] riedgar-ms commented on #756
The factory function would be something like:
[code]
in which case we could define:
[code]
(note I have only written the code above, not actually tried it). There could be a similar `make_metric_from_y_true_function()` as well.

Does that make more senes @hildeweerts ?

[2021-06-17 13:51] hildeweerts commented on #756
Ah, yes, I see. Thanks for the explanation!

I can see the added value of the factory function, but I wonder how easy it would be for (novice) Fairlearn users to identify the need for it - particularly for those who skip the user guide.

I still think there's added value in having specific data structures for different types of ML tasks, rather than having to wrap functions to fit into the supervi

[2021-06-17 19:26] riedgar-ms commented on #756
Can you expand on `labels / labels_true / labels_pred` ? What's the third category for - I've generally been thinking of that '`y_pred` is anything coming from the model, and `y_true` is anything coming from the original data.'

If we did start allowing different names, how would me handle routing arguments? I'm concerned that if we try looking at our list of arguments, and using reflection on the

[2021-06-17 20:51] nessamilan commented on #858
**Updated logo for header**

[Logo Lockup](https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2672%3A2719)
Update using SVG. Note that colors will change based on finalized color theming

[2021-06-18 07:13] hildeweerts commented on #756
That is correct! `labels` is the equivalent `y` for clustering problems. For some reason there exist both supervised and unsupervised metrics to evaluate clustering results (https://scikit-learn.org/stable/modules/classes.html#clustering-metrics), hence the three categories.

[2021-06-18 07:22] hildeweerts commented on #756
I was thinking we could have a separate `SupervisedMetricFrame` that directly routes `y_true` and `y_pred` (if they're supplied) and `UnsupervisedMetricFrame` that directs `labels`, `labels_pred`, `labels_true`. In this way people who have specific use cases don't need to work with function factories. We could still have the generic `MetricFrame` + function factories to facilitate people who requi

[2021-06-18 07:39] hildeweerts commented on #858
Looks good, @nessamilan!

[2021-06-18 12:59] kstohr commented on #758
Hi all. I pushed a draft PR for this last night.  Take a look at the basic approach and give me feedback when you have a moment.

https://github.com/fairlearn/fairlearn/pull/869/files

 It's not passin CI/CD checks yet, still needs.

- more functional testing;
- unit tests
- improved example documentation
etc.

[2021-06-18 13:00] kstohr commented on #756
My issue with MetricFrame was that it computed the metric on instantiation which meant that the other methods could not be accessed unless I passed a metric. So you'll see in my attempt at a [roc_curves](https://github.com/fairlearn/fairlearn/pull/869/files) class that there is a psuedo metric (tks @MiroDudik, for that solution) to enable that class to take advantage of MetricFrame's `by_group` me

[2021-06-18 13:33] riedgar-ms commented on #756
@kstohr I'm a bit confused by what you mean by:

The _argument_ is obviously called `y_true` but it's type is certainly not required to be `int`.

[2021-06-18 13:38] riedgar-ms commented on #756
That sort of leads to the question "Then what is `y` as opposed to `y_true` and `y_pred`?". Scanning through the link to `sklearn` it appears that it's used for cases where the ground truth isn't known? If so, then would you always have either `y_true` and `y_pred` (`s/y/labels/` as appropriate) OR just `y` ?

[2021-06-18 14:06] hildeweerts commented on #756
I'm not sure if I understand your question correctly so sorry in advance if this is all obvious to you. But generally `y` is used for ground-truth during training, my guess is that the authors decided to not call it `y_true` here because there is no explicit counterpart `y_pred`. For evaluation we need to be more specific, hence `y_true` and `y_pred` (or `y_score`). Similarly, they use `labels` to

[2021-06-18 14:18] riedgar-ms commented on #756
@hildeweerts it might be that I'm just not fully used to the conventions - based on your description, it sounds like `y` and `y_pred` (similarly `labels` and `labels_pred`) are interchangeable - both refer to things coming from a model. Is that correct?

[2021-06-18 14:25] hildeweerts commented on #756
To make things more confusing for you generally speaking `y`/`y_true` are interchangeable and `labels`/`labels_pred`. The reason for this is that by default clustering problems don't really have a "ground truth" (otherwise we would probably be better off doing classification). The "Evaluation and assessment" section of [this wikipedia page](https://en.wikipedia.org/wiki/Cluster_analysis) describes

[2021-06-18 14:31] riedgar-ms commented on #756
@hildeweerts coming back to the API, though, are there metrics which would accept _three_ parameters - `labels`, `labels_true` and `labels_pred` ? It sounds like the answer is that there aren't, but I'd like to make sure I'm understanding things correctly.

[2021-06-18 14:44] hildeweerts commented on #756
You're right, there aren't. So that's a similar issue as metrics that don't use `y_true` (only `y_pred`) or that use `y_score` instead of `y_pred`.

[2021-06-18 14:53] kstohr commented on #756
@riedgar-ms

Yes. It's a nomenclature issue. When I see `y_pred`  I think it's the predicted labels. In fact, MetricFrame also allows you to pass other things in its place. Yes, it works. It's just not clear for the user.

And, in fact, all I needed to do was split the data by sensitive feature.  I strongly feel like that should be a class/module on its own. Then you can use it in combination or w

[2021-06-19 15:44] kurianbenoy commented on #764
@romanlutz how can I bring the docs website up?

https://fairlearn.org/main/contributor_guide/contributing_documentation.html. Is it by the command:

`make doc`

[2021-06-19 15:52] romanlutz commented on #764
https://fairlearn.org/main/contributor_guide/contributing_documentation.html should help 🙂

I don't have a preference between lab and notebook. How does it affect the task?

[2021-06-19 15:55] kurianbenoy commented on #764
Yeah it doesn't affect the task in hand. One issue, I am facing now is when passing dependencies in binder config, I am getting the below error

![image](https://user-images.githubusercontent.com/24592806/122648028-d23b1200-d144-11eb-8f99-fef3f3abd409.png)

[2021-06-19 16:07] kurianbenoy commented on #764
Also another thing is I am able to get the run binder button:
![image](https://user-images.githubusercontent.com/24592806/122648229-d87dbe00-d145-11eb-8c33-59f43b5f0b9b.png)

Yet on selecting it, I am getting this error

![image](https://user-images.githubusercontent.com/24592806/122648328-71acd480-d146-11eb-9dc9-bcb568bf7133.png)

I will be trying to debug these issue for a couple of hours more a

[2021-06-19 16:16] kurianbenoy commented on #764
@romanlutz just noticed when checking our docs/conf.py that the copyright is hardcoded. Can we make it dynamic like the Scikit-learn docs configuration?

https://github.com/scikit-learn/scikit-learn/blob/309f135c3284d7db6e23ca81a87948c7066a3949/doc/conf.py#L88

[2021-06-19 16:26] pritishaw1 commented on #814
Hi @romanlutz, I would like to contribute a notebook for this issue. I have used the dataset shap.datasets.adult() to train a neural network model, using TensorFlow and Keras. After this, I used the fairlearn library that displays a dashboard for testing the fairness of the model built. This could serve as the perfect example to use TensorFlow, along with the fairlearn library. I will create a pul

[2021-06-19 18:22] kurianbenoy commented on #764
I am a bit confused on what should we give for the `notebook_dir` parameter in binder configuration. In case of `scikit-learn` and `sphinx-gallery` configuration, they don't have any folder named notebooks in their repo. But that is not the case of fairlearn which has a notebooks folder.

Reference link:
https://sphinx-gallery.github.io/stable/configuration.html#binder-links

[2021-06-20 11:54] adrinjalali commented on #814
@pritishaw1 please note that it should be in the form of an example python file, and not a notebook. Check https://github.com/fairlearn/fairlearn/tree/main/examples for other examples.

I'm not sure what you mean by dashboard, but the dashboard is deprecated and you can use the alternative plotting functionality we have now.

I'm also not sure how you have use fairlearn with TF, but you probably s

[2021-06-20 11:58] adrinjalali commented on #764
maybe this would be of some help? https://github.com/scikit-learn/scikit-learn/tree/main/.binder

[2021-06-20 12:11] galuhsahid commented on #784
Hello! I would like to confirm a few things regarding the implementation:

1. Will the input type be pandas DataFrame?
2. For the output, should we return an array of the new weights?

[2021-06-20 12:29] kurianbenoy commented on #764
I will check it out. Maybe the postbuild file maybe helpful to solve the issue.

[2021-06-20 13:30] pritishaw1 commented on #814
@adrinjalali thanks for the response.

After reading through your comment, I am in a dilemma that whether the solution that I have would do justice to the issue.

Could you please help me a little more, by briefly explaining what exactly is expected as a solution to this issue?

[2021-06-20 13:36] adrinjalali commented on #814
Your scenario sounds good, but on the implementation side, fairleanr expects a scikit-learn compatible estimator, and the recommended way for people to wrap their TF models into a scikit-learn compatible estimator is by using https://github.com/adriangb/scikeras

And when it comes to visualization, please look at the recent updates such as https://github.com/fairlearn/fairlearn/pull/806 , https://

[2021-06-20 15:05] pritishaw1 commented on #814
@adrinjalali can you please verify if this is correct?

https://colab.research.google.com/drive/1olUuihBk_9JVH6lwA2AijKZFT_p61zU_?usp=sharing

I have implemented this in the jupyter notebook, where the dashboard is getting displayed, but as it is not supported with colab, it does not show up here.

Instead, if this is not what's needed for the example using TensorFlow, then please do let me know h

[2021-06-20 15:14] adrinjalali commented on #814
In that notebook, you're using the dashboard, and as I mentioned, you should instead use the matplotlib based plotting functionalities, and you can see examples of it in the three PRs I linked above. Your example should also not depend on SHAP, and should instead use our datasets module, or directly use `fetch_openlm` provided by scikit-learn.

Would it be maybe easier for you to start with one of

[2021-06-20 15:59] pritishaw1 commented on #814
Okay @adrinjalali, now I got it. I'll consider all the points that you have mentioned above, this time, and look out for its implementation.

I will also consider the other issues that you have listed above.

Thank you!

[2021-06-21 13:11] riedgar-ms commented on #756
I'm not really sure about how best to cope with that. One solution (which would of course break _everything_) would be to have our own names for the inputs - say `from_data` and `from_model` which should avoid the problem of existing conventions. There's then the question of how to route them to the underlying metric function. Currently we do that positionally - first argument is the 'true' column

[2021-06-21 18:16] romanlutz commented on #764
A few clarifications:
- Ignore the `notebooks` directory. These are only notebooks that existed before we started using `sphinx-gallery`. Eventually they'll either be migrated to the gallery format (basically using `.py` files with the magic markers to separate cells) or deleted.
- Examples/notebooks to render on the webpage are in the `examples` directory. So you can use whatever scikit-learn spe

[2021-06-21 18:35] romanlutz commented on #784
We typically accept a variety of input types. See the `fit` method of `ThresholdOptimizer`, for example: https://fairlearn.org/main/api_reference/fairlearn.postprocessing.html#fairlearn.postprocessing.ThresholdOptimizer.fit

![image](https://user-images.githubusercontent.com/10245648/122808989-6363d300-d282-11eb-9952-ba100e73b3c3.png)

In terms of API I would imagine that we have
[code]
After call

[2021-06-21 21:48] nessamilan commented on #846
@hildeweerts Thanks for the feedback! I updated the H1 line-height, it does look better tightened up!  Also, I changed the weight to light (from Regular), I think this adds a nice weight balance with the tighter line-height and text below!

[2021-06-22 09:16] adrinjalali commented on #784
Reweighing is gonna be tricky to have scikit-learn compatible until we have the "resamplers" on the scikit-learn side. For more info you can have a look here: https://github.com/scikit-learn/enhancement_proposals/pull/15

[2021-06-22 09:31] hildeweerts opened #872 "DOC: remove duplicates index example notebooks"
#### Describe the issue linked to the documentation

The lefthand side index of our [Example Notebooks](https://fairlearn.org/main/auto_examples) contains duplicate items. I think this is because some are [in the `toctree` of README.rst](https://github.com/fairlearn/fairlearn/edit/main/examples/README.rst) as well as in the automatically generated examples.

#### Suggest a potential alternative/fi

[2021-06-22 09:52] hildeweerts commented on #784
### re. API
If I recall correctly the implementation in AIF360 does something similar to what @romanlutz proposes. Quite a few of my students had issues with that, because it wasn't clear to them that they should retrieve the weights and pass them separately to the estimator. I can imagine we could add an (optional?) estimator argument in which case it would be used more like a wrapper than a sepa

[2021-06-22 09:57] hildeweerts commented on #756
I think this is an important discussion and I'd love to hear thoughts from other @fairlearn/fairlearn-maintainers as well here!

[2021-06-22 10:12] adrinjalali commented on #784
I wouldn't necessarily wait for hit @hildeweerts , but we also don't really have to. The meta estimator alternative mentioned [here](https://github.com/scikit-learn/enhancement_proposals/blob/c64044de8332b070eae9c7049a027133952d17eb/slep005/proposal.rst) which also has a prototype implementation on this PR:https://github.com/scikit-learn/scikit-learn/pull/13269 would be something we could already

[2021-06-22 10:13] adrinjalali commented on #756
It's quite a long conversation here, could you maybe summarize what we've got so far here, for the rest of us to be able to understand the conversation?

[2021-06-22 13:39] riedgar-ms commented on #756
### Summary

Per @adrinjalali 's request :-)

I think that we've got a few things going on here:

1. It seems that when users see `y_true` and `y_pred` they may think that `MetricFrame` only works for classification metrics, rather than more generally (really, they are `column_from_data` and `column_from_model` and even that meaning is only really imposed by the underlying metric function)
2. Some

[2021-06-22 17:36] Fyrebright commented on #872
Hello, I have made the change and verified it a local build. I will go ahead and make a PR.

[2021-06-22 18:17] kurianbenoy commented on #764
Ok, I am ignoring the notebooks section and using default value for notebooks. Also I have added requirements.txt in .binder folder.

[2021-06-23 17:30] romanlutz commented on #793
I unassigned @Zuzah who wants to make it available to whoever has time at the moment. Please reply here if you'd like to pick it up!

[2021-06-24 07:52] hildeweerts opened #874 "DOC: multi-version behaves weird on example notebooks"
#### Describe the issue linked to the documentation

When you go to the [example notebooks](https://fairlearn.org/main/auto_examples/index.html) page, it always shows whatever version you had previously selected and "Documentation page not present" for the other versions. This makes it impossible to switch versions once you're on the Example Notebooks page.

Examples:

<img width="1408" alt="image

[2021-06-24 14:21] #769 closed

[2021-06-24 15:20] pritishaw1 commented on #814
Hello @adrinjalali,
I have implemented a notebook for this issue, following the points that you've mentioned above.

I have used the fetch_openlm from sklearn.datasets and you said, that fairlearn uses scikit-learn compatible estimator, I've used scikeras for wrapping the TensorFlow model.

Besides, I also went for matplotlib based plotting this time, and have used fairlearn.metric for that.

Can

[2021-06-25 12:47] adrinjalali commented on #814
Yes, it looks much better, now you can add a story and comments around your code as you see in our `examples` folder. @MiroDudik and @hildeweerts would be probably better judges of the content and the story of the file.

[2021-06-25 15:18] pritishaw1 commented on #814
@adrinjalali Thanks for the review.
I will start with the story and the comments around the code and will reach out to the team soon, for their approval.

[2021-06-25 19:36] romanlutz commented on #814
The part I don't quite understand yet is how this will work with the dependencies (as mentioned in the issue description).

[2021-06-26 07:18] pritishaw1 commented on #814
@romanlutz For this, we can go by adding a code-block for the issue, so that people know that they can use TensorFlow with fairlearn.
And as you have recommended before that adopting this would ensure that the file does not get run during document build, we can overcome the issues of incompatible dependencies.

[2021-06-27 03:05] romanlutz commented on #814
The code-block is a directive, though, so that would perhaps work in the user guide, but not in the `examples`. In the `examples` we have code that's actually executed, so that won't work without taking a (dev) dependency on tensorflow/keras. So I'd suggest having the 3-5 specific lines of code needed for plugging tensorflow/keras classifiers into our mitigation techniques as the `estimator` argum

[2021-06-27 05:35] pritishaw1 commented on #814
Got it. So, as per your suggestions, I will go by adding some specific code lines for this, as a code-block in the user guide as subsection 3.1 under mitigation.rst, so that the dependencies are not disturbed. Here "fairlearn/docs/user_guide/mitigation.rst"

[2021-06-27 06:57] romanlutz commented on #814
@fairlearn/fairlearn-maintainers does that sound right to you?
In any case, the code-block shouldn't include all the code that would go into an example, but rather the important lines only (should be no more than a handful or so). I believe your current example only uses Fairlearn in assessment, but not yet for mitigation. Assessment isn't really different for tensorflow models since it's just abo

[2021-06-27 11:38] adrinjalali commented on #814
yeah I'd be happy not to include tensorflow as a dependency. Missed that about this issue.

[2021-06-27 13:33] pritishaw1 commented on #814
@adrinjalali @romanlutz So, shall I proceed, and add some specific lines of the code, addressing this issue, in the form of a code-block, under the user guide section?
And from some specific lines, I mean lines between 37 to 70, along with some important imports from this https://github.com/pritishaw1/Fairlearn_Tensorflow/blob/main/plot_tensorflow.py

[2021-06-27 16:26] galuhsahid commented on #784
Hi all, thank you for the answers! If I can summarize so far:
- the input will accept various types, namely: np.ndarray, pd.DataFrame, pd.Series, list depending on the parameters
- as for the output, the weights will be stored on the object
- the code will go to the `fairlearn.preprocessing` module

Shall we proceed with implementing the meta estimator alternative? I’m assuming this will also be s

[2021-06-28 12:49] riedgar-ms commented on #756
Pinging..... @adrinjalali  @hildeweerts  @MiroDudik  @michaelamoako @kstohr

[2021-06-28 13:44] kstohr commented on #756
@riedgar-ms Yep. That sums it up.

My reason for spitting out the `group_by` sensitive feature function is so that it can be used for descriptive stats and exploration. If you are running a metric and you are getting an error, it may be because a class is underrepresented, not represented at all, or is 'all true.' In these cases, we may need to know which class is impacted in order to handle it. I

[2021-06-28 19:37] romanlutz commented on #814
@pritishaw1 your example doesn't actually use our mitigation techniques yet. The classifier should be plugged into `ExponentiatedGradient` or `GridSearch` or `ThresholdOptimizer` (the last one only if we can get it to produce scores rather than binary output).

[2021-06-28 22:04] pritishaw1 commented on #814
@romanlutz Thanks for the details. I'll try using the mitigation techniques to it.

[2021-06-29 16:05] nessamilan commented on #833
Header: https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=2565%3A12134
- Links: Currently look too heavy and large. Expected: body 1 (open sans 13px semibold)
- Update link colors to Gray 2
- Links and Buttons: Added hover and active state colors to link above

Footer: https://www.figma.com/file/wt76z0M87RBDDEoyAEpD2g/OPEN-SOURCE-Fairlearn-Redesign?node-id=25

[2021-06-29 16:13] nessamilan opened #880 "[Website Redesign] Illustrations - WIP"
When complete, Illustrations will be added to:

- Homepage
- Get Started
- Learn Landing
- Community Landing

[2021-06-29 16:14] nessamilan commented on #880
@Jordan, can you provide location and instructions where and how we can swap in illustrations once they are complete? (right now this is homepage only since other pages are postponed).

[2021-06-29 19:15] romanlutz commented on #825
Let's keep this issue open since the associated PR(s) weren't merged as they preceded @MiroDudik's more specific instructions (on fixing the bar in all the other pages to make it consistent with the landing page, rather than the other way round). This is up for grabs for anyone who'd like to try! Just comment below.

[2021-07-01 09:33] romanlutz commented on #872
#873  was merged, so I'm closing this issue.

[2021-07-01 09:33] #872 closed

[2021-07-02 23:33] MiroDudik commented on #850
I think there was a historic reason to include this, because we ran into some bugs. So this is a somewhat bloated regression test. Agreed that `test_othermlpackages` is a better place for this. I think we should keep some tests with `LGBMClassifier`, but we should run LGBMClassifier with hyperparameters that make training fast (e.g., limit the number of trees).

[2021-07-07 09:22] adrinjalali opened #884 "Convert the README.md to an .rst file"
Our README.md is a markdown file, but we can have more flexibility if it's converted to an RST file, which would also be more consistent with the rest of the documentation.

The converted file can be checked for errors using `twine check`.

[2021-07-07 11:12] mjorgen1 commented on #484
Hi @romanlutz I have updated my fairlearn package to 0.6.2 and I've attached a picture showing my package versions. I'm still having issues with showing the fairlearn widget when using Jupyter Notebook on my local machine, even after restarting my kernel and refreshing the notebook page as well. I've included what I'm trying to run and the output, as well as the Firefox browser console showing som

[2021-07-07 16:04] Patil2099 commented on #884
I would love to pick this up.

[2021-07-07 16:56] romanlutz commented on #484
@mjorgen1 thanks for reaching out! If you can send me a minimal example (using the code block rendering in markdown, for example) that reproduces this issue on your machine that would be enormously helpful. Sadly, the widget is rather tricky to debug and the screenshots alone don't give me much of a hint of where things are going wrong.

Please also note that the widget has moved away from Fairlea

[2021-07-08 01:10] romanlutz commented on #874
Your assessment is correct @hildeweerts! @riedgar-ms filed an issue for this with sphinx-multiversion. I'm starting to wonder whether we'd be better off not using sphinx-multiversion and instead follow the approach scikit-learn uses. If I understand correctly that would involve building the doc pages separately and inserting a common nav part on each page with which one can move to the other versi

[2021-07-08 01:20] romanlutz opened #886 "DOC replace Gitter with Discord on the webpage"
#### Describe the issue linked to the documentation

Our website points people to Gitter even though our Discord is much more active and not mentioned anywhere. We should replace occurrences of Gitter with Discord.

- nav bar at the top
![image](https://user-images.githubusercontent.com/10245648/124847369-90d1a180-df4f-11eb-970f-1ca165260250.png) find code at `docs/conf.py`, specifically [these li

[2021-07-08 01:28] romanlutz commented on #821
Can anyone see a reasonable way forward in this issue?

The much more narrow issue of how to format metrics to avoid `5E-5` and instead have `.000` (restricted to some number of decimals) remains, of course. Or at least I'm not aware of any options we provide for people right now to configure that.

[2021-07-08 01:57] romanlutz commented on #95
To recap: we should add code to check whether the targets (`y`) are valid. We can use scikit-learn's `type_of_target`: https://github.com/scikit-learn/scikit-learn/blob/f2a6e109f7be6f0d554e44cb4cb48b41081dc259/sklearn/utils/multiclass.py#L201
For mitigation techniques only binary classification and regression are currently supported. If `type_of_target` returns anything else we should raise an err

[2021-07-08 02:17] romanlutz commented on #236
Plotting cumulative distribution functions by group could be useful for regression scenarios. We've actually done this in a [notebook](https://github.com/fairlearn/fairlearn/blob/main/notebooks/Mitigating%20Disparities%20in%20Ranking%20from%20Binary%20Data.ipynb) (search for `plot_and_compare_cdfs`).

This [post](https://stackoverflow.com/questions/25577352/plotting-cdf-of-a-pandas-series-in-pytho

[2021-07-08 02:22] romanlutz commented on #245
I think it's a good suggestion. It is quite a bit of engineering for this, but perhaps somebody wants to pick it up one day. 🙂

[2021-07-08 02:27] romanlutz commented on #254
This issue is too broad. I've fixed dozens of these little problems all over the code base (most recently #861), but if we want people to contribute in fixing these we need to create little and actionable issues. For example, whenever you stumble upon something that doesn't render properly open an issue and mention exactly where you encountered it (with screenshot and link) and what you expected (

[2021-07-08 02:27] #254 closed

[2021-07-08 02:32] romanlutz commented on #433
Thread summary:
- add a funding page to highlight which institutions supported contributors
- SECURITY.md is gone
- update from outside this thread: copyright for new files is only for "Fairlearn contributors", but no longer Microsoft.

I feel like the funding page should be it's own separate issue, and the other two are completed with no further action required. With that in mind I'd suggest clos

[2021-07-08 02:42] #504 closed

[2021-07-08 03:00] romanlutz commented on #645
I think in terms of where we want to end up #245 and this issue are identical. That goal would be to have equivalents of scikit-learn's
- https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/_min_dependencies.py
- https://github.com/scikit-learn/scikit-learn/blob/main/pyproject.toml

and to eliminate our
- requirements.txt
- requirements-dev.txt
- requirements-customplots.txt

Additional

[2021-07-08 03:00] romanlutz commented on #245
Closing this since #645 includes this work.

[2021-07-08 03:00] #245 closed

[2021-07-08 03:19] romanlutz commented on #665
As far as I remember we wanted to get our mitigation techniques to be passed into `Pipeline`s from sklearn. That's not possible right now since we require `sensitive_features` which currently can't be passed to the `Pipeline`. I believe @adrinjalali mentioned that passing things like `sensitive_features` might be possible at some point. I found the following SLEP which I *think* refers to this htt

[2021-07-08 03:37] romanlutz commented on #703
FWIW I haven't seen this in quite a while. Thanks @hildeweerts for raising it with OpenML folks, and obviously thanks to the OpenML folks who evidently made a few improvements on their side.

@hildeweerts do you want to keep this open?

[2021-07-08 03:57] romanlutz commented on #720
A first step would be to also enable the "right sidebar"

![image](https://user-images.githubusercontent.com/10245648/124860099-f0d34280-df65-11eb-8f98-6772fd7f0bb2.png)

https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/sections.html#the-right-in-page-sidebar

[2021-07-08 04:05] romanlutz commented on #752
Action item: add a short example like the one shown above by @hildeweerts to the user guide section on metrics with grouping: https://fairlearn.org/v0.6.2/user_guide/assessment.html#metrics-with-grouping

[2021-07-08 04:12] romanlutz commented on #796
What's a good way forward here?
@riedgar-ms for the error bars you presumably use another package to calculate the bounds, right? Can't we do the same for these tests?

[2021-07-08 04:17] romanlutz commented on #818
Closing this issue for now. If there are further questions please reopen. We can also consider explicitly supporting compatibility with some explainers, although I would discourage using blackbox explainers for some of our mitigation techniques as explained above.

[2021-07-08 04:17] #818 closed

[2021-07-08 04:20] romanlutz commented on #825
Some more information: the top navbar seems to be configurable as described in https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/sections.html#the-navbar-items

The default templates are at https://github.com/pydata/pydata-sphinx-theme/tree/master/pydata_sphinx_theme/_templates

[2021-07-08 04:26] romanlutz commented on #852
I want to add that any contribution doesn't need to tackle all of these. Even just one is a step forward!

[2021-07-08 04:29] romanlutz commented on #853
This is also highly related to #738 and basically builds upon it. Whoever sets up the changelog as an ReST file can probably tackle both at the same time.

[2021-07-08 09:19] hildeweerts commented on #703
@romanlutz let's close for now, if the issue pops up again we can always reopen :)

[2021-07-08 09:50] hildeweerts opened #888 "DOC Add funding page to highlight institutions that support Fairlearn"
From #433: add a funding page to highlight which institutions support(ed) the development of Fairlearn, similar to [scikit-learn](https://scikit-learn.org/stable/about.html#funding) or [pandas](https://pandas.pydata.org/about/sponsors.html).

Two open questions:
* *Where should the page live?* I think a section under *About Us* would make the most sense. Additionally, we could add some logos and/o

[2021-07-08 09:52] hildeweerts commented on #433
Sounds good, @romanlutz. I have opened #888 for the funding page and will close this.

[2021-07-08 09:52] #433 closed

[2021-07-08 11:49] riedgar-ms commented on #821
I maintain that this is a text-formatter issue, not Fairlearn per se - and a potential nightmare of edge cases.

[2021-07-08 12:00] hildeweerts commented on #821
A quick google search revealed quite a few options to change the display format in pandas: https://re-thought.com/how-to-suppress-scientific-notation-in-pandas/

We could add this as an example to the user guide, but I agree that it is probably more related to pandas than Fairlearn.

[2021-07-08 12:07] bram49 commented on #831
Hello! I will be picking this up as a good first issue to get familiar with open-source development.
I will change the two comments and scan the document for more increase / ascending mistakes.

[2021-07-08 12:22] riedgar-ms commented on #821
The `%` format option could help as well, by lopping off some of the leading zeros.

[2021-07-08 12:47] bram49 commented on #831
Send out a pull request.
Hope I did everything right, if not please let me know.
This will be my first contribution to fairlearn :)
https://github.com/fairlearn/fairlearn/pull/889

[2021-07-08 12:57] alexquach commented on #235
I'm working on this.

[2021-07-08 14:15] matthew-so commented on #855
I'd be interested in picking this up.

[2021-07-08 14:46] adrinjalali commented on #855
@matthew-so please tackle this issue one file/module at a time. You can figure out when things were added to the library with the help of `git blame` or gitlens on VSCode for instance, and checking the repository's history and changelog.

[2021-07-08 14:47] matthew-so commented on #855
Got it; thanks for the advice!

[2021-07-08 15:25] riedgar-ms commented on #756
# Summary

This is a second attempt to summarise the discussion to date, with the goal of reaching a conclusion. The previous summary was overly summarised.

## Current Status

As proposed at the the beginning of the thread, we are in the process of moving to requiring named arguments for `MetricFrame`. We have just released `v0.7.0` which issues a warning if positional arguments are used; with `v

[2021-07-08 16:20] #831 closed

[2021-07-08 17:42] romanlutz commented on #800
This issue is up for grabs again 🙂

[2021-07-08 18:25] adrinjalali commented on #874
Yes, that's correct. You independently would build the docs for different versions, which also makes a few things easier for us (like removing dependencies)

[2021-07-08 18:26] adrinjalali commented on #886
How do we get a permanent discord invite link?

[2021-07-08 18:28] adrinjalali commented on #665
What we can do, is to pass a `Pipeline` to our mitigation techniques, which includes the preprocessing part. There's a bug in validating the input in our side which prevents us from doing so, but otherwise it would work.

[2021-07-08 18:44] adrinjalali commented on #888
I'm happy with either pandas or sklearn style

[2021-07-08 21:26] ziqi-ma opened #890 "Generalization issue of equalized odds (exponentiatedgradient and thresholdoptimizer)"
Hello,

I ran into the problem of generalization in enforcing equalized odds - if I equalize on training set, on test set I get quite unfair (significant after bootstrapping) performance. The test data is not out of distribution. I tried both thresholdOptimizer and exponentiatedGradient, and ran into generalization issues in both. I am wondering if this is a common issue.

[2021-07-08 22:27] romanlutz commented on #888
I prefer the scikit-learn style. So much nicer with logos and clear description.
Section within "About Us" works for me.
I think we also need to curate a list of what would be included so far. Perhaps I can get started with that.

[2021-07-09 06:12] hildeweerts commented on #886
@adrinjalali You can set the settings of the invite link under ‘link settings’. This link will allegedly never expire and has unlimited uses: https://discord.gg/R22yCfgsRn

[2021-07-09 08:09] shimst3r commented on #886
Following the instructions, `make doc` yields the following warning:
[code]
Is this expected or did I miss something in the setup process? :nerd_face:

[2021-07-09 08:48] romanlutz commented on #886
The latest version mentions the pandoc installation: https://fairlearn.org/main/contributor_guide/contributing_documentation.html
It's not related to the icons, though, so it's up to you whether you want to do that.

BTW this is the right icon https://fontawesome.com/v5.15/icons/discord?style=brands and the color should probably be sort of like this: https://en.wikipedia.org/wiki/Discord_%28softwa

[2021-07-09 10:02] adrinjalali commented on #756
I personally don't mind this inconsistency.

As for the rest of the proposal, I find it way too complicated, and not very user friendly, and hard to explain to users.

I would rather settle for a middle ground where we leave `MetricFrame` unchanged, and have a `DatasetMetricFrame` which accepts only one `y`. An API which supports all possible cases is an overly complicated one which is designed to

[2021-07-09 17:17] romanlutz opened #892 "DOC typo in control features documentation"
#### Describe the issue linked to the documentation

![image](https://user-images.githubusercontent.com/10245648/125114348-bae5a980-e09e-11eb-983b-47b366148eba.png)

should be

![image](https://user-images.githubusercontent.com/10245648/125114400-c89b2f00-e09e-11eb-9264-13653286df06.png)

[2021-07-09 20:26] #886 closed

[2021-07-09 20:54] romanlutz commented on #666
This issue is still up for grabs, but whoever wants to do it can start from where @rishabhsamb and I left off which is captured in this branch: https://github.com/rishabhsamb/fairlearn/tree/refactored-input

There's quite a bit of input validation we needed to refactor first because the validation is almost identical to what we're doing for mitigation techniques, but doesn't require certain parts

[2021-07-09 21:27] nishit-prasad commented on #892
Hello, I'm new and would like to contribute by starting small and then making my way up.
Can this be assigned to me?

I believe the necessary change has to be made here?https://github.com/fairlearn/fairlearn/blob/main/docs/user_guide/assessment.rst

[2021-07-09 22:29] romanlutz commented on #892
That's correct @nishit-prasad ! It should say `control_features`. I'll assign it to you 🙂

[2021-07-09 23:07] romanlutz commented on #890
@ziqi-ma you may want to take a look at #460 which goes in depth about this topic. If there are additional questions feel free to reopen. Thanks!

[2021-07-09 23:07] #890 closed

[2021-07-10 09:51] #884 closed

[2021-07-10 14:59] shimst3r commented on #736
Sounds like a good issue to delve into the source code, I take it. :nerd_face:

[2021-07-11 01:35] romanlutz commented on #736
Excellent! Reach out if you have questions 🙂 And if you post a PR it's always great to post it with a screenshot of what the result looks like. Otherwise you basically force the reviewers to build the docs themselves (since our CircleCI build isn't correctly picking up the branch version (see #819).

[2021-07-11 10:26] shimst3r commented on #736
Haven’t thought of the screenshot, that’s really good advice. 👍

To make sure I understood the task correctly: I’ll go through functions and methods and document which of them uses external dependencies, correct?

And what’s the difference between a soft and a hard dependency and should I mark them differently?

[2021-07-11 13:49] adrinjalali commented on #736
Hard dependencies are the ones included in `setup.py` and are installed with `pip install fairlearn` on a fresh environment (along with their dependencies which we don't care about and don't document).

You don't need to document hard dependencies. And those are the `import` statements you see on top of the files. Soft dependencies are usually ones which are done in a try-except clause or as a par

[2021-07-11 14:38] shimst3r commented on #736
Got it, thanks @adrinjalali!

[2021-07-11 16:30] kurianbenoy commented on #730
Can I work on this issue? As a first level, we can add a link at the end of each section to point read more in User Guide and Example Notebooks. After which we can add individual examples in places were it's required

[2021-07-12 09:12] hildeweerts commented on #730
Sounds good, @kurianbenoy! Let us know if you need help finding the appropriate section in the user guide for each class/function.

I think we can split this up into several issues, at least one for links to the user guide and another for adding examples. Could you open a new issue for adding examples, @kurianbenoy? You can link the current issue in the description.

[2021-07-12 10:22] kurianbenoy opened #894 "Add code examples for API Reference section"
#### Describe the issue linked to the documentation

This issue is related to adding usage examples in API reference guide. When some one is stumbling into API reference of Metrics Frame, a code example showing usage will greatly help the user.

For more context check the issue #730, https://github.com/fairlearn/fairlearn/issues/730#issuecomment-878110294

[2021-07-12 15:01] bram49 commented on #800
I would like to pick this up

[2021-07-12 15:48] shimst3r commented on #736
With a bit of thinking, I came up with the following way of identifying the soft imports:

[code]

Among a few false positives, this yields

| File                                              | Dependency |
| ------------------------------------------------- | ---------- |
| fairlearn/fairlearn/postprocessing/_plotting.py   | matplotlib |
| fairlearn/test/unit/postprocessing/test_plots.py  | matp

[2021-07-12 15:54] romanlutz commented on #736
This is consistent with my mental model! We can skip the teat files, of course, so only 1 is left. There are several other PRs that will add matplotlib to the metrics module, so we'll need to keep in mind to update the table then!

[2021-07-12 16:03] shimst3r commented on #736
Apart from adding the table to the documentation somewhere sensible, should I also add the necessary `extras_require` to `setup.py`?

[2021-07-12 19:40] nishit-prasad commented on #892
@romanlutz PR is up and ready! 😄

[2021-07-13 02:02] romanlutz commented on #736
We actually don't want it to be a part of `setup.py` and there's a reason behind having it in a requirements file 🙂 This way you can just specify `pip install -r requirements-customplots.txt` without having to care about the contents. Long-term there is #645 to improve this structure a bit following scikit-learn's approach, but this particular issue here is really only about creating the table in

[2021-07-13 07:51] #892 closed

[2021-07-14 02:34] MG-Microsoft opened #897 "Mitigation with Fairlearn for Regression"
#### Is your feature request related to a problem? Please describe.
I have trained a regression model for predicting wait time in hospitals and would love to showcase it as ademo for MST customers that how fairlearn can help to mitigate for this regression model while there is no regression support for mitigation in Fairlearn now!

#### Describe the solution you'd like
Desigin a similar module tha

[2021-07-14 02:39] MG-Microsoft opened #898 "Bug in mitigation using Fairlearn on Azure AutoML models"
#### Describe the bug

`GridSearch` is being too restrictive when validating its inputs, rejecting data which it should be able to handle

#### Steps/Code to Reproduce

[code]

#### Expected Results

That the `sweep.fit()` call works

#### Actual Results

[code]

Obviously our call to `check_X_y()` is too restrictive.

[2021-07-14 08:18] hildeweerts opened #899 "DOC sphinx fairlearn logo link is broken"
#### Describe the issue linked to the documentation

Currently, the Fairlearn logo in the docs generated by sphinx points to *"../_static/_static/images/fairlearn_full_color.png"* which doesn't exist.

~~It seems that '_static' is currently prepended in `html_logo = "_static/images/fairlearn_full_color.png"` in conf.py even though we also define the `html_static_path = ['_static']`. I expect that

[2021-07-14 08:30] hildeweerts commented on #897
Hi @MG-Microsoft. Our `reductions` module offers support for regression tasks. You can find more information in our [user guide](https://fairlearn.org/v0.6.2/user_guide/mitigation.html#fairness-constraints-for-regression).

Please let me know if this answers your question.

[2021-07-14 08:44] svenkat19 commented on #899
I have replaced `html_logo = "_static/images/fairlearn_full_color.png"` in conf.py. Is there anything else I must look into? Pls guide me

[2021-07-14 08:46] shimst3r commented on #736
Okay! Now that @hildeweerts gave her thumbs up, I'll go ahead today and work on the PR. :muscle:

[2021-07-14 08:49] hildeweerts commented on #899
Hi @svenkat19! Did you open a pull request for the change? You can find more information on how to contribute to fairlearn in this helpful guide by @romanlutz: https://github.com/romanlutz/fairlearn-scipy-sprint/blob/main/README.md

And specifics on how to build the documentation locally can be found here: https://fairlearn.org/main/contributor_guide/contributing_documentation.html

[2021-07-14 08:57] hildeweerts opened #900 "DOC update fairlearn repository overview"
#### Describe the issue linked to the documentation

The [Fairlearn repository overview](https://fairlearn.org/main/contributor_guide/fairlearn_repository_overview.html) on our website is outdated. In particular, Visualization source code is no longer in the visualization directory.

#### Suggest a potential alternative/fix

* remove "Visualization source code in the visualization directory"
* add

[2021-07-14 11:56] MG-Microsoft commented on #897
Thank you so much for your reply!
If I understood properly, this reduction method for regression is a post-processing method while in classification (using GridSearch), we can mitigate within the training process. So, we do not support a similar thing in regression? That was my feature request.
Also in bounded group loss example of your link, we have  :
bgl = BoundedGroupLoss(ZeroOneLoss(), upper_

[2021-07-14 12:07] riedgar-ms commented on #898
I will see about creating a more compact reproducer. I don't believe this is related to AzureML/AutoML per se. It's that when `GridSearch` validates its inputs, it's too restrictive in the call to `check_X_y()`

[2021-07-14 12:09] riedgar-ms commented on #897
Sorry, we must have miscommunicated in our call. The `reductions` methods always work by retraining the models in various ways.

[2021-07-14 12:27] hildeweerts commented on #897
Hi, @MG-Microsoft.

The reductions approach does not work as a post-processing algorithm for an existing machine learning model but more like a 'wrapper' over a learning algorithm.
An example of how we can use `GridSearch` can be found [here](https://fairlearn.org/v0.7.0/auto_examples/plot_grid_search_census.html#mitigation-with-gridsearch). In the regression scenario, you can replace the `Demogra

[2021-07-14 17:09] romanlutz commented on #897
From a technical standpoint your answer is absolutely correct @hildeweerts. As mentioned elsewhere we always advocate for being mindful of your application context. `BoundedGroupLoss` is the only regression constraint we currently support, but that doesn't necessarily mean that it's appropriate for your context.

I will close this issue since it's a misunderstanding/question that's been answered,

[2021-07-14 17:09] #897 closed

[2021-07-15 00:09] romanlutz commented on #900
Taking a step back: is that a useful page to have? [I created it so I don't feel bad questioning this 🤣 ]

[2021-07-15 07:45] hildeweerts commented on #900
I can imagine that the repo can be a bit intimidating for new folks looking to contribute to the project, although right now there might not be enough information on this page for it to be really useful.

I'd be curious to hear what some of our newer contributors think @shimst3r @bram49 @alexquach @kurianbenoy

[2021-07-15 17:44] riedgar-ms commented on #898
Updated the description to code which should work when run on anyone's machine.

[2021-07-16 07:01] romanlutz commented on #757
FYI I tried setting this up tonight. The YAML pipeline definitions were easy to link to the new ADO organization. However, it only auto-queues the pipelines on one org, so that's still currently the "old" organization until I can make sure everything works properly in the new one. So obviously I kicked off a run of one of our pipelines to check whether it does indeed work properly. Surprisingly, I

[2021-07-16 10:09] shimst3r commented on #900
I stumbled upon that page by chance, but didn't get anything out of it very much (sorry @romanlutz :sweat_smile:).

What *might* be a good idea in my opinion would to move this section out of the documentation, into the README (or somewhere else closer to the "raw" source code). That's where I'd look for an explanation of the repository intuitively and have so for other projects in the past.

This

[2021-07-16 20:18] romanlutz commented on #819
By default it seems to check for the `main` branch of the `fairlearn/fairlearn` repo rather than the PR branch, so we'd need to fix that.

[2021-07-17 16:33] coreysharris commented on #793
Hi @romanlutz, I'd like to help here.

[2021-07-17 18:00] MikeyHV commented on #827
Hello! I will try and work on this issue.

[2021-07-17 18:22] #736 closed

[2021-07-20 08:21] romanlutz commented on #757
As of right now I've migrated all pipelines and disabled all but the release pipeline in the old organization. The release pipeline is a bit special due to the required service connections to PyPI and test-PyPI. I've created those for now, but we have to run an actual release to confirm that they work.

If any issues occur please flag them here @fairlearn/fairlearn-maintainers

[2021-07-20 08:46] romanlutz opened #910 "TST xgboost tests are failing"
The error occurs in our `othermlpackages` tests, and the most recent logs can be found at https://dev.azure.com/fairlearn/Fairlearn/_build?definitionId=5&_a=summary

At first glance it seems like a `FutureWarning`. This has been failing since July 5th (without any change compared to July 4th) which is roughly when pandas released a new version. Technically that was 3 days earlier, but I confirmed

[2021-07-20 09:55] hildeweerts commented on #795
Some interesting resources
* "How We Collect Data Determines Whose Voice Is Heard" - guide towards DEI in data collection https://www.schusterman.org/blogs/rella-kaplowitz/how-we-collect-data-determines-whose-voice-is-heard
* "STRAIGHTWASHING THE CENSUS" https://lawdigitalcommons.bc.edu/cgi/viewcontent.cgi?article=3814&context=bclr
* "What you need to know (at a minimum)  about your social identit

[2021-07-20 10:08] hildeweerts commented on #795
Some thoughts on the question "what to do with small groups":
* What are strategies to group smaller categories in a meaningful way (i.e., without lumping them together in some 'other' category), e.g., based on the type of experience.
* How to balance the privacy of small groups and explicit representation?
* What are ways to ensure the categories are *contextual*? e.g., pose as an open question,

[2021-07-20 13:46] adrinjalali opened #911 "Enable Reweighing to handle categorical output instead of only 0/1"
From: https://github.com/fairlearn/fairlearn/pull/906#discussion_r673118210

Some of our algorithms require the output to be 0/1. However, they only need the output to be categorical, and in case of binary classification they need to know which one is the positive label, i.e. `pos_lable`. This issue is to fix those instances.

[2021-07-20 13:46] #898 closed

[2021-07-20 14:19] adrinjalali commented on #736
@romanlutz

I'm wondering if `pip install -r requirements-customplots.txt` is something users are gonna be doing. We're passed the time when users would clone the repo and install from source. They should be ideally `pip install`ing the package, and most people shouldn't be looking at the repo at all.

[2021-07-20 14:24] adrinjalali commented on #900
My preference would be somewhere in the documentation, linked from the contribution guidelines. But I don't have a strong preference as long as people can find it while reading the contributing guidelines.

[2021-07-20 15:26] romanlutz commented on #736
I was referring to contributors here because users can already pip install with the corresponding extra. Anyway, there's already another issue #645 to convert all of these into something more like what sklearn has.

[2021-07-20 16:49] shimst3r commented on #704
This sounds boring, I'll take it! :grimacing:

[2021-07-20 16:59] mjorgen1 commented on #484
Hi @romanlutz, Given your advice, I updated Fairlearn and downloaded/imported raiwidgets, updated my kernel and refreshed the page, and wala! It worked. Thanks so much for your help! :)

[2021-07-20 17:48] shimst3r commented on #720
Let me help. :)

[2021-07-20 19:05] romanlutz commented on #720
@shimst3r go ahead 🙂

[2021-07-21 16:31] romanlutz commented on #911
We may want to separate this into several issues (one per algorithm) if it turns out to be a lot of work. I do expect there to be a lot of common foundational work that can be shared by all of them since they already share the input validation code.

[2021-07-21 16:52] adrinjalali commented on #911
This issue certainly doesn't have to be fixed in a single PR, we could update the description and list the algorithms which are relevant and go through them one by one, or we could have a separate issue for each, I'm easy either way.

[2021-07-22 07:17] romanlutz commented on #910
In the release notes they say we should use groupby instead
https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.3.0.html

[2021-07-22 10:46] riedgar-ms commented on #757
The approval is controlled by the 'environment' portion of the job:
https://github.com/fairlearn/fairlearn/blob/a68e74ec90ce99f00446b0b8fe53203f61f640b3/devops/pypi-release-new.yml#L169
which point at:
https://dev.azure.com/responsibleai/fairlearn/_environments

[2021-07-22 13:38] riedgar-ms commented on #756
First, my apologies @adrinjalali  for not responding sooner.

For `MetricFrame` itself, I've very happy with leaving it with its current form (as I mentioned above).

I'm not quite sure what you're describing with `make_scorer()`. Are you saying that users would make a call along the lines of:
[code]
and then pass `my_metric_fn` to `FlexibleMetricFrame` (or whatever we call it... I'm not a huge fa

[2021-07-22 16:45] shimst3r commented on #720
@romanlutz if I understand the pydata sphinx documentation correct, I have to add a [my own template](https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/sections.html#add-your-own-html-templates-to-theme-sections) for this, as [this issue](https://github.com/sphinx-doc/sphinx/issues/6316) points out there is no way of generating TOC items from functions etc. at the moment.

Any opinio

[2021-07-22 17:33] michaelamoako commented on #866
If they're calculated using standard error (symmetric bounds), how might we bootstrap an end result on a metric like Recall for example @adrinjalali ? Assume we want to understand the bounds around Recall difference (we have the bounds around Recall per subgroup)

[2021-07-22 17:44] romanlutz commented on #720
You're not trying to change the layout I think, but rather to split pages into more pages and have overview pages. Correct me if I'm wrong!

That means you might be fine with just using another layer of index.rst per module (?)

It may be a good idea to compare with scikit-learn which already does what @hildeweerts is looking for. I'll try and check but may not get to it this week.

[2021-07-22 21:30] MiroDudik commented on #866
@michaelamoako : the idea would be to generate, say 1000 bootstrap samples and calculate the quantiles of all the entries in `by_group` as well as the quantiles of `difference()`, `ratio()`, `group_min()` and `group_max()`. With 1000 bootstrap samples, we have enough data to calculate 95% confidence intervals. So with bootstrap, we would be reporting confidence intervals for everything.

[2021-07-23 01:20] #910 closed

[2021-07-23 02:03] romanlutz commented on #757
@riedgar-ms Excellent! I found it and set it to the "Fairlearn team" which includes all @fairlearn/fairlearn-maintainers

![image](https://user-images.githubusercontent.com/10245648/126729162-4797e84c-1076-416c-8541-964ad43768ac.png)

However, I still don't know how to fix the twine upload. Any idea? Is there some additional setup that needs to happen?

[2021-07-23 02:31] riedgar-ms commented on #757
What's the problem exactly? That environment setup should mean approvals are required.

[2021-07-23 02:33] romanlutz commented on #757
The issue that happened the first time was (copying from above):
- It failed on that upload https://dev.azure.com/fairlearn/Fairlearn/_build/results?buildId=53&view=logs&j=4ae3a96a-b4ee-5b04-2d89-6bbd7e6eea8b&t=fdbebb0b-6c1c-59d8-48cb-529d65e04071 Apparently some twine endpoint needs to be set up.

I'm rerunning right now since the approval is set up, but something tells me the approval has nothin

[2021-07-23 02:42] riedgar-ms commented on #757
Ahh sorry. Thought it was still not prompting for approval. That looks like the creds may be missing?

[2021-07-23 07:32] romanlutz commented on #757
https://dev.azure.com/fairlearn/Fairlearn/_build/results?buildId=75&view=logs&j=4ae3a96a-b4ee-5b04-2d89-6bbd7e6eea8b&t=fdbebb0b-6c1c-59d8-48cb-529d65e04071

Where do I set the creds? I created the service connection https://dev.azure.com/fairlearn/Fairlearn/_settings/adminservices and uploaded the auth tokens from PyPI and PyPI Test there. I thought that would do it.

[2021-07-23 09:54] adrinjalali commented on #866
@MiroDudik my stat is kinda rusty, but do we need 1000 for the confidence interval to be kinda reliable? We could of course have that number as an input argument as well.

[2021-07-23 11:05] riedgar-ms commented on #757
Hmmm.... that sounds right. It's been a while since I set this up :-/

[2021-07-23 23:12] romanlutz opened #915 "MNT Bump requirements for compatibility with python 3.9"
Some of our min requirements don't exist in Python 3.9, e.g., scikit-learn seems to have adopted python 3.9 in version 0.24, whereas our nightly "requirements-fixed" build runs with our minimum requirement of 0.22.1 and fails accordingly.

Should we bump our min requirements to

[code]
from currently
[code]
(and probably several others in requirements-dev.txt as well as `matplotlib>=3.4.0` for req

[2021-07-24 08:53] romanlutz commented on #665
I just tried it out locally. It actually just works! I'll send out a (few?) PR(s) asap to create a notebook that shows this and then reference it everywhere else. This will also be super useful in #614 .

[2021-07-25 07:59] romanlutz commented on #665
Update: I created #916 but I can't seem to extract the code WITH output from the examples to show in the new user guide for #614  which is a shame because it would mean that I have to duplicate it after all. I thought I might be able to use the same example and just `literalinclude` all over the docs. @adrinjalali do you know of a fix for that?

Additionally, `Pipeline` seems to fail `check_is_fit

[2021-07-25 09:03] romanlutz commented on #757
Still no progress on this, but it occurred to me that we have some references to the old org in our docs. Searching for `responsibleai/fairlearn` yielded 4 results, so those will need to be removed as part of this issue as well.

[2021-07-25 15:50] adrinjalali commented on #915
Min requirements are usually not the same for all versions of python. To me, min requirements are tested with the oldest python we support, not with the newest one. Although I'm usually on the side of having newer dependencies, but I don't think we need to update what `pip install fairlearn` _requires_ just because the situation under the latest python says so.

[2021-07-26 08:49] romanlutz commented on #738
I've started taking a stab at this. My upcoming PR moves the previously called CHANGES.md to the website (it's a lot harder than it sounds! 🤣 ). From there we can add a line per PR, and then distill that into highlights (basically a kind of TL;DR section I'm thinking...).

Open questions:
- Where should this live? You can tell I just merged it with the installation and migration guide.
- Should th

[2021-07-26 17:39] #888 closed

[2021-07-27 08:27] adrinjalali commented on #665
I personally wouldn't be too bothered by not having the output there, having the bit of code is a good middle ground (at least for now) anyway.

As for the `Pipeline` issue, yep, it's our bad, and working on it, see https://github.com/scikit-learn/scikit-learn/pull/9741

[2021-07-29 09:47] hildeweerts commented on #915
I think I'd prefer a situation where having the minimum requirements installed will always work, which is not the case for the current requirements, right? I'm not sure whether that's realistic though... How does scikit-learn deal with this, @adrinjalali?

[2021-07-29 16:21] romanlutz commented on #915
@hildeweerts that's what I assumed as the expected situation before @adrinjalali's post. I do see the benefit in what @adrinjalali suggested, since it's not actually guaranteed that the latest working version of a package supports both Python 3.6 AND Python 3.9 (if they've already moved on to 3.7). We could have a python version-specific set of requirements, but that's not ideal either and doesn't

[2021-07-29 23:18] ziqi-ma opened #922 ""Phase 1 of the simplex method failed to find a feasible solution" error in linprog of ExponentiatedGradient"
#### Describe the bug

I got the error "ValueError: Phase 1 of the simplex method failed to find a feasible solution. The pseudo-objective function evaluates to 1.2e+02 which exceeds the required tolerance of 1e-09 for a solution to be considered 'close enough' to zero to be a basic solution. Consider increasing the tolerance to be greater than 1.2e+02. If this tolerance is unacceptably large the

[2021-07-29 23:28] ziqi-ma opened #923 "Support minibatch training"
#### Is your feature request related to a problem? Please describe.
It is hard to train with large data/high-dimension language embedding with fairlearn because it requires passing in the whole x matrix, which results in out-of-memory.

#### Describe the solution you'd like
Accept minibatch training. (I know for ExponentiatedGradient it requires the same data every run, but this should be fine if

[2021-07-30 02:27] romanlutz commented on #923
@MiroDudik this sounds like a use case that's similar to your ideas on scalability.
@Dref360's streaming metrics may also be related.
Just tagging both of you as FYI in case you'd like to comment.

[2021-07-30 09:29] hildeweerts commented on #915
Thank you for explaining it further @romanlutz. Sounds very reasonable.

A related question: how do we decide to drop support for a particular version of Python?

[2021-07-30 23:45] romanlutz commented on #915
We don't 🙂 We just follow what NumPy does: https://numpy.org/neps/nep-0029-deprecation_policy.html
In particular:
[code]

[2021-08-02 14:50] bram49 commented on #668
Hi @romanlutz, I would like to pick this up

[2021-08-02 23:20] romanlutz opened #924 "DOC Fix CITATION.cff formatting"
It looks like I formatted it the wrong way when adding the file in #921 and hence it doesn't render properly

![image](https://user-images.githubusercontent.com/10245648/127935204-8543b8a3-b334-4724-9420-9397be4a0a3b.png)

https://github.com/fairlearn/fairlearn/blob/main/CITATION.cff

[2021-08-02 23:28] romanlutz commented on #668
Sure thing, @bram49 ! To be quite honest, I'm not entirely sure where this will lead. You can play around with the samples we have in the documentation https://fairlearn.org/main/user_guide/assessment.html#plotting-grouped-metrics and see if there's a good way to showcase the control features.

You can basically do the same thing with control features as with sensitive features since the `by_group

[2021-08-03 08:45] hildeweerts commented on #924
I've been playing around a bit with this in a test repo: https://github.com/hildeweerts/testcitation/blob/main/CITATION.cff.

There was a minor issue with missing quotation marks in the article title. But the main issue with the current file seems to be that it is required to have authors and a version. It turns out that it doesn't actually allow you to directly cite the references; only the metad

[2021-08-04 08:49] hildeweerts commented on #924
Although I really like your idea in terms of inclusivity, intuitively it doesn't feel right to me that something like a typo fix would get equal attribution to somebody who wrote an entire section in the user guide. But like you already said, it's very tricky to decide "what's enough". We could be very rigorous and only add maintainers plus maybe a few other people. On a more practical note, many

[2021-08-04 09:59] adrinjalali opened #927 "CircleCI credits and issues"
Seems like CircleCI isn't giving open source projects unlimited credits anymore.

As @romanlutz  said on discord:

We should investigate this issue and figure out how we can proceed. I'll check what we have on the sklearn side.

@amueller do you happen to know anything related to this?

cc @fairlearn/fairlearn-maintainers

[2021-08-04 10:06] adrinjalali commented on #927
So it seems they've been nice to us on the sklearn side so far, we're using way more than the free credit, and we'd need to pay $180/month for our usage:

![Screenshot from 2021-08-04 12-03-13](https://user-images.githubusercontent.com/1663864/128162994-329ba8ca-9144-4262-a24f-c518bed0d7d0.png)

I agree with @romanlutz that if this is how it's gonna be, we should somehow move to another solution.

[2021-08-04 11:15] bram49 commented on #668
Thanks for the fast and thorough reply!
I will dive into this when #896 is finished. Think I will start with creating the separation lines and see if this will look nice.
If it would not work out I will take a look at #666.

[2021-08-04 15:24] romanlutz commented on #927
Update: I got a response!

Support Engineer @ CircleCI

The webhooks tab turns out to be empty, so we'll see what they can find. The quick response is certainly encouraging. In parallel I'm trying a few other things that could solve this long-term...

[2021-08-04 23:40] romanlutz commented on #858
@nessamilan I tried the steps you mentioned above, but I can only export the individual pieces, so it ends up as 4 SVG files (3 rectangles for the bars and the Fairlearn text). Any chance they could be exported together?

[2021-08-05 06:23] romanlutz commented on #927
I think I managed to resolve this with help from CircleCI! The problem turned out to be that my fork romanlutz/fairlearn got added (or technically: "followed", whatever that means) and it confused CircleCI. Lesson learned: don't add forks to CircleCI!

After "unfollowing" I pushed an empty commit to a PR of mine that was lacking builds (#925), and voila, they're back! I'll close this issue accordi

[2021-08-05 06:23] #927 closed

[2021-08-05 07:07] romanlutz commented on #703
Reopening since I'm seeing tons of OpenML failures in our pipelines 🙁

[2021-08-05 07:57] romanlutz commented on #927
Final update on credits since CircleCI responded in direct reference to my assumption about credits:

So my worries were entirely unjustified 🙂 That is probably the same thing you're seeing for scikit-learn @adrinjalali.

[2021-08-05 08:23] adrinjalali commented on #927
Awesome, thanks for checking Roman

[2021-08-05 08:44] hildeweerts commented on #858
@romanlutz to expert as one image you have to select it in the pane on the lefthandside:
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/24417440/128320443-5d47db24-1883-4cd3-898d-a8d2d3ddea96.png">

[2021-08-06 07:51] romanlutz commented on #915
In conclusion, this would mean that the required change is to change the following line in `nightly-requirements-fixed.yml` from
[code]
to
[code]

I'll tag this as an issue for new contributors, but would also love to hear if @riedgar-ms has any objections.

[2021-08-06 08:00] adrinjalali commented on #915
Für each Python version we should have the oldest dependencies we support, I would object dropping Python 3.9 here. Alternatively, we can do one "min dependency" check and only include Python 3.6

[2021-08-06 14:33] hildeweerts opened #931 "DOC update meta-image and favicon with new logo"
As we've updated our logo (see #858) we also need to update the following files to the new font:
* docs/static_landing_page/images/fairlearn-meta-image.jpg (this image is shown when you link to fairlearn on e.g., social media)
* docs/static_landing_page/images/fairlearn-favicon.ico (the favicon shown in e.g., browser tabs)

Tagging @nessamilan

[2021-08-06 14:38] hildeweerts opened #932 "DOC new fonts are a bit large"
#### Describe the issue linked to the documentation

The new fonts (#928) are a bit larger than the previous ones, which causes the landing page to look a bit off, in my opinion.

Old font:
<img width="1266" alt="oldfont" src="https://user-images.githubusercontent.com/24417440/128526682-30e4bb86-8d67-474c-8317-088bc841eeb9.png">

Current font:
<img width="1263" alt="currentfont" src="https://user-

[2021-08-06 15:41] riedgar-ms commented on #756
Pinging @adrinjalali  .... did I get what you meant by `make_scorer()` ?

[2021-08-06 17:14] romanlutz commented on #915
I'm confused. I don't see scikit-learn testing this with per-version dependencies. https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/_min_dependencies.py

What you wrote sounds to me like we need multiple sets of dependency versions, because there's no way (that I'm aware of) to `pip install --min-version` or something like that. That's why @riedgar-ms 's script reads the version from

[2021-08-06 17:16] #858 closed

[2021-08-09 11:16] adrinjalali commented on #756
So what I was trying to say, is that handling the metadata routing is really not that easy, and most APIs we've tried to design are messy. The API in sklearn applies to scorers i.e. `scorer(estimator, X, y)`, rather than scoring functions i.e. `score(y_true, y_pred)`. Adding `get_metadata_request()` is certainly a way forward, but it's not an easy one.

Alternatively, we could let `AlternativeMetr

[2021-08-09 13:08] adrinjalali commented on #915
@romanlutz I mean if we're going to test the min dependencies per python version. AFAIK in sklearn we only check for the oldest deps on the oldest python we support (i.e. 3.7): https://github.com/scikit-learn/scikit-learn/blob/3c732b9f6a77e95dfa6beb154ca2e1e7848b74f9/azure-pipelines.yml#L167-L174

[2021-08-09 13:29] riedgar-ms commented on #915
Sorry, should have commented before. I agree that maintaining separate minimum requirements per Python version is going to be a bit of a pain.

@adrinjalali  am I right in thinking that your suggestion is essentially to reduce the `nightly-fixed` set to `pyVersions: [3.6]` ? I can live with that.

[2021-08-09 14:19] adrinjalali commented on #915
I'd vote for 3.7, but yes, having only one python version there is what I mean.

[2021-08-10 00:59] alliesaizan commented on #852
Hi there, I joined the Discord recently and I'd like to address these warnings. @romanlutz is anyone currently working on this?

[2021-08-10 03:17] michaelamoako opened #933 "Keyword Arguments Change Affecting Fairness Dashboard"
With the new change that arguments must be keywords, a warning is thrown when attempting to pass in multiple predictions into y_pred as shown in the sample code below. This seems to be an issue specifically in the dashboard.

#### Describe the bug

Key work argument requirement leading to bug in the Fairness dashboard, but not in the API

#### Steps/Code to Reproduce
[code]

#### Expected Results

[2021-08-10 03:49] michaelamoako commented on #933
Unclear if this issue should be opened in RAI Widgets or here

[2021-08-10 04:21] romanlutz commented on #933
This is an issue in `raiwidgets` which depends on Fairlearn. I'll move it over. Thanks for reporting @michaelamoako !

[2021-08-10 04:24] #933 closed

[2021-08-10 04:50] romanlutz commented on #852
Hi @alliesaizan ! Thanks for taking a look at this! Nobody else is currently investigating these.

You can try this out by following the steps in this guide: https://fairlearn.org/main/contributor_guide/contributing_documentation.html
The "simple" doc build using `python -m sphinx -v -b html -n -j auto docs docs/_build/html` or `make doc` should be sufficient, since the "full" doc build doesn't pr

[2021-08-10 04:55] romanlutz commented on #915
Sounds good. So what I wrote [earlier](https://github.com/fairlearn/fairlearn/issues/915#issuecomment-894075107) wasn't all that far off, then!

[2021-08-10 08:26] hildeweerts commented on #915
(Perhaps you can update your reply to what is expected now for the potential new contributor who wants to pick this up?)

[2021-08-10 10:56] sushmitaS16 commented on #915
Hello, I am a newbie to opensource. I followed your conversation above and am interested to contribute. Could you please tell me where exactly to start?
Thanks

[2021-08-10 23:37] romanlutz commented on #915
@sushmitaS16 You can follow the steps outlined in [this post](https://github.com/fairlearn/fairlearn/issues/915#issuecomment-894075107).

@hildeweerts The described lines there are fine. It does pass for all three listed versions, just 3.9 is failing. In the future we'll eventually remove 3.6 support at which point we can remove it from here, too. But there's no particular benefit in restricting t

[2021-08-11 06:03] sushmitaS16 commented on #915
Thanks @romanlutz
Is the file mentioned [here](https://github.com/fairlearn/fairlearn/issues/915#issuecomment-894075107) the only one which needs to be edited, or do I need to modify any other .yml file?

[2021-08-11 06:42] romanlutz commented on #915
It's the only one 🙂 I will kick off a run of that pipeline once you have a pull request, just to be sure it works fine. Thanks again for picking this up!

[2021-08-11 08:47] candalfigomoro opened #935 "Why no difference/ratio for some metrics?"
In this table https://fairlearn.org/main/user_guide/assessment.html#scalar-results-from-metricframe I can see that difference/ratio can be computed for some metrics (e.g. accuracy_score), but not for others.

Is there any reason why, for example, I can't compute a ratio for mean_squared_error() ?

Isn't the MSE ratio between different groups an useful indicator?

[2021-08-11 21:32] romanlutz commented on #935
@candalfigomoro You can actually compute this with `MetricFrame`!
[code]

That table was set up based on recommendations by @MiroDudik I believe, so perhaps he can chime in. 🙂

[2021-08-12 13:30] #915 closed

[2021-08-12 13:49] joaquinvanschoren commented on #703
Hi all, sorry about the hickups, we're doing a bunch of work on the backend migrating to Kubernetes, and occasionally response may be slower. We're definitely planning to resolve it completely.

[2021-08-12 14:02] hildeweerts commented on #703
Thank you for letting us know, @joaquinvanschoren!

[2021-08-12 15:35] hildeweerts commented on #785
Hi @stephenrobic, did you have any luck trying to implement this? Please let us know if you have any questions!

If you don't plan to work on this issue anymore that is also perfectly fine. Do let us know so we can let other people know the issue is up for grabs again!

[2021-08-12 18:28] riedgar-ms opened #936 "DOC Use BibTeX for citations"
#### Describe the issue linked to the documentation

When we wish to cite papers in our documentation, we are currently writing out the citations manually. Not only is this tedious, but it is also highly error prone (since the links in the text are numbers along the lines of `[4]_`). This is particularly acute if merge conflicts occur in the 'References' section, since then the whole page must be

[2021-08-13 02:28] RWilsker opened #937 "Matplotlib deprecation messages when running Example Notebook code"
When I run the MetricFrame Visualization code sample (plot_quickstart.ipynb), I get the following error messages:

`C:\Users\xxxxxxx\Anaconda3\envs\fairlearn_env\lib\site-packages\pandas\plotting\_matplotlib\tools.py:331: MatplotlibDeprecationWarning:
The is_first_col function was deprecated in Matplotlib 3.4 and will be removed two minor releases later. Use ax.get_subplotspec().is_first_col() ins

[2021-08-13 13:35] riedgar-ms commented on #937
Thanks for highlighting this.

Looking at the example code (e.g. [here](https://github.com/fairlearn/fairlearn/blob/c51e619e903a4652c79c02e375f145091408a5f3/examples/plot_quickstart.py#L54)), this isn't our plotting code per se - the `by_group` property is a `DataFrame`, so we're just delegating to `pandas` plotting routines.

Can you check which version of `pandas` you're using?

[2021-08-14 23:04] romanlutz commented on #937
This was also previously mentioned in #852 as a warning that shows up in our builds.

[2021-08-15 14:28] shimst3r commented on #720
Let me ping this to make clear I'm still on it, just didn't find the time to actually work on it. :sweat_smile:

[2021-08-17 00:04] alliesaizan commented on #852
So I started with the last warning:

average, "true nor predicted", 'F-score is', len(true_sum)

 And the culprit appears to be line 234 in the *examples >> plot_new_metrics.py* file, `fbeta_06 = functools.partial(skm.fbeta_score, beta=0.6)`. Adding a `zero_division=1` parameter and re-running lines 234 & 236 appears to resolve the warning without changing the results as they appear on the blog po

[2021-08-17 00:13] riedgar-ms commented on #852
@alliesaizan that's fine by me. The particular function isn't important; it's about showing how to use metric functions in `MetricFrame`.

[2021-08-20 17:19] romanlutz commented on #852
@alliesaizan that's awesome! You can create a PR with this fix. The smaller the better and the faster it typically gets merged.

[2021-08-23 23:17] alliesaizan commented on #852
@romanlutz I'm looking at this error now:

C:\Users\rolutz\Anaconda3\lib\site-packages\pandas\plotting_matplotlib\core.py:1616: MatplotlibDeprecationWarning: normalize=None does not normalize if the sum is less than 1 but this behavior is deprecated since 3.3 until two minor releases later. After the deprecation period the default value will be normalize=True. To prevent normalization pass normali

[2021-08-23 23:29] romanlutz commented on #852
Thanks for the thorough assessment @alliesaizan !
The filename is a bit of a misnomer since it was originally built for the quickstart, but it's used in other places, too. If you check the webpage's quickstart, you'll find that the pie charts don't show up for the same reasons you describe. To my knowledge, they're only used in the user guide: https://fairlearn.org/main/user_guide/assessment.html#

[2021-08-23 23:43] alliesaizan commented on #852
@romanlutz I think that makes sense! Should I make the change in that `plot_quickstart.py` file, or somewhere else?

[2021-08-24 22:33] ojeda-e commented on #900
Hi, I would like to help with a good first issue. Is this still an option for new contributors @hildeweerts?
The layout I have in mind to start looks like the following:

Title
[Same short introductory paragraph as in [README](https://github.com/fairlearn/fairlearn#fairlearn)]

- Tests
[Add a short description of what tests are intended for. Unit tests, notebooks, etc]

- Visualization (delete)

-

[2021-08-31 07:35] adrinjalali commented on #900
I'm now wondering if this is a good first issue actually, since it requires a deep understanding of how the repo is structured. Hmm.

To me, the documentation should allow first time contributors and people who are not familiar with the repo to find their way around when they come here, and to know where to go for each type of contribution they'd like to have.

[2021-08-31 14:17] alliesaizan commented on #507
Hi @romanlutz, I'd like to start looking at this! I will review the previous issues but please let me know if you have additional information that can provide context.

[2021-09-01 07:02] romanlutz commented on #507
Awesome!!! This is such an important one, I'm glad you are interested in starting 🙂

In think the comment linked in the issue description is where I'd start. Even just creating a list of sources would be a great step. Feel free to update this issue with comments on your progress, e.g., "here's what I found so far".

We'll likely want a new user guide section on this dataset, but we can discuss spe

[2021-09-01 08:20] koaning commented on #507
I suppose I could add a guide that's pretty much the content of this video; [https://youtu.be/Z8MEFI7ZJlA?t=769].

It's the material that we could almost pretty much copy from [the scikit-lego fairness tooling](https://scikit-lego.netlify.app/fairness.html). That way we'd also have a guide for the CorrelationRemover component.

I other folks prefer to pick this up: be my guest.

[2021-09-01 08:52] hildeweerts commented on #785
Hi @stephenrobic! Please let me know if you'd still like to work on this issue!

[2021-09-01 09:02] hildeweerts commented on #900
For a first non-outdated version I'd be very happy with the layout suggested by @ojeda-e. WDYT @adrinjalali?

[2021-09-01 09:06] adrinjalali commented on #900
I would change it a little bit.

It doesn't include the modules and the code.

For examples, I don't think we need to have a list of examples here, it'd be very quickly outdated, it makes more sense to tell people how they can find the right example file if they want to contribute there.

And for the CI, it needs to explain where the scripts are and which CIs we use and for what.

[2021-09-01 09:11] hildeweerts commented on #756
I don't have a lot to add to this discussion, but I agree that leaving `MetricFrame` as is and adding an alternative more flexible version would be preferable.

pinging @fairlearn/fairlearn-maintainers to move the discussion forward

[2021-09-01 09:15] hildeweerts commented on #900
Ah yes, I agree.

@ojeda-e do you feel comfortable adding these suggestions? As indicated by @adrinjalali this might not be such a good first issue after all, so if you don't feel like digging through the repo please feel free to drop this issue!

[2021-09-01 19:07] #800 closed

[2021-09-02 04:29] ojeda-e commented on #900
Thanks for your answers @hildeweerts @adrinjalali.
If you don't mind I would it give a try with the suggestions from @adrinjalali. If it's not good enough, you may not have an issue fixed, but it'll be still useful to me.
If you think there is a better issue to help with, I would appreciate your suggestions as well.

[2021-09-02 09:23] hildeweerts commented on #900
Awesome, @ojeda-e! Let's give it a try then :)

[2021-09-02 14:13] AndreFCruz opened #940 "Bug when using custom Lagrange multiplier grids"
#### Describe the bug

When passing a custom set of Lagrangian multipliers to the `GridSearch` reduction, via the `grid` kwarg, the loss computation for model selection throws a `KeyError`.

The multipliers at `self.gammas_`, which is a pandas.DataFrame, are being inserted using the name of the column as index.
See [line 162](https://github.com/fairlearn/fairlearn/blob/main/fairlearn/reductions/_g

[2021-09-06 19:33] romanlutz commented on #852
I believe the only remaining warning that's fixable is the following:
[code]
This should be fixed with the next scikit-learn release thanks to @adrinjalali's merged PR https://github.com/scikit-learn/scikit-learn/pull/20657 but we can validate once scikit-learn has that in a release and close this issue at that point.

Huge kudos to @alliesaizan for diligently working through these! I'd love to gi

[2021-09-07 07:53] SeanMcCarren commented on #752
Hi @romanlutz. I did this simple action item as my first issue, and I am running into some issues. I think I have to create a branch and then a pull request, but I don't have write access to fairlearn. Is this necessary or am I doing this wrong? :)

[2021-09-07 10:58] romanlutz commented on #752
No worries! I admit it's something to get used to and I really should take some time to integrate the sprint instructions into our contributor guide. I'm glad you were able to figure it out! Looks good! I added a few comments but nothing major, so we should be able to merge this pretty soon.

[2021-09-07 11:36] Thomasq99 opened #944 "DOC add example code for the metrics package"
The API section of the website does not contain code examples.  Adding code examples would help new users to get acquainted with Fairlearn.

This is a sub issue for #894.

[2021-09-07 12:33] romanlutz commented on #944
Indeed! Would you like to do this @Thomasq99 ?

[2021-09-07 12:37] Thomasq99 commented on #944
@romanlutz Already on it!  @hildeweerts told me to make a new issue and she was going to assign me to the issue, but she has not gotten around to it yet.

[2021-09-07 12:50] romanlutz commented on #944
Fantastic! Let us know if you need any help/questions answered.

[2021-09-07 13:13] bram49 opened #945 "Fairness metrics for ranking"
#### Is your feature request related to a problem? Please describe.

Hi everyone!
I have been researching ways to quantify fairness in rankings and think that this would be a great addition to the Fairlearn package.

#### Describe the solution you'd like

Some promising fairness metrics are:
_Unfortunately, the image turned out blurry, it gets better when you click on the image._

![Ranking_metric

[2021-09-07 13:40] hildeweerts commented on #945
Thank you for looking into this @bram49!

What is your own view on these metrics, i.e., which one do you think would most useful for Fairlearn users?

I am not super familiar with ranking problems myself, but is logarithm base 2 standard for measures of exposure/discounting? I can imagine different ways of discounting could give quite different results.

Tagging @fairlearn/fairlearn-maintainers

[2021-09-07 14:10] hildeweerts commented on #944
Thank you for opening this issue @Thomasq99! Feel free to get started with a single class (e.g., `MetricFrame`) for your first PR.

[2021-09-07 14:32] bram49 commented on #945
@hildeweerts
I least like rRD, since it only works if the protected group is the minority group, and I'm not sure what the benefits are for this particular metric. rND and rKL, have quite similar results, but rKL is more smooth. So I would prefer rKL, but rND is simpler and easier to understand. I also like the exposure metric, since for me it is very intuitive (counting the position biases and co

[2021-09-07 16:50] romanlutz commented on #945
I definitely think ranking scenarios are of interest and would be a great addition. Did you have a specific use case in mind that could be added along with the metrics?

Regarding the place of your additions: Assessment code should probably go into the `metrics` module and if there's anything else you were planning to add then perhaps a separate `ranking` module? [We've had similar thoughts on clu

[2021-09-08 12:02] SeanMcCarren commented on #666
Hi! I worked on this :) I'm still a bit new and I appreciate feedback/help. I have a few questions also. You can check out my progress on https://github.com/SeanMcCarren/fairlearn/tree/model_comparison_plot

1) Currently, I'm having trouble with `from fairlearn.metrics import plot_model_comparison`. It won't seem to import. I tried adding an import in `metrics/__init__.py`, to no avail. I also add

[2021-09-08 12:09] riedgar-ms commented on #666
For (1) have you done a `pip install -e .` from the root of your local copy? Or have you made accidentally installed Fairlearn from PyPI in your Python environment?

For (2), definitely go ahead and make the PR. You'll only trigger builds when you do a push, not on every commit. And CPU time isn't _that_ precious.

For (3), I don't think we have a good solution for plotting tests. You can write an

[2021-09-08 13:46] bram49 commented on #945
@romanlutz Thank you so much for the extended reply and the link to the notebook, I didn't spot that one yet.

Yes I have a few use cases, I have added some datasets that are used in the literature to the post.

This issue can indeed easily become very massive, so I will definitely split this up into smaller issues. I thought about starting with implementing a few metrics and this can always be ex

[2021-09-08 14:00] hildeweerts commented on #945
At this point I wouldn't worry too much about where to place the code.

My suggestion would be to include any ranking metrics somewhere within the `metrics` module, e.g., a `_ranking.py` file or something even more specific. But this is something we can further think through in one of the future smaller issues.

Once we're at the stage of implementing a mitigation algorithm we can consider a `rank

[2021-09-08 22:03] romanlutz commented on #666
I agree with everything @riedgar-ms wrote, and I'm SUPER excited you're interested in this issue!!!

I would completely ignore the matplotlib tests since I could never get them to work in CI. This requires a separate issue perhaps at some point, but the main thing is that it renders right on the webpage which we need to check every time we make a change to the corresponding page. So, in summary, @

[2021-09-09 04:14] matthew-so commented on #855
Since I do not have the time to fully commit to this, it would be preferable if others could tackle sections at a time. For example, I will now be working on fairlearn.metrics.

[2021-09-09 08:55] Thomasq99 commented on #944
I wrote an example for the MetricFrame class utilizing all methods of the class.

![image](https://user-images.githubusercontent.com/38749496/132654884-e2c533f9-5f7b-47f7-981c-54b191fa632f.png)

I was thinking about making an example per separate function and class. For example, the above example for the MetricFrame class, an example for fairlearn.metrics.count, and so on. Is this indeed what you

[2021-09-09 09:25] hildeweerts commented on #855
Hi @matthew-so - could you perhaps open separate issues for the different sections? In that way other prospective contributors can easily identify that they can pick it up!

[2021-09-12 22:33] alliesaizan commented on #507
Hi @romanlutz, I went through all the issues cited (though did not do a deep dive into the research papers linked). @koanig has linked a few resources, here and elsewhere, that provide good starting places!

List of resources:
- The original [paper](https://deepblue.lib.umich.edu/bitstream/handle/2027.42/22636/0000186.pdf?sequence=1&isAllowed=y) that introduced the boston housting dataset
- [Issue

[2021-09-13 09:17] bramreinders97 commented on #855
Hi, I'd be interested in picking this up. I will start at fairlearn.reductions, considering that @matthew-so is doing metrics right now.

[2021-09-13 09:31] hildeweerts commented on #855
Hi @bramreinders97: awesome! Could you open up a new issue in which you refer back to this issue? Thanks!

[2021-09-13 09:42] bramreinders97 opened #948 "DOC Add versionadded and versionchanged to API reference (fairlearn.reductions)"
Add versionadded and versionchanged to API reference of fairlearn.reductions. Sub-issue of #855.

[2021-09-13 15:07] romanlutz commented on #507
Thanks @alliesaizan for the summary!!!

Some thoughts:
- `CorrelationRemover` is already part of Fairlearn thanks to @koaning https://fairlearn.org/main/api_reference/fairlearn.preprocessing.html#fairlearn.preprocessing.CorrelationRemover
- We never did anything to the dataset so it should be in the original configuration. In fact, you can try calling `fetch_boston` and the `feature_names` should

[2021-09-13 17:33] alliesaizan commented on #507
@romanlutz thanks! I agree about putting the dataset first, and can hold off on the mitigation techniques for now. I think my intention with thinking about mitigation techniques is to show readers how to address disparities if they're using a similar type of dataset, but I don't want to give the impression that data processing is a panacea for all the issues with the boston data. Given that we for

[2021-09-13 18:00] Thomasq99 commented on #782
Is this still open to do? I see someone is assigned to it but it has been quite a while.

[2021-09-13 18:31] romanlutz commented on #782
This is almost done thanks to @lgfunderburk's PR where all 5 traps are described at the same time. If you need help finding another issue please reach out!

[2021-09-13 18:54] lgfunderburk commented on #782
I am working on fixing conflicts and minor deets
Will have a few updates Wed/Thur this week

[2021-09-14 07:12] romanlutz opened #949 "DOC Add versionadded and versionchanged to API reference (fairlearn.preprocessing)"
Related to #855

[2021-09-14 07:13] romanlutz opened #950 "DOC Add versionadded and versionchanged to API reference (fairlearn.postprocessing)"
Related to #855

[2021-09-14 07:14] romanlutz opened #951 "DOC Add versionadded and versionchanged to API reference (fairlearn.metrics)"
Related to #855

[2021-09-14 07:15] romanlutz commented on #940
@riedgar-ms should we close this since #941 was merged?

[2021-09-14 07:55] hildeweerts opened #952 "DOC improve contributor guide: style"
#### Describe the issue linked to the documentation

Based upon feedback from new contributors I think the [code style section in our contributor guide](https://fairlearn.org/v0.7.0/contributor_guide/contributing_code.html#code-style) can be improved.
* It is hard to locate (especially if you are contributing to the documentation)
* It is very minimal: it only refers to PEP8 but does not specify

[2021-09-14 08:00] hildeweerts opened #953 "DOC improve contributor guide: add Roman's sprint instructions"
#### Describe the issue linked to the documentation

The process of adding your first PR can be quite confusing for prospective contributors that are new to open source development.

#### Suggest a potential alternative/fix

Add @romanlutz's [sprint instructions](https://github.com/romanlutz/fairlearn-pycon-sprint) to the contributor guide. Perhaps a title such as "Create Your first Pull Request"

[2021-09-14 08:50] hildeweerts opened #954 "DOC Contributing documentation: API reference"
#### Describe the issue linked to the documentation

For new contributors it can be unclear that the API reference is generated by Sphinx.

#### Suggest a potential alternative/fix

Make the following changes to the page [contributing documentation](https://fairlearn.org/v0.7.0/contributor_guide/contributing_documentation.html):
* Add a few more sentences on how Sphinx works  to the introduction p

[2021-09-14 09:07] hildeweerts commented on #507
I agree with everything @romanlutz mentioned and I am looking forward to read your drafts @alliesaizan!

[2021-09-14 10:30] AndreFCruz commented on #940
Yep, closed :slightly_smiling_face:

[2021-09-14 10:30] #940 closed

[2021-09-14 13:06] Thomasq99 opened #956 "FEAT: add fairness-aware Principal Component Analysis (preprocessing)"
PCA, one of the most common dimensionality reduction techniques might produce data representations that are inherently prone to unfairness. For example, an embedding of the data created by PCA might represent a certain race group much better than another.

In recent years a couple of alternatives have been proposed to ensure that disparity between sensitive groups is mitigated.
My inspiration/lite

[2021-09-14 15:05] #899 closed

[2021-09-14 16:32] romanlutz commented on #956
This is awesome, thanks for the summary!

First of all, I would create separate issues for the various algorithms once you've decided which to implement. Starting from the metrics sounds like a very reasonable approach to me. For example, you could already evaluate standard (fairness-unaware) PCA that way!

#### Dependencies
If there are already implementations that exist for these algorithms I'd

[2021-09-16 10:26] Thomasq99 commented on #956
Apologies for the amount of text below. I want to give as much information about the fairness measures to allow for a better discussion about them.

All three papers below try to solve multi objective optimization problems. They try to minimize the overall reconstruction error while simultaneously maximizing a fairness metric.

For the fairness measures of the optimization problem, I was thinking

[2021-09-16 12:07] bramreinders97 commented on #948
Hi, after diving in to all the changes made in different versions, I am wondering what level of detail is expected in the versionchanged part of this issue.

To give an example of my doubts, consider the changed mentioned in the version guide related to ExponentGradient:

v0.4.5:
![image](https://user-images.githubusercontent.com/50204600/133609095-df9a7f0f-e7d1-4eb6-ba61-c49a2bb2215c.png)

v0.4.6

[2021-09-16 14:15] MiroDudik commented on #956
@Thomasq99: Can you spell out more precisely different objectives / fairness measures? It would be good if you presented them in the form that makes it clear how to evaluate them with more than two groups (unless the generalization to multiple groups is obvious). Feel free to just copy-paste the relevant snippets from the papers.

As things stand, fairlearn supports both worst-case performance met

[2021-09-16 16:16] romanlutz commented on #956
FWIW I am always in favor of providing as many metrics as possible, explaining their benefits and drawbacks (e.g., through a user guide or example), and then letting users choose which ones they care about. IMO the downstream harms are the most important, so we should really be looking at the fairness metrics for the whole system (not just the preprocessing step). Having a few specific ones for pr

[2021-09-16 18:45] romanlutz commented on #948
That's a great question! I'm actually not entirely sure. @fairlearn/fairlearn-maintainers wdyt? Have you tried out whether it's technically possible to add more than one `versionchanged` tag? If it's not possible then I suppose it has to be the changes in the latest version in which it was changed.

Whenever it is an individual argument you can add it just for that one, e.g., `sample_weight_name`

[2021-09-17 13:11] riedgar-ms opened #957 "ENH: Use flake8-pytest-importorskip"
#### Is your feature request related to a problem? Please describe.

In the `test_othermlpackages` directory, we use `pytest.importorskip()` to make things better behaved when various packages aren't present. However, this means that subsequent imports have to have a `#noqa` suppression since they are technically placed after the first executable line.

#### Describe the solution you'd like

Consi

[2021-09-17 17:15] romanlutz commented on #957
Would the proposed change be to just install the package, and no code changes?

[2021-09-17 18:03] riedgar-ms commented on #957
Remove the `#noqa` tags within `test_othermlpackages` as well

[2021-09-18 14:22] SeanMcCarren commented on #785
I would like to work on this issue :)

[2021-09-19 13:30] bramreinders97 commented on #948
Turns out it is possible to include multiple `versionchanged` tags. So I'll try to add all mentioned changes.

[2021-09-20 06:14] stephenrobic commented on #785
Please take and work on this issue! I thought I was prepared to work on
this, but I haven't been able to.

On Sat, Sep 18, 2021, 9:23 AM SeanMcCarren ***@***.***> wrote:

[2021-09-20 08:15] bramreinders97 opened #958 "ENH Add Reject Object Classification and Discrimination-Aware Ensemble based on Kamiran,Karim,Zhang"
The paper [Decision Theory for Discrimination-Aware Classification](https://ieeexplore.ieee.org/document/6413831) by Kamiran, Karim and Zhang presents two solutions for discrimination-aware classification that neither require data modification nor classifier tweaking; Reject Option based Classification (ROC) and Discrimination-Aware Ensemble (DAE) . The goal of this task is to implement them.

Com

[2021-09-20 08:16] bramreinders97 commented on #958
For some reason my @fairlearn/fairlearn-maintainers tag did not work, so I'll do it like this:  @adrinjalali  @hildeweerts  @MiroDudik @mmadaio @riedgar-ms @romanlutz

[2021-09-20 08:16] bramreinders97 commented on #958
I would like to work on this issue :)

[2021-09-20 12:34] adrinjalali commented on #948
I usually apply the tags only when a parameter changes behavior, or a major change in behavior is happening in a class. It's not supposed to mirror the changelog in any way IMO.

[2021-09-20 13:36] adrinjalali commented on #957
but that means an extra dependency. I'm happy with what we have now.

[2021-09-20 13:37] riedgar-ms commented on #957
Fair enough. I can see the argument that a few `# noqa` tags are better than bringing in another package.

[2021-09-20 13:37] #957 closed

[2021-09-20 13:43] hildeweerts commented on #958
Thank you for opening this issue @bramreinders97! I personally think this technique would be a good addition to Fairlearn (but I am 100% biased because I would like to get rid of AIF360 in my teaching). I think it would be sufficient to stick to Reject Option based Classification for now.

@bramreinders97: could you perhaps write a short summary of the technique such that @fairlearn/fairlearn-main

[2021-09-20 14:04] hildeweerts commented on #720
@shimst3r any chance you've found some time to work on this?

As we're adding examples (e.g., #944) I think having individual pages becomes even more important!

[2021-09-20 14:36] romanlutz commented on #948
I agree. We've had some changes in the datasets module which @adrinjalali and I recommended omitting from `versionchanged` since only small changes or doc changes happened.

Example: from the above changes I'd definitely omit the one on pickle vs. clone (since it's internal). Several of the others are parameter renames or additions which should go directly on the parameter documentation.

[2021-09-20 14:38] romanlutz commented on #958
I have no objection. But let's not use ROC as an acronym here. It will 100% get confused with the more commonly used receiver operating characteristic 🙂

[2021-09-20 14:44] hildeweerts commented on #956
#### Fairness metrics for evaluating PCA
From the discussion above, it seems to me that a fairness metric tailored towards PCA could consider the reconstruction error across groups (but please correct me if I'm wrong). However, I fully agree with @romanlutz and @MiroDudik that downstream model performance should be leading in assessing fairness (and should be included in the user guide section for

[2021-09-20 14:47] hildeweerts commented on #958
100% agree re. naming, @romanlutz!

[2021-09-21 08:09] bramreinders97 commented on #958
Reject Option Classification is a technique based on the intuitive hypothesis that discriminatory decisions are often made close to the decision boundary because of the decision maker’s bias.

To tackle this problem, the authors focus on a critical region around the decision boundary. This critical region contains all instances for which:

![image](https://user-images.githubusercontent.com/5020460

[2021-09-21 10:13] romanlutz commented on #958
Thanks @bramreinders97 ! This sounds like postprocessing with special treatment in this particular region. Many unfairness mitigation algorithms have this "advantaged"/"disadvantaged" or "deprived" terminology which is binary AFAICT and doesn't match how we've approached things so far. For example, if you have 3 groups (or more), and on some metric (say, accuracy) they are at 0.4, 0.5, and 0.6, th

[2021-09-21 11:15] bramreinders97 commented on #958
I think there is some confusion about the word 'group'. When talking about the deprived group, I meant:

![image](https://user-images.githubusercontent.com/50204600/134158866-1c276f01-5ad5-4dd3-b3a6-03f356d4fbe3.png)

, while you mean classes/labels (I think). I'll take note of this in the future and try to be clearer about my definitions to avoid exactly this.

In terms of API, the paper proposes

[2021-09-21 18:18] bram49 opened #959 "FEAT: Fairness of exposure"
## Fairness of exposure
Would like to extend Fairlearn with tools to deal with fairness in rankings (https://github.com/fairlearn/fairlearn/issues/945). I think that an intuitive and good metric for fairness in rankings is exposure. From the paper: [Fairness of exposure in rankings](https://dl.acm.org/doi/10.1145/3219819.3220088) by Ashudeep Singh and Thorsten Joachims.

Where exposure is defined

[2021-09-22 08:42] bramreinders97 commented on #958
In the paper, the authors propose the following API:

![image](https://user-images.githubusercontent.com/50204600/134195673-fa863599-8c53-4b61-823b-68eb1be0bd48.png)

, where the big difference with `ThresholdOptimizer` is that the user is responsible for choosing which group(s) is/are in the deprived group(s) and providing the threshold(s) <img src="https://render.githubusercontent.com/render/mat

[2021-09-23 10:04] hildeweerts commented on #959
Thank you for opening this issue @bram49!

IMO the deterministic version of exposure makes sense, but I'd love to hear other people's thoughts on this as well @fairlearn/fairlearn-maintainers. Could you give an example of how utility would be defined in scenario (2)?

As a side note, I think we need to be careful with overloading terminology. Demographic parity/disparate treatment* are typically u

[2021-09-23 11:10] bram49 commented on #959
Thank you for the reply @hildeweerts
Indeed it makes more sense to define the methods by the types of harms they try to measure. I will change the headings in the titles to the corresponding harms.

[2021-09-23 13:22] romanlutz commented on #958
Thanks for the APIs! I'd imagine the theta would be set in the constructor or learned during `fit`, rather than provided in `predict`. Is there a `fit` method?
I'm also a bit confused about `classifiers`. What are we doing with multiple ones here? I had (perhaps mistakenly) assumed we're dealing with a single one.

Perhaps I'm misunderstanding, so let me draw up a simple example and you tell me if

[2021-09-23 15:54] #778 closed

[2021-09-23 15:54] #779 closed

[2021-09-23 15:55] #780 closed

[2021-09-23 15:55] #781 closed

[2021-09-23 15:55] #782 closed

[2021-09-23 18:00] bramreinders97 commented on #958
Theta should indeed be moved out of `predict`.  If it would be set in the constructor, we would not need a `fit` method I think. I had a meeting with @hildeweerts this morning, and she mentioned having a `fit` method is standard practice, but we should also think about how users might use our algorithm in a pipeline, and base our choice on that. Conclusion: I'm not sure yet where to put it (except

[2021-09-24 12:44] romanlutz commented on #958
I suppose `fit` could be a no-op, no harm done...

I agree with @hildeweerts on ensembles being handled externally so that we can just assume we have a classifier.

If these are the probabilities for getting 1 then with probability 0 it should always be a 0 and with 1 always a 1 and in between it becomes more likely to be a 1 the closer we get to 1. Given that, I'm not sure how it makes sense to a

[2021-09-24 13:55] Thomasq99 commented on #956
Update:

Currently I am implementing the methods and loss functions to evaluate them on downstream performance. I will get back to you soon!

[2021-09-24 14:41] romanlutz commented on #956
FWIW I didn't mean to make you run entire studies against benchmarks. I merely meant that the most meaningful metrics are those that capture downstream harms so we don't need to spend a ton of time implementing more metrics in addition to reconstruction error that only capture the results of preprocessing (since these don't necessarily imply harm). If you want to run extensive experiments I'm all

[2021-09-26 14:43] bramreinders97 commented on #958
You're right yes, this is indeed the way it is. So, to clarify:

- 1 if sample is from B and probability (to get 1) is between 0.4 and 0.6
- 0 if sample is from A and probability (to get 1) is between 0.4 and 0.6
- <img src="https://render.githubusercontent.com/render/math?math=l"> if sample is from A or B and probability (to get 1) is < 0.4 or > 0.6

[2021-09-26 20:53] alliesaizan commented on #507
Hi @romanlutz and @hildeweerts, [here](https://github.com/alliesaizan/fairlearn-volunteering-files/blob/main/Revisiting%20the%20Boston%20Housing%20Dataset.ipynb) is my first draft of the Boston housing article. I used the same method as @koaning to turn the problem into a classification problem so we could show the typical fairlearn evaluation metrics. I am open to any and all feedback! Please als

[2021-09-27 12:23] Thomasq99 commented on #956
Don't worry! I am interested in doing this study myself. It seemed like a nice internship topic to me!

[2021-09-27 16:28] bramreinders97 commented on #948
So I made some first changes and to test I tried committing to my local fork. I'm not sure if I accidentally pushed it to the main branch, as I do not have any experience using GitHub with multiple people on the same project?

[2021-09-27 21:44] romanlutz commented on #948
No worries!  You can always check your branch with `git status`, ideally before pushing 🙂 If you pushed to `main` on your fork you can always copy those changes to another branch (by creating another branch off of your `main`, for example) and then `git rebase -i HEAD~1` (or whatever number of commits you need to remove if larger than 1), then use `drop` to remove those commits. Pushing (perhaps w

[2021-09-27 22:11] romanlutz commented on #507
There's a lot I like about this and huge kudos for creating this summary. Personally, I struggle with commenting on Jupyter notebooks because there's no way to use a "comment on line xyz" functionality. We could either add it as a user guide section (which is what I was thinking) OR an example notebook. In either case you\d need to create a PR against the Fairlearn repo so that we can provide feed

[2021-09-27 23:31] alliesaizan commented on #507
@romanlutz I was also thinking this would go in the user guide, so I can proceed with setting up the rst file!

[2021-09-28 10:27] koaning commented on #507
![image](https://user-images.githubusercontent.com/1019791/135070378-16c13357-2d05-4294-a539-c27c53d2c852.png)

The table seems to have two columns missing: B and LSTAT.

[2021-09-28 11:46] alliesaizan commented on #507
Hm @koaning I think that is an issue with the formatting; I did not take the columns out intentionally. See how a bunch of columns got caught up in the Description for TAX? I will work on adjusting the rst formatting so those columns do not get squished together.

[2021-09-29 09:20] bramreinders97 commented on #958
So taking the above into consideration, the following would be the API I'd suggest at this point:

[code]

With `estimator` = A sklearn estimator which supports the `predict_proba(X)` method, where `X` is the matrix of features
`thresholds` = An array or dict specifying the selected threshold(s)

(I changed the name of `classifier` to `estimator` to stay consistent with the naming of parameters of

[2021-09-29 15:23] SeanMcCarren commented on #785
Hi there, I have some questions regarding this implementation. The paper leaves room for quite some freedom, and we need to make some tough decision choices regarding this. Most notably, I can think of situations in which one may want to change:
- Predictor/adversarial models (make predictor very complex, possibly)
- Output layer. Continuous vs discrete (and for discrete with demographic parity, s

[2021-09-30 07:46] romanlutz commented on #958
Could we theoretically accept regressors and then threshold on the predictions? Because for ThresholdOptimizer we're doing that rather than expecting probabilities from predict_proba. I guess the same handling as we're doing there would make sense. Check the inputs and you'll find a predict_method argument.

However, if it's really that simple then the helper class there might already do that. I t

[2021-09-30 08:45] romanlutz opened #963 "BUG: sklearn.confusion_matrix does not work with None anymore"
#### Describe the bug
The following tests fail in the marked lines:
- https://github.com/fairlearn/fairlearn/blob/94229647dda802a59bcbfe7f6d64295d64e96efa/test/unit/metrics/test_extra_metrics.py#L420
- https://github.com/fairlearn/fairlearn/blob/94229647dda802a59bcbfe7f6d64295d64e96efa/test/unit/metrics/test_extra_metrics.py#L388
- https://github.com/fairlearn/fairlearn/blob/94229647dda802a59bcbfe

[2021-09-30 08:58] romanlutz opened #964 "TST: CorrelationRemover is failing estimator checks"
#### Describe the bug

`CorrelationRemover` is failing in our unit tests to check for estimator API compatibility:
[code]

In a recent scikit-learn commit the following change occurred: https://github.com/scikit-learn/scikit-learn/commit/cbfbd863804da1005eda2fe8ee34ebe6380f9b3a#
The important part there is https://github.com/scikit-learn/scikit-learn/commit/cbfbd863804da1005eda2fe8ee34ebe6380f9b3a

[2021-09-30 09:01] adrinjalali commented on #963
To be fair, comparing `None` and `int` makes no sense. What was the result up till now anyway? The error is coming from `numpy`, it refuses to sort an array which has `None` I guess, which to me makes sense.

[2021-09-30 09:10] bramreinders97 commented on #958
I don't think accepting regressors makes sense. The intuition behind RejectOptionClassifier is that we focus on the decisions that are made close to the decision boundary (i.e. with low confidence). As far as I'm aware, regressors don't mention how certain they are of a predicted value?

Furthermore, if, for example, we predict income with regression, what would be done with uncertain decisions? W

[2021-09-30 09:23] adrinjalali commented on #964
The test doesn't check if `fit` accepts `sample_weight`, it's [here](https://github.com/scikit-learn/scikit-learn/commit/cbfbd863804da1005eda2fe8ee34ebe6380f9b3a#diff-49f814863816a0e8d199ba647472450ecc59a4375171db23cb1ca36063d6dc25R84) that the test is not run if `sample_weight` is not in the signature. The idea is that third party developers (like us here), shouldn't run individual tests. But we

[2021-09-30 09:29] romanlutz commented on #963
I agree. Up until now it "just worked", i.e., the `confusion_matrix` returned a result that made sense. So if you passed in an array with just a single value, say `[-1, -1, -1, -1]` (for both `y_true` and `y_pred`) and `pos_label=-1` then it returned the correct FPR, TPR, FNR, TNR while assuming this is indeed binary classification and it just so happened to have only one of the two values. Now it

[2021-09-30 09:32] adrinjalali commented on #963
re: py36 support, that one's long gone, and even py37 support is already removed from the main branches of numpy and scipy AFAIK, and we'll be removing it too for the next release.

[2021-09-30 09:39] adrinjalali opened #965 "Include a CI step against scikit-learn's nightly builds"
I suggest we include a test which would be optional on PR merges, or even not at all on PRs, and rather a cron job, which tests against scikit-learn nightly builds, to be able to detect situations such as the ones we're having in https://github.com/fairlearn/fairlearn/issues/964 and https://github.com/fairlearn/fairlearn/issues/963

The nightly builds can be conveniently installed as:

    pip ins

[2021-09-30 09:45] romanlutz commented on #958
That's not quite what I meant. Let me explain a bit better:
Right now you're saying you'll accept values from 0 to 1 and then you'll put a threshold on and everything below is 0 and everything above is 1. That's not so different from saying you'll accept any value and you'll put a threshold somewhere with the same outcome, is it? In fact, it's a generalization of what you're proposing. The reason

[2021-09-30 09:46] romanlutz commented on #965
I'm all for it! Should be simple to do by just copying our nightly test pipeline and adjusting the installations. Thanks for the suggestion, I love it!

[2021-09-30 09:47] glemaitre commented on #964
I think that we expect our user to call either `check_estimator` or `parametrize_with_checks`. Those should be in charge of selecting whether or not the tests apply to the tested estimator.

This is something that we do in `imbalanced-learn` for instance: https://github.com/scikit-learn-contrib/imbalanced-learn/blob/master/imblearn/tests/test_common.py#L47-L50

Then, if a test is known to fail, th

[2021-09-30 10:04] romanlutz opened #966 "Remove python 3.6 support"
In #963 I discovered that scikit-learn isn't supporting py3.6 anymore. This issue is there to discuss dropping this in Fairlearn, too. Additionally, as @adrinjalali mentions in that issue:

So should we also make these changes? I'm definitely in favor. (If you're also in favor and have nothing to add, simply upvote. If you're against or you have something to add please comment!)

Indeed, numpy dro

[2021-09-30 11:42] riedgar-ms commented on #965
Agreed - this sounds like a great idea.

[2021-09-30 11:48] riedgar-ms commented on #963
I wrote them, but it's been a while....

The tests themselves look sensible to me, so something like @romanlutz 's solution sounds reasonable - if `len(np.unique(y_true+y_pred))==1` then pad the labels array with some other value so that `confusion_matrix()` doesn't get confused.

[2021-09-30 13:05] adrinjalali commented on #964
Somehow I had missed the `xfail` tag, I'll send a PR fixing this.

[2021-09-30 13:48] adrinjalali commented on #963
I'll check if I can send a PR now

[2021-10-01 01:48] #963 closed

[2021-10-01 01:55] #964 closed

[2021-10-01 13:14] bramreinders97 commented on #958
From a practical perspective, I have no objections, as it is indeed a more general formulation. The only "worry" I have, is that this does not really capture the original intuition of the authors when they introduced RejectOptionClassifier, which is based on looking at the decisions close to the decision boundary. So maybe we should take this into consideration when naming the algorithm, and not n

[2021-10-01 20:23] romanlutz commented on #958
I'm open to other names. `Thresholder` comes to mind, but I'm sure there are better names.

As long as scikit-learn-conforming binary classifiers with `predict_proba` are used this is good and nice. Beyond that you need customizability. Sadly, not every ML package respects scikit-learn conventions, so this is a rather useful additions that I'd love to see here as well. @MiroDudik @adrinjalali @hil

[2021-10-01 21:14] romanlutz opened #970 "DOC: styleguide for referring to groups of people"
I've noticed we that we have a few occurrences of terms like "blacks", "whites", "females", "males", and perhaps others in our documentation. This made me aware that I don't know the best way to refer to various groups of people. Is it "blacks", "Blacks", "Black people", "black people", or something completely different? Same applies to other groups.

I vaguely remember somebody telling me that we

[2021-10-01 23:27] alliesaizan commented on #970
"Black" and "White" definitely should be capitalized regardless. A quick search retrieved a [style guide](https://www.usca.edu/diversity-initiatives/training-resources/guide-to-inclusive-language/inclusive-language-guide/file) that recommends using "people" when referring to groups of individuals.

[2021-10-04 13:17] hildeweerts commented on #970
I 100% agree with referring to anybody as people/person in any case.

My two cents re. female/women: as far as I know male/female/intersex person is used when we talk about somebody's sex, whereas women/men/nonbinary person/etc. refers to somebody's gender identity. As most scenarios in Fairlearn refer to social issues, I would suggest to go with gender-related terminology, unless we specifically

[2021-10-04 20:02] MiroDudik commented on #970
When it comes to *writing* about different groups of people, my suggestion would be to use an existing style guide like the one that @alliesaizan mentioned. The one that I've been using as a go-to is here:
* [APA style guide](https://apastyle.apa.org/style-grammar-guidelines/bias-free-language)

It is a reasonably broad / well annotated plus is freely available online.

While "Black" is always cap

[2021-10-04 22:07] MiroDudik commented on #958
One question: Is the current proposal just to implement a deterministic version of `InterpolatedThresholder` or is it to implement something closer to the Reject Option Classifier in the paper?

The issue is that the Reject Option Classifier in the paper only works with binary / binarized sensitive features, and uses symmetric thresholds of the form 1/2-delta and 1/2+delta. That structure has some

[2021-10-04 22:12] romanlutz opened #971 "FEAT: add conditional demographic disparity metric from Wachter et al."
Full paper: https://arxiv.org/abs/2005.05906 "Why Fairness Cannot Be Automated: Bridging the Gap Between EU Non-Discrimination Law and AI" by Sandra Wachter, Brent Mittelstadt, Chris Russell

The [implementation details from AWS](https://docs.aws.amazon.com/sagemaker/latest/dg/clarify-data-bias-metric-cddl.html) may be helpful.

This issue is merely about implementing the CDD metric as part of `fa

[2021-10-04 22:20] romanlutz commented on #958
The more I think about it I feel like we should do the generic one I mentioned, and then have the Reject Option Classifier additionally as a special case of the Thresholder. It can be its own class and all to make it easy to explain with as few args as possible. Wdyt?

[2021-10-04 22:23] MiroDudik commented on #958
In principle, this works for me. Should we be worried about proliferation of what are basically just different constructors for `InterpolatedThresholder`? Right now I'm counting `InterpolatedThresholder`, `Thresholder`, `RejectOptionThresholder`.

[2021-10-05 12:24] ameyn21 opened #972 "fairlearn.metrics._group_metric_set._create_group_metric_set fails for binary classification."
Describe the bug
I am trying to upload the fairness dashboard to Azure using the below code.

[code]

Y_test is an array containing values [1,0,1,1,0,0,0,1,0,0...................................]
where len(np.unique(y_true)) == 2. And its binary classification problem.

Expected Results
We would expect to get the dashboard dict returned for this classification model instead of getting an exception

[2021-10-05 14:16] riedgar-ms commented on #971
I've only had time for a very quick skim through, but from what you've written it sounds like CDD should be implemented using a `MetricFrame` internally. Basically, use `MetricFrame` as an easy way of getting the metric applied to all the splits, and then process them according to the requirements of CDD. Since the denominators are based on 'whole group' numbers, I don't think that CDD could be us

[2021-10-05 14:20] romanlutz commented on #972
I can reproduce this using this minimal example:
[code]

However, it does not happen with
[code]

@ameyn21 can you check whether every group (as defined through your sensitive features) has at least some 0s and some 1s in their `y_true`? I suspect there's one group with only positives or only negatives and that doesn't work with `sklearn.metrics.roc_auc_score`. That said, we should have proper err

[2021-10-05 14:37] romanlutz commented on #971
I suggested creating a function to pass into `MetricFrame`, but that has its own issues (see the part with `functools.partial`). If we pass in the full `y_pred` that should be possible, though. It's certainly not pretty, though.

At first, I actually rather liked your idea with implementing it as a method on the `MetricFrame`! I hadn't thought of that. However, it wouldn't work unless one of the m

[2021-10-05 14:39] riedgar-ms commented on #971
I was wondering if 'smuggle the full data to every call' was what you meant....

With CCD-as-a-separate-function, why would passing `count` into the internally used `MetricFrame` be a problem?

[2021-10-05 14:42] riedgar-ms commented on #972
What do you mean by 'proper error handling' @romanlutz ? The error is coming from `sklearn` not `MetricFrame`. We could have `MetricFrame` catch any exceptions from the metric functions, and wrap them in its own error, but I'm not sure what the advantage of that would be.

[2021-10-05 14:49] romanlutz commented on #971
I hadn't really thought of this as a separate function much, because I dislike special cases... Perhaps this is a good one, though.

I suppose you're right! We can just calculate the `count()` internally whether or not the user asked for it (but still only show it if they asked). That would make it very easy to calculate in the CCD-as-a-method case. I certainly like the simplicity of this approach

[2021-10-06 07:04] ameyn21 commented on #972
Thanks @romanlutz for the hint ! One of my sensitive_features were not encoded. It had values ['Male', 'Female'] which is why the '_create_group_metric_set' was complaining. But it threw a generic error.

[2021-10-06 07:40] romanlutz commented on #972
Good to hear that @ameyn21!

@riedgar-ms evidently people are unsure what to do with these errors so we should at least surface which metric failed to process the input data. Additionally, this is an entirely legitimate scenario (only 1s in one group) that should work. The ROC AUC score should perhaps be skipped in that case (?)

I'll reopen so that we can address these issues.

[2021-10-06 11:30] riedgar-ms commented on #972
How would `MetricFrame` know to skip any particular metric? As I said, we could certainly catch and wrap the exception, but 'which metric failed to process the input data' is already shown in the exception thrown.

[2021-10-06 12:38] hildeweerts commented on #971
I think we've seen several use cases now for which having the option to somehow retrieve counts from `MetricFrame` would be useful. I think one way to achieve this would be to have a `compute_counts=True` argument in `MetricFrame` that controls the property `mf.counts` that stores the counts per group (or whatever we want to call these). I would personally prefer such a construction to an `mf.coun

[2021-10-06 14:20] hildeweerts commented on #972
Would it make sense to add and argument for error handling behavior to `MetricFrame`, similar to what we have for e.g., `difference()`: `error` with options `'raise'` (raise error, possibly with a more meaningful error message compared to the current situation), and `'coerce'` (return `NaN` for the group for which AUC is undefined).

[2021-10-06 19:49] romanlutz commented on #971
The calculation from AWS is as follows:

![](https://render.githubusercontent.com/render/math?math=\frac{n^0_d}{n^0}-\frac{n^1_d}{n^1})

where the first term is the fraction of all 0 predictions that belong to a group `d`, and the second term is the fraction of all 1 predictions that belong to the same group `d`. So in that formula you get 0 if you have demographic parity in the sense that we've i

[2021-10-07 07:36] romanlutz commented on #972
By dumping I meant exporting as a pre-step to serialization. Just as a dict basically. Maybe we have that already on the MetricFrame and I'm not aware of it...

[2021-10-13 18:58] romanlutz opened #977 "DOC Restructure the assessment section of the user guide"
This first came up in #943 through [a comment](https://github.com/fairlearn/fairlearn/issues/943#issuecomment-914997930_) by @hildeweerts.

The existing headers and structure may not be ideal for helping users discover the section they're actually looking for and are somewhat confusing (as #943 shows). As we're working on the user guide anyway we should consider better ways to structure this secti

[2021-10-13 19:08] romanlutz opened #978 "DOC Make navigation bar consistent across website"
This builds on #825. The smaller textual inconsistencies between the headers of the custom landing page and sphinx-generated pages were resolved through #976, but the layout is still off. This is because the landing page is custom html while the remaining pages all use the pydata-sphinx-theme's default header.

Some perhaps useful information:
The top navbar of our theme seems to be configurable a

[2021-10-14 09:35] hildeweerts commented on #958
Sounds like the typical ML process to me!

![](https://koaning.io/posts/mean-squared-terror/ivory.png)
@koaning

[2021-10-14 18:26] SeanMcCarren commented on #977
At first, I found it slightly confusing that every subsection of Metrics (except for the first) is about grouped metrics, while the header of the second subsection is called 'Metrics with Grouping'. Really no big deal though :)

[2021-10-17 12:49] bramreinders97 commented on #958
Am I correct in my interpretation that we will now have two different classes (RejectOptionClassifier and Thresholder) with the same API, but with the difference that RejectOptionClassifier accepts binary classifiers and Thresholder accepts regressors? Or does Thresholder accept anything? But if that's the case, what can RejectOptionClassifier do that can't be done by Thresholder?

[code]

[2021-10-19 05:55] millerjohnp opened #984 "ENH: Incorporating folktables datasets from Ding et al."
#### Is your feature request related to a problem? Please describe.

Fairlearn currently exposes and makes use of the UCI Adult dataset in a few places, e.g. [in this example](https://github.com/fairlearn/fairlearn/blob/1247b081b5cbdf9373595b7e4627c142ae30ae44/examples/plot_grid_search_census.py). (Some recent work)[https://arxiv.org/abs/2108.04884] I've been apart of has highlighted a few limitat

[2021-10-20 15:17] adrinjalali commented on #984
I just came to say what @hildeweerts said.

[2021-10-21 09:16] bramreinders97 commented on #958
I realize now that the above is not the case, however the two API's will not differ greatly I suspect:

[code]

and

[code]

Where the only difference in API lies in multiple thresholds for `Thresholder` and a single one for `RejectOptionClassifier`.

I plan to start working on `Thresholder` now.

[2021-10-21 21:00] romanlutz commented on #984
Thanks for submitting this issue @millerjohnp!

I'm very much in favor of this project since we're not doing a good job at providing the information on why this dataset may not be ideal to use as a benchmark. Of course, your paper (and repo) add several alternative datasets which could be added to `fairlearn.datasets`. More on that below.

I'd also encourage breaking it down into as many pieces as

[2021-10-27 18:03] mmadaio opened #986 "DOC: Revise website navbar menu structure to reflect website redesign"
#### Describe the issue linked to the documentation
The current website navbar menu structure does not allow Fairlearn users to easily find existing material or easily allow contributors to contribute new material.

#### Suggest a potential alternative/fix

Update the website menu hierarchy to reflect the website redesign from @nessamilan. The revised menu structure can be found [here](https://www

[2021-11-09 14:00] MiroDudik commented on #772
@wcheung-code : I'm in the process of reviewing the issues and I'm wondering what's the status here. Let us know if you did something on the VW side that we could link to.

[2021-11-10 09:15] hildeweerts opened #987 "DOC standardize where what information is put (user guide, API ref, etc.)"
#### Describe the issue linked to the documentation

In the current API reference we vary quite a lot between very minimal descriptions (e.g., in [postprocessing](https://fairlearn.org/v0.7.0/api_reference/fairlearn.postprocessing.html#fairlearn.postprocessing.ThresholdOptimizer)) and quite detailed descriptions (e.g., [reductions](https://fairlearn.org/v0.7.0/api_reference/fairlearn.reductions.ht

[2021-11-10 09:23] hildeweerts opened #988 "DOC Add user guide for ExponentiatedGradient"
#### Describe the issue linked to the documentation

There is currently no user guide for `ExponentiatedGradient`.

#### Suggest a potential alternative/fix

Add the user guide for `ExponentiatedGradient`.

[2021-11-10 09:25] hildeweerts opened #989 "DOC add user guide GridSearch"
#### Describe the issue linked to the documentation

There is currently no user guide for `fairlearn.reductions.GridSearch`.

#### Suggest a potential alternative/fix

Add a user guide for `fairlearn.reductions.GridSearch`.

[2021-11-10 09:25] hildeweerts opened #990 "DOC add user guide CorrelationRemover"
#### Describe the issue linked to the documentation

There is currently no user guide for `fairlearn.preprocessing.CorrelationRemover `.

#### Suggest a potential alternative/fix

Add a user guide for `fairlearn.preprocessing.CorrelationRemover `.

[2021-11-10 09:27] hildeweerts opened #991 "DOC add user guide ThresholdOptimizer"
#### Describe the issue linked to the documentation

There is currently no user guide for `fairlearn.postprocessing.ThresholdOptimizer`.

#### Suggest a potential alternative/fix

Add a user guide for `fairlearn.postprocessing.ThresholdOptimizer`.

[2021-11-10 17:02] romanlutz commented on #991
#614 does this.

[2021-11-11 16:17] riedgar-ms commented on #988
The PR I started a long time ago about this:
https://github.com/fairlearn/fairlearn/pull/480
This was more about explaining to myself what was going on.

[2021-11-11 17:42] ghost opened #992 "DOC Translating Fairlearn documentation to Spanish"
#### Is your feature request related to a problem? Please describe.

To improve accessibility of Fairlearn, I would like to help translate the documentation to Spanish. I chatted with the Python in Spanish community about how they translate Python documentation, and here are their recommendations

1. Since Fairlearn documentation is in `.rst` format, I can use `sphinx` to extract text and generate

[2021-11-11 19:18] MiroDudik commented on #992
I think that this is a great idea. Two thoughts:
* Prioritization -- we should reach out to our intended audience to get the sense how to prioritize this.
* Maintenance -- I imagine that we would snapshot a specific version of the website and work on translating that version. What would the process look like for translating future versions with some updates etc.?

[2021-11-11 19:26] MiroDudik commented on #977
We should really update the material here to be more similar to how we talk about the assessment, e.g., in our [SciPy tutorial](https://github.com/fairlearn/talks/blob/main/2021_scipy_tutorial/fairness-in-AI-systems-instructors.ipynb).

[2021-11-11 19:38] MiroDudik commented on #265
As a reminder, although Python 3.6 is deprecated, the ill-defined optimization solution is still there, so I suggest we leave this issue open.

[2021-11-11 20:02] romanlutz commented on #265
Plus it happens in 3.7 as I found out recently!

[2021-11-11 22:20] MiroDudik commented on #971
I think that there might be valid reasons to consider it. Here are some of the top of my head:
* The metrics of the form **P[A=a | Y=1]** and **P[A=a | Y=0]** seem to be related to the EU law (see "negative dominance" on pages 50-51 of the paper)
* If you have access to population level marginals **P[A=a]** as well as access to data data with Y=1 (say only know who was admitted to some program / h

[2021-11-12 08:43] hildeweerts commented on #971
Good points, @MiroDudik! I especially find the second one convincing, because it shows how this metric may provide functionality we currently do not offer.

Re. possible implementations. I personally really believe that showing the actual comparisons that are being made in something like `MetricFrame` encourages more thoughtful processing of information than compressing everything in a single numb

[2021-11-12 11:27] hildeweerts opened #993 "DOC make_derived_metric API ref should contain options for transform"
#### Describe the issue linked to the documentation

The [API ref entry for `make_derived_metric`](https://github.com/fairlearn/fairlearn/blob/v0.7.0/fairlearn/metrics/_make_derived_metric.py#L96-L155) currently does not contain the list of strings that can be used as argument for the `transform` parameter.

#### Suggest a potential alternative/fix

Add the list of options to the docstring, i.e.,

[2021-11-12 11:33] hildeweerts opened #994 "DOC typo make_derived_metric API ref"
There is a small typo in the API ref entry of `make_derived_metric`.

In the sentence under Returns: *Function with the same signature as the metric but with additional sensitive_feature= and method= arguments, to enable the required computation*, `sensitive_feature` should say `sensitive_features`

[2021-11-12 18:18] Carlosbogo commented on #994
Hi, I would like to help with this.

[2021-11-12 18:23] Carlosbogo commented on #993
Hi, I would like to work on this. Is `['difference', 'group_min', 'group_max', 'ratio']` the complete list of options for the arguments?

[2021-11-13 08:57] hildeweerts commented on #993
Yup, that's the whole list. Thanks @Carlosbogo, I will assign the issue to you.

[2021-11-13 08:58] hildeweerts commented on #994
Perfect! I will assign this issue to you as well, @Carlosbogo.

[2021-11-14 18:09] romanlutz commented on #988
We may want to reevaluate the level of detail and math, too. Perhaps yours is more of a deep dive than a "user guide" @riedgar-ms ? I feel like there should be a place for that, too, just perhaps not as the user guide. These are just some thoughts I had, and I'm happy to be convinced otherwise 🙂

[2021-11-21 15:39] Vibhaa5 commented on #994
Hey, i want to solve this issue! Is this issue opened to solve?

[2021-11-21 16:25] bramreinders97 commented on #958
For `Thresholder`, I am wondering what we plan to do if there are multiple sensitive features? Consider the following example.

![image](https://user-images.githubusercontent.com/50204600/142769767-fa2317fb-98c8-4b01-9f31-cae13803cb6b.png)

Say, for example, that the threshold for 'A' is set at .6, and the threshold for 'C' is set at .5, and the score of the sample at index 0 is .55, will we outpu

[2021-11-22 08:28] hildeweerts commented on #958
How do we deal with multiple sensitive features in e.g., `ThresholdOptimizer`?

In my view setting thresholds for the subgroups makes sense. I agree that defining the `threshold_dict` for combinations might be a bit tricky, but in my view we should still provide the functionality. We could provide examples of how to generate the dictionary in some specific format (I suppose tuples would make sense

[2021-11-22 08:29] hildeweerts commented on #994
Hi @Vibhaa5, thank you for your interest! Currently @Carlosbogo is already working on this issue.

[2021-11-22 10:35] adrinjalali commented on #958
That would only be true if all classifiers had `predict_proba`, but not all of them do, and sometimes we use `decision_function` instead, as a soft value instead of the final prediction.

Other than that, I think at this point it makes sense for us to have PR to discuss the details there, instead of looking at small pieces of code in the issue to make decisions.

[2021-11-26 10:58] hildeweerts commented on #994
Fixed by #995

[2021-11-26 10:58] #994 closed

[2021-11-29 01:32] romanlutz commented on #958
Multiple sensitive features are not handled for each dimension (thresholds for all groups in SF1, thresholds for all groups in SF2, etc.) but we rather generate all possible overlap groups (AC, AD, BC, BD in your example) and collapse them into a single sensitive feature internally before working on it further. That way it’s no different from a single sensitive feature column. [This code](https://

[2021-11-29 01:35] #993 closed

[2021-11-29 15:18] bramreinders97 commented on #958
I was working under the assumption that we do not provide sensitive features in the fit method:

Do you think we should change this in order to perform the comparison you mentioned?

[2021-11-29 20:01] romanlutz commented on #958
Sorry, perhaps I phrased it badly. What I meant to say is that the groups for which we have thresholds are pre-defined, either in constructor or fit method. I don't particularly care which one. I believe you're setting them in the constructor. There just shouldn't be new ones in the predict method for which we don't have a threshold.

[2021-11-29 22:09] LeJit commented on #988
One key concept that we should include (that doesn't appear to be in @riedgar-ms's PR) is how to select a good *epsilon* (or set of *epsilons*) for your `Moment` of choice. I have a couple of thoughts on this, based on my experience using `ExponentiedGradient` for the SciPy tutorial.

Regarding the "mathiness", I think we should motivate the quantitative intuition behind the optimization process o

[2021-11-30 16:18] bramreinders97 commented on #958
Ah makes sense, I get what you mean now :)

[2021-11-30 16:53] Harsha-Nori opened #999 "Error Bars/Uncertainty Quantification for MetricFrame"
## Is your feature request related to a problem? Please describe.

There is currently no built-in way of assessing the volatility or uncertainty associated with metrics generated via `MetricFrame`. This has important implications for the interpretation of any observed values or differences between groups. For example, if a metric changes significantly under small changes (e.g. through resampling),

[2021-11-30 21:42] iofall commented on #936
I can help with this.

[2021-12-01 09:02] hildeweerts commented on #936
Awesome, @iofall! I have assigned the issue to you. Please let us know if you have any questions.

[2021-12-03 22:05] riedgar-ms commented on #999
Thank you for opening this issue!

My immediate thought is that bootstrapping isn't really anything to do with `MetricFrame` - couldn't the approach you're describing be made into a wrapper around any metric? Then that metric could be placed in a `MetricFrame` like any other.

**However**, that would force the 'DataFrame of tuples' return type, rather than the 'dictionary of DataFrames' you propos

[2021-12-06 09:43] hildeweerts commented on #999
Thank you for opening this issue and the thorough and clear description @Harsha-Nori! Let me start by saying I'm super happy that you're picking this up and I think the plan looks really good.

An advantage of adding bootstrapping directly to `MetricFrame` is that it creates a lot less overhead for the user, especially if you have a bunch of them. And, not unimportantly, it is much easier to locat

[2021-12-07 20:56] nessamilan opened #1002 "[Website Redesign] Incorporate new illustrations into current homepage"
## New illustrations are complete for incremental integration

Related to closed issue:
https://github.com/fairlearn/fairlearn/issue

Please find new illustrations below:
[EPS.zip](https://github.com/fairlearn/fairlearn/files/7671495/EPS.zip)
[PNGs.zip](https://github.com/fairlearn/fairlearn/files/7671497/PNGs.zip)
[RESOURCE ICONS.zip](https://github.com/fairlearn/fairlearn/files/7671498/RESOURCE.

[2021-12-07 23:31] Harsha-Nori commented on #999
Hi @riedgar-ms and @hildeweerts,

Thanks for taking the time to provide such thoughtful feedback! Here's my take on a few of the questions raised:

I agree with @hildeweerts' response here -- my feeling is that direct integration means less work for the user in both setting up the analysis and in post-processing results afterwards. A dataframe of tuples is particularly nasty to work with, and will

[2021-12-07 23:34] Harsha-Nori commented on #999
Also want to call out that @fredcam has expressed interest in working on this too, so we'll be handling this together 🙂

[2021-12-08 09:53] hildeweerts commented on #999
We have discussed this in our learning resources working group, but we currently don't have any. Warnings, hints and documentation on this sounds like a great idea!

[2021-12-09 19:48] riedgar-ms commented on #999
@Harsha-Nori I agree that if a DataFrame-of-tuples is considered undesirable, then building this into `MetricFrame` is the proper approach.

I do think that the statistics is going to need careful explanation. I can sort of see that 'different underlying distributions' etc. etc. might mean that the error bars on a particular metric for subgroups A, B and C aren't _strictly_ comparable. But if seei

[2021-12-09 22:28] MiroDudik commented on #999
Some quick thoughts:

* I'm in favor of this being part of `MetricFrame`. First, because of convenience, but more importantly, because we really need to be able to obtain error bars on `difference()`, `ratio()`, `group_max()`, and `group_min()`. The error bars on those are particularly important for the ability to quantify fairness.

* Also, I agree that we should document how we suggest that the

[2021-12-09 22:56] riedgar-ms commented on #999
Having had a meeting with @MiroDudik  and @Harsha-Nori , my problem was thinking about the issue backwards. I'm more used to the case of seeing people claim that two points with massively overlapping error bars are actually different. However, for fairness (at least as practised by `MetricFrame`) the 'good' case is where the numbers are the same (because you then have zero disparity), so the incen

[2021-12-10 09:16] hildeweerts commented on #999
Just to make sure I understand this correctly, the error bars on `difference()` would be computed by bootstrapping the difference, right?

As a note for future documentation, this would basically constitute a non-inferiority test (the one-sided version of an equivalence test): https://en.wikipedia.org/wiki/Equivalence_test

[2021-12-10 15:13] MiroDudik commented on #999
Yes! That's exactly what I had in mind -- it should work reasonably well even if we have many groups, because we don't have to worry about multiple hypothesis testing. However, we'll need to ensure that we deal correctly (that means conservatively) with some bad cases. The main bad case is when the number of data points in one of the subgroups, say *G* is too small. This can demonstrate in a varie

[2021-12-10 15:14] Harsha-Nori commented on #999
Thank you @MiroDudik for the thoughtful comments!

@hildeweerts, I'm expanding on your question so quoting it here:

I think this is a natural plan for the 2 groups setting, but I have a few questions about the case when there are >2 groups. I believethe current `.difference()` implementation adaptively chooses the maximum disparity between any two observed groups. For group/metric combinations wi

[2021-12-10 15:29] MiroDudik commented on #999
@Harsha-Nori :

I don't think we should fix the two groups in advance. We should basically calculate the `difference()` value separately for each bootstrap replicate and then report the confidence intervals of that statistic, and be clear in our documentation that we do this and what it means.

For a comparison of two specific groups, we could consider creating a new aggregator, maybe called "devi

[2021-12-10 16:36] hildeweerts commented on #999
I agree that we should not fix the groups in advance - the points raised by @Harsha-Nori are very valid and I think we have the responsibility to avoid possibly misleading results as much as possible.

Could you expand a bit more on this @MiroDudik? It is not entirely clear to me why this approach would alleviate issues with multiple hypothesis testing. It seems like you'd still need to repeat the

[2021-12-15 03:11] romanlutz commented on #937
FWIW I can't reproduce this on my machine with the following versions:
[code]

Since we don't have version numbers from the original post I'm going to close the issue. @RWilsker feel free to reopen if you can post your versions (using `fairlearn`'s `show_versions()`). I suspect `pandas` is seeing those warnings in the corresponding version and hopefully fixed them along the way, so an upgrade to t

[2021-12-15 03:11] #937 closed

[2021-12-20 20:37] SeanMcCarren commented on #911
Hi @adrinjalali @romanlutz, I think scikit-learn's `LabelEncoder` can be used? I could give it a try if this issue is still relevant :)

[2021-12-21 22:25] romanlutz commented on #911
@SeanMcCarren it's definitely still relevant! I would suggest starting with one algorithm only and trying it out with LabelEncoder. Thanks for volunteering!

[2021-12-29 09:57] LengMei opened #1004 "Error when using MetricFrame with sample_params"
Hi, I am using `MetricFrame` to generate evaluations with a set of built-in metrics with extra parameters. The parameters are passed to `MetricFrame` using `sample_params`. I found that for built-in metrics with `sample_weight` and `pos_label` as extra parameters, `sample_weight` is always working well, but when `pos_label` was passed with a not-None value, it produced IndexError from fairlearn/me

[2021-12-31 23:02] LeJit commented on #1004
Hi LengMei,

Thanks for opening this issue and finding this bug! `sample_params` is expecting array-like parameters with length matching that of `y_true` and `y_pred`. Unfortunately, passing in `pos_label` as an array (e.g. `"pos_label" = [pos_label]*len(y_true)`) won't fix the problem since the `false_positive_rate` function is expecting `pos_label` to be a scalar value.

It should be a simple fi

[2022-01-05 05:36] romanlutz commented on #984
@millerjohnp did you have any success with OpenML?

We may have people willing to capture the most important information from the paper regarding the original Adult dataset and the new datasets in a section of the user guide as mentioned in my previous post here. If the datasets are on OpenML we can directly use them from there, otherwise we'll perhaps try to upload them ourselves. Let me know 🙂

[2022-01-06 00:04] millerjohnp commented on #984
Hey @romanlutz apologies for the delay here. I've been distracted by other projects the last few months. I have some time right after the ICML deadline to update the documentation for the Adult dataset and also finish uploading our datasets to OpenML so they're usable in fairlearn. Thanks for your patience :)

[2022-01-06 02:53] romanlutz commented on #984
No worries! @kspieks and @britneyting will probably try to come up with a first version of a documentation through the user guide. This should be based on the findings in your paper, of course, but may also include other information.

I believe the ICML deadline is end of January, right? It would be great if you could provide feedback or make additions at that point. Of course, you're more than we

[2022-01-11 19:13] romanlutz commented on #992
I have still not had time to read through it in detail, but it does seem like it would require people to manually translate pages. I'm unsure what will happen when we reorganize the structure of the user guide, for example, and what that does to translations. I think we should try to understand this better first, since the translations themselves will be a massive effort as far as I can tell.

[2022-01-12 14:21] SeanMcCarren commented on #911
I've delved a bit deeper into the issue now. Starting with a list of algorithms to update (as @adrinjalali mentioned):
- [ ] threshold optimizer
- [ ] exponentiated gradient
- [ ] grid search

Then, my thoughts so far... My initial thought was that we could just translate strings to numbers in the shared input validation and be done with it. But I now think that this does not work, because we need

[2022-01-13 11:28] hildeweerts commented on #784
Hi, @galuhsahid! Do you still intend to work on this? No worries if not!

If I receive no response in 2 weeks (before January 27) I will reassign the issue so other folks who are interested can work on it.

[2022-01-13 14:11] adrinjalali commented on #911
@SeanMcCarren overusing Mixins makes the code less readable, and moves the codebase more towards a large framework kinda codebase, which is hard to maintain and read and change especially for new contributors. If the repeated code is just a single line of code, we don't try to abstract it away.

[2022-01-19 08:49] hildeweerts commented on #988
I really like @LeJit's suggestion to first provide a more intuitive high-level explanation before diving into the specifics!

[2022-01-19 13:03] hildeweerts opened #1009 "MNT CI error: SciKeras requires Tensorflow > 2.7.0"
We came across an error in the "Tests - other ML packages" in the adversarial debiasing PR (#973), because SciKeras requires a newer version of Tensorflow (>2.7.0) than the one that is currently in our requirements (>2.4.0). Some options:
* Upgrade the Tensorflow requirement.
* Remove the SciKeras dependency. It seems like SciKeras is actually not used at all apart from the tests. It might be a re

[2022-01-19 13:56] riedgar-ms commented on #1009
I don't have any objection to bumping the TF requirement @hildeweerts . Those tests are only there to show that we can work with other packages, and are not meant to be comprehensive. Is TensorFlow a package which people expect to upgrade regularly, or does it have a long term support structure?

[2022-01-19 14:51] hildeweerts commented on #1009
I am not a TensorFlow user myself, but I've asked around and it seems to be pretty standard for Tensorflow to have strong backward compatibility.

I do recall that @adrinjalali mentioned at some point that if we are going to add some deep learning examples etc., he'd prefer to go for PyTorch instead, so that's maybe something to consider as well.

[2022-01-19 14:56] romanlutz commented on #1009
I agree with @riedgar-ms and suspect the former is much easier.

I'm a little confused as to why this broke in the first place. What changed?

[2022-01-19 15:00] hildeweerts commented on #1009
I *think* the problem is that we didn't specify a version for scikeras: https://github.com/fairlearn/fairlearn/blob/94229647dda802a59bcbfe7f6d64295d64e96efa/test_othermlpackages/conda-tensorflow.yaml

[2022-01-19 15:02] hildeweerts commented on #1009
I think we will need to make some decisions related to this related for the adversarial debasing PR #973, in particular regarding the use of tensorflow/pytorch/scikeras examples in the documentation.

Tagging @SeanMcCarren

[2022-01-19 15:08] romanlutz commented on #1009
- using TF or PyTorch in tests is a MUCH easier task than in the docs because we'd have to include these packages in the dev requirements to make them available for the doc build. You'll find that's currently not the case. Eventually we may need to find a solution to this problem by splitting our doc build into separate pieces (maybe?) but that's certainly a major issue of its own and out of scope

[2022-01-19 22:44] kspieks opened #1010 "DOC ACSIncome vs. UCI Adult"
#### Describe the issue linked to the documentation

This issue is intended to start a discussion about the ACSIncome dataset, which is 1 of 5 datasets created and published by [Ding et al. (2021)](https://arxiv.org/pdf/2108.04884.pdf). The scope of PR #1005 is just to introduce the facts about the dataset (size, features, descriptions). However, some important questions remain, and the topics dis

[2022-01-26 03:31] romanlutz opened #1012 "Tests are failing with pandas 1.4.0"
In #1011 @britneyting encountered the following issue in Python 3.9 tests using pandas 1.4.0 which I can reproduce locally:
[code]

It seems like the error message changed to "Per-column arrays must each be 1-dimensional"
Does that sound about right @riedgar-ms ? If so, we can change that string. Since it doesn't sound similar I wanted to at least check with you (assuming you wrote the test).

[2022-01-26 13:06] riedgar-ms commented on #1012
Since we're looking for a `pandas` error here, we might want to think about the test case again (and this is probably one of mine....). IIRC, this traps a `pandas` error and wraps it in something more useful. What we probably should do is add something to our error message to point users at the `__cause__` field, and not bother seeing what `pandas` error we got.

Does that sound like a reasonable

[2022-01-28 16:16] SeanMcCarren commented on #784
I made some progress on this :)

[2022-01-28 16:43] kspieks commented on #1010
For reference, this [notebook](https://github.com/kspieks/fairlearn/blob/acs_income_2022/notebooks/ACSIncome/1_data_analysis.ipynb) started some of the data analysis for ACSIncome. I encourage others to analyze the dataset further and incorporate any findings into the documentation :)

[2022-01-29 13:57] riedgar-ms opened #1015 "xgboost and latest pandas"
#### Describe the bug

This is more a reminder to remove a workaround. In the `othermlpackages` tests, `xgboost` was not interacting well with the latest `pandas`. It appears that the former is using a feature which the latter considers to be deprecated. PR #1014 puts a cap on the version of `pandas` as a workaround, but once `xgboost` updates, we should remove this.

[2022-01-31 10:09] SeanMcCarren commented on #1009
That makes sense! Shall I make the examples in PR #973 just non-functional code then?

[2022-01-31 10:13] adrinjalali commented on #1009
yes, but the issue there is that since it's not compiled code and the API changes quite frequently, it either becomes dead code or needs to be maintained, and since changes in TF are not gonna break our CI in that example, it's hard to keep it in mind. We could have the example also as a test and whenever the tests fail, also update the example.