[2020-07-29 20:53] romanlutz commented on #477
I think I'd rather wait for the seamless move than spend hours fixing things all over the place. I'm not 100% convinced even the seamless move will fix things, though. I'm particularly thinking of the automation that builds the docs and pushes that to the other repo's master branch. If we had more info on what the seamless move will include we could judge whether it's worth waiting or not. What do

[2020-07-30 10:59] hildeweerts commented on #477
I'm okay with waiting a bit longer for the 'seamless' move. Perhaps it'd make sense though to set a go/no go date in case Github takes longer than expected.

[2020-07-30 11:12] riedgar-ms commented on #516
The duplication to which I was referring was between `requirements.txt` and `setup.py`. Splitting up the former does not intrinsically fix that.

I'm not sure that further splitting of the `requirements.txt` would be desirable. So long as we can kick out `shap`, `xgboost` and so on from the core developer dependencies, I'm not sure that the remaining differences between 'doc only' and 'full dev de

[2020-07-30 16:17] kevinrobinson commented on #498
FYI, this is an example mockup I shared during the 7/30 call for what this could look like:

<img width="1335" alt="Screen Shot 2020-07-30 at 11 29 38 AM" src="https://user-images.githubusercontent.com/1056957/88947446-8a767800-d25e-11ea-84a6-5408e9849d49.png">

and here's the dump of the HTML for future hacking :)
[code]

[2020-07-31 05:31] romanlutz commented on #516
Sure, and if we change our mind we can easily revisit this!

[2020-07-31 05:34] romanlutz commented on #477
Let me see whether I can get some more details on just how seamless this will be... if it's not sufficient I'd say there's no particularly good reason to wait.

[2020-07-31 08:25] maurominella opened #537 "Bug in group_summary function of _metrics_engine.py and _group_metric_set.py"
#### Describe the bug

When I call  _create_group_metric_set as indicated online at https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-fairness-aml , I get the error
[code]
, which is clearly not true because I'm passing same-size arrays for y_true and predictions (or even the same variable!).

Please note that the error says "Array **y_pred** is not the same size as y

[2020-07-31 14:23] riedgar-ms commented on #537
Thank you for highlighting this. It looks like this is actually a bug in the sample code on:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-fairness-aml

Specifically in,
[code]
the variable `ys_pred` is supposed to be a `(str,array)` dictionary, where the key is the name of the (registered) model. The code in the [example notebooks](https://github.com/Azure/Machin

[2020-07-31 14:57] riedgar-ms commented on #537
This is actually a problem on the Microsoft Docs website - the Fairlearn part is actually behaving as expected. I've filed an internal bug to fix the webpage.

[2020-07-31 14:57] #537 closed

[2020-07-31 17:14] RachitChhaya opened #539 "Demographic Parity in Grid Search For Regression"
I modified the plot_grid_search_census example notebook given in the Examples Notebook. I want to modify it run it for regression task.  I used fetch_bostaon and LinearRegression instead of LogisticRegression. I also made required changes to train_text_split.  It
runs fine  till the point
sweep = GridSearch(LinearRegression(fit_intercept=True), constraints=DemographicParity(), grid_size=71)
Howeve

[2020-07-31 21:32] riedgar-ms commented on #539
Demographic parity is a constraint for classification problems.  You need to pick a constraint moment suitable for regression, such as bounded group loss.

[2020-08-01 08:57] RachitChhaya commented on #539
hi. Thanks for the reply . But doesnot the paper "Fair Regression: Quantitative Definitions and Reduction-based Algorithms" regression version constrained with statistical parity too. Thanks

[2020-08-03 20:48] romanlutz commented on #539
That's correct. The existing implementation of `DemographicParity` is for binary classification only, though. I'll convert this into a feature request for DP as a regression constraint.

@MiroDudik does the current workstream with Steven, Leijie, and Mukundh address GridSearch as well?

[2020-08-03 21:52] #530 closed

[2020-08-03 22:05] romanlutz opened #543 "FalsePositiveRateParity and TruePositiveRateParity can't handle absence of positives/negatives, respectively"
If there are no positives then there's nothing to take into account for TPRP, and if there are no negatives there's nothing to take into account for FPRP. Currently that results in an exception, but we need to fix that according to Miro's suggestion from #442:

_Originally posted by @MiroDudik in https://github.com/fairlearn/fairlearn/diffs_

[2020-08-04 12:16] RachitChhaya commented on #539
Thank you

[2020-08-04 12:16] #539 closed

[2020-08-04 14:36] #380 closed

[2020-08-04 14:57] parul100495 opened #544 "Bank Marketing dataset addition needs documentation review/correction"
#### Describe the issue linked to the documentation

Link: https://github.com/fairlearn/fairlearn/blob/master/fairlearn/datasets/_fetch_bank_marketing.py#L69
The filename and code within suggests that the dataset incorporated is UCI bank marketing dataset. However, the description is incorrect (it is of UCI adult dataset).

#### Suggest a potential alternative/fix

Correction in the documentation/

[2020-08-04 15:11] riedgar-ms commented on #516
I think this particular issue is closed by my commit #535 . As said above, we can open a new issue if that change proves insufficient.

[2020-08-04 15:11] #516 closed

[2020-08-04 19:38] riedgar-ms commented on #544
Tagging @gaugup

[2020-08-04 19:43] gaugup commented on #544
@parul100495 thanks for pointing this out. I will create a PR to fix this.

[2020-08-05 19:50] mesameki commented on #463
@hildeweerts Thanks for following up. Our designer is looking into this and we came up with a list of action items that we would like to share with the community first. We will provide an update of the timeline and action items in our upcoming session.

[2020-08-07 14:40] riedgar-ms opened #549 "Quickstart examples link goes to SciKit-Learn"
#### Describe the issue linked to the documentation

In the "What's Next" section on:
https://fairlearn.github.io/quickstart.html
the "Examples" link goes to the SciKitLearn website

#### Suggest a potential alternative/fix

We might want to link to our own examples

[2020-08-07 23:23] gaugup commented on #544
@romanlutz @parul100495 we could close this issue as the above is merged.

[2020-08-07 23:36] #544 closed

[2020-08-07 23:38] parul100495 commented on #544
Closing as it is now done. Thanks @gaugup for the quick response :)

[2020-08-12 01:28] ancibira opened #552 "'GridSearch' object has no attribute 'predictors_'"
Hi there, I am running the notebook: Binary Classification with the UCI Credit-Card Default Dataset.
When running the gridsearch component I get an error when trying to get the scores. I have made no alterations to the notebook.

![image](https://user-images.githubusercontent.com/48265599/89964665-2015fc80-dc8e-11ea-979b-1a01feee2409.png)

#### Versions
- OS: Windows
- Browser: Edge
- Python versi

[2020-08-12 13:23] riedgar-ms commented on #552
You may have run into one of our backwards compatibility problems.... did you `pip install` Fairlearn, but download the notebook from the website? If so, then I'm afraid there have been breaking changes (we need to do a new release to fix this, and also provide versioned documentation).

To use the latest notebooks, you need to clone the repository, and install Fairlearn via `pip install -e .`

To

[2020-08-12 23:48] ancibira commented on #552
Yes I did pip install Fairlearn, but download the notebook from the website. Thank you, I will do as you suggested.

[2020-08-12 23:48] #552 closed

[2020-08-13 01:11] nina-hua opened #556 ""GroupLossMoment" versus "BoundedGroupLoss""
Hello, I've installed fairlearn using pip and in the init script, "GroupLossMoment" is present while "BoundedGroupLoss" isn't. Comparing this script to the one found in the Github, they're not consistent, which I'm assuming is because I've installed fairlearn with pip instead of pulling from the repo. Does  "GroupLossMoment" work comparably to "BoundedGroupLoss"?

[2020-08-13 05:41] romanlutz commented on #556
Hi @nina-hua ! Your assessment sounds correct :-)
`GroupLossMoment` has been renamed to `BoundedGroupLoss`, but it's also a little bit more general now. GLM is only usable with `GridSearch`, while BGL is usable with `GridSearch` and `ExponentiatedGradient`. [When using BGL with `ExponentiatedGradient` you need to provide the `upper_bound` argument.] Otherwise they should behave the same way.

Plea

[2020-08-13 15:53] nina-hua commented on #556
Thanks Roman! Do you have a link to older documentation on how to use GroupLossMoment?

[2020-08-13 23:31] riedgar-ms commented on #549
This is almost certainly because of our `intersphinx` mappings. Entertainingly, search for `sphx_glr_auto_examples` (the reference given) turns up a lot of hits for SciKit-Learn. But the name is defined by `sphinx-gallery`

[2020-08-14 00:06] romanlutz commented on #556
I don't unfortunately, but you can use it just like `BoundedGroupLoss` except that there's no `upper_bound` argument: https://fairlearn.github.io/user_guide/mitigation.html#bounded-group-loss

It will only work with `GridSearch`, though.

[2020-08-14 01:42] nina-hua commented on #556
Thanks Roman! I'm actually trying out GridSearch with the Boston Housing Dataset. But I'm running into an error setting the grid size. I've tried using 10 versus 1000 estimators, but I'm not sure how to mitigate this issue?
`Message:'Generating a grid with {} grid points. It is recommended to use at least {} grid points. Please consider increasing grid_size.'
Arguments: (10, 3182868713022634509794

[2020-08-14 01:54] nina-hua commented on #556
Is there a tutorial on how to use GridSearch with regression problems since I've only stumbled upon classification problems?

[2020-08-14 03:06] romanlutz commented on #556
We don't have one yet. Wow that's a big number. How many groups do you have in that example? The recommended grid size is exponential in the number of groups.

I also want to point out the fairness issues with the Boston housing dataset. More context is available at this link: https://github.com/koaning/scikit-fairness/issues/31

[2020-08-14 03:57] nina-hua commented on #556
By groups, do you mean the sample size? I did an 80/20 train/test split with the Boston dataset, so my training data set comes out to be 404 samples.

Yup, definitely chose this dataset on purpose because I was assigning the "B" feature as a sensitive feature to explore.

[2020-08-14 04:15] romanlutz commented on #556
That's likely the problem. By default it treats the sensitive feature data as individual categories and you probably have roughly 400 different ones. I don't have enough context on this particular dataset to make any recommendations, but I'd suggest thinking about the application context first. What do you envision to do with such a model?

FYI @kevinrobinson and @koaning who have worked with this

[2020-08-14 06:47] koaning commented on #556
Binning ... or use a technique like an InformationFilter as demonstrated [here](https://scikit-lego.readthedocs.io/en/latest/fairness.html#How-it-Works).

[2020-08-14 14:31] maurominella opened #558 "Interactive dashboard doesn't show on Azure Compute Instances, either JupyterLab or Jupyter Notebooks"
If I setup a local Conda environment and run FairLearn dashboards, it works:

![image](https://user-images.githubusercontent.com/32428960/90260627-0f12ea00-de4c-11ea-9c2d-bbd1f1bd35ed.png)

If I run the same notebook -and libraries- on an Azure Compute Instance, it doesn't. More specifically:

- On JupyterLab, it reports "Error displaying widget: model not found"

![image](https://user-images.gith

[2020-08-14 15:56] nina-hua commented on #556
Thanks for the help Roman and Vincent! I wanted to build a model to predict the median house price with a dataset that's known to be biased to demonstrate how Fairlearn & InterpretML can be used in future projects at work. I'll try out the binning method for now.

[2020-08-14 16:32] kevinrobinson commented on #556
@nina-hua hello!  If you're trying to make the case at work for using these assessment and mitigation approaches, it can really help to frame the impact in terms of how it reduces real harms to real people.

If you're into research papers, [Language (Technology) is Power: A Critical Survey of “Bias” in NLP (Blodget et al. 2020)](https://www.aclweb.org/anthology/2020.acl-main.485.pdf) suggest some

[2020-08-15 21:55] riedgar-ms commented on #549
Closed by #560

[2020-08-15 21:55] #549 closed

[2020-08-16 06:40] romanlutz commented on #558
@maurominella you're right in that JupyterLab isn't support yet. It should work in Jupyter on Azure. You wrote "Azure Compute Instance" so I assume it's an [AzureML Compute Instance](https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance). The dashboard itself is showing up, just the calculation seems to not finish.

Sometimes it does take a little time to calculate if th

[2020-08-17 16:31] nina-hua commented on #556
Thanks! I'll discuss this with my manager and will take you up on that!

[2020-08-17 16:34] nina-hua commented on #556
This is an aside, but would there be any capability of having Fairlearn be compatible with glassbox models from InterpretML? I thought about how Fairlearn's GridSearch could be used to improve an ExplainableBoostingRegressor from InterpretML but because ExplainableBoostingRegressor does not contain a "sample_weight" argument, I'm receiving this issue.

![fairlearn_error](https://user-images.github

[2020-08-17 18:20] romanlutz commented on #556
We require `sample_weight` at this point and EBM doesn't have that currently https://github.com/interpretml/interpret/blob/67da4f4913e01340324f07ea95074784db6c337d/python/interpret-core/interpret/glassbox/ebm/ebm.py

This is already tracked through #4 . Nobody is currently working on this feature, though.  @mesameki FYI

If you really want to use it you could perhaps write a wrapper for your regre

[2020-08-19 06:35] leockl opened #562 "Running `predictors = sweep.predictors_` does not work in the GridSearch with Census Data notebook example"
#### Describe the bug
I am following the GridSearch with Census Data notebook example (https://fairlearn.github.io/auto_examples/plot_grid_search_census.html) but when I tried running the code `predictors = sweep.predictors_` in the notebook example, I get an error.

#### Steps/Code to Reproduce
`predictors = sweep.predictors_`

#### Expected Results
Expected it to run without any errors, as per t

[2020-08-19 06:44] maurominella commented on #558
Hi @romanlutz , thanks for your answer. I can't say why, but it works now. I just rebooted the VM.

I confirm it's this AzureML Compute Instance:
![image](https://user-images.githubusercontent.com/32428960/90600276-8c48b100-e1f6-11ea-8f7b-6162e0f84d64.png), even after reboot.

ys_pred is a dict whose first element is the model_id and the second one is the array with the predictions as described at

[2020-08-19 06:46] #558 closed

[2020-08-19 14:26] Dref360 commented on #237
Hello,
I'm interested in this feature for Metrics.

If we take `group_summary` for example,

would the change be as simple as calling `np.unique(s_f, axis=0)` instead of `np.unique(s_f)`?
https://github.com/fairlearn/fairlearn/blob/master/fairlearn/metrics/_metrics_engine.py#L66

[2020-08-19 23:34] romanlutz commented on #562
This is related to documentation versioning which @riedgar-ms is addressing in #551 . Once we have that it'll be possible to view the documentation of the version that you're using. Since that's already captured in other issues I'll close this one.

[2020-08-19 23:34] #562 closed

[2020-08-20 14:04] kevinrobinson commented on #498
There's been some recent discussion offline with @nessamilan about this, and it hasn't yet migrated into GitHub or hackpad.  If anyone is interested in learning more or collaborating, please comment here or reach out in gitter.im/fairlearn/community, we'd love to talk more! 👍

[2020-08-20 21:14] arjsingh opened #564 "Pre-fit warning/error for post-processing estimator"
In the [UCI Credit-card Default classification notebook
](https://github.com/fairlearn/fairlearn/blob/master/notebooks/Binary%20Classification%20with%20the%20UCI%20Credit-card%20Default%20Dataset.ipynb) when the fit() function is called on the ThresholdOptimizer() pipeline, it shows the below warning.

This could be expected because the model was already fit before leveraging this post processing

[2020-08-21 06:35] romanlutz commented on #564
IMO there are a few issues here:
1. prefit = True is the default, but none of this is super obvious when you suddenly see this error without having heard of prefit.
2. While the middle sentence explains what's perhaps wrong, it doesn't tell you if case (1) is an issue or not, so you can't know whether or not to proceed.

[2020-08-31 22:51] GraemeMalcolm commented on #484
I'm having the same problem in an Azure ML Compute Instance Jupyter Notebook. I created a dedicated environment as follows:

[code]
Restarted the kernel (and in fact restarted Jupyter on the Compute Instance), but running code to display the widget just results in the following text output:

[code]

It worked a week or so ago, and the only thing that's changed is the release of azureml-sdk 1.13 to

[2020-09-01 00:38] romanlutz commented on #484
I'm able to repro this as well. @XuKe444 FYI

[2020-09-04 14:53] riedgar-ms commented on #543
I've been prodding this, and changing `.size()` to `.count()` in `UtilityParity.load_data()` doesn't seem to be a complete fix. For starters, making that change results in almost every test of ExpGrad failing. This is perhaps not surprising, since `size()` returns an integer, whereas `count()` will return a DataFrame.

I have a test case [in a branch](https://github.com/riedgar-ms/fairlearn/blob/r

[2020-09-05 18:56] AndreFCruz opened #569 "Picklable objects (currently throws an error)"
#### Is your feature request related to a problem? Please describe.
[code]
Throws the error: ```AttributeError: Can't pickle local object '_Lagrangian.best_h.<locals>.h'```

#### Describe the solution you'd like
I'd like to be able to pickle a fitted classifier/reductions object, or persist it in some other way.
I have searched the API docs and this doesn't seem to be a feature.

#### Additional c

[2020-09-08 08:59] leonarduschen opened #570 "Consider changing logo link in the documentation page from contents to index"
#### Describe the issue linked to the documentation

Clicking the logo leads to contents instead of index. This is because `pydata-sphinx-theme` sets logo href to `master_doc` (which in `fairlearn` case is contents).

#### Suggest a potential alternative/fix
I'm not sure if linking the logo to `index` instead of `content` is really what `fairlearn` wants, but an extra opinion from `fairlearn` main

[2020-09-08 13:27] riedgar-ms commented on #569
I have a repro written as a test case, and [parameterised with both learners and moments](https://github.com/riedgar-ms/fairlearn/blob/riedgar-ms/pickle-expgrad-test/test/unit/reductions/exponentiated_gradient/test_exponentiatedgradient_pickle.py). I agree that this appears to be related to what the `_Lagrangian` is doing, although I've not had time to dig into that yet.

[2020-09-08 14:24] adrinjalali commented on #569
making the objects pickle-able is really nice, but in the meantime you could try with `cloudpickle` and see if that helps for your usecase.

[2020-09-09 09:31] AndreFCruz commented on #569
`cloudpickle` does seem to work, thanks!

[2020-09-10 15:23] Rishit-dagli opened #571 "FairLearn does not function in JupyterLab"
FairLearn does not seem to work in JupyterLab or other custom Jupyter based editors. In a JupyterLab Instance the FairLearn dashboard does not seem to load, and displays-

[code]

However, the same example code works well in a Jupyter Notebook and is able to render the FairLearn Dashboard widget. I also tried updating `ipywidget` which did not seem to solve the problem.

I have also tested with a

[2020-09-15 15:46] kevinrobinson commented on #478
@hildeweerts In going through some other work, I ran into another paper that may have helpful framing on this and added it last up above.

That paper is similar to what @michaelamoako has been talking about in terms of "start with a narrow technical frame, then take a step outward to reveal more context each time, so you can see how much the narrow technical frame missed."  He might have some othe

[2020-09-15 17:56] hildeweerts commented on #478
Thanks, Kevin. This is super helpful!

[2020-09-16 02:49] romanlutz commented on #571
That's correct, we don't yet support JupyterLab. I'm collecting all that kind of feedback in #484 . JupyterLab has already been reported there so I'll close this issue.

FYI I'm actively working on moving the UI from ipywidgets to flask which should solve this issue. Stay tuned!

[2020-09-16 02:49] #571 closed

[2020-09-16 02:57] romanlutz commented on #570
This is mostly self-inflicted since we wanted to have a custom title page, so the docs "root" is `contents` as you're describing, and not index. I don't consider it to be a big issue to be honest. Adding a link from contents back to the `index` page may be a useful "band aid" solution until there's perhaps a solution from pydata-sphinx-theme. Feel free to open a PR!

[2020-09-18 19:51] romanlutz commented on #484
Update: #578 adds Flask to do the metric calculations as opposed to ipywidgets. This should solve the issue of the dashboard not showing up on the first call after installation.

To address issues in other environments we have future work coming up. Note that this dashboard will move out of this repository & package after the next release which is why we've added a warning. More info will be in th

[2020-09-19 14:19] Dref360 opened #580 "Can't use sklearn.Pipeline with GridSearch."
Hello,

I may be wrong, but GridSearch does not allow [sklearn.Pipeline](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) for its estimator.
This would be a useful feature have!

## How to reproduce.
In `test/unit/reductions/grid_search/test_grid_search_arguments.py` add:

[code]

Then : `pytest test/unit/reductions/grid_search/test_grid_search_arguments.py` would

[2020-09-21 05:53] romanlutz commented on #580
@Dref360 this is a great discovery! I suspect we'll find the same issue with `ExponentiatedGradient` since it also relies on passing `sample_weight` to the estimator. What I don't quite understand in your example is how the pipeline knows that it's for that step since the step is named `logistic` but you prefix the key with `logisticregression`. Is that perhaps an issue with the example?

I like y

[2020-09-21 06:16] romanlutz commented on #4
@Pooja1301 is looking into this now for `ExponentiatedGradient`, and then same resampling should be applicable to `GridSearch` subsequently. Stay tuned :-)

[2020-09-21 06:17] adrinjalali commented on #580
The mitigation should definitely be a part of the pipeline to avoid data leackage. Otherwise your mitigation technique is going to see the whole dataset which it shouldn't.

[2020-09-21 12:22] riedgar-ms commented on #580
It would seem odd that our Estimators would have a capability (overriding an argument name) when the `sklearn` estimators do not.  What we might want is the ability to override the `sample_weight` name when calling the underlying Estimator, in case something that we're wrapping uses another name.

[2020-09-21 13:10] Dref360 commented on #580
Yes, sklearn does not know the name of the step, it just show `logisticregression__sample_weight`. In reality, it should be `logistic__sample_weight` (from the name I put in the Pipeline arguments).

[2020-09-21 13:18] riedgar-ms commented on #580
An update on my earlier comment, now that I've woken up a bit more. If I understand @adrinjalali  correctly, when trying to use Fairlearn in a pipeline, the Fairlearn estimator should go into the pipeline itself. The line to construct the pipeline should look something like:
[code]
which definitely makes sense, and should work as-is (we should check this, though). It feels odd to have some externa

[2020-09-21 16:44] adrinjalali commented on #580
More like, do the `GridSearch` on the `pipeline`, would that not work?

[2020-09-21 19:55] romanlutz commented on #580
Isn't that the original example @Dref360 is showing? That seems to be in contrast with your earlier comment @adrinjalali . Perhaps I'm misunderstanding.

What Richard drew up is basically what I meant originally, although I don't know if that's preferable to having `GridSearch` wrap the pipeline. A quick search showed one `sklearn` example with `GridSearchCV` wrapping `Pipeline`, but I can't tell

[2020-09-21 21:26] anindya5 opened #581 "cannot import name 'BoundedGroupLoss' from 'fairlearn.reductions'"
Trying to implement BoundedGroupLoss but getting that cannot import  'BoundedGroupLoss' from 'fairlearn.reductions'.

Code was  `from  fairlearn.reductions import BoundedGroupLoss`

Fairlearn package version is latest and other fairlearn classifiers and widgets are working

[2020-09-21 22:10] romanlutz commented on #581
This sounds like a duplicate of #556 . If that's not true please reopen this issue. If it is related to #556 please just comment there. Thank you @anindya5 :-)

[2020-09-21 22:10] #581 closed

[2020-09-22 07:38] adrinjalali commented on #580
To me, `GridSearch` is not a _mitigation technique_, it's rather finding a set of hyper parameters which satisfy a set of constraints. Ideally `sklearn`'s API gives you all you need so that you could remove `GridSearch` from `fairlearn` and just use `GridSearchCV`, in which case you'd put the whole pipeline in it. On the other hand, I would put `InterpolatedThresholder` inside a pipeline instead o

[2020-09-22 17:07] anindya5 commented on #556
Will the BoundedGroupLoss be available in pip or conda anytime soon?

[2020-09-22 21:19] romanlutz commented on #556
@anindya5 yes! With the next release it'll be available. @riedgar-ms I think the metrics updates & doc updates are the main blockers for v0.5.0, is that correct? If so, do you have a (rough) ETA?

[2020-09-22 22:31] romanlutz commented on #580
@adrinjalali I agree that that's how it should be, but right now it isn't. There's one potential problem that (at least in my mind) is keeping us from doing it this way. `GridSearch` (ours, not `sklearn`) creates a grid with certain properties, not just a grid that is created by combining all options from all parameters with each other (which would be the Cartesian Product). [You may argue that th

[2020-09-23 01:33] romanlutz opened #583 "Datasets module: keep or remove?"
As discussed in the [last developer call](https://fairlearn.github.io/contributor_guide/developer_call_notes/2020_09_17.html) I wanted to summarize the discussion around the datasets module so that everyone has a chance to comment including folks who didn't happen to be on that call.

Things to be aware of:
- The module is not part of a released version yet, so removing it would be simple since no

[2020-09-23 08:30] koaning commented on #583
It's up to you. My only advice is to consider that it is easier to have people demo the library if the library makes it easy to demo the library. That's why I've always added datasets to my other libraries. Running scikit-learn code to fetch a dataset is a small task, but it is a small task that makes it harder for a novice to get started.

[2020-09-23 16:49] romanlutz commented on #583
Good point! I'll take that as a vote towards (1) or (2).

[2020-09-25 14:16] Pooja1301 commented on #4
I have started looking into it.

[2020-09-29 12:04] hildeweerts opened #588 "Add random_state to ThresholdOptimizer"
#### Is your feature request related to a problem? Please describe.

The results of `ThresholdOptimizer` are currently not reproducible. Although `random_state` in `ThresholdOptimizer.predict()` helps to ensure reproducibility in the predictions, running `fit()` twice will result in a different optimizer object (and hence different predictions).

#### Describe the solution you'd like

I'd like a `

[2020-09-29 15:10] MiroDudik commented on #430
@koaning : apologies for the inordinate delay--are you still interested in seeing this through? I can commit a few hours each week to make sure that we make steady progress.

[2020-09-29 21:02] MiroDudik commented on #430
There were two bugs in the notebook. One of them was in the implementation of `CorrelationRemover.fit()`:
* _original_: `self.sensitive_mean_ = X_sensitive.mean()`
  _correct_: `self.sensitive_mean_ = X_sensitive.mean(axis=0)`

The second was in `run_stat()` implementation on **adult**:
* _original_:
[code]
* _correct_:
[code]

With those two bugs fixed, some of the paradoxes that we saw previousl

[2020-09-30 14:30] koaning commented on #430
Ah yeah. Good catch there. Covariance is also a nice touch.

I've confirmed these results locally and they convince me to focus on the `CorrelationRemover` part. It's faster, numerically more stable and currently I can't come up with edge cases where the `InformationFilter` approach will be better. If we agree that this `CorrelationRemover` is an appropriate addition I wouldn't mind preparing a PR

[2020-09-30 14:34] Dref360 commented on #580
@romanlutz Should I go ahead with the PR while we wait for MiroDudik approval?

[2020-09-30 19:00] riedgar-ms opened #589 "pypandoc missing in doc build"
#### Describe the bug

Likely related to #440 the documentation builds show a warning:

[code]

#### Steps/Code to Reproduce

See, a doc build. For example:
https://app.circleci.com/pipelines/github/fairlearn/fairlearn/938/workflows/05589729-ef9f-478f-befe-65f9084ba5f0/jobs/1430/parallel-runs/0/steps/0-104

[2020-09-30 21:43] romanlutz commented on #588
Thanks for reporting @hildeweerts ! I'm a little confused, though. `ThresholdOptimizer` is deterministic except for the `predict` call (which is why the `random_state` is only available there). Small caveat: it assumes the underlying estimator is deterministic. If that's not the case then all bets are off.

Do you have an example where you observe this? I tried a handful of different types of mode

[2020-10-01 07:27] hildeweerts commented on #588
Thanks, Roman! After some further inspection it seems the problem is some confusion on my side on what `random_state` in the `predict` call does. I assumed that if I run a cell that contains ```to.predict(X, sensitive_features=A, random_state=0)``` twice, I would get the same predictions. But that does not seem to be the case?

This is the full code in which I ran in to this problem first:
[code]

[2020-10-01 14:31] #589 closed

[2020-10-01 14:38] MiroDudik commented on #580
If I understand correctly, the basic proposal here is to simply add a new keyword argument to the `GridSearch` constructor. Something like `sample_weight_name='sample_weight'`. I think we should go ahead! @Dref360 : From my perspective you can go ahead and start the PR.

@adrinjalali , @romanlutz , @riedgar-ms : We can pick up the discussion of whether we should get rid of `GridSearch` altogether

[2020-10-01 14:41] MiroDudik commented on #580
And I also agree with @romanlutz that we should add the same argument to `ExponentiatedGradient`, but that could be a separate PR.

[2020-10-01 18:26] romanlutz commented on #588
Your assumption about how this should work is correct!
I can repro the issue
[code]

Thanks a lot for reporting. I'll dig into this and will update later today!

[2020-10-02 02:50] romanlutz commented on #556
anindya5 I was discussing this with @riedgar-ms yesterday. My best guess would be end of October but early November is possible. Do the workaround with v0.4.6 to use GroupLossMoment or alternatively installing the development version from the master branch not work for you?

[2020-10-02 13:39] MiroDudik commented on #430
Yes--please go ahead and start `CorrelationRemover` as a PR. In the documentation, we should mention that this is intended as a preprocessing step for (generalized) linear models, and that "no correlation" does not mean "independence". If you really want to stress the point, we could even rename `CorrelationRemover` to `LinearDependenceRemover` (but that's really a mouthful).

I really like the ob

[2020-10-02 14:22] MiroDudik commented on #588
Oh. Excellent catch. @romanlutz we have a bug in lines 112-116 of https://github.com/fairlearn/fairlearn/blob/master/fairlearn/postprocessing/_interpolated_thresholder.py

My suggestion is to replace it by something like:
[code]
(where `check_random_state` is imported from `sklearn.utils`.

By the way, this also reminds me of #243 and https://github.com/fairlearn/fairlearn/pull/282#discussion_r374

[2020-10-02 14:25] MiroDudik commented on #588
Oh--also worth checking how we do it in `ExponentiatedGradient`.

[2020-10-02 18:52] anindya5 commented on #556
@romanlutz , every time I am trying to clone the repository for advanced install, I am getting permission denied. Not sure why is that

[2020-10-02 18:54] romanlutz commented on #556
Can you post the command & error? git clone should do it.

[2020-10-02 18:56] anindya5 commented on #556
@romanlutz  - i was able to fork and clone, will try the boundedgrouploss now

[2020-10-02 20:24] anindya5 opened #593 "Widgets getting refreshed when different widgets are run"
I initially installed fairlearn using pip install.
The fair widget was working perfectly.

First I'd run the widget on the base model
[code]

Then I'd run the widget again on the mitigated model

[code]

the default version using pip install, I was able to see two widgets one above the another and it was super helpful for comparison.

**CHANGED BEHAVIOR AFTER INSTALLING FROM GIT**
If I run the das

[2020-10-07 16:51] #588 closed

[2020-10-09 16:04] #580 closed

[2020-10-09 18:48] romanlutz commented on #593
@anindya5 thanks for reporting!

I can reproduce this with the notebook "Binary Classification with the UCI Credit-card Default Dataset" which uses the dashboard in two separate cells. The second cell that executes `FairlearnDashboard` doesn't show the dashboard, only blank space, while the first cell shows what's supposed to be in the second cell output.

I'm looking into this.

[2020-10-15 14:55] kevinrobinson commented on #478
I added Wang et al. 2020 to the description above, and a link to the actual COMPAS survey questions.

[2020-10-16 12:52] riedgar-ms commented on #518
I don't see `shap` in our requirements files any more... this should be fixed?

[2020-10-17 12:07] #518 closed

[2020-10-19 22:18] romanlutz commented on #583
Given that nobody seems to have anything additional to contribute I take it that we're leaving it as is (option #2 from above). If there's anything additional to consider please reopen. Thanks!

[2020-10-19 22:18] #583 closed

[2020-10-19 22:21] romanlutz commented on #523
Closing this since we've removed the updates, added a warning to alert users that the dashboard will move out of the repo, and this documentation update therefore isn't required anymore.

[2020-10-19 22:21] #523 closed

[2020-10-20 13:04] hildeweerts opened #601 "Improving API Reference format"
I think our current API Reference could benefit from restructuring. Some ideas:

#### Structure API Reference in tables
The current format puts the documentation of all functions/classes of a module on a single page. As the pages are getting quite long and often contain different types of functionality (e.g., "base" metrics versus fairness metrics in the `metrics` module), it can be difficult to g

[2020-10-20 13:11] romanlutz commented on #601
Couldn't agree more! I haven't looked into how scikit-learn achieves this yet, but I'm hoping that it's compatible with our docs generation setup.

Would you like to try this out @hildeweerts ? If not I'll mark it as "help-wanted".

[2020-10-20 14:15] riedgar-ms commented on #601
Thanks for laying out your concerns @hildeweerts ! As we discussed in the metrics meeting, there's certainly plenty of space for improvements in the current docs.

[2020-10-20 15:05] hildeweerts commented on #601
I'd be happy to take a stab, but if you know somebody (e.g., a prospective contributor?) who'd like to try out one of these that's totally fine with me as well!

[2020-10-20 20:02] riedgar-ms opened #606 "Doc Build Warning"
#### Describe the bug

Running sphinx to build, I see:
[code]

#### Steps/Code to Reproduce

See:
https://app.circleci.com/pipelines/github/fairlearn/fairlearn/1040/workflows/223c2925-34ab-4787-9af7-983c61e3ff6f/jobs/1643
as well

#### Expected Results

We shouldn't be getting a warning...

#### Actual Results

Get the above error

#### Screenshots

#### Versions
GitHub master branch

[2020-10-20 20:14] romanlutz commented on #601
I'm not aware of anyone who's looking for tasks right now. If you are interested in trying please do :-)  The doc generation is a little quirky if you haven't used `sphinx` before, so please do reach out if you have questions. Both @riedgar-ms and I have worked with it extensively.

[2020-10-20 20:54] riedgar-ms commented on #601
Something else I'll throw in for the references - it would be nice to use BibTeX `.bib` files. I did find some support in Sphinx, but.... it is a bit patchy compared to the real thing.

[2020-10-21 01:51] romanlutz commented on #606
We should be getting that warning actually! The file is not listed in the index file:
https://github.com/fairlearn/fairlearn/blob/master/docs/contributor_guide/developer_call_notes/index.rst

[2020-10-21 12:20] riedgar-ms commented on #606
I suspected that sphinx was telling the truth :-) This was a reminder to come back to it once other changes are in.

[2020-10-22 11:38] #606 closed

[2020-10-23 17:02] koaning opened #608 "Documentation doesn't list charts"
When I go to the [a getting started page](https://fairlearn.github.io/auto_examples/plot_grid_search_census.html#training-a-fairness-unaware-predictor) I usually expect to see a full guide on how to use a library. Part of that is there, but ... there's no charts. In order to get the charts I need to run everything locally. This is a bummer of an experience, especially if you never worked with ipyt

[2020-10-24 22:09] romanlutz commented on #608
Yes! This is related to https://github.com/fairlearn/fairlearn-proposals/blob/master/ui/migration.md . In short:
- The existing `FairlearnDashboard` will be migrated out of Fairlearn shortly (after the v0.5.0 release which will happen as soon as the metrics API is finalized) for reasons outlined in that link.
- At that point we'll complete #561 and update the documentation including the getting st

[2020-10-25 14:28] chsafouane opened #609 "selection_rate_group_summary not listed in metrics reference page"
The function `selection_rate_group_summary` is used in the [quickstart page](https://fairlearn.github.io/quickstart.html). Yet, it is not listed in [API reference for the metrics package](https://fairlearn.github.io/api_reference/fairlearn.metrics.html). Actually, none of the functions `selection_rate_*` are listed in the API reference page.

Is there a reason for this ? And if no, would it possib

[2020-10-25 14:45] chsafouane commented on #609
And why does it take `y_true` and `y_pred`? Is it for API consistency ?

[2020-10-25 14:51] chsafouane commented on #609
A second question comes to mind, why is it that `selection_rate` takes both `y_true` and `y_pred` ? I believe it's done only for API consistency and to be able to pass it to functions like `group_summary` and it uses only `y_pred` for the calculation. If that's the case, I believe it would be good to mention this in the documentation of `selection_rate`

[2020-10-25 20:17] chsafouane opened #610 "DemographicParity init parameters"
The API reference page for [fairlearn.reductions](https://fairlearn.github.io/api_reference/fairlearn.reductions.html#fairlearn.reductions.DemographicParity) indicates that DemographicParity can take multiple parameters when instatiating and the [code on github](https://github.com/fairlearn/fairlearn/blob/master/fairlearn/reductions/_moments/utility_parity.py#L224-L248) indicates that it does as i

[2020-10-26 15:06] riedgar-ms commented on #610
It's been a long time since the last release, and we don't have versioned docs. I believe you've come across one of the places where the docs are far ahead of the PyPI installed version. Does it work if you install Fairlearn from git?

[2020-10-26 15:10] riedgar-ms commented on #609
Metrics are all about to change a lot.

You are right that `selection_rate()` requires `y_true` as well for API consistency. In the metrics update I'm working on now, the fact that `y_true` is ignored is mentioned.

[2020-10-26 16:29] chsafouane commented on #609
Thanks for your answer, glad to know this

[2020-10-26 16:29] #609 closed

[2020-10-26 19:09] bwuzhang opened #611 "Small ratio bound in DP resulted in DummyClassifier in Exponentiated Gradient"
#### Describe the bug
Small ratio bounds in DP will result in DummyClassifier.

#### Steps/Code to Reproduce

Change the following line in the first code block under **Exponentiated Gradient** section in notebook [Mitigating Disparities in Ranking from Binary Data](https://github.com/fairlearn/fairlearn/blob/master/notebooks/Mitigating%20Disparities%20in%20Ranking%20from%20Binary%20Data.ipynb)

[c

[2020-10-26 20:48] chsafouane commented on #610
After installing the package directly from github, the example in the user guide works as a charm. Thanks

[2020-10-26 20:48] #610 closed

[2020-10-29 14:55] kevinrobinson commented on #419
fwiw there's a question related to this issue on the ballot next week in California https://voterguide.sos.ca.gov/quick-reference-guide/16.htm, if folks are curious to learn more about the sociotechnical context around admissions and ways it is contested.

[2020-10-29 14:56] kevinrobinson commented on #478
Folks things through this may be curious to know that Proposition 25 is on the ballot in California next week, and involves changes to pre-trial detention.  The use of risk assessment algorithms is one part of what's being contested more broadly: https://voterguide.sos.ca.gov/propositions/25/

[2020-10-29 20:07] #482 closed

[2020-10-29 20:07] #556 closed

[2020-10-30 14:39] kevinrobinson commented on #418
@romanlutz If you've started working on this, I'm happy to collaborate!  If not then I don't believe this is actually in-progress, but I can't change that status.

[2020-10-30 16:37] romanlutz commented on #556
#613 will provide a place on the website to answer these sorts of questions ahead of a release, and #551 provided the versioned docs, so we should be set up to avoid confusion like this in the future :-)

[2020-10-31 00:38] romanlutz commented on #611
@bwuzhang thanks for reporting this!
I'm able to reproduce this with the steps you've outlined. I believe that it isn't a bug, though. Let me try to explain:

The notebook itself outputs this table somewhere earlier:
![image](https://user-images.githubusercontent.com/10245648/97766119-51a2a500-1ad2-11eb-976a-53c06ef8e0c6.png)

From this we can tell that the vast majority of rows (people!) are mark

[2020-11-02 23:54] shoresh57 opened #619 "cannot import name 'MetricFrame'"
ImportError                               Traceback (most recent call last)
<ipython-input-316-af1d762958be> in <module>
     17
     18 # Metrics
---> 19 from fairlearn.metrics import (
     20     MetricFrame,
     21     selection_rate, demographic_parity_difference, demographic_parity_ratio,

ImportError: cannot import name 'MetricFrame'

[2020-11-03 10:45] shoresh57 opened #621 "'GridSearch' object has no attribute 'predictors_'"
AttributeError                            Traceback (most recent call last)
<ipython-input-502-cb592bed5a23> in <module>
      2           sensitive_features=A_train)
      3
----> 4 predictors = sweep.predictors_

AttributeError: 'GridSearch' object has no attribute 'predictors_'

[2020-11-03 12:16] riedgar-ms commented on #621
This sounds like you have `v0.4.6` of Fairlearn installed from `pip`, but are following instructions for `master` ?

[2020-11-03 12:20] shoresh57 commented on #621
Yes , I exactly follow instruction from https://github.com/fairlearn/fairlearn/blob/master/notebooks/Binary%20Classification%20with%20the%20UCI%20Credit-card%20Default%20Dataset.ipynb

Pip install fairlearn 0.4.6

I get two error :

1-  from fairlearn.metrics import MetricFrame

2-  sweep_preds = [predictor.predict(df_test) for predictor in sweep.predictors_]

Sent from Mail<https://go.microsoft.c

[2020-11-03 12:23] riedgar-ms commented on #621
We've had quite a few breaking changes unfortunately. We're hoping to get `v0.5.0` out this week, but in the mean time, you can clone the Fairlearn repository and `pip install .` on it, which will give you a match between the library and examples.

[2020-11-03 12:31] shoresh57 commented on #621
you mean :
git clone git@github.com:fairlearn/fairlearn.git

pip install -r requirements.txt

[2020-11-03 12:42] riedgar-ms commented on #621
Once you've cloned the repo, you can just run `pip install .` from its root. The requirements will be automatically installed (if you don't have them already)

[2020-11-03 12:43] shoresh57 commented on #621
Thanks

[2020-11-03 13:52] riedgar-ms commented on #621
Are you unblocked now?

[2020-11-03 14:37] shoresh57 commented on #621
no , clone of rep also didnt help

[2020-11-03 14:50] shoresh57 commented on #621
need to clone repo and install

[2020-11-03 14:50] #619 closed

[2020-11-03 20:52] violazhong commented on #619
![Screen Shot 2020-11-03 at 3 51 27 PM](https://user-images.githubusercontent.com/11827679/98039267-722d7080-1dec-11eb-8bab-a88e7dbd4861.png)
@shoresh57 I encountered the same issue here. Would you like to tell me if you have resolved this issue? If so, how?

[2020-11-03 21:00] shoresh57 commented on #619
@violazhong
if you installed with pip then it is not working , you should clone git repo : git clone https://github.com/fairlearn/fairlearn.git then it is working but you maybe face another challenge which is widge that you cannot see dashboard fairlearn ,for that part I just upload dashboard to azure ml with the help of this document and everything worked well https://docs.microsoft.com/en-us/azu

[2020-11-03 23:51] shoresh57 commented on #621
if we clone the git repo then we face another problem in widge and dashboard can not be seen

[2020-11-04 01:46] riedgar-ms commented on #621
Did you `pip install .` or `pip install -e .` - I believe that you have to do the former at least once.

[2020-11-04 01:49] romanlutz commented on #621
Shouldn't make a difference with the flask server anymore as long as you do install it. Where are you running this?

[2020-11-04 09:09] shoresh57 commented on #621
I used Azure ml notebook and VScode , the problem pip install . has some clash with azure machine learning environment ,and probably we need to create new environment which it would be great that you add this procedure in setup and installation documentation with git clone

[2020-11-04 11:03] riedgar-ms commented on #621
That sounds exactly like the problem @romanlutz is investigating now.

Are you able to run the notebook on your local machine?

[2020-11-04 13:11] shoresh57 commented on #621
@riedgar-ms @romanlutz  if you install with pip fairlearn then local machine can see dashboard but you face problem with 'predictors_ and metricsframe and if you clon the rep and pip install . then the problem of 'predictors_ and metricsframe will be solved but then you get error to import dashboard since they are not match..

[2020-11-04 14:04] riedgar-ms commented on #621
I'm not quite clear on what you're doing. I've just been able to do the following:

1. Create a new conda environment (or whatever you prefer)
1. Run `pip install git+https://github.com/fairlearn/fairlearn.git` (on Windows, I also had to run `pip install --upgrade numpy=1.19.3` thanks to a disagreement between Windows and numpy 1.19.4)
1. Run the [census GridSearch notebook](https://fairlearn.gith

[2020-11-09 19:12] romanlutz commented on #593
We had to move back to the previous version of the dashboard for v0.5.0 since the "new" version based on flask is not able to run on all the previously supported platforms yet. That will be addressed in the `raiwidgets` package which should be released by the end of the month. The dashboard will be removed from Fairlearn after the v0.5.0 release (which is planned for this week).

This mentioned ro

[2020-11-09 19:12] #593 closed

[2020-11-09 21:14] romanlutz commented on #524
Closing this since we're not changing the dashboard anymore before removing it. This will be addressed by `raiwidgets`

[2020-11-09 21:14] #524 closed

[2020-11-09 22:49] anindya5 commented on #593
ok, where can I find details about the raiwidgets package as of now

[2020-11-10 01:31] MarsLabAtSLU commented on #593
@romanlutz and @anindya5 I have an fix for above issue without the dependency of raiwidgets. I’m working on it while I provide the fix to it. I think we still keep issue open.

[2020-11-10 01:37] MarsLabAtSLU commented on #524
raiwidgets is just been launched Nov, 2 2020. I recommend we could still fix it and have version control take care of rest. Might be when raiwidgets gets released we can close this issue and document.

[2020-11-10 01:40] MarsLabAtSLU opened #629 "Widgets getting refreshed when different widgets are run"
I initially installed fairlearn using pip install.
The fair widget was working perfectly.

First I'd run the widget on the base model

from fairlearn.widget import FairlearnDashboard
FairlearnDashboard(sensitive_features=sex,
                   sensitive_feature_names=['sex'],
                   y_true=y_true,
                   y_pred={"initial model": y_pred})
Then I'd run the widget again on th

[2020-11-10 01:41] MarsLabAtSLU commented on #629
@romanlutz Intended fix in progress. Pleas await for code changes.

[2020-11-10 02:36] romanlutz commented on #629
@MarsLabAtSLU this was already reported in #593 . Since we're removing the widget and moving it to a dedicated visualization package called `raiwidgets` we've rolled back to the previous version of the widget. I'm certainly interested in your idea for a fix, since that may come in handy in the new repository (which will be public once `raiwidgets` is released, ETA end of November).

[2020-11-10 02:39] romanlutz commented on #593
@anindya5 as mentioned above this package will only be released at the end of the month. The rolled back version of the `FairlearnDashboard` does not show the same issue you described.

@MarsLabAtSLU I commented on your new issue #629 . The fix won't be needed in this repo since the widget is moving out of the repo, but feel free to share if you already have a branch and we can adopt that approach

[2020-11-10 02:41] MarsLabAtSLU commented on #629
@romanlutz sure will share my changes at the earliest.

[2020-11-10 02:46] romanlutz commented on #524
@MarsLabAtSLU It's just an "empty release" to reserve the name. We've already added a warning to the Fairlearn repo to indicate to users that it's going away, and the v0.5.0 release which is planned for tomorrow will be the last one to have the dashboard.

As I explained above, the dashboard was rolled back to the previous ipywidgets-based version and does not show this problem anymore. Rolling it

[2020-11-11 19:54] romanlutz opened #633 "MetricFrame: missing error message"
#### Describe the bug

#### Steps/Code to Reproduce
![image](https://user-images.githubusercontent.com/10245648/98857843-7bce5e00-2414-11eb-8ed8-1b123440f733.png)

[code]

#### Versions

System:
    python: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\<alias>\Anaconda3\python.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
    Cython: 0.29

[2020-11-11 20:53] riedgar-ms commented on #633
That would be `numpy.squeeze()` converting one element arrays to scalars. To be helpful.

[2020-11-11 21:51] riedgar-ms commented on #633
From @MiroDudik , it appears that [Numpy have a routine to undo this damage](https://numpy.org/doc/stable/reference/generated/numpy.atleast_1d.html).

[2020-11-12 06:14] romanlutz commented on #621
We rolled the dashboard back to the previous version before the v0.5.0 release so this problem shouldn't occur anymore. We validated that AML and local notebooks work with the dashboard in v0.5.0. If that's not working for you please open a new issue (since this one is for different problem).

The previous issue is addressed by versioned documentation. You should find a version selector on the web

[2020-11-12 06:14] #621 closed

[2020-11-13 21:59] MarsLabAtSLU commented on #629
@romanlutz I’m trying to find the branch/tag where it-was-in the previous state which used "rai_core_flask FlaskHelper” in widget/Fairlearn_dashboard.py. So that, I can make my changes and raise Pull request. Could you please let me know.

[2020-11-14 00:47] romanlutz commented on #629
@MarsLabAtSLU there was no tag/release version with flask since we rolled the change back before releasing. If you're looking for a specific version this one should work: https://github.com/fairlearn/fairlearn/tree/ce7f27a51a428dae7627c1eed6373fc4e626673f

Note that we will remove the entire dashboard from this repo shortly (I might do it today if I get to it) and it'll move to another repo, so a

[2020-11-14 12:49] #633 closed

[2020-11-17 06:52] amir78pgd opened #639 "Dashboard does not show up on Google Colab"
#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Screenshots

#### Versions

[2020-11-17 08:47] romanlutz commented on #629
@MarsLabAtSLU There was an additional issue to fix. In case you are eager to build a dashboard manually in the meanwhile:

When running two dashboards with different ports they ran into a name collision of the functions with the `route` decorator. To fix that I defined the function without `route` decorator, renamed the function to be unique (by using the associated port below) and then applied `a

[2020-11-17 08:47] #629 closed

[2020-11-17 09:00] romanlutz commented on #639
Colab is not explicitly supported. Note that after v0.5.0 the dashboard is moving to the new `raiwidgets` package (to be released by the end of the month). We're aiming to provide support for a broader set of environments (including Colab) in `raiwidgets`, although that may not happen at the time of the initial release.

Closing this issue since it won't be addressed in Fairlearn.

[2020-11-17 09:00] #639 closed

[2020-11-17 09:05] romanlutz commented on #501
The dashboard is moving to a dedicated package upon the next release (> 0.5.0). I'm closing this issue similar to #639 since we're not making updates in this repo anymore. VS code is on our list for environments we want to support, although I don't have a particular timeline yet.

[2020-11-17 09:05] #501 closed

[2020-11-17 09:07] romanlutz commented on #484
We decided to roll back the flask changes before v0.5.0 since we observed regressions in previously supported environments. Additionally, the dashboard is moving out of Fairlearn with the next release. Closing this issue similar to #639 since we won't be fixing this in this repo. For the new dashboard please refer to `raiwidgets` once it gets released at the end of the month!

[2020-11-17 09:07] #484 closed

[2020-11-17 09:09] romanlutz commented on #263
This will be addressed in the dashboard's new repo with the `raiwidgets` package (to be released at the end of November)

[2020-11-17 09:09] #263 closed

[2020-11-17 09:11] romanlutz commented on #238
This won't get addressed in this repo. Stay tuned for the `raiwidgets` release at the end of November!

[2020-11-17 09:11] #238 closed

[2020-11-17 09:13] romanlutz commented on #237
Sorry for missing your message, @Dref360 ! As you probably observed this went along with a complete redesign of the metrics API.

I'm closing this issue now since the remaining portion (dashboard integration) will not happen in this repo, but in the `raiwidgets` package's repo which will be released at the end of November.

[2020-11-17 09:13] #237 closed

[2020-11-17 09:14] romanlutz commented on #270
This won't get addressed in this repo. Stay tuned for the `raiwidgets` release at the end of November!

[2020-11-17 09:14] #270 closed

[2020-11-20 16:50] hbaniecki opened #641 "citation info, bibtex"
Hi, great work with the package, especially the interactive dashboard.
Is there any citation info for the software, or a Bibtex to copy?
https://github.com/fairlearn/fairlearn/search?q=citation

[2020-11-23 13:09] riedgar-ms commented on #641
For the entire package, there is a whitepaper:
https://www.microsoft.com/en-us/research/uploads/prod/2020/05/Fairlearn_whitepaper.pdf
The two main techniques have papers:
https://arxiv.org/pdf/1803.02453.pdf
https://papers.nips.cc/paper/6374-equality-of-opportunity-in-supervised-learning.pdf

I'm not sure of where to get a standardised BibTeX format for these.... @MiroDudik ?

[2020-11-23 14:31] hbaniecki commented on #641
Thanks

[2020-11-23 14:35] riedgar-ms commented on #641
@MiroDudik just sent this:
[code]

[2020-11-23 14:42] hbaniecki commented on #641
Will use

[2020-11-23 14:42] #641 closed

[2020-11-25 15:17] vladiliescu opened #643 "Creating group metric sets for regression fails"
#### Describe the bug

Unable to create group metric set for `regression` prediction types.

#### Steps/Code to Reproduce

Try to create a `regression` group metric set.

[code]

#### Expected Results
A dictionary containing the group metrics is created.

#### Actual Results
A dictionary containing the group metrics is, however, not created. Instead, we get the error below.

[code]

#### Versions

[2020-11-27 20:00] romanlutz opened #645 "Add minimum package requirements"
re: minimum requirements, they should be in `setup.py` for them to actually take effect when the user installs either from source or a binary. We could also put them in `pyproject.toml` for pip to better understand it, and read those requirements from that file in `setup.py` to have them synced. We can even condition the minimum requirements on architecture and python version there.

This doesn't

[2020-11-27 20:29] romanlutz commented on #477
I still can't find information on when this will happen. I am more and more thinking that @hildeweerts was right in suggesting a go/no go date :-)

So I'll just propose doing this during the week of December 21 and volunteer myself. Thoughts?

One option that would probably cause very little disruption is if I try this around the holidays in December, because I don't expect too many people to writ

[2020-11-27 20:33] adrinjalali commented on #477
last update was that it should happen by the end of the year: https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-

I'd say ask your colleagues when they're planning to launch this? :P

[2020-11-30 13:12] #643 closed

[2020-12-01 19:28] romanlutz commented on #645
I believe @adrinjalali  was referring to a pyproject.toml file for environment specific configuration https://github.com/scikit-learn/scikit-learn/blob/master/pyproject.toml

Overall it looks like scikit-learn has a different setup.

It looks like our current setup requires you to install multiple requirements files to get all dev dependencies, whereas @koaning expected just requirements-dev to be

[2020-12-01 20:15] romanlutz opened #648 "Case study: chest x-ray classification"
Today we had a first session regarding chest x-ray classification following the paper "CheXclusion: Fairness gaps in deep chest X-ray classifiers" by Seyyed-Kalantari et al. (https://arxiv.org/pdf/2003.00827.pdf). All the notes and open questions are tracked in the scratchpad linked below. This includes several open questions we want to answer before deciding where this will go. A potential set of

[2020-12-01 20:54] violazhong commented on #648
@romanlutz I'm here! I'll quickly go through their model training, and if any interesting thing comes up, I will post in this thread and also add it to the hackmd.

[2020-12-01 23:32] romanlutz commented on #273
closing this since the dashboard is moving out of Fairlearn.

[2020-12-01 23:32] #273 closed

[2020-12-02 09:54] adrinjalali commented on #645
These may give a bit of a context on why projects are using `pyproject.toml`:
- https://www.python.org/dev/peps/pep-0621/
- https://www.python.org/dev/peps/pep-0518/
- and pip's interaction with pep517: https://pip.pypa.io/en/stable/reference/pip/#build-system-interface

[2020-12-02 16:33] kevinrobinson commented on #648
If the intention here is to demonstrate the value of Fairlearn 0.50, it might be productive to try using the guidelines in [Contributing example notebooks](https://fairlearn.github.io/v0.5.0/contributor_guide/contributing_example_notebooks.html).  If there's a different intention - eg, advocating for not building particular kinds of ML systems, illustrating a concept for educational purposes, reac

[2020-12-03 00:03] romanlutz commented on #648
Thanks @kevinrobinson . We are explicitly considering different kinds of ways this could be deployed. At this stage this is entirely exploratory and it's hard to say what exactly the output will be. I definitely don't want to make this about showcasing the Python toolkit. Either it fits what we need for this, or it doesn't (in which case this can serve as inspiration for the toolkit). These are al

[2020-12-04 00:03] romanlutz opened #650 "The future of DCO / contributor license agreements in the Fairlearn project"
As far as I had understood we needed some form of agreement from contributors to contribute. If that's not the case then this is a very simple discussion thread.

The DCO currently introduces a lot of friction. I do not know of a single contributor who got this done from the start without issues. It also regularly trips me and other experienced developers up.

@adrinjalali @hildeweerts @MiroDudik

[2020-12-04 00:52] riedgar-ms commented on #650
It would be good to know the original legal reasoning, since I agree that the friction produced is painful.

[2020-12-04 07:49] adrinjalali commented on #650
If we're making fairlearn an independent entity, does it matter what the original reason was? I would understand if Microsoft would require Microsoft employees to have the DCO signatures in their commits, but as the fairlearn entity, there's no DCO requirement to contribute to an MIT Licensed project.

[2020-12-04 07:51] adrinjalali commented on #650
I'll reach out to one of the OSI members and ask if they have relevant documents, but we do have all those MIT and BSD licensed projects out there that don't require a DCO. I've only seen it if there's one single commercial entity behind a project.

[2020-12-04 11:54] riedgar-ms commented on #650
I have a memory that HDF5 ran into trouble because they couldn't dot all i's and cross all t's on who had made code contributions. Having said that, I don't remember the details. Personally, I agree that for a public project on GitHub, it is unlikely that anyone could be able to assert IP rights retroactively. It would just be nice to know whether there was a particular reason for the DCO requirem

[2020-12-04 13:02] adrinjalali commented on #650
Seems like people put a DCO in place to not have to deal with potential cases against the company if somebody submits some code which breaks some copyright law. In my experience from other projects, for fairlearn that would really not be a probable risk.

On the other side, DCO is a point of friction which is counterproductive to attracting more contributors from the community.

So in the interest

[2020-12-09 00:31] romanlutz commented on #650
Couldn't agree more with @adrinjalali on this. I've put it on the agenda for Thursday's community call. Unless someone objects let's remove it once the governance PR by @MiroDudik is completed.

[2020-12-09 04:22] romanlutz commented on #430
Closing this since the PR went in.

[2020-12-09 04:22] #430 closed

[2020-12-09 11:00] adrinjalali commented on #650
We also had a meeting with an open source lawyer organized by NumFocus, and I did raise this question. Her assessment was that companies sue companies cause it's worth it, but if the project is organized by individuals, they're too small of a cake for them to get anything worthy out of, therefore the probability of getting sued goes down drastically.

Also, this is only important and relevant for

[2020-12-10 02:25] romanlutz commented on #650
Thanks for elaborating. This is exactly what I wanted to understand. I think that's fair enough. If we want to add major contributions we can just ask the author to explicitly agree. I don't see that as a big deal, especially compared with the burden we put on new contributors with DCO right now.

[2020-12-10 16:20] MiroDudik commented on #650
Fantastic. Let's remove it.

[2020-12-10 20:36] mikephelan opened #652 "Integration of smartnoise-samples documentation to Fairlearn documentation"
#### Is your feature request related to a problem? Please describe.
No

#### Describe the solution you'd like
I would like to have the Jupyter Notebooks for smartnoise-samples, a directory of the Microsoft Smartnoise project, added to the documentation for Fairlearn.

#### Describe alternatives you've considered, if relevant
We currently have the smartnoise-samples Jupyter Notebooks documented in

[2020-12-10 21:14] riedgar-ms commented on #652
Could you expand a bit on how you feel these notebooks demonstrate a fairness issue? Also, we're in the process of moving Fairlearn into a separate organisation; it's not going to be Microsoft-controlled going forwards.

[2020-12-10 21:18] mikephelan commented on #652
Hi Richard,

I’ve been working with Eddie de Leone from Microsoft. Eddie may be a better person to explain what the goals are for this effort to work with Fairlearn.

Generally speaking, there have been thoughts of having Smartnoise be either presented along with Fairlearn or at least have a similar theme in its individual site and repo as to that of Fairlearn.

Thanks,

Mike
From: Richard Edgar <

[2020-12-10 21:28] riedgar-ms commented on #652
We're aware of the differential privacy project - Eddie shared the office until around March. We're in the process of establishing a steering committee to co-ordinate collaborations such as what you're proposing here. You are of course welcome to make a pull request to add your notebooks (if you look in the `examples` directory, you'll see how to format them). However, before putting in that effor

[2020-12-10 21:29] MiroDudik commented on #652
[tagging @eedeleon]

If you are interested in adopting our website infrastructure, you can definitely re-use our code (it's under MIT license).

If you would like to work out a use case, it just needs to follow [our guidelines](https://fairlearn.github.io/v0.5.0/contributor_guide/contributing_example_notebooks.html). We could discuss your use case in one of our next community calls?

Also, for con

[2020-12-11 02:22] lokijota opened #654 "cannot import name 'MetricFrame' (again)"
There is another issue open for this error but it's closed and the solution is not clear, hence this one.

#### Describe the bug

I have spun up an Azure Compute Instance VM as part of Azure Machine Learning. This VM already comes installed  with Fairlearn 0.4.6 . I have developed a notebook in JupyterLab training a model, and now want to use Fairlearn to look for gender-related biases.

Following

[2020-12-11 02:23] Dref360 opened #655 "Support fort streaming metrics"
#### Is your feature request related to a problem? Please describe.

I am using fairlearn to evaluate deep learning models. In this context, we often compute metrics per batch due to the large size of the dataset. In addition, some tasks such as semantic segmentation are so expensive that we can't hold all the predictions in memory.

#### Describe the solution you'd like
I would like if `MetricFra

[2020-12-11 13:57] riedgar-ms commented on #654
After the `pip install --upgrade fairlearn` you were still getting "Can't import MetricFrame" ? That is strange. Can you check what version of Fairlearn the notebook thinks it has, with
[code]

[2020-12-11 14:04] riedgar-ms commented on #655
As discussed in our call, this certainly sounds like something Fairlearn should support. However, `MetricFrame` doesn't keep track of anything - in fact, it doesn't really care what the contents of `y_true` and `y_pred` really are, and certainly doesn't require that the incoming data can be formed into a confusion matrix. That would be something for the individual metrics themselves to support.

T

[2020-12-11 16:00] MiroDudik commented on #655
**(1) Re. "wrapper" implementation** where all the incoming data is kept around:
* This should not be default, but only enabled by setting a Boolean flag in the constructor.

**(2) To incorporate some initial efficient implementations** (say for the metrics based on keeping track of the contingency table), we could allow strings as metrics, similarly to [pd.SeriesGroupBy.aggregate](https://pandas.

[2020-12-13 17:15] mikephelan commented on #652
Hello Michael and Richard,

The general goal was to adopt some of the similar repo management, release, documentation and sphynx practices from fairlearn to be consistent while also benefiting from the work you have all done in making fairlearn usable.

We don't expect both repos to show up on the same page outside of some external RAI page with links to both.

Best,
Eddie

From: Michael Phelan <m

[2020-12-13 18:04] adrinjalali commented on #652
Could somebody maybe give some context for the non-Microsoft people?

On Sun., Dec. 13, 2020, 18:15 Mike Phelan, <notifications@github.com> wrote:

[2020-12-14 13:54] riedgar-ms commented on #652
@adrinjalali this is about another project (with external collaborators) which came under the MS Responsible AI umbrella. It's about adding noise to a model so that its results remain statistically valid, while also preventing an attacker from recovering the data used to train it via repeated requests.

@mikephelan I'd be happy to explain our repo set up to you. However, I don't think we need that

[2020-12-14 16:11] Dref360 commented on #655
In 1) you talk about a flag-enabled feature. This would fix 3) I think.
[code]

[2020-12-14 18:28] romanlutz commented on #654
Advanced installation steps (https://fairlearn.github.io/v0.5.0/contributor_guide/development_process.html#advanced-install) are only for people who want to change the Fairlearn code

Make sure you're using the right environment in your notebook (like @riedgar-ms pointed out). It could be that you upgraded a different env than the one that your notebook is using.

[2020-12-14 18:45] romanlutz commented on #265
https://github.com/fairlearn/fairlearn/blob/b07209058322d36e0962e25f82cd720ada650cde/test/unit/reductions/grid_search/test_grid_search_regression.py#L82

[2020-12-14 22:17] mikephelan commented on #652
I've created a few changes to keep this conversation going. I understand from my partners at MSFT that the ultimate direction will be not to stage our doc under fairlearn, but for this iteration I did so to come up to speed.
https://github.com/mikephelan/fairlearn/tree/652_sn_smpls_to_fl_doc
- script to automate process of converting ipynb to percent-format py
- all smartnoise-samples ipnyb conver

[2020-12-14 22:17] mikephelan commented on #652
One thing that I had trouble with was assigning multiple values to sphinx_gallery_conf.examples_dirs. This appears to ignore the additional target location.
fairlearn/docs/conf.py:
sphinx_gallery_conf = {
    #'examples_dirs': '../examples',
'examples_dirs': ['../examples', ‘../examples/opendp’],
    'gallery_dirs': 'auto_examples',
    # pypandoc enables rst to md conversion in downloadable noteb

[2020-12-14 22:18] mikephelan commented on #652
One thing that I had trouble with was assigning multiple values to sphinx_gallery_conf.examples_dirs. This appears to ignore the additional target location.
fairlearn/docs/conf.py:
[code]

[2020-12-14 22:36] romanlutz commented on #4
@violazhong @riedgar-ms and I discussed this earlier today. Capturing some of our notes.

The most important aspect of this work is passing in the resampling method. @riedgar-ms pointed out that this should probably be in the constructor or the `fit` method. Since we're passing the `estimator` in the constructor that seems to be the most suitable place IMO. Once we have that on the object we'd hav

[2020-12-14 22:46] eedeleon commented on #652
Hello the general goal was to adopt similar documentation practices to fairlearn. There won't be any PRs adding Differential Privacy documentation to fairlearn, rather, we will be emulating fairlearn's documentation practice for the Differential Privacy project.

[2020-12-15 13:09] riedgar-ms commented on #652
Have sent response to sphinx query over email. I don't think this issue needs to continue on Fairlearn.

[2020-12-15 13:09] #652 closed

[2020-12-15 14:16] riedgar-ms commented on #655
Going through @MiroDudik 's points....

(1) I don't think `MetricFrame` should be in the business of keeping any data around. That would be the responsibility of the metrics objects themselves. `MetricFrame` should simply slice up the incoming data according to the sensitive (and control!) features, and make one copy of each metric object to keep track of that slice. Then, feed each metric object

[2020-12-15 16:54] lokijota commented on #654
I have restarted the kernel a couple of times and that didn't fix it. I then restarted the Compute Instance and it started working, I could get past the import error. I have now however a second error:

When I run

`FairlearnDashboard(sensitive_features=X_test['Gender (code)'], sensitive_feature_names=['Gender (code)'], y_true=y_test, y_pred={"initial model": preds}) `

I get a warning with pink b

[2020-12-15 17:03] riedgar-ms commented on #654
I think this is a known issue - I believe that @romanlutz had to back all of the fixes out of the widget due to some compatibility issues. The widget does not load reliably in AzureML Notebooks. If you can stay in AzureML, you could use `azureml-contrib-fairness` to upload your dashboards to AzureML, which would at least give you a place to see them. Otherwise, you will have to run the notebook lo

[2020-12-15 17:47] lokijota commented on #654
Hey @riedgar-ms . Note that I'm not using AzureML Notebooks... I created an Azure ML Compute Instance, and I'm using plain/old JupyterLab/Jupyter. Is the dashboard also not working in this case?

[2020-12-15 18:58] riedgar-ms commented on #654
@romanlutz is that combination expected to work?

[2020-12-15 22:11] romanlutz commented on #654
Yes, that's the only combination I'd expect to work on Azure. I'll try this out later today.

[2020-12-18 18:51] MiroDudik commented on #655
I really like @Dref360's [suggestion above](https://github.com/fairlearn/fairlearn/issues/655#issuecomment-744544045). I am just wondering whether we should allow the user to somehow select the naive "wrapper" option, where `y_pred`, `y_true`, `sensitive_features` etc. are memorized.

We could still use `streaming` flag, with the allowed values:
* `None` or `False` (default) -- disable streaming
*

[2020-12-18 20:11] riedgar-ms opened #660 "Control features for Postprocessing"
#### Is your feature request related to a problem? Please describe.

While we have `control_features` for reductions, they are not implemented for  `ThresholdOptimizer`

#### Describe the solution you'd like

Add them as an option. Basically, a separate optimiser would need to be constructed for each control feature, and it would have to be available at scoring time too.

#### Describe alternative

[2020-12-20 19:09] adrinjalali commented on #655
metrics are pretty much functions, they don't have the concept of storing stuff, at least most of the ones we have right now don't. So it'd be the `MetricFrame` which would store data.

I don't think standard lists would be required, it adds quite a bit of complexity to the API I think, and it's outside the scope of this issue anyway.

We probably don't need a factory, it's just the constructor wh

[2020-12-20 19:58] riedgar-ms commented on #655
For (1) I suppose it depends on how much we're concerned with efficiency (and I will confess ignorance as to how streamable metrics such as those mentioned above do this right now) vs making the new user experience as smooth as possible. Storing all the data as it comes in is certainly inefficient, since we would have to just store it, and reprocess everything for each update call. Specialised str

[2020-12-21 14:33] MiroDudik commented on #466
@MBrouns : Ping. Let us know if you want to resume working on this, or prefer to drop it, or maybe pitch to the community to take over?

[2020-12-21 22:18] MiroDudik commented on #655
I am fine with @adrinjalali 's suggestion (i think that might be exactly also what @Dref360 had in mind).

My only concern is whether we should try to be more transparent with the user when we are using the inefficient implementation. Do we issue a warning or is that too annoying? I'm also okay just stating in the documentation which metrics have efficient streaming and that all other metrics just

[2020-12-22 10:42] adrinjalali commented on #655
I wouldn't raise a warning, but I'm happy to have that implementation detail explained in the docs with the performance issues related to it.

[2020-12-22 21:41] MiroDudik commented on #655
Ok--let's then just have a boolean flag along the lines of [Frederic's comment](https://github.com/fairlearn/fairlearn/issues/655#issuecomment-744544045) and [Adrin's comment](https://github.com/fairlearn/fairlearn/issues/655#issuecomment-748647889) and with the initial inefficient implementation.

@Dref360 -- do you want to get started with that?

The next step is going to be to enable some effic

[2020-12-23 15:23] Dref360 commented on #655
Yes let's start with an unefficient v1. I'll try to get a PR opened before the next meeting.

[2020-12-26 14:44] shngt commented on #660
Hi, I'm interested in contributing to the project. Is a good issue for someone new?

[2020-12-30 17:16] romanlutz commented on #660
Hi @shngt ! Welcome to the Fairlearn community! I think the currently suggested change in this issue is to create a separate `ThresholdOptimizer` instance per control feature value, e.g. if we have three of them (`high`, `medium`, and `low` from the feature `income`) then we'd pass only the subset of `X` and `y` corresponding to the control feature value to each instance. That sounds simple enough

[2020-12-31 00:16] romanlutz opened #665 "Replace `get_dummies` in examples with `Pipeline`"
This issue is based on the following comment:
could we use a `Pipeline` instead of `get_dummies`? See #649

_Originally posted by @adrinjalali in https://github.com/fairlearn/fairlearn/pull/614#discussion_r547870456_

Using a `Pipeline` with all the preprocessing steps is cleaner and a better practice. However, we currently can't pass a `Pipeline` to mitigation techniques since they run `check_X_y

[2020-12-31 00:28] romanlutz opened #666 "Add model comparison plot"
#### Is your feature request related to a problem? Please describe.

With the introduction of `matplotlib`-based plotting functions in #561 we are adding ways to plot metrics for all groups as defined by `sensitive_features`. To get to parity with the `FairlearnDashboard` we should also add model comparison visualizations. This would be pretty much identical to the following existing view:
![image

[2020-12-31 09:22] adrinjalali commented on #660
We should also probably have a bunch of validation and maybe configurable warnings for the cases where due to `control_features` each estimator would receive only a handful of samples and therefore would not be a suitable estimator.

[2020-12-31 19:48] romanlutz commented on #477
It says January 2021, that's all I could gather internally as well. Fine, I'll wait another month...

[2020-12-31 19:50] romanlutz commented on #231
Closing this since we have tests for pytorch and tensorflow due to #637 #586

[2020-12-31 19:50] #231 closed

[2020-12-31 22:01] romanlutz opened #667 "Allow multiple metrics to be passed into plotting functions"
#### Is your feature request related to a problem? Please describe.
With #561 one can pass in only a single metric. It would be nice to extend that to pass in multiple metrics rather than just one, and plotting all of them in a series of subplots.

#### Describe the solution you'd like
The existing functionality could be extended to take a single metric or a list of metrics. This wouldn't even req

[2020-12-31 22:03] romanlutz opened #668 "Add control features to metric plots"
#### Is your feature request related to a problem? Please describe.
The metric plotting functionality in #561 does not support `control_features`.

#### Describe the solution you'd like
A `control_features` argument should be added to the API. The plots would then just show the groups as defined by `sensitive_features` AND `control_features`, but grouped by `control_features`. Ideally, a separator

[2021-01-01 17:59] adrinjalali commented on #666
The function should either accept a metric or the user should compute the metrics outside the function and pass the scores to the plotting method.

[2021-01-03 01:28] romanlutz commented on #666
You're right, of course! I missed the metric function. Thanks!

[2021-01-08 22:46] MiroDudik commented on #4
I'm sorry--I'm a bit late to the discussion.

The deterministic strategy above would not be my first choice, because it's less sample efficient than the following simple randomized strategy guaranteed to always generate N data points:
* rescale the weights so that they sum to one
* put the examples left-to-right on a unit line segment; each example is represented by a line segment with the same le

[2021-01-11 14:59] LeJit opened #676 "Add Generalized Entropy-based metrics"
#### Is your feature request related to a problem? Please describe.

I want to incorporate generalized entropy and other information-theoretic metrics to FairLearn, both for evaluating the distribution of empirical distribution of outputs of a predictive model and the distribution of labels and protected groups in dataset.

#### Describe the solution you'd like

Create an `Entropy` method with the

[2021-01-11 18:09] romanlutz commented on #4
All of this sounds reasonable and is fairly close to @violazhong 's current implementation. @violazhong please let us know if any of this doesn't make sense. Happy to elaborate!

[2021-01-12 23:35] mjorgen1 commented on #484
Hi @romanlutz I am trying to use the fairness dashboard in a local jupyter notebook instance on my laptop but am having some difficulties. I installed fairlearn via pip. Here is my information:
`
System:
    python: 3.8.5 (default, Jul 28 2020, 12:59:40)  [GCC 9.3.0]
executable: /usr/bin/python3
   machine: Linux-5.4.0-58-generic-x86_64-with-glibc2.29
Python dependencies:
    Cython: None
matplotl

[2021-01-13 02:02] romanlutz commented on #676
@LeJit can you elaborate on why it's better to have this separate from `MetricFrame`?

[2021-01-13 02:12] romanlutz commented on #484
Hi @mjorgen1 ! Did you try restarting the kernel? The current `FairlearnDashboard` is built on `ipywidgets` and often doesn't show up the first time because of some internals (which is one of the main reasons why we don't use that anymore in `raiwidgets`). If that still doesn't help I'd try reloading the Jupyter notebook page in your browser.

Clearly, this kind of experience isn't ideal and a goo

[2021-01-13 05:11] LeJit commented on #676
@MiroDudik and I have been discussing how we can use entropy metrics to assess the distribution of labels and sensitive attributes in a dataset (to facilitate the creation of model cards and datasheets). I think it would be better to have it separate `MetricFrame`, so we can apply entropy metrics directly to the dataset rather than the outputs of a trained model.

[2021-01-13 17:24] adrinjalali commented on #4
Just a note that the solution would need to be a meta-estimator wrapping another estimator to pass the child estimator the modified samples. The scikit-learn API doesn't allow resampling as is, and the meta-estimator is the workaround.

[2021-01-13 18:04] adrinjalali commented on #676
Aren't there metrics which ignore `y_pred`? That's how we support dataset metrics, don't we?

[2021-01-15 04:50] romanlutz commented on #676
That's what I thought and the reason why I asked :-) An example for what @adrinjalali means here is `selection_rate`. It doesn't matter what `y_true` is there because we only care about `y_pred`. One could imagine the same thing the other way round, of course.

[2021-01-15 18:45] LeJit commented on #676
We can implement it in `MetricFrame` for now, but I don't feel it's intuitive how to use `MetricFrame` to compute dataset metrics without actually looking at the code. Also, there's something I dislike about having to pass in a list of dummy values for `y_pred` to compute dataset metrics.

[2021-01-16 17:33] adrinjalali commented on #676
One thing to note is that a lot of metrics which need only one `y` can be applied to both the dataset and the output of the model, but they don't require `y_true` and `y_pred` at the same time. I agree that this can be confusing to users, and if they pass these metrics to tools such as `GridSearchCV`, there may be inconsistencies or unclearness in whether `y_true` is used or `y_pred` in that setti

[2021-01-16 17:40] adrinjalali commented on #477
GitHub now properly supports renaming the branch: https://github.com/github/renaming

[2021-01-19 21:49] romanlutz commented on #477
In addition to this, we'll also have to manually adjust the website build.

[2021-01-19 23:28] dciborow opened #683 "pip install from source fails due to requirements.txt not being included in .tar.gz dist"
#### Describe the bug
When installing from src dist, fairlearn fails due to missing requirements.txt file.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]
#### Actual Results
[code]

#### Screenshots
![image](https://user-images.githubusercontent.com/9027725/105106478-ee4a6280-5a83-11eb-8dce-d1ac9ff76c39.png)

#### Versions
OS: Ubuntu (Windows Subsystem for Linux)
Python: 3..7.1

[2021-01-20 15:05] riedgar-ms commented on #683
I'm assuming you didn't mean Python 2.7.17 above....

This is not a use case we've considered. Can you tell us what you're trying to do?

[2021-01-28 14:13] riedgar-ms commented on #457
@hildeweerts do we need this any more? I think that the `MetricFrame` addresses this?

[2021-01-28 14:18] riedgar-ms commented on #316
There are more issues with the testing of `ExponentiatedGradient` - basically, we have smoke tests, but we do not test enough. For example, if some portion of the algorithm were to be tweaked, we do not have tests (or benchmarking) to assess whether the tweak has improved the performance (where performance encompasses accuracy and correctness, as well as speed).

[2021-01-28 17:08] hildeweerts commented on #457
Yes! We can close this issue

[2021-01-28 17:08] #457 closed

[2021-02-01 20:43] MiroDudik commented on #4
Re. meta-estimator... good point!

[2021-02-06 06:01] romanlutz commented on #477
Trying my luck now! Stay tuned.

[2021-02-06 06:15] romanlutz commented on #477
The PR description of #694 has all the instructions on adjusting your local env.

[2021-02-06 20:45] #477 closed

[2021-02-09 20:05] riedgar-ms opened #697 "Documentation Titles don't match selected version"
#### Describe the issue linked to the documentation

With the versioned documentation, the v0.6.0 documentation has a bad header on its pages:

![image](https://user-images.githubusercontent.com/28632930/107421598-29224200-6ae8-11eb-9ce4-39eda98209f7.png)

#### Suggest a potential alternative/fix

This is probably due to the v0.6.0 tag being at the branch point, rather than the tip of the `release

[2021-02-09 21:15] wguyman opened #698 "Request to host face benchmarking script on fairlearn"
Per recommendation from Richard Edgar, we're opening a new issue to propose hosting a python script on the fairlearn GitHub that allows developers to benchmark face recognition performance (measured by the same criteria used in industry such as NIST: True Positive, False Positive, and ROC curves) on their own data, using Azure Cognitive Services or other services and their own model.

Pls let us k

[2021-02-09 21:30] riedgar-ms commented on #698
Rather than in the Fairlearn repo, this might work better as a separate repo in the Fairlearn org. The description above doesn't quite feel to me like something that fits in with the Fairlearn PyPI package itself.

Could you elaborate a bit on how you calculate fairness metrics on these recognisers, and what material you're providing to help users explore the fairness issues in these data @wguyman

[2021-02-09 22:04] romanlutz commented on #698
I'd just like to echo what @riedgar-ms expressed. If this is focused on fairness analysis of such a system then I can see why hosting it under the Fairlearn org in a separate repo makes sense. It would definitely need some documentation to elaborate on fairness criteria, potential harms, etc. And finally, for new repos I think we'd want a certain commitment to maintain that repo. Not that I expect

[2021-02-09 22:06] adrinjalali commented on #698
I'm not sure if the script using Azure Cognitive Services would be appropriate for this repo or org in general, but I find the idea of having scripts which would run certain benchmarks on datasets interesting.

I believe this falls under the category of having guidelines on certain use cases, or real world scenarios. We've talked about this before, and I know there's ample interest in the matter.

[2021-02-09 22:10] romanlutz commented on #697
Oh. Can tags be moved? Or what's the proposed fix?

[2021-02-11 18:49] riedgar-ms commented on #697
I believe tags can be moved:
http://blog.iqandreas.com/git/how-to-move-tags/
However, we won't find out if it's in the right place until we rebuild the docs... and I believe we can't trigger than manually?

[2021-02-11 19:24] romanlutz commented on #697
It's auto-triggered upon check in. There's a way to add another trigger for manual triggering to the YAML, called `workflow_dispatch` but you'd need to get that into the `main` branch at which point it would auto-trigger :-)  It may come in handy in the future, though, if you still want to do it...

[2021-02-11 19:38] dciborow commented on #683
@riedgar-ms , i meant python 3.7!

[2021-02-11 19:59] riedgar-ms commented on #697
After a brief battle with vim, I think that this is fixed. However, we don't know until the next doc build/publish

[2021-02-19 04:44] wguyman commented on #698
Thanks all! Yes, the plan is to publish fairness results of the service algorithms and then separately publish a python script customers can use on their own data that evaluates performance of cognitive services or other services across standard True Positive, False Positive, and ROC curves as used in the NIST report.

The script doesn't use fairlearn code, so the question it sounds like is whethe

[2021-02-19 07:06] adrinjalali commented on #698
To me it sounds like a repo under the Microsoft org may be more suitable for this case?

[2021-02-19 07:41] adrinjalali opened #703 "CI failing due to removed dataset IDs from OpenML"
The commit 77e51c5 seems to be triggering a failure in our CI (see https://github.com/fairlearn/fairlearn/pull/702) caused by one or two IDs remvoed from OpenML. We should investigate the issue and figure out why they're removed, and where they can be found now.

<details>

[code]
</details>

[2021-02-19 07:48] adrinjalali opened #704 "CI Warnings in tests"
We have quite a few warnings which we need to fix.

<details>

[code]

</details>

[2021-02-19 23:53] manasatramalinga opened #705 "Sample for Regression Models using BoundedGroupLoss"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2021-02-20 07:07] adrinjalali commented on #703
This is fixed by re-running the tests. Not ideal, but not a big issue. Hmm

[2021-02-20 07:08] adrinjalali commented on #705
Closing singe there is no description. We'll reopen if you could explain the issue further :)

[2021-02-20 07:08] #705 closed

[2021-02-22 10:47] hildeweerts commented on #703
To avoid re-running all tests we can also hardcode a few re-tries to OpenML calls, perhaps with a short time delay. That usually fixed my problems with API calls during a benchmark project I did a few years ago.

[2021-02-23 20:52] riedgar-ms commented on #703
This is causing issues with some of our internal testing as well. We are investigating whether we can host the Census dataset on a CDN (there is retry logic there, but we've had problems which have defeated that).

[2021-02-24 00:24] romanlutz commented on #703
Definitely seems like an openml issue to me, and not because of removed datasets but unavailable service.
PapersWithCode also recently added datasets: https://paperswithcode.com/datasets

[2021-02-25 06:32] kalikhademi commented on #339
Is there any update on multi-class classification with fairlearn?

[2021-02-26 06:26] romanlutz commented on #339
@kalikhademi I don't have updates since there's no ongoing work. If you'd like to submit a feature request with some context on what you're looking for please open a new issue. Thanks!

[2021-03-04 00:29] violazhong commented on #4
@MiroDudik, could you provide more references (articles, papers, etc.) for the last two bullet points in your last comment? "epsilon-close" sounds like an important thing to make sure the resampling implementation does not mess up our reduction algorithm.

@riedgar-ms  @romanlutz in case you are also interested...

[2021-03-13 00:50] xgchena commented on #484
FYI: I met the same problem with Jupyter Lab, but the dashboard works for me in Jupyter Notebook.

[2021-03-13 08:58] romanlutz commented on #484
@xgchena JupyterLab is not currently supported. I would encourage you to file a feature request in the [raiwidgets package](https://github.com/microsoft/responsible-ai-widgets) for JupyterLab support, since the `FairlearnDashboard` moved to that package. The current version in Fairlearn is deprecated and will go away shortly.

[2021-03-16 00:27] romanlutz commented on #654
`raiwidgets` has been released (see [the repo](https://github.com/microsoft/responsible-ai-widgets) or [PyPI](https://pypi.org/project/raiwidgets/) for info) so I'll close this. If @lokijota would like to look into this more I'm still happy to jump on a call. For `raiwidgets` issues I recommend filing issues in the `responsible-ai-widgets` repo, though.

[2021-03-16 00:27] #654 closed

[2021-03-16 18:27] romanlutz opened #714 "Add Fairlearn to paperswithcode.com"
Requirements listed at https://paperswithcode.com/libraries

[2021-03-18 15:26] Dref360 commented on #641
I find it complicated to find this information on the website.

1. Go to fairlearn.io
2. Click on API Docs
3. Click on "About"
4. Find the section https://fairlearn.org/v0.6.0/about/index.html#citing-fairlearn

[2021-03-24 08:33] hildeweerts opened #715 "Order packages in API reference"
#### Describe the issue linked to the documentation

The current ordering of packages in the API reference seems a bit random to me:

<img width="756" alt="image" src="https://user-images.githubusercontent.com/24417440/112278935-a1515b00-8c83-11eb-801f-63f38c257e8c.png">

#### Suggest a potential alternative/fix

I can see a few options:
* Order alphabetically
* Order based on functionality, e.g.:

[2021-03-24 08:42] adrinjalali commented on #715
I'm also happy either way.

[2021-03-24 09:05] hildeweerts opened #716 "Update "Developer Calls" in Contributor Guide"
We currently describe Developer Calls in the Contributor Guide, including a link to the notes.

**EDIT based on conversation below**:
* Change "Developer Calls" to "Community Calls" in Contributor Guide (https://fairlearn.org/v0.6.0/contributor_guide/index.html#)
* Add old developer call notes to HackMD (https://hackmd.io/QcJ8WBAbQTq6iOgoi0JT4g)
* Remove old developer call notes from website (http

[2021-03-24 20:09] #570 closed

[2021-03-24 20:14] romanlutz commented on #716
Agreed! There's no to-do list other than the usual development process description: https://fairlearn.org/v0.6.0/contributor_guide/development_process.html

In general, you don't need to worry about anything unless the gated pipelines fail since they'd prevent you from merging the PR. If you want to quickly check what the new content looks like you can use the doc build command mentioned [here](ht

[2021-03-24 20:16] romanlutz commented on #715
I don't understand the ordering by functionality, since I'd expect dataset to be first, but I don't particularly care about the ordering :-)

It's set in this file https://github.com/fairlearn/fairlearn/blob/main/docs/api_reference/index.rst

[2021-03-24 20:35] hildeweerts commented on #715
Haha, yeah, I guess it's a lot more subjective than alphabetically. I was clicking through the website to find some good first issues and I noticed this was a bit strange.

[2021-03-24 20:37] hildeweerts commented on #716
With to-do list I actually meant a list of changes we would like to make to the website content, rather than the development process - but I can totally see why you interpreted it differently, haha.

[2021-03-25 01:45] romanlutz commented on #716
Clearly, I'm too much in "checklist mode" these days :-)
I typically favor small changes over big ones (in part because the big ones tend to get stuck at PR stage due to many comments as I regularly demonstrate...) so writing issues for small chunks that need changing actually helps with that.

[2021-03-25 16:00] mmadaio commented on #716
Re: community call notes, I've been taking notes on our weekly calls [here](https://hackmd.io/@mmadaio/meeting-notes/edit), but we should probably move those onto something on GitHub if we want to make them more accessible and/or collaboratively editable

[2021-03-25 16:02] mmadaio commented on #715
Happy either way, but +1 for alphabetically

[2021-03-26 02:29] romanlutz commented on #716
@mmadaio I thought to have them editable collaboratively they needed to be on hackmd? We tried using the Wiki here, but it certainly doesn't have the same real-time edit functionality.

[2021-03-26 05:31] romanlutz commented on #703
Thanks for linking @hildeweerts . Sounds like this should be resolved now. Can we close this issue?

[2021-03-26 05:35] romanlutz commented on #697
I confirmed that it's fixed. Thanks @riedgar-ms !

[2021-03-26 05:35] #697 closed

[2021-03-26 05:56] romanlutz commented on #504
How do people feel about this so far? I don't think anyone's looking at the project boards and I've honestly not been able to consistently keep it up to date. I do like it as a grouping mechanism, but that could just as well achieved through labels.

[2021-03-26 06:01] romanlutz commented on #466
@MBrouns any thoughts? :-)

[2021-03-26 06:23] romanlutz commented on #455
Looking at the user guide we actually do have a table with the performance metrics now: https://fairlearn.org/v0.6.0/user_guide/assessment.html#metrics
![image](https://user-images.githubusercontent.com/10245648/112590394-0611d000-8dc0-11eb-8b4c-06d119d6a3e4.png)

For this particular issue it's probably best if we focus on the organization of the metrics module (code) rather than conflating it wit

[2021-03-26 06:31] romanlutz commented on #425
The dashboard has moved to the `raiwidgets` package and will be removed from `fairlearn` in April. Closing this accordingly.

[2021-03-26 06:31] #425 closed

[2021-03-26 06:54] romanlutz commented on #510
The consensus in #517 was not to use `tqdm` to avoid introducing a new dependency. Instead, `logging` is preferable as @adrinjalali explained in #517 . If anyone wants to start with this task please comment below!

[2021-03-26 08:51] #715 closed

[2021-03-26 09:07] hildeweerts commented on #716
@mmadaio @romanlutz I think the main question is: what would be the goal of putting them on the website?

If the goal is to give people an idea of the kind of topics that are discussed, a paragraph on the website will also do. If the goal is for the community to make it easier to retrieve previous discussions, I'm not sure if it matters a lot whether it is on the website or in a hackmd (at least f

[2021-03-26 09:09] hildeweerts commented on #703
I think so. We can always re-open if we still encounter any issues.

[2021-03-26 10:06] hildeweerts opened #719 "Improve consistency of reference format in documentation"
#### Describe the issue linked to the documentation

The usage of references in the documentation is inconsistent.
* In `ThresholdOptimizer` a reference is linked as a clickable *name (year)* in the **Notes**.
* Functions and classes in the reductions module (`DemographicParity`, `EqualizedOdds`, `ErrorRateParity`, `Moment`, `TruePositiveRateParity`, etc.) link the reference as a clickable *name (

[2021-03-26 10:07] hildeweerts opened #720 "Structure API reference: individual pages and overview tables"
#### Describe the issue linked to the documentation

The current format puts the documentation of all functions/classes of a module on a single page. As the pages are getting quite long and often contain different types of functionality (e.g., "base" metrics versus fairness metrics in the `metrics` module), it can be difficult to get a good overview of the available functionality. This also makes

[2021-03-26 10:07] hildeweerts commented on #601
Split issue into smaller components in #719 and #720

[2021-03-26 10:07] #601 closed

[2021-03-26 10:35] hildeweerts opened #721 "Improve user guide on when to use which fairness metrics"
#### Describe the issue linked to the documentation

The user guide currently does explain what fairness metrics *mean* in a real-world scenario (i.e., beyond their mathematical definition), do not provide guidance on the scenarios in which they may be relevant, nor state some of the inherent limitations of using these metrics to quantify fairness.

#### Suggest a potential alternative/fix

Add mo

[2021-03-26 10:35] hildeweerts commented on #458
Close in favor of smaller issue #721.

@MiroDudik I'm assuming your concerns re. `<metric>_group_summary` are not really relevant anymore with the new metrics API. If this is not the case please open a new issue to address it.

[2021-03-26 10:35] #458 closed

[2021-03-26 10:36] hildeweerts commented on #721
I will try to pick this up based on some of my existing course materials.

[2021-03-26 10:44] hildeweerts commented on #244
Is this issue still relevant? @adrinjalali @romanlutz @riedgar-ms

[2021-03-26 10:50] hildeweerts commented on #243
Is this still relevant? If so, it would be great if someone can either list the steps we need to take to fix this issue (or maybe open a fresh issue). @MiroDudik @adrinjalali @romanlutz @riedgar-ms

[2021-03-26 10:54] adrinjalali commented on #243
Just a note that you could also do `@fairlearn/fairlearn-maintainers` instead of mentioning people one by one if you want to ping all maintainers ;) Typing at-sign-fairlearn would give you the autocomplete for the team's name.

[2021-03-26 11:02] hildeweerts commented on #243
Oh, I didn't know that. Thanks!

(I actually tried tagging people who engaged in the discussion for each issue, which accidentally mostly coincided with most of the current maintainers :P ).

[2021-03-26 16:45] romanlutz commented on #244
I understand this as a question that turned into the realization that we should add/improve documentation including:
- what types of fairness are there (group vs. individual vs. ?)
- what do we have already and what can people add?

The existing documentation caused some confusion so we need to improve that.

[2021-03-26 17:09] #463 closed

[2021-03-29 17:17] adrinjalali commented on #504
maintaining a board requires a dedicated person to maintain that board. I personally haven't been able to maintain one.

[2021-03-29 17:24] adrinjalali commented on #716
One of the purposes of having the notes is for an outsider to understand what happens in the community, and for that I don't think it matters where we put things.

[2021-03-29 17:27] adrinjalali commented on #720
I obviously prefer the first suggestion but I'm biased :P I'm happy either way.

[2021-03-29 18:23] romanlutz commented on #716
Agreed. I don't think anyone has the time to polish the notes. I did that the first few months and it wasn't really worth the overhead. How about we take the notes that are on the webpage already, put them into @mmadaio 's hackmd, remove them from the website, and link to @mmadaio 's hackmd for those interested in the notes?

[2021-03-29 18:25] romanlutz commented on #504
Exactly. I don't think it's helping anyone either. For several months I did put in an effort to keep it up to date, but I never once heard that anyone actually uses it. My vote is to switch to just using labels. We can add a few new ones if people like that, such as
- organization/administrative
- visualizations
- metrics
- mitigations
- use-case

@fairlearn/fairlearn-maintainers wdyt?

[2021-03-29 18:31] hildeweerts commented on #504
Good point, @romanlutz! If at some point we have a very specific project with a particular timeline for which a board may be useful we can always reinstate it.

I don't have a strong opinion on specific label names, the ones you mention make sense to me. Maybe use case -> educational materials (or add another one for educational materials). but I'm fine either way.

[2021-04-02 13:24] enharten commented on #719
I would like to work on this!

[2021-04-02 13:33] hildeweerts commented on #719
That is awesome, @enharten! I have assigned the issue to you. Please feel free to ask questions if anything is unclear.

[2021-04-02 15:44] adrinjalali commented on #721
Also, instead of saying "if this use case -> use this metric", we could just add some information on each metric's documentation about when using it makes sense (just trying to make this issue so that it can be broken into smaller bits of work)

[2021-04-05 23:08] enharten commented on #719
Thanks @hildeweerts!

Should anything be done with the **Notes**? For example, in `ThresholdOptimizer`, should the note be removed, or shortened to not include a link since there will be a link in the **References**? Other?

[2021-04-06 07:01] MBrouns commented on #466
Apologies for the radio silence. It's been busy and I've been avoiding programming in my spare time a bit to focus on other things.

I'm still happy to pick this up but I can't commit to a deadline. If there's someone lined up who wants to tackle this I'm happy for them to give it a go. If not, I'll try to make a start near the end of the month

[2021-04-06 07:04] koaning commented on #466
I also don't have time, but probably a topic that requires discussing upfront: our implementation of these tools requires a dependency from cvxpy. @MiroDudik is this a dependency you're willing to accept?

[2021-04-06 09:24] hildeweerts commented on #719
@enharten: I got an e-mail notification with a question from you but I don't see here on Github - do you still need some clarification?

[2021-04-06 09:29] hildeweerts commented on #720
@fairlearn/fairlearn-maintainers do any of you have a preference for either pandas or scikit-learn format?

[2021-04-06 12:45] riedgar-ms commented on #720
So long as everything happens automatically, I'm not fussed.

[2021-04-06 12:56] enharten commented on #719
@hildeweerts I don't know why I naively thought that you wouldn't see it; I thought better of my question. I'll submit a PR shortly

[2021-04-06 13:00] hildeweerts commented on #719
No worries, it was a good question - but great to hear you figured it out 👍

[2021-04-06 14:54] LeJit opened #728 "ThresholdOptimizer returns different group results when given multiple sensitive features."
#### Describe the bug

The ThresholdOptimizer returns incorrect group performance results when multiple sensitive features are given. If the multiple sensitive feature columns are concatenated into a single column, the results appear more inline with what we intuitively expect.
This bug was found when optimizing for `balanced_accuracy_score` with the fairness constraint of `equalized_odds`.
#### S

[2021-04-06 18:09] SKrupa opened #729 "fairlearn.metrics._group_metric_set._create_group_metric_set fails for regression since y_true contains values other than [0, 1]"
#### Describe the bug
I'm trying to run some fairness analysis on some of our models, where we can produce either classification or regression models. With regression, I found that it was failing to calculate metrics as it was expecting y_test to have values of only 0 and 1, which isn't true for our regression dataset. Strangley, even if I sent in a dummy y_test which only contained 0s and 1s, it

[2021-04-06 18:48] hildeweerts commented on #720
@riedgar-ms it depends a bit on what you mean with automated, I believe these solutions are actually not 100% automated, because you have to create the table with instructions and such (not sure though, I don't have a ton of experience with sphinx). However, I don't think we are adding new classes, etc. *that* often so maintenance-wise it shouldn't result in much overhead after the initial set up.

[2021-04-06 20:50] riedgar-ms commented on #729
Have discussed separately with Sebastian. Although this particular function is going to be removed from Fairlearn, I would like to fix this here.

[2021-04-07 15:30] adrinjalali opened #730 "Add links to user guides from API pages"
I needed to use the `MetricFrame`, so I duckduckgoed `fairlearn metricframe`, which pointed me to the API page [here](https://fairlearn.org/v0.5.0/api_reference/fairlearn.metrics.html). Then I was expecting to easily find a section with some example code which I could copy/paste/adapt for my use-case, but it's not available.

I think it'd be nice to have links to user guides and example notebooks

[2021-04-07 15:36] adrinjalali opened #731 "Capability to hide prompts and outputs from examples"
Right now the examples include the prompts and outputs, and the user can't hide them before copy/pasting them:

![Screenshot from 2021-04-07 17-35-42](https://user-images.githubusercontent.com/1663864/113893859-b374e280-97c7-11eb-861b-998f8b477b30.png)

It'd be nice to have something like the one visible in this image, to hide those before copy/pasting.
![Screenshot from 2021-04-07 17-32-18](https

[2021-04-07 22:23] romanlutz commented on #466
There's no particular urgency AFAIK. @hildeweerts and I have just been going through all issues to add more detail where possible or mark as "help wanted" where appropriate, since we're going to participate in developer sprints at PyCon and SciPy this year.

Thanks for pointing out the `cvxpy` dependency @koaning ! Out of interest I've installed `cvxpy` locally and it brought in a few new ones I d

[2021-04-08 05:13] romanlutz commented on #720
I think creating pages per module is nice and simple (and consistent with what we're doing so far, not that that should matter...). It's not a hill I'm willing to die on, though, so either way is fine.

The overall idea with overview tables is fantastic and I'm wholeheartedly in support. :-)

[2021-04-08 08:00] #729 closed

[2021-04-08 13:45] riedgar-ms opened #734 "Bugfix Release v0.6.1"
I would like to put out a release (would be v0.6.1) for #727 (and also #662 , if there is agreement on merging that solution). What are people's thoughts on doing this?

[2021-04-08 14:08] adrinjalali commented on #466
yeah I've had issues with `cvxpy` before because of its dependencies. It's the kinda package that I would be really worried about for having a hard dependency on.

I would suggest having it as another soft dependency, and having on `pip install fairlearn[complete]` for instance. But we should also start having a very clear table, with methods/modules on one side, and dependencies on the other side

[2021-04-08 14:41] hildeweerts commented on #734
Sounds good!

[2021-04-08 14:46] hildeweerts commented on #730
Agreed! I've always liked that scikit-learn consistently adds a "Read more in the User Guide." link at the bottom of the description.

[2021-04-08 21:30] romanlutz opened #736 "Create a table with methods/modules and corresponding dependencies"
We should start having a very clear table, with methods/modules on one side, and dependencies on the other side, for people to have a clear view about them. Currently `postprocessing` has a soft dependency on `matplotlib`. Soon, this will also be true for `metrics` (once the plotting capabilities are merged). Additionally, #466 seems to converge towards `cvxpy` as another soft dependency.

_Origin

[2021-04-08 23:10] vamsidesu5 commented on #716
Hey I'm new and would love to contribute to this project - would like to pick this issue up!

[2021-04-09 07:39] hildeweerts commented on #716
Hi @vamsidesu5, welcome to the project! I have assigned the issue to you. Do you have enough information to get started? Please let us know if you have any questions.

[2021-04-09 09:53] adrinjalali opened #737 "Supporting `count` as a metric"
It's desired to know the number of data points in each group when working with `MetricFrame`, and that can be achieved by passing a function which returns the length of its input. For instance:

[code]

We don't necessarily need to change anything in the code or API for this, but we should document it in the user guide and/or the API reference to let people know how it can be done.

[2021-04-09 16:53] riedgar-ms opened #738 "Move changelog to the main documentation"
#### Describe the issue linked to the documentation

The `CHANGES.md` file is only accessible in the repo, and not part of the main website (fairlearn.org)

#### Suggest a potential alternative/fix

Move (and convert to ReST) the file so that the file appears on fairlearn.org. Ideally it would be kept prominent in the repo itself, though (which might complicate things a little)

[2021-04-09 20:55] romanlutz commented on #737
I like this a lot. The `lambda x, y: len(x)` isn't super straightforward if you're not familiar with how to write a metric function. Should we just define the `count` function like we did with `selection_rate` so that people can import it and pass it without having to write the code themselves?

Totally agree on documenting this. I guess the tasks here would be
- [ ] to look at the user guide of `

[2021-04-12 08:11] hildeweerts commented on #737
I like the convenience of a `count` function, it makes it more beginner friendly I think. Do we need to open a separate issue for that?

[2021-04-12 08:43] adrinjalali commented on #737
I think the same issue/pr could do both the doc and the function.

[2021-04-12 12:09] romanlutz commented on #738
We've had this discussion a while ago, although I'm having trouble tracking down where exactly. What I remember from that time:
- CHANGES.md is meant for ALL changes to the package (excluding, for example, fixing a build pipeline since that's not going on PyPI) made, regardless of how small. This is mainly for developers, not users.
- The website should have something similar, but reduced to just

[2021-04-12 12:14] riedgar-ms commented on #734
If there are no objections, I'd like to go with our current repo state for `v0.6.1` - skipping #662 for now. Please let me know by 0800 EDT on Tuesday (2021-04-13) if you have any concerns. As usual, during a release, there will be some changes made without the usual review delays, as `main` gets its version bumped.

[2021-04-12 12:21] hildeweerts commented on #738
I like the idea of release highlights a lot (with the added bonus that it's very tweet-able #fairlearn)!

Upgrading instructions sound like something that we probably should be doing (although they also don't sound very fun to be doing, lol). Ideally we don't add too many breaking changes which will hopefully make future upgrading instructions very minimal.

[2021-04-12 12:31] adrinjalali commented on #738
Upgrading instructions could go into the release highlights, to keep it simple if we want.

The changelog is something like the one you have here:
https://scikit-learn.org/stable/whats_new/v0.24.html

It does include everything which changes something for the users, but it's still different from the release highlights, and it doesn't have to include CI commits for instance.

The idea is that the c

[2021-04-12 23:40] vamsidesu5 commented on #716
Yup going through codebase now and trying to understand where to make edits! Where's the best place to ask any questions? On this issue or in Gitter?

[2021-04-13 00:08] vamsidesu5 commented on #716
@hildeweerts Hey I'm running into this issue when pushing to git, any permissions need to be changed for me:
<img width="1172" alt="image" src="https://user-images.githubusercontent.com/24753774/114477775-d25de500-9bca-11eb-8bb1-b8efaff55ef7.png">

[2021-04-13 07:03] romanlutz commented on #716
@vamsidesu5 if the questions are related to this topic/issue then this is the best place :-)
If they're unrelated then it depends:
- if it's something that might be generally useful (even to other contributors or users) then perhaps a ["discussion"](https://github.com/fairlearn/fairlearn/discussions) is the best place
- if it's probably specific to your situation then Gitter might be best

The err

[2021-04-13 12:23] riedgar-ms commented on #734
Branch point tagged, branch cut, and PR out (#739) to update `main` for this release. I've also kicked off the _test_ release pipeline for v0.6.1 (which reminds me that that's still MS-only.... we need to fix that).

[2021-04-13 14:54] riedgar-ms commented on #734
Turned out that there were two problems:
- Update to `pydata-sphinx-theme` was breaking our docs
- I'd forgotten to update the path to `yarn` in the release pipeline.

PR #740 addresses those. Merged to `main`, being cherry-picked to the release branch (#741).

Also have #739, which updates `main` with the new version and the link from the static page to the versioned documentation.

[2021-04-13 19:05] riedgar-ms opened #742 "Update links from fairlearn.github.io to fairlearn.org"
#### Describe the issue linked to the documentation

A variety of our documentation links point to `fairlearn.github.io` rather than `fairlearn.org`. There is a redirect, but it would be good to fix these

#### Suggest a potential alternative/fix

See above

[2021-04-13 19:06] riedgar-ms commented on #734
Published to Test-PyPI:
https://test.pypi.org/project/fairlearn/

[2021-04-13 19:30] adrinjalali commented on #742
For whoever wants to contribute, you can do a `git grep fairlearn.github.io` to find instances where you need to change.

[2021-04-13 22:38] riedgar-ms commented on #734
Now on PyPI:
https://pypi.org/project/fairlearn/

[2021-04-13 22:38] #734 closed

[2021-04-14 02:46] BrandonGoding commented on #742
@riedgar-ms & @riedgar-ms    #743 is the pull request I did.  First pull request I've done, thanks for posting this as a first issue it was a good way to learn how pull requests work.  Would you let me know if I did anything wrong?

[2021-04-14 03:36] MattRudy commented on #742
Hey @BrandonGoding , in order to link your Pull Request to the issue (and have the issue automatically close when the Pull Request is approved) you should include a reference in your commit/PR to the issue number (the same way you referenced your Pull Request in your comment with a #) with a word like 'fix', 'close', or 'resolve' before it. Check out this link for more details:

https://docs.githu

[2021-04-14 12:43] BrandonGoding commented on #742
I ended up closing the last pull request and opening another.  I went back through and made the fixes suggested in comments

[2021-04-15 16:42] romanlutz commented on #650
I just uninstalled the DCO app. Closing this item accordingly, but if against all odds it still requires passing the DCO test please let me know!

[2021-04-15 16:42] #650 closed

[2021-04-15 19:36] vamsidesu5 commented on #716
@romanlutz @hildeweerts Thanks for all the help - updating code now and will make a PR soon!

[2021-04-15 20:15] adrinjalali commented on #650
Woohoo, the brave new world of DCO free contibs

[2021-04-15 20:21] vamsidesu5 commented on #716
@romanlutz @hildeweerts I made the edits, but I want to be able to test the website. Is there any command I can run locally to see how the website looks with the changes?

[2021-04-15 21:33] vamsidesu5 commented on #716
Here is the current PR: https://github.com/fairlearn/fairlearn/pull/745

[2021-04-16 06:01] romanlutz commented on #716
@vamsidesu5 Great question! This command should build the website locally: `python -m sphinx -v -b html -n -j auto docs docs/_build/html`
Then you can look into that directory at the end of the command and open the pages you care about. In your case I think that would be the contributor guide. This command is a bit of a shortcut compared to what the build pipelines are running since they need to b

[2021-04-16 07:43] hildeweerts commented on #716
@romanlutz I think it would be great if we can put those instructions in the contributor guide!

[2021-04-16 21:11] MiroDudik commented on #737
To clarify the `count` function proposal. I'm assuming we're just talking about adding `fairlearn.metrics.count`, but not doing anything with the `MetricFrame` API right?

[2021-04-17 08:00] adrinjalali commented on #737
Correct :)

[2021-04-17 08:15] adrinjalali opened #751 "Make sure flake8 checks only relevant files"
From https://github.com/fairlearn/fairlearn/pull/747#issuecomment-821531625:

We need to change our CI to make sure `flake8` only checks the relevant files, and not the whole repo folder.

cc @romanlutz

[2021-04-18 14:01] adidutt opened #752 "Target column with multiple classes (Multi Class Classification)"
Can we not implement bias detection in fairlearn if we have multiple classes in the target column like 0/1/2? What can be done to resolve this issue?

[2021-04-20 15:59] adrinjalali opened #753 "MetricFrame and multiple/named sensitive features"
I was writing an example notebook, and I encountered something which I found strange. Basically, this works:

[code]

But this doesn't:

[code]
with error:

    ValueError: If using all scalar values, you must pass an index

To me this error message is not clear at all, and I have no pandas DataFrames to have any indices in the first place. I don't think we should be failing in this case.

cc @rie

[2021-04-21 08:13] adrinjalali commented on #753
I understand why this happens, but from the users' perspective, this is irrelevant. From the users' perspective, there's no reason for one of those variations to work and not the other. We should do the right validations to make sure those odd potential behaviors you mention don't happen, but I don't see why we'd force the user to import pandas when they don't need to, and to me what I have is a c

[2021-04-21 09:16] hildeweerts commented on #753
I don't think they'd need to import pandas, right? in your current code replacing `reshape (-1,1)` by `reshape(-1,)` would solve the issue. Regardless, I agree that this is a pretty intuitive way to define an array and we shouldn't bother the user with it. I was mostly thinking that there's probably a reason pandas does not accept this type of shape directly (but I'm probably being too naive here,

[2021-04-21 09:26] adrinjalali commented on #753
That's true, which I didn't try, and then `ValueError: If using all scalar values, you must pass an index` is really a misleading error message lol.

[2021-04-21 09:31] hildeweerts commented on #753
Yeah, it's not very informative lol. Even as a frequent pandas user I am often still confused by some of their error/warning messages(`SettingWithCopyWarning` gets me every time )

[2021-04-21 12:40] riedgar-ms commented on #753
So what is the fix we need here? We could certainly do something to address this particular case. However, you then start getting into worrying about whether a vector of length n is the same as an (n,1) array, a (1,n) array or a (1,1,n,1,1,1) array. I'd prefer to delegate that to pandas... perhaps we could put a try/catch around the conversion, so that we can at least be explicit to the user as to

[2021-04-21 12:54] adrinjalali commented on #753
I think applying a `reshape(-1,)` on everything before passing to pandas would make sense. It doesn't matter what the original shape is, as long as there are only `n` items there.

[2021-04-21 13:11] riedgar-ms commented on #753
You mean iterate over the dictionary, check if each value is a numpy array (because it might be a list), and if so call reshape? What do we do if some of the values are lists?

[2021-04-21 13:16] hildeweerts commented on #753
There may be a few very specific scenarios in which this could lead to unexpected results e.g., if the user accidentally passes the "wrong" array that happens to be of shape (n/2, 2), they wouldn't receive any notification whatsoever that they actually passed a multidimensional array. I admit this is quite an unlikely scenario, but I like @riedgar-ms 's idea of at least letting the user know we tr

[2021-04-21 14:05] adrinjalali commented on #753
Checking and correcting the number of dimensions is not really something odd. I agree maybe we don't want to do a `reshape` on everything, but doing certain dimension changes is not that odd, eg.:

https://github.com/scikit-learn/scikit-learn/blob/114616d9f6ce9eba7c1aacd3d4a254f868010e25/sklearn/decomposition/_nmf.py#L95

Passing anything to `asarray` or sklearn's `check_array` fixes those inconsi

[2021-04-21 14:51] hildeweerts commented on #753
If we limit the reshape to a limited set of straightforward shapes (like the (n,1) and (1,n)), I agree a warning wouldn't be necessary.

Would it make sense to still replace the pandas ValueError message with a more informative one (e.g., a suggestion to check the dimensions of the array)?

[2021-04-21 14:58] adrinjalali commented on #753
Yeah that error really puzzled me. A more verbose message with a suggested solution would probably help.

[2021-04-21 15:11] riedgar-ms commented on #753
I'd really rather wrap [the call to `DataFrame.from_dict()`](https://github.com/fairlearn/fairlearn/blob/2d795006c045bdaeab1a22cd1893d5c63d27f099/fairlearn/metrics/_metric_frame.py#L522) in a try/catch block which tells the user exactly what we tried to do, and passes on the pandas error. The whole point of using that call was so that we didn't need to do any processing ourselves.

[2021-04-21 15:22] hildeweerts commented on #752
Hi! Thank you for your question.

It is possible to measure disparities for multi class classification problems, as long as the underlying metric supports multi class classification.

'Standard' group fairness metrics such as equalized odds (=differences in FPR and FNR) and demographic parity (=differences in selection rate) can be a bit tricky to compute for multi class classification scenarios,

[2021-04-21 15:32] adrinjalali commented on #753
Sure, as long as the error message is clear enough and gives the user a solution, I'd be happy with that.

[2021-04-21 15:45] hildeweerts commented on #752
@fairlearn/fairlearn-maintainers do we want to add explicit mullticlass support for e.g., fpr and fnr? I am a bit worried that e.g., something like macro/weighted/etc. averaging would compress too much information in a single number. Alternatively we could write a section in the user guide to explain to people how they can compute a fairness metric for each class separately. wdyt?

[2021-04-21 15:53] adidutt opened #755 "Fetching and underprediction and overprediction values"
Is there a way to fetch underprediction and overprediction values for each subgroup of a protected attribute (eg, for Gender - subgroups - Male, Female)?
![1](https://user-images.githubusercontent.com/53310020/115583605-08b8f580-a298-11eb-9f74-9e1be86f29bc.PNG)

[2021-04-21 19:20] riedgar-ms commented on #755
I believe that those are the `_mean_underprediction` and `_mean_overprediction` metrics:
https://github.com/fairlearn/fairlearn/blob/2d795006c045bdaeab1a22cd1893d5c63d27f099/fairlearn/widget/_fairlearn_dashboard.py#L135
You can obviously call them directly (or hand them to a `MetricFrame`). I don't recall offhand why we put the underscore prefix on them.

[2021-04-22 06:51] romanlutz commented on #752
We're facing the same in our chest x-ray classification use case and will just treat it as separate binary classification problems. I share your concern about condensing too much information into a number and I'm extremely (positively) surprised that we basically already support the accuracy score case!

A user guide section seems like the right choice. If others have ideas on how to handle this I

[2021-04-22 07:20] hildeweerts commented on #752
The wonders of being scikit-learn compatible :D

[2021-04-22 07:37] hildeweerts commented on #703
Reopened this issue (see https://github.com/fairlearn/fairlearn/pull/732#issuecomment-824583523) as well as the one the at OpenML repo (https://github.com/openml/OpenML/issues/1092).

@riedgar-ms you mentioned you've previously had some retry logic there, what was the reason that didn't work?

[2021-04-22 08:16] adrinjalali commented on #752
I'm happy to add fairness related metrics for multiclass cases, but metrics in those situations are tricky business. I'd be happy to include anything which is already at least half established in the community, rather than inventing our own ways of computing them.

For MetricFrame, as @hildeweerts mentions, as long as the underlying metric supports it, it's supported, I'd be happy with adding at l

[2021-04-22 11:17] riedgar-ms commented on #703
Most likely, the retry logic was only in the AzureML Notebooks - there was never a significant problem here. Can you point me at a build where this has been happening? I've just done a quick swing past, and I'm seeing mainly green.

[2021-04-22 12:17] hildeweerts commented on #703
I don't know of a specific build, but @romanlutz mentioned you've encountered this issue several times over the past few weeks (see https://github.com/fairlearn/fairlearn/pull/732#issuecomment-824583523).

[2021-04-22 14:34] MiroDudik commented on #752
The idea of better inter-operability with confusion matrix has come up. One way how to enable it would be to have a bit of support for metrics that output pandas series (these would be automatically treated as multiple separate metrics).

Currently, we can do the following:
[code]
Which outputs this:
[code]
However, `mf.difference()` etc. will throw errors. It might be nice to basically enable API

[2021-04-22 15:01] MiroDudik commented on #466
I like @adrinjalali 's suggestion to have `cvxpy` as a soft dependency. I like the suggestion re. doc table with soft dependencies. I'm agnostic if we need `complete` install variant--but it seems nice from the user perspective.

[2021-04-22 17:52] MiroDudik opened #756 "MetricFrame should support metrics that don't require y_true and y_pred"
Right now `MetricFrame` only works with metrics with the signature `metric(y_true, y_pred)`, but its disaggregation functionality should be much more broadly applicable. Two use cases of interest:

1. **Dataset-only metrics or prediction-only metrics**. These are the metrics of the form `metric(y_true)` and `metric(y_pred)`. While in principle these could be handled by the current API, it's a bit

[2021-04-22 17:55] MiroDudik commented on #756
Resolving this issue would also enable #676 .

[2021-04-22 18:01] #290 closed

[2021-04-22 20:15] vamsidesu5 commented on #737
Hey I can take this issue up!

[2021-04-22 20:25] vamsidesu5 commented on #716
Completed - going to close issue now!

[2021-04-23 10:32] adrinjalali commented on #737
Sure, it's yours @vamsidesu5

[2021-04-23 17:21] MiroDudik commented on #667
I think that there's a simple approach to cover some instances of this: https://github.com/fairlearn/fairlearn/pull/561#issuecomment-825766115

[2021-04-24 21:10] adidutt commented on #755
Thanks for the reply. I got the correct values through MetricFrame.
Earlier, I tried calling them directly like, for a protected attribute named 'Gender' I want the individual mean overprediction and the individual mean underprediction (for values 0 and 1).

print(_mean_overprediction(ground_truth, predicted_outcomes))
print(_mean_underprediction(ground_truth, predicted_outcomes))

But according t

[2021-04-27 01:57] romanlutz opened #757 "Use the new Azure DevOps organization "Fairlearn""
https://dev.azure.com/fairlearn/Fairlearn

I created this new org to decouple our CI from Microsoft's internal CI. Also, all Fairlearn maintainers have admin permissions and can approve releases. The task that remains to be done is to point the existing Azure pipelines at this new organization.

@fairlearn/fairlearn-maintainers

[2021-04-28 22:29] michaelamoako opened #758 "plot_roc_curves(scores, y_true, sensitive_features)"
#### Is your feature request related to a problem? Please describe.
In producing Fairness Assessment results, seeing metrics given a fixed threshold is useful. In addition to that, it helps to also see an ROC curve (TPR vs. FPR) across different thresholds.

#### Describe the solution you'd like
A function like "plot_roc_curves(scores, y_true, sensitive_features)" that takes in sensitive_features

[2021-04-28 22:32] michaelamoako opened #759 "Support for by_group in Dashboard"
#### Is your feature request related to a problem? Please describe.
by_group currently supported in MetricFrame, but not yet in Dashboard.

#### Describe the solution you'd like
Ability to select multiple sensitive features in dashboard, and view results across intersections

#### Describe alternatives you've considered, if relevant
API

#### Additional context
Users of the notebook will likely wa

[2021-04-28 22:49] michaelamoako commented on #728
I had a similar issue with other combinations of optimization metric and constraints:

I think because the constraints are related to parity (and not upperbounds) these types of solutions are **possible**. Commenting to track if progress is made on this, as I have the same question

[2021-04-29 07:14] romanlutz commented on #759
@michaelamoako the `FairlearnDashboard` in Fairlearn is deprecated and will be deleted shortly. Are you referring to the `FairnessDashboard` in `raiwidgets`? If so, this sounds like a feature request for [that repo](https://github.com/microsoft/responsible-ai-widgets) rather than Fairlearn.

Fairlearn is adding plotting functionality at the moment and multiple sensitive feature support is on our r

[2021-04-29 08:16] romanlutz commented on #728
I've managed to trace this to `_merge_columns` in `_input_validation.py`. Evidently, if you use `np.apply_along_axis` to merge multiple text labels it cuts them off. Example:
[code]
That's also what's happening in your example since some of the sensitive feature group names are fairly long. Clearly, that shouldn't be an issue, so I'm currently looking into what can be done. It seems like `np.apply

[2021-04-29 14:25] adrinjalali commented on #758
I agree this is pretty useful, and for whoever would like to take it up, here's what I've used in my scripts. Feel free to take and generalize it.

[code]

And the corresponding one for precision recall curves:

[code]

[2021-04-29 14:28] adrinjalali commented on #759
Yep, dashboard issues are out of scope for this repo now.

[2021-04-29 14:28] #759 closed

[2021-04-29 14:36] hildeweerts commented on #758
Yes, we should definitely include this!

Perhaps adding a separate `roc_curve_grouped(y_true, y_pred, sensitive_features)` that returns the fpr, fnr, and thresholds for each group would be nice as well. That makes it easier to plot specific thresholds for each group on top of the curves, which can be quite insightful imo.

[2021-04-29 15:23] michaelamoako commented on #758
Thanks! There is just one piece I am missing

Given I have a dataframe (df) with labeled sensitive features, I want to create dataframes that are a subset of this, using sensitive features. Something like:

**create_sensitive_dfs(df, sensitive_features)**
Input: dataframe, list of sensitive features
Output: Smaller dataframes (i.e: df_women, df_men, df_nans)

Example: sensitive_features = [age, ra

[2021-04-29 15:50] michaelamoako commented on #758
sensitive_pdfs below is what I am missing.

[code]

[2021-04-29 17:23] lurosenb commented on #758
Hi all!

Here is some code that splits pdfs based on a list of columns (the columns must only have boolean values)

Example use:
`sensitive_pdfs(df, [('color', ['blue','red']), ('city', ['ny','nj'])], 'pdf')`

Example in colab notebook:
[Notebook](https://colab.research.google.com/drive/1gwClFsgLqNkexFiSXeKwCBu4Iu2awRTn?usp=sharing)

[code]

[2021-04-29 21:29] michaelamoako commented on #758
`def sensitive_pdfs(df, sensitive_features):
    distinct_features_vals = []
    df_dict = {}
    for feature in sensitive_features:
        distinct_vals = set(df[feature].to_list())
        distinct_features_vals.append(distinct_vals)
    distinct_features_combos = list(product(*distinct_features_vals))
    for features in distinct_features_combos:
        query = " & ".join([f"{sensitive_featur

[2021-04-30 06:06] adrinjalali commented on #758
Reopening since we need a nice method in fairlearn to do this.

[2021-04-30 23:36] riedgar-ms commented on #756
We definitely should be figuring out how to offer metrics for other scenarios. However, I'm a little concerned.... about a few points. Doing (1) is doing to break all existing code. Now, while we hardly have the usage of `sklearn` (say), that's still not a good thing to do. And I think that doing (2) sort of does the opposite - once you've accepted `**kwargs`, you can't add any more arguments of y

[2021-05-01 09:23] romanlutz commented on #728
I have a fix and I'm sending out a PR momentarily.

[2021-05-02 00:14] romanlutz commented on #716
@hildeweerts merged the corresponding PR in, so I'll close this issue. Thanks a ton, @vamsidesu5 !

[2021-05-02 00:14] #716 closed

[2021-05-02 00:15] romanlutz commented on #698
Closing this issue. If there's any new information we should take into account please reopen! Thanks!

[2021-05-02 00:15] #698 closed

[2021-05-02 00:25] romanlutz opened #764 "Add notebook execution buttons to the sphinx gallery notebook pages"
Our notebook pages on the website (such as [this one](https://fairlearn.org/v0.6.1/auto_examples/plot_grid_search_census.html)) have download buttons, but we can't execute them directly on Binder, Azure Notebooks, Google Colab, etc.

Scikit-learn has a button for Binder (e.g., in [this example](https://scikit-learn.org/stable/auto_examples/bicluster/plot_spectral_biclustering.html#sphx-glr-auto-ex

[2021-05-02 00:25] romanlutz commented on #508
I opened #764 for the Binder button and I'm closing this since we don't have an interactive dashboard much longer in this repo, so the need for this isn't really there anymore. Thanks everyone for the input, though!

[2021-05-02 00:25] #508 closed

[2021-05-02 00:35] riedgar-ms commented on #269
The both the dashboard and `_create_group_metric_set()` are going to be moved out of the Fairlearn repo. Closing this.

[2021-05-02 00:35] #269 closed

[2021-05-03 13:48] MiroDudik commented on #758
I agree that this is a super useful addition. I also like @hildeweerts suggestion to consider extending both sklearn's [roc_curve](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html#sklearn.metrics.roc_curve) and [plot_roc_curve](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.plot_roc_curve.html#sklearn.metrics.plot_roc_curve).

Until we find somebo

[2021-05-03 13:54] MiroDudik commented on #756
If we want to implement (1), we would not break everything right away. We would start off by issuing deprecation warnings. Would that work, @riedgar-ms @romanlutz @hildeweerts @adrinjalali ?

I just think that our current API is really limiting us, so I'd rather fix this sooner rather than commit to the future of docs that describe all kinds of workarounds.

[2021-05-03 14:00] riedgar-ms commented on #756
Is there a way of detecting whether an argument was passed by position rather than by keyword?

[2021-05-03 14:17] hildeweerts commented on #758
I agree, let's get the conversation started (which may be relevant to the other plotting functionality as well? @romanlutz )

* `plot_roc_curve`
   * If we want to be consistent with sklearn we should use something like: ```plot_roc_curve(Estimator, X, y, sensitive_features,  *, sample_weight=None, drop_intermediate=True, response_method='auto', name=None, ax=None, pos_label=None, **kwargs)``` ret

[2021-05-03 14:38] hildeweerts commented on #756
I am generally not opposed to Step 1 (although I don't really see the need for changing `metric` into `metrics`).

When we get to Step 2 things get a bit tricky IMO. I am afraid that trying to fit all different kinds of learning tasks into one `MetricFrame` will become extremely confusing for novice users.  An alternative might be to leave `MetricFrame` as is and create a new data structure for ot

[2021-05-03 15:34] MiroDudik commented on #756
Re. `metric` -> `metrics`--the rationale is that we have `sensitive_features` and `control_features`. I've also noticed that in the tutorials I keep writing things like:
[code]
So it seems that `metrics` is the more appropriate name--it makes no sense to change the name in isolation, but if we decide to implement (1), then it would be an opportunity to change this as well.

@riedgar-ms : the trans

[2021-05-03 15:41] michaelamoako opened #765 "Unstructured Data metrics (i.e: WER for Text data) in MetricsFrame"
#### Is your feature request related to a problem? Please describe.

I would like support for metrics that specifically pertain to unstructured data. For example:

Speech To Text - Some common metrics used in STT include Word Error Rate (which looks at the difference between the uttered text and the transcribed text). Another example is "sentence error rate" where if _any_ mistakes are made in the

[2021-05-03 17:04] romanlutz commented on #756
I'm not terribly opinionated on this issue, but if we move to something like `MetricFrame(*, metrics, sensitive_features, control_features, sample_params, **shared_sample_params)` then we better have extremely good documentation. Reading this in an API documentation I would have no clue what to do with that. In contrast, the current signature is very intuitive to me. Obviously that can be fixed wi

[2021-05-03 17:30] MiroDudik commented on #758
Re. compatibility with sklearn, I noticed that they use `estimator, X, y` signature, but it seems very limiting (or forcing some workarounds with pass-through estimators). So, in this case, I was proposing to intentionally deviate from the sklearn pattern (that's why I would also use a different name, i.e., `plot_roc_curves`). I would make all of the arguments keyword-only to prevent any confusion

[2021-05-03 17:38] MiroDudik commented on #756
@romanlutz -- i agree than step (2) requires some care, but what do you think about carrying out step (1), with the intermediate API of the form:
[code]
This would support the current behavior when 1-3 positional arguments are provided, but in those cases it would give a warning that this calling format is being deprecated.

[2021-05-03 18:24] riedgar-ms commented on #756
I think that there are a few different things going on here, and I'd like to separate the different threads.

Firstly, I think that the idea behind `shared_sample_params` is a good one. Indeed, I considered putting something like that in last autumn when I was writing `MetricFrame`. I didn't because it wasn't a 'must have' feature. However, as I said above, I think it should be a `Dict[str,vector]

[2021-05-03 21:36] MiroDudik commented on #756
@riedgar-ms : one of the reason to have keyword-only parameters is so that you can skip them when they're not needed. For example, if we went with the signature:
[code]
Then it would be okay to drop `y_true` and `y_pred` and provide all the metric parameters via `sample_params`.

[2021-05-03 21:49] MiroDudik commented on #756
Re. `shared_sample_params`, I think that `**shared_sample_params` would make the pattern more similar to what we do right now with `y_true` and `y_pred`. We could take advantage of [`inspect.signature()`](https://docs.python.org/3/library/inspect.html#inspect.signature) and throw a warning if there's a conflict. In those rare cases, the users could use `sample_params` as a workaround.

But I also

[2021-05-04 00:23] riedgar-ms commented on #756
If the use case is "we can drop the current parameters, and have a different set of parameters instead" then we should probably be creating a new class to handle the second set of parameters. Right now, I feel that `MetricFrame` does the fairly simple task of taking an `sklearn`-style `(y_true, y_pred)` metric, and turning it into one with grouping (via the sensitive features). I'd prefer to keep

[2021-05-04 03:43] romanlutz commented on #756
I feel like this discussion could benefit from some concrete examples. Like @riedgar-ms (and @hildeweerts I think) I'm currently struggling to see the benefit of complicating the currently very intuitive API, but perhaps with 3-5 examples of what this would look like for actual metrics (say, one of the existing ones we support, and then whichever new ones we might be able to accommodate through th

[2021-05-04 07:55] hildeweerts commented on #756
I was thinking the same!

I think the majority of users will be looking for classification/regression metrics and may not even be familiar with reinforcement learning. Having to look at examples to understand how to use an API even in the 'simplest' scenario, signals that it is not intuitive.

I like @romanlutz idea of writing out some examples!

[2021-05-04 09:10] MartaMarchiori opened #768 "Is there a way to export a report of the metrics?"
Hi there, thanks for your work :)

Is there a way to export a comprehensive file/report of the metrics showed in the Fairness Dashboard? Or a line of code through Fairlearn.Metrics to do so?

Many thanks

[2021-05-04 16:52] romanlutz commented on #768
Hi @MartaMarchiori !

One option would be to take a screenshot of the dashboard. Not ideal, I know, but the dashboard is being removed from Fairlearn at the moment #766 in favor of simpler plots. #766 has a few screenshots of what that looks like, although you don't really need to wait for any PRs to get merged since the functionality already exists. With any `MetricFrame` you can simply plot it,

[2021-05-04 22:28] MiroDudik commented on #756
Is there resistance even to Step 1, which would just modify the current API to:
[code]
I don't think that it would make the API more confusing, would it?

I think that there are good use cases that have nothing to do with reinforcement learning and that we have already run into (dataset-only metrics like demographic parity, streaming metrics which are currently being implemented, and word-error ra

[2021-05-05 13:48] #753 closed

[2021-05-05 14:23] mmadaio opened #769 "DOC: Measurement modeling - construct validity"
#### Describe the issue linked to the documentation!
The user guide currently does not include explanations of key concepts from measurement modeling.

Measurement modeling is a framework from quantitative social sciences, involving a process of measuring theoretical constructs that cannot be observed directly (such as fairness) by making inferences from observable properties.

Because fairness it

[2021-05-05 21:39] romanlutz commented on #666
@rishabhsamb expressed some interest in this, so I wanted to make sure we agree on all the basics. In my description above it looks like a standalone function. I think that's also our only option since `MetricFrame` doesn't take multiple predictions. That is, unless we're willing to extend `MetricFrame` towards multiple models/sets of predictions(?). I'm assuming we don't (at least not in the shor

[2021-05-06 06:01] adrinjalali commented on #666
I'm not sure, an `inspection` module makes more sense to me for this.

I guess ideally, the user would have like a few different models and maybe one or two or more grid search CV done on a few hyper parameter sets, and would like to visualize those results.

Have you looked in to the outputs [`GridSearchCV`](https://scikit-learn.org/dev/modules/generated/sklearn.model_selection.GridSearchCV.html#

[2021-05-06 06:16] kumarnav03 commented on #752
@hildeweerts  - If we are treating multi-class problem as multiple binary problem the could you help me understand how a new sample will be classified ? Are we going to take average or weighted of multiple binary result metric to classify?

[2021-05-06 07:00] romanlutz commented on #666
Regarding the module, it seemed just intuitive to have it with metrics since this is basically a metrics visualization. That's not a terribly important point for me, though, so whatever works for people is fine by me.

Note that this isn't just for `GridSearch` either. I can plug in my original model, a postprocessed model, and an `ExponentiatedGradient` model and compare the three of them without

[2021-05-06 07:03] adrinjalali commented on #666
So for me to understand, if I have 3 models and a sensitive attribute which has 2 groups in it, how many points do I want to see in that plot? I was assuming 3.

[2021-05-06 07:04] hildeweerts commented on #752
Hi @kumarnav03. Good question. What I meant was that you can treat it as multiple binary classification problems during the *evaluation* of the classifier. You can still use a multi class classifier to classify the samples.

Does that make sense? Let me know if anything is still unclear!

[2021-05-06 07:15] romanlutz commented on #666
That matches my expectation exactly. But for each of those 3 models I have many choices for what the axes should be. Let's say I want to plot accuracy vs. selection rate. I'll just go with my earlier API proposal which would result in
[code]
How does this function internally know whether I want
- the overall accuracy and selection rate (i.e., ignoring sensitive features)
- the min (or max, althoug

[2021-05-06 07:22] adrinjalali commented on #666
The `plot_model_comparison` would expect the metric function to have one of the two signatures:

- `metric(y_true, y_pred, sensitive_attribute)`
-  `metric(y_true, y_pred)`

Internally we can call the first one, in case it raises something, we call the second.
The user would call as:

[code]

[2021-05-06 07:22] hildeweerts commented on #666
This might be a weird question, but why not use the actual metric that you want to see on the axes, i.e., `accuracy_score` if you're interested in overall accuracy and  e.g., `selection_rate_difference` for fairness?

[2021-05-06 07:58] romanlutz commented on #666
I had thought about a similar option, but I still think it would cause some extra trouble for users. `equalized_odds_ratio` is already defined, but what about just getting the group with minimum accuracy? Thinking about this a bit more, you can define variations of aggregations for each kind of metric (at least min, max, diff, ratio), but we didn't want that many custom ones like `equalized_odds_r

[2021-05-06 08:08] adrinjalali commented on #720
Not sure if it's related to this one, but one reason I prefer single page docs is that when I go [here](https://fairlearn.org/v0.6.1/api_reference/fairlearn.metrics.html), I don't even know how many items are there. It's quite confusing. This could be mitigated with another list on the right side maybe which would show the ToC of the page, cc @riedgar-ms

![Screenshot from 2021-05-06 10-06-19](htt

[2021-05-06 08:09] adrinjalali commented on #666
I very much prefer to make the user write 3 lines of code rather than having an API which is really hard to understand and remember.

Ideally for more complicated cases, [`make_derived_metric`](https://fairlearn.org/v0.6.1/api_reference/fairlearn.metrics.html#fairlearn.metrics.make_derived_metric) would be the way users can give their custom metric function.

[2021-05-06 11:03] riedgar-ms commented on #765
You can already give `MetricFrame` a custom metric, so long as it conforms to the `f(y_true, y_pred)` pattern of sklearn (there are examples of this in the documentation, although perhaps not particularly highlighted). So long as `y_true` and `y_pred` are arrays of equal length, the type of the items is irrelevant to `MetricFrame` - it just passes them on to the supplied metric function.

We do kn

[2021-05-06 11:10] riedgar-ms commented on #756
It would break existing code, and require us to bump the version to v0.7.0. If we do that, I think we should release v0.7.0 as soon as possible after making the change. The long gap between v0.4.6 and v0.5.0 (the latter introducing the `MetricFrame` itself) has given us quite a lot of trouble, since the things in the repo were incompatible with the package on PyPI.

I would not be overjoyed at def

[2021-05-06 15:42] MiroDudik commented on #666
I like @adrinjalali's proposal above. Just a request to make all the arguments keyword only!

[2021-05-06 16:10] shimst3r commented on #769
Measurement and Fairness is still on my desk (and I wouldn't mind reading it again 🥰), do you already have a list of key terms in mind? I'd be interested in collaborating on this issue, but I lack the STS background (at the moment).

[2021-05-06 19:27] wcheung-code opened #772 "Counterfactual Analysis Documentation with VW Support"
**Introduction:** Hey all, I am a participant of Microsoft's RL Open Source Fest this summer and I am very excited to begin contributing to FairLearn by writing out a documentation containing counterfactual analysis using logs synthetically generated by Vowpal Wabbit. I am creating this issue to track my progress and to provide the community an opportunity to respond with additional suggestions th

[2021-05-06 22:27] romanlutz commented on #772
Welcome @wcheung-code ! This is very exciting and I'm glad to see this topic finally approached in Fairlearn.

Regarding the datasets: if you can find them on the internet I don't see a reason why we couldn't add them to the `datasets` module. I'm pretty sure I found some admissions data from UC Berkeley when we last thought about Simpson's paradox. That said, we discussed datasets quite a lot a f

[2021-05-06 22:31] romanlutz commented on #769
@michaelamoako just created #771 today as well. Would be great if the three of you (@shimst3r , @mmadaio , @michaelamoako ) could outline your ideas here in detail to decide who can do which part :-)
For good measure I'll also tag @hannawallach in case she has any thoughts.

[2021-05-07 05:13] romanlutz commented on #769
I just realized #707 also discussed this. @hildeweerts @LisaIbanez @riedgar-ms and @LeJit participated there, too, and may have thoughts, too :-)

[2021-05-07 05:37] adrinjalali opened #776 "Delete `master` branch"
I just realized we still have the `master` branch somehow. It should be deleted. People may keep sending PRs to that branch by mistake: https://github.com/fairlearn/fairlearn/pull/771

cc @fairlearn/fairlearn-maintainers

[2021-05-07 06:00] romanlutz commented on #776
Absolutely! I talked about this with @riedgar-ms today as well. Let's do it!

[2021-05-07 06:15] adrinjalali commented on #776
Done and gone.

[2021-05-07 06:15] #776 closed

[2021-05-07 07:48] romanlutz opened #778 "DOC Abstraction traps: Framing trap"
The paper [Fairness and Abstraction in Sociotechnical Systems](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3265913) by Selbst et al. outlines 5 abstraction traps as well as strategies to avoid these traps from a sociotechnical systems perspective.

This task is about adding the relevant information on the **Framing Trap** to the Fairlearn documentation. The result should at least define th

[2021-05-07 07:49] romanlutz opened #779 "DOC Abstraction traps: Portability trap"
The paper [Fairness and Abstraction in Sociotechnical Systems](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3265913) by Selbst et al. outlines 5 abstraction traps as well as strategies to avoid these traps from a sociotechnical systems perspective.

This task is about adding the relevant information on the **Portability Trap** to the Fairlearn documentation. The result should at least defin

[2021-05-07 07:49] romanlutz opened #780 "DOC Abstraction traps: Formalism trap"
The paper [Fairness and Abstraction in Sociotechnical Systems](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3265913) by Selbst et al. outlines 5 abstraction traps as well as strategies to avoid these traps from a sociotechnical systems perspective.

This task is about adding the relevant information on the **Formalism Trap** to the Fairlearn documentation. The result should at least define

[2021-05-07 07:50] romanlutz opened #781 "DOC Abstraction traps: Ripple effect trap"
The paper [Fairness and Abstraction in Sociotechnical Systems](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3265913) by Selbst et al. outlines 5 abstraction traps as well as strategies to avoid these traps from a sociotechnical systems perspective.

This task is about adding the relevant information on the **Ripple Effect Trap** to the Fairlearn documentation. The result should at least def

[2021-05-07 07:51] romanlutz opened #782 "DOC Abstraction traps: Solutionism trap"
The paper [Fairness and Abstraction in Sociotechnical Systems](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3265913) by Selbst et al. outlines 5 abstraction traps as well as strategies to avoid these traps from a sociotechnical systems perspective.

This task is about adding the relevant information on the **Solutionism Trap** to the Fairlearn documentation. The result should at least defin

[2021-05-07 08:03] romanlutz opened #783 "DOC Talking points: how to raise fairness issues?"
Business objectives are not always well aligned with fairness, so prioritizing it may not be encouraged in every company/org/team. In order to help individuals navigate such situations we want to put together a set of talking points on how to raise fairness issues.

The first step in this work is to identify relevant ideas / literature / resources on this topic. All suggestions are welcome! You ca

[2021-05-07 08:07] romanlutz commented on #667
This is already possible now with the `MetricFrame.by_group.plot.bar` approach shown in #766 . Closing the issue!

[2021-05-07 08:07] #667 closed

[2021-05-07 08:23] romanlutz commented on #720
I don't know how hard it is to add the list on the right side since that depends mostly on the pydata sphinx theme. We can certainly move to separate pages, though, just like
- sklearn: https://raw.githubusercontent.com/scikit-learn/scikit-learn/main/doc/modules/classes.rst
- pandas: https://github.com/pandas-dev/pandas/tree/master/doc/source/reference

[2021-05-07 08:41] romanlutz opened #784 "ENH Add reweighing preprocessing technique based on Kamiran, Calders"
The paper [Data preprocessing techniques for classification
without discrimination](https://link.springer.com/content/pdf/10.1007%2Fs10115-011-0463-8.pdf) by Kamiran and Calders outlines preprocessing techniques *suppression*, *massaging*, and *reweighing* or *resampling*. The goal of this task is to implement the *reweighing* technique for `fairlearn.preprocessing`.

Even though this technique is

[2021-05-07 09:03] romanlutz opened #785 "ENH Add "adversarial debiasing" to mitigations"
The paper [Mitigating Unwanted Biases with Adversarial Learning](https://arxiv.org/abs/1801.07593) by Zhang, Lemoine, and Mitchell presents an "adversarial debiasing" technique. The goal of this task is to implement it.

AIF360 has an [implementation](https://aif360.readthedocs.io/en/v0.2.3/modules/inprocessing.html#aif360.algorithms.inprocessing.AdversarialDebiasing) of this technique, but it use

[2021-05-07 11:48] adrinjalali commented on #785
I'd be a bit concerned with our policy of not using the word "bias" or "debias" completely. These words are used in the literature and folks use them to find resources and implementations. I completely agree that we can't completely debias a dataset, or a model, but we do remote some sort of a bias when we use these methods. We can still use these words, but be very clear about what kind of bias i

[2021-05-07 12:24] #765 closed

[2021-05-07 12:25] michaelamoako commented on #765
https://github.com/fairlearn/fairlearn/issues/756 highlights this in a more general way

[2021-05-07 12:44] michaelamoako opened #786 "Guidelines around user-defined disaggregated metrics"
#### Describe the issue linked to the documentation
As Fairlearn and the associated Fairness dashboard look to expand beyond y_true, y_pred metric formulations (which is geared towards Tabular data), there may need to be documentation around how to think about disaggregated metrics in general with some examples of metrics for unstructured data scenarios that can be disaggregated.

**Related issues

[2021-05-07 13:39] MiroDudik commented on #666
[@romanlutz : for the specific use case that you're mentioning, we already support [accuracy_score_group_min](https://fairlearn.org/v0.6.1/user_guide/assessment.html#scalar-results-from-metricframe), but of course, i don't want to add too many entries to that table.]

[2021-05-07 14:51] riedgar-ms commented on #756
Based on the discussion in the community call, I'm happy:

1. Renaming `metric` to `metrics` in the argument list
2. Switching to keyword arguments
3. Adding `shared_sample_params` (as a dictionary, not `**kwargs`)

My only concern is orchestrating a swift release, since these are breaking changes.

[2021-05-07 15:58] romanlutz commented on #785
Exactly, but "Adversarial Debiasing" isn't a clear name since it misses exactly that point. In fact, it might give the impression that it's a fix for all biases.

Thanks @riedgar-ms for the title fix!

[2021-05-07 19:00] wcheung-code commented on #772
Thanks for the warm welcome @romanlutz! :)

I agree and am well aligned with breaking down the work into manageable issues. Thanks for letting me know! We can reserve this issue for the documentation phase of my work (which will only use synthetic data). Once I am able to get a first working iteration, I plan to open up new issues regarding dataset choices, and potential areas where I can contribu

[2021-05-07 20:38] romanlutz opened #791 "Use icons for Twitter, StackOverflow, and Gitter"
Our current website has the following in the top right corner:
![image](https://user-images.githubusercontent.com/10245648/117505684-4d4fbc80-af39-11eb-9d3a-3dddc336556e.png)

Pydata-sphinx-theme just added an update that allows us to customize icons: https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/configuring.html#configure-icon-links

The GitHub one is already correct. Twitter is

[2021-05-07 21:49] MiroDudik commented on #756
I know... examples... soonish?

@riedgar-ms : re. swift release, my suggestion re. staging is

#### 1. backward compatible implementation with deprecation warning:
[code]
#### 2. move to keyword-only arguments:
[code]
#### 3. addition of any other arguments like `shared_sample_params` (but that could happen later or together with 2)

Examples are coming next week... promise!

[2021-05-07 21:56] riedgar-ms commented on #756
I'm not keen on allowing `None` for `y_true` and `y_pred`; not until we're really sure we want to expand on `MetricFrame` in this way. Otherwise, I'm OK with those two steps. I think that 3 could come before 2 actually. Right now, I don't think that (2) should happen before v0.8.0.

[2021-05-07 22:22] MiroDudik commented on #756
@riedgar-ms: I believe that (1) must have `y_true=None` and `y_pred=None` otherwise we cannot be backward compatible plus able to issue deprecation warning... so in a sense (1) might be forced. We can discuss whether (2) should have `None` or not after I show those promised examples...

[2021-05-07 23:05] romanlutz commented on #791
Of course, but you're proposing something that takes between 5 and 50 hours for an experienced person (sphinx themes are very non-trivial) while I'm proposing a ~15-60 minute fix for a new contributor. :-)
Whenever someone actually wants to come in and create our very own sphinx theme they can certainly unify all the headers and footers, but that's out of scope for what I'm proposing (which is jus

[2021-05-07 23:23] romanlutz opened #792 "DOC: best practices around demographic data - gender"
Our documentation doesn't currently say anything about best practices for
- collecting demographic data
- working with demographic data

We should probably start a section for this in our user guide. There's likely specific guidance for various kinds of data (e.g., gender, race, age, etc.). This particular task is for gender only. If you'd like to work on others please create a new issue and link

[2021-05-07 23:26] MiroDudik commented on #792
Adding the QAI source:
https://sites.google.com/view/queer-in-ai/diversity-guide

[2021-05-07 23:30] romanlutz opened #793 "ENH Creating a synthetic example dataset"
This is based on a Gitter conversation with @adrinjalali @hildeweerts @MiroDudik where we agreed that it would be nice to have a synthetic dataset available for our examples. @adrinjalali suggested the following code using `sklearn`'s `make_classification`:

[code]
@MiroDudik suggested extending this to have at least 2 sensitive features and 1 control feature to allow us to use it in basically all

[2021-05-07 23:31] MiroDudik commented on #791
good point. i wonder if there's a bit of a middle ground--use the current sphinx theme to get a similar look as the landing page nav bar (this would mean removing gitter / stackoverflow, changing the names of sections to match, and replacing github logo).

the second part would be to adjust footer -- at the minimum the copyright statement, and if possible then add links (not sure if sphinx allows

[2021-05-07 23:45] MiroDudik commented on #793
I'd prefer to go with 4 categories: Women / Men / WriteIn / PreferNotSay... (see #792). This becomes slightly subtle, because "PreferNotSay" should be treated as "NaN" for the purposes of fairness evaluation (and I'm frankly not sure whether we deal with this properly everywhere... ehmm... perhaps we should have an issue to check that?).

We could also pick a different sensitive feature like age.

[2021-05-07 23:50] romanlutz commented on #791
You're already in the 2-10 hour range (and that assumes some familiarity with sphinx). I am really open to having your suggestion as another issue, but this one is just about providing a small item for someone to get started in contributing (hence the tags). I suspect the result will remain on our webpage for at least a year before we make such sweeping changes. Plus, it's a fantastic way to get s

[2021-05-08 07:06] adrinjalali commented on #793
We could certainly give quite a few knobs for users to tune generating a synthetic dataset. Like how many categorical sensitive features, how many continues ones, etc. On the plus side, we could use these in our tests instead of downloading from openML.

[2021-05-10 04:05] michaelamoako commented on #769
@romanlutz could you changed linked PR to #787

[2021-05-10 08:09] hildeweerts commented on #785
Within the paper itself they even acknowledge that debiasing might be problematic:*"“debias” may not be quite the right word, as all bias is not necessarily removed"*.

I agree with @adrinjalali that in some cases the usage of "bias" or "de-bias" might be appropriate, but I wouldn't say that's the case for this specific paper. In particular, there is no exact specification of the type of "bias" th

[2021-05-10 08:26] hildeweerts commented on #792
Regarding race, this paper is a must-read as well IMO: https://arxiv.org/pdf/1912.03593.pdf

[2021-05-10 08:44] hildeweerts opened #795 "DOC: best practices around demographic data - race and ethnicity"
Our documentation doesn't currently say anything about best practices for
* collecting demographic data
* working with demographic data (including data that may not conform to best practices for data collection)

We should probably start a section for this in our user guide. There's likely specific guidance for various kinds of data (e.g., gender, race, age, etc.). This particular task is for race

[2021-05-10 16:11] michaelamoako opened #796 "Sample Size Needed to Compare k Proportions"
#### Is your feature request related to a problem? Please describe.

In many use-cases, it would be valuable to understand the sample size needed to understand the statistical significance of a disparity (or lack thereof) between two groups. Calculators like: http://powerandsamplesize.com/Calculators/Compare-k-Proportions/1-Way-ANOVA-Pairwise

Offer a manual procedure and a formula. I believe that

[2021-05-10 17:53] romanlutz commented on #796
This is very useful. A first step (that's not nearly as sophisticated, of course) towards understanding whether we have enough data is #737 , but I definitely agree that we should go beyond that.

[2021-05-11 13:28] michaelamoako commented on #796
Agreed @hildeweerts . I think the same can be said of Error Bars too (tagged you in that issue)

[2021-05-12 05:12] romanlutz opened #798 "DOC: migrate version upgrade guide for v0.2->v0.3 to the corresponding user guide section"
#### Describe the issue linked to the documentation

The [Development process](https://fairlearn.org/main/contributor_guide/development_process.html) page of our doc has instructions on how to upgrade from v0.2 to v0.3
![image](https://user-images.githubusercontent.com/10245648/117921140-0c430980-b2a5-11eb-8a33-3e27b35cc236.png)

These should live in the [Migrating from prior versions](https://fai

[2021-05-12 12:12] vishals2911 commented on #484
I am also facing this issue and read about updated and in progress task as well...could you please suggest what i need to do to see the dash board in jupyter notebook.

FairlearnWidget(value={'true_y': [0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1…
<fairlearn.widget._fairlearn_dashboard.FairlearnDashboard at 0x1f90bcb8348>

show_versions()

System:
    python: 3.7.4

[2021-05-12 13:15] MiroDudik commented on #793
Oh. I like the idea of a synthetic fully reproducible generator with a couple of knobs.

Not sure what others think about "fully reproducible"--I think it's really important, but it could be a bit tricky if we take dependencies on libraries that rely on random seed generators that might change. @adrinjalali -- do you have thoughts on this? (I might be pulling a cart before the horse here :-)

[2021-05-12 14:21] michaelamoako commented on #235
There are a few potential implementations of Error bars/ Confidence bounds. My question is, how do we present them in a way that is clear and actionable. An example of one potential implementation (using the MetricFrame, though you could imagine this being woven into the plots as well) is below.

**Wilson bounds**
(@LeJit and Duncan)

[code]

Using the above, you could then define functions for ea

[2021-05-13 14:18] mmadaio commented on #769
Ah, thanks for flagging @shimst3r! I should have been more clear in the issue. This is referring to the sub-sections of construct validity from the Measurement and Fairness paper, including:

- face validity
- content validity
  - contestedness
  - substantive validity
  - structural validity
- convergent validity
- discriminant validity
- predictive validity
- hypothesis validity
- consequential

[2021-05-13 14:28] mmadaio opened #799 "DOC: Measurement modeling - construct reliability"
#### Describe the issue linked to the documentation
The user guide currently does not include explanations of key concepts from measurement modeling.

Measurement modeling is a framework from quantitative social sciences, involving a process of measuring theoretical constructs that cannot be observed directly (such as fairness) by making inferences from observable properties.

Because fairness its

[2021-05-13 14:38] mmadaio commented on #792
Katta Spiel et al have a great article in ACM Interactions on inclusive ways to collect gender data on surveys:

https://www.researchgate.net/publication/334073420_How_to_do_better_with_gender_on_surveys_a_guide_for_HCI_researchers

[2021-05-13 15:11] mmadaio commented on #795
I know some folks in Microsoft are thinking about this - I can follow up with them to see which of their resources are publicly available!

[2021-05-14 12:20] riedgar-ms commented on #235
Thank you for reanimating this discussion @michaelamoako !

As I said in the community call, I think that the statistical issues are too fraught for us to try offering error bounds intrinsically within `MetricFrame`. However, we absolutely should have examples for users to follow, similar to the one you give above. And as @MiroDudik mentioned on the call, we can adjust the `MetricFrame` so that wh

[2021-05-14 12:23] riedgar-ms commented on #786
I agree that we need to expand beyond the tabular data outlook of `MetricFrame` - this discussion has arisen in #756 .

I do wonder whether we should be figuring out what new API would be appropriate, rather than trying to extend `MetricFrame`, though. The latter does its job relatively well, and I wouldn't want that compromised.

[2021-05-14 12:36] riedgar-ms opened #800 "Stop MetricFrame errors on nonscalar metrics"
#### Is your feature request related to a problem? Please describe.

`MetricFrame` is quite relaxed as to the return values of the metric functions it evaluates. For example, it is perfectly possible to return a confusion matrix or a confidence bound from a metric function.

However such metrics will cause a problem if the user tries calling `group_min()`, `group_max()`, `difference()` or `ratio()

[2021-05-14 12:41] riedgar-ms commented on #796
Like with the error bars, I think that this is a case where we shouldn't be trying to do this within Fairlearn (for the reasons @hildeweerts  outlines), but we should be making sure that we support users applying the appropriate statistical tests themselves. Part of that would be some worked examples with _different_ statistical tests (along with a note as to why the particular statistical test is

[2021-05-16 04:14] galuhsahid commented on #784
Hello! I would like to work on this if that's okay. Will ask further questions once I start looking into it.

[2021-05-16 06:07] romanlutz commented on #784
@galuhsahid Certainly! Welcome to Fairlearn! As you probably noticed the issue description isn't very detailed, so if you think it's helpful you can outline a plan for the implementation in this issue as well. That's entirely up to you, though. We're happy to review PRs, too. If you'd like to discuss anything further outside this issue we have a [Gitter](https://gitter.im/fairlearn/community) chan

[2021-05-16 12:26] trangology commented on #791
Hi @romanlutz, I'd like to work on this issue! 😃

[2021-05-16 14:22] romanlutz commented on #791
Welcome! It's generally been prepared for anyone getting started. Thanks for picking this and let me know if you have any questions. I will be at the mentored sprint (Americas) today and development sprints Monday/Tuesday, but we can discuss this (or the project more generally) at any time. If you're on the sprints Discord you should find me there with the same alias. After the sprints there is al

[2021-05-16 14:45] trangology commented on #791
Will definitely reach out to you if I encounter any issues. Thanks for creating these issues to help newcomers like me get started contributing to open-source projects! ✨

[2021-05-16 16:11] trangology commented on #791
Hey @romanlutz, I just jumped into this issue when building the docs using Sphinx.

The command I used for this building is `python -m sphinx -v -b html -n -j auto docs docs/_build/html` as it's described at https://fairlearn.org/main/contributor_guide/contributing_documentation.html#contributing-documentation

I also have upgraded the version of `pydata-sphinx-theme` inside the `requirement-dev.t

[2021-05-16 16:17] romanlutz commented on #791
@trangology it looks like everything's running fine from what I can tell. The FairlearnDashboard warning is intentional and should actually show up. The first time you build it there should also be a ton of other warnings at the end (often printed in red which makes them quite scary looking), but no errors. Did it finish running? Where there any other messages?
The command you're using with Sphinx

[2021-05-16 16:30] trangology commented on #791
Oh yeah, forgot about the `-v` flag, which is denoted as `verbose`. Here is the current issue, this generation has been running for more than 5 mins without any changes in the percentage 🤔

![image](https://user-images.githubusercontent.com/37827647/118404724-be4f4c80-b67c-11eb-9716-e284f6567691.png)

[2021-05-16 16:33] romanlutz commented on #791
The first time it takes quite a while I'm afraid. I'd wager around 5-10 minutes. The good news is after that it's a lot faster. It has to run all our examples on the first run and store the outputs. Hang in there! :-) If it takes longer than 15 minutes something is definitely off.

[2021-05-16 17:04] romanlutz opened #802 "DOC: extend documentation for plotting functionality provided through MetricFrame"
#### Describe the issue linked to the documentation

@hildeweerts [pointed out](https://github.com/fairlearn/fairlearn/pull/770#pullrequestreview-657627887) that our new documentation around plotting using `fairlearn.metrics.MetricFrame` could elaborate a little more on what you can do with the `matplotlib` plotting options.

#### Suggest a potential alternative/fix

The assessment user guide sect

[2021-05-16 17:12] trangology commented on #791
Yes, you are right about the timing. But I need to go off for an hour or so. Will get back to it ASAP. Super excited to get it done! 🙂

[2021-05-16 17:16] romanlutz commented on #791
Good to hear! No worries at all, take your time. Thanks for joining @trangology 😄

[2021-05-16 17:50] MeekaElla commented on #798
Hi! @romanlutz I would like to work on this as part of the mentored sprint. I am still a very beginner in Python so I'm trying to find some issues that are doable at my level. My understanding of this issue is just moving the docs from document process to a new file under the migrating versions. Is that right?

[2021-05-16 18:17] romanlutz commented on #798
That's correct! It's meant to get a first issue in and to familiarize yourself with the repository/doc build. Let me know if you need any help! I'm available as part of the mentored sprints for another ~2 hours, but also asynchronously beyond that, of course.

[2021-05-16 18:31] MeekaElla commented on #798
Thank you! I will be working on it right now. Just another clarification as per the release process instructions, I will be making a new branch called release/v0.6.3 right? once I made a PR on it should the branch contains the all of the changes that I made? or is it a separate PR?

[2021-05-16 18:36] romanlutz commented on #798
@MeekaElla you don't need to follow the release instructions. They're just for maintainers when pushing out a new package release. I linked them above only to indicate that the release instructions should get an additional point. The branch names starting with `release` are actually protected, so I'd suggest something different, e.g., `update_release_instructions`. You can also put all your change

[2021-05-16 18:42] MeekaElla commented on #798
Ohh noted. Thank you! I'm still familiarizing myself with Git and the branches are kinda confusing me xD This sprint is a really great learning opportunity for me.

[2021-05-16 18:44] romanlutz commented on #798
No problem! I've written about this a little in the instructions steps 6-8 https://github.com/romanlutz/fairlearn-pycon-sprint/blob/main/README.md
But I'm also around for a little while longer in case you want to look at it together.

[2021-05-16 18:51] MeekaElla commented on #798
Thank you so much!

[2021-05-16 21:39] trangology commented on #791
Hey @romanlutz. I'm back to work on this issue!

Here is what I have after reading the `pydata-sphinx-theme` docs.

![image](https://user-images.githubusercontent.com/37827647/118413282-2024ac00-b6a7-11eb-8f3a-531e2583c1cf.png)

What makes me stuck is I don't know why Twitter & GitHub icons can be displayed, but not other icons.  We do have StackOverflow & Gitter icons on [FontAwesome free](https:

[2021-05-16 22:53] MiroDudik commented on #756
Finally, some examples... in those examples I'm considering two alternative proposals for the API (they slightly differ from the original proposal in my issue at the top):

#### Alternative A: Optional `y_true` / `y_pred` / `sensitive_features`

[code]

#### Alternative B: Also allow any keyword arguments and internally use `inspect.signature` to decide who gets what

[code]
The idea is that `**di

[2021-05-16 22:57] MiroDudik commented on #756
@romanlutz , @riedgar-ms , @hildeweerts : please take a look at the examples above, and let me know what you think about Alternative A vs Alternative B (which just extends Alternative A). In particular, do any of you see issues with Alternative A?

[2021-05-16 23:27] MiroDudik opened #804 "Support different costs for false positives and false negatives in ExponentiatedGradient"
#### Is your feature request related to a problem? Please describe.

In many binary classification problems, the costs of false positives do not equal to the costs of false negatives, but our `ExponentiatedGradient` only allows classification accuracy as the objective, which assumes that these costs are equal.

#### Describe the solution you'd like

We should extend the moment `ErrorRate` to allow

[2021-05-16 23:31] MiroDudik commented on #804
@fairlearn/fairlearn-maintainers : This would be nice to have for the scipy-tutorial. I have this already implemented and will create a PR shortly, but I'd like to get a sense what you think the API should be.

[2021-05-17 05:41] romanlutz commented on #804
Perhaps I'm misremembering but isn't cost represented as a Moment (ErrorRate?) as well? In that case just make it optional with default ErrorRate and this feature would be accommodated through arguments to that Moment. For regression it would be some other Moment presumably (?)

Specifying the objective in the API makes sense to me since we do that in postprocessing. We only use strings there, but

[2021-05-17 08:46] hildeweerts commented on #795
That would be awesome, @mmadaio!

@hannawallach Do you happen to know (some of) the authors of the CRM in fairness paper? At the risk of sounding like a stalker I believe I've seen some twitter interactions. I'd love to get them involved in case they're interested! :)

[2021-05-17 13:02] riedgar-ms commented on #756
I'm still not enamoured of accepting `**kwargs` in a function signature. It means that if we *ever* want to add new arguments to the signature, we're going to break someone. That is why I've been arguing for using a regular dictionary there. I can see that further using `inspect.signature` is something which can give a 'wow factor' in a demo. It is also a way of enabling users to elevate typos int

[2021-05-17 13:07] hannawallach commented on #795
I do! I know several of them. Would you like an intro?

[2021-05-17 13:09] hildeweerts commented on #795
Yes, that would be amazing!

[2021-05-17 13:18] hildeweerts opened #805 "DOC: mention alternatives to `start` for MacOS/Linux in contributor guide"
#### Describe the issue linked to the documentation

Our [contributor guide on documentation](https://github.com/bthng/fairlearn/blob/main/docs/contributor_guide/contributing_documentation.rst) uses the `start` command to inspect the HTML flies, which is specific to Windows OS.

#### Suggest a potential alternative/fix
Add alternative commands for MacOS (`open`) and Linux (I believe `xdg-open`, bu

[2021-05-17 13:23] hannawallach commented on #795
Can you shoot me an email at my MSFT address so that I don't forget? :-)

[2021-05-17 16:00] kstohr commented on #758
@romanlutz Ok, I'll pick this up. Not sure how long it will take me, but will dive in and work through it.

[2021-05-17 16:05] MiroDudik commented on #804
@romanlutz -- yep, this was also my sentiment. Let's go with providing the objective as a moment object. Then the question is whether we should be existing the existing `ErrorRate` moment or creating a new moment with this functionality and if so what should be the name of the new moment and the mechanism of providing different costs. Some possibilities:

[code]

[2021-05-17 16:05] romanlutz commented on #758
Sounds great! Let us know if you have questions! We're happy to help! I'll also keep checking Discord during the sprint, of course.

[2021-05-17 16:35] #798 closed

[2021-05-17 18:13] MiroDudik commented on #756
@riedgar-ms : what do you think about Alternative A? I think it would go a long way towards addressing the main issues and it doesn't introduce `**kwargs`.

[2021-05-17 19:04] romanlutz commented on #751
That would be everything under `examples`, `fairlearn`, and the test directories if I'm not mistaken.
Whoever takes this up may want to look into `flake8` documentation. We have a `setup.cfg` file in the repository's root directory that configures what `flake8` does. Perhaps one can restrict which directories it should consider.

[2021-05-17 19:09] riedgar-ms commented on #756
I'd say "Alternative A with `y_true` and `y_pred` as required arguments."

[2021-05-17 19:16] lgfunderburk commented on #782
Taking a look

[2021-05-17 20:10] MiroDudik commented on #756
@riedgar-ms : what's the rationale? can you explain?

[2021-05-17 21:07] michaelamoako commented on #758
Quick note: There are contexts in which no negative samples in the ground truth ("No negative samples in y_true"), in which case an ROC curve can not be created

[2021-05-17 21:13] stephenrobic commented on #737
I will begin working on this issue now. Thanks for your guidance @romanlutz

[2021-05-17 21:14] kstohr commented on #758
@michaelamoako ok, so you want me to detect those cases and handle them with a try/except? Any other cases that would arise that we should handle?

[2021-05-17 21:28] romanlutz commented on #737
Thanks @stephenrobic ! @vamsidesu5 let me know if you want to do any other issues! I'd be happy to find you something.

[2021-05-17 21:31] lgfunderburk commented on #782
Working on Solutionism trap

[2021-05-17 22:28] kstohr commented on #758
@romanlutz @michaelamoako  New to this repo.. Couple quick q's before I build out this class/function.

- I see you have a dir `metrics` and a dir `postprocessing` which has some plotting functionality in it already.  Where do you want this feature to live? `metrics` or `postprocessing` ?

- Also this function already exists:  _calculate_tradeoff_points which --at first glance-- does appear to com

[2021-05-17 23:25] riedgar-ms commented on #756
The only workaround required now would be to supply a 'dummy' column for one or the other. Obviously making them optional doesn't break anything which works now doesn't break anything (beyond the general breakage of moving to keyword-required), but it does open up new failure modes, which might not be that user-friendly; we should at least see what new errors can result.

[2021-05-18 02:11] Zuzah commented on #793
Hey @romanlutz,

I'll take a stab at this issue and see where I can take it. I'll  be tackling it as part of Pycon 2021 Sprint. Will utilize Scikit Learn based on the specs described above.

[2021-05-18 03:11] kurianbenoy commented on #764
Hi I would like to work on this issue.

[2021-05-18 05:40] vamsidesu5 commented on #737
@romanlutz Hi - I was very busy the past 2 weeks and wasn't able to contribute. So sorry! Would you be able to find me another issue that would be interesting to work on?

[2021-05-18 05:51] bthng commented on #751
Hi @romanlutz am I able to take this up? Was looking at the `setup.cfg` file and one solution is to state the directories that `flake8` should ignore. Would that be an acceptable solution? https://flake8.pycqa.org/en/latest/user/options.html

e.g. in setup.cfg

[code]

[2021-05-18 05:51] romanlutz commented on #800
@vamsidesu5 would this be interesting for you?

[2021-05-18 05:53] romanlutz commented on #751
That's great! I was thinking about this earlier today and I think that is indeed the best solution. Thanks @bthng !

[2021-05-18 05:57] romanlutz opened #810 "Math doesn't render properly anymore on webpage"
#### Describe the issue linked to the documentation

The following is one of many similar examples from https://fairlearn.org/main/user_guide/fairness_in_machine_learning.html
![image](https://user-images.githubusercontent.com/10245648/118598484-fa5cdd00-b762-11eb-8e31-dcea6e1cce58.png)

#### Suggest a potential alternative/fix

Find a way to make it work again. Perhaps something changed about the

[2021-05-18 07:22] hildeweerts commented on #805
Fixed by #807

[2021-05-18 07:22] #805 closed

[2021-05-18 11:58] riedgar-ms commented on #810
One clue: those pieces which aren't rendering are defined as custom LaTeX macros:
https://github.com/fairlearn/fairlearn/blob/389159c5c6d30479742ad6ab268964fe50d2fa2f/docs/conf.py#L212
I don't know what's going on, but it's obviously to do with the macro support.

[2021-05-18 14:46] MiroDudik commented on #756
@romanlutz , @hildeweerts , @riedgar-ms : it seems that we at least have a consensus towards the initial steps:

*Step 1:* The intermediate API in the next minor release; backward compatible, but throws a warning that we're deprecating the current API in favor of keyword-only API (see Step 2), starting in 0.8.0:
[code]
[We must support `y_true=None` and `y_pred=None`, so we can be backward compati

[2021-05-18 15:02] hildeweerts commented on #756
I'm a bit confused - why do we need to change the API in step 1 (apart from metric -> metrics) - can't we just throw a warning?

[2021-05-18 15:11] MiroDudik commented on #756
@hildeweerts -- if we go directly to Step 2, it will break all the current code that uses direct arguments rather than keyword only.

[2021-05-18 15:14] hildeweerts commented on #756
@MiroDudik yeah I understand - I was just wondering why we need to change anything about our current code in Step 1, apart from metric -> metrics and throwing a warning. We currently have `MetricFrame(metrics, y_true, y_pred, sensitive_features, control_features=None, sample_params=None)` right?

[2021-05-18 15:21] MiroDudik commented on #756
@hildeweerts -- it's an implementation issue. As far as I know, we cannot tell whether the user was passing the arguments as keyword arguments or as positional arguments if we use the signature `MetricFrame(metric, y_true, y_pred, *, sensitive_features, control_features=None, sample_params=None)`, whereas the signature in Step 1 would be able to tell how things are passed. Or were you thinking abo

[2021-05-18 15:26] hildeweerts commented on #756
Ahh yes I see, that makes sense - thank you for the explanation!

[2021-05-18 16:19] riedgar-ms commented on #756
I'm OK with this plan.

[2021-05-18 17:35] romanlutz commented on #810
One way to fix it would be to replace the occurrences of the macro throughout the files, but I really like the macros :-(

[2021-05-18 17:36] romanlutz commented on #728
Closing this since #763 fixed the issue and v0.6.2 contains the fix.

[2021-05-18 17:36] #728 closed

[2021-05-18 17:38] romanlutz commented on #608
#770 and #766 are related to this. #770 is already completed and #766 will be shortly, at which point we can release v0.7.0 as the first version without dashboard.

[2021-05-18 17:45] romanlutz commented on #564
Whoever takes this up should probably run `ThresholdOptimizer` with `prefit=True` and `prefit=False` with several different kinds of models (e.g., one from `sklearn`, one from `pytorch`, one from `lightgbm`, etc.) and see whether the result is as expected.

The same code should be used for writing test cases. We'd want to cover the same spectrum.

Regardless, the experience should be that we first

[2021-05-18 18:27] romanlutz commented on #758
@kstohr The ROC curves would be more general than the `postprocessing` functionality in that they could be generated for all models (not just the ones from `postprocessing`). I would suggest creating a new file for it under the `metrics` folder.

The postprocessing method has a lot of custom code that we can switch out at a later point. For now, I would completely ignore it since it has somewhat m

[2021-05-18 19:13] kstohr commented on #758
@romanlutz Ok great. So, I'll build a module under metrics: `metrics/_roc.py` If we want to refactor later to make things more re-usable, we can.

Yep. Saw the code snippets and incorporating as needed.

In terms of plotting,  you can use plt.subplots() to add traces to the figure, but as sklearn already has a class [RocCurveDisplay](https://github.com/scikit-learn/scikit-learn/blob/15a949460/skle

[2021-05-18 19:34] romanlutz commented on #758
Yes! I was hoping we could reuse what `sklearn` already has. In many ways, a lot of what Fairlearn does in assessment builds on `sklearn` by disaggregating metrics so this is yet another way we're doing so. Thanks @kstohr !

[2021-05-18 20:00] michaelamoako commented on #758
Another very closely related but also valuable curve: Threshold vs. [Metric]. For example, to plot Threshold vs. [Recall]:

_Assume y_true/y_pred defined elsewhere_

[code]

the ROC curve function similarly also returns threshold, so there is potential to plot that on the X-axis there too

[2021-05-18 20:41] kstohr commented on #758
@michaelamoako Yep. Will keep precision_recall_curve in mind. Assuming you'd also do that for each sensitive value (i.e. by group.)

[2021-05-18 20:58] romanlutz commented on #758
@kstohr feel free to stick with one thing per PR. Smaller PRs are easier to review and typically get merged significantly faster 😄 @michaelamoako 's suggestion can be another PR unless it's just a few extra lines. Keep in mind that adding ROC curves should include at least a small unit test and a short user guide section, so this is already quite a bit.

[2021-05-18 21:09] michaelamoako commented on #758
Agreed with @romanlutz - and yes (per group)

[2021-05-18 22:02] kstohr commented on #758
@romanlutz @michaelamoako Roger that. I think Michael was just pointing out that the code should ideally be easy to adapt for this other purpose. At least that's how I undrestood it.

[2021-05-19 01:11] bthng commented on #751
Thank you for the guidance, raised a PR!

[2021-05-19 05:21] vamsidesu5 commented on #800
@romanlutz Yup I can pick this up! Any suggestions on what to read up on so I can understand the issue better and contribute faster? I'm new so not too familiar with all the vocabulary and functions.

[2021-05-19 08:00] hildeweerts commented on #800
Hi @vamsidesu5 - I think [section 2.1 of our user guide](https://fairlearn.org/v0.6.2/user_guide/assessment.html#metrics) and the [API Reference of MetricFrame](https://fairlearn.org/v0.6.2/api_reference/fairlearn.metrics.html) would be good places to get started.

Here's a small code example to show what the issue is:

[code]

Now, if we print the results in `mf.by_group` that works perfectly fin

[2021-05-19 09:40] riedgar-ms commented on #800
Thanks for adding that repro code @hildeweerts

[2021-05-19 16:49] #751 closed

[2021-05-19 17:54] #608 closed

[2021-05-20 16:18] romanlutz opened #813 "DOC: add example for using pytorch"
#### Describe the issue linked to the documentation

We're not super clear about supporting any kind of model for our (currently existing reductions and postprocessing) mitigation techniques. This means people don't know they can use pytorch with Fairlearn.

#### Suggest a potential alternative/fix

We should have a short example that shows how to do that. Perhaps having it as a `plot_pytorch.py`

[2021-05-20 16:20] romanlutz opened #814 "DOC: add example for using tensorflow"
#### Describe the issue linked to the documentation

We're not super clear about supporting any kind of model for our (currently existing reductions and postprocessing) mitigation techniques. This means people don't know they can use tensorflow with Fairlearn.

#### Suggest a potential alternative/fix

We should have a short example that shows how to do that. Perhaps having it as a `plot_tensorflo

[2021-05-20 17:02] iofall commented on #810
I can help with this

[2021-05-20 17:16] romanlutz commented on #810
Great! This looks like it'll require some investigation. Are you familiar with the documentation build? https://fairlearn.org/main/contributor_guide/contributing_documentation.html

[2021-05-20 23:13] romanlutz commented on #755
I'm not sure I understand whether there's anything else left you need @adidutt . Can you confirm?

[2021-05-21 14:16] riedgar-ms commented on #814
I'd worry that if we start adding tensorflow, pytorch etc. to our `requirements-dev.txt` (the only way to get code run in the documentation) we're going to discover that they have mutually incompatible dependencies (and possibly require different Python versions). We could point people at the `test_othermlpackages` directory, but that code isn't written as a teaching example :-(

[2021-05-21 16:11] kstohr commented on #758
@michaelamoako @romanlutz Yokee, the ref code snippets are up and running. Quick and dirty plot:

<img width="589" alt="Screen Shot 2021-05-21 at 9 03 35 AM" src="https://user-images.githubusercontent.com/8218231/119166934-16d37080-ba14-11eb-865f-7f655c093920.png">

I am thinking of testing out using the existing MetricFrame to do the data splitting. The benefit of using MetricFrame is that this w

[2021-05-21 16:29] riedgar-ms commented on #758
I don't think that a dependency on `MetricFrame` would be a bad thing. Or do you mean to inherit from it?

[2021-05-21 16:47] kstohr commented on #758
Hoping just to import it. I'll dig into it. However, I need to pass y_test,
y_pred, y_pred_proba. In addition, we need not just the sensitive values
for multiple features but the cartesian product of the sensitive value
features. So, it may not work.

On Fri, May 21, 2021 at 9:30 AM Richard Edgar ***@***.***>
wrote:

--
Kas Stohr
+1 646 554 7671